<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Tạo bài viết</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/admin/list-post">Admin</a></li>
                         <li class="breadcrumb-item active">Tạo bài viết</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row pt-3">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Tiêu đề</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Nhập tên bài viết" id="txtTitle">
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Slug</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="txtSlug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô Tả ngắn</label>
                                <div>
                                    <textarea class="form-control" id="txtShortDescription" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="col-form-label">Chi tiết</label>
                                <textarea id="txtContent"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label><b>Bộ sưu tập</b></label>
                                <!-- <div class="fallback">
                                      <input type="file" 
                                         class="filepond"
                                         name="filepond" 
                                         multiple 
                                         data-allow-reorder="true"
                                         data-max-file-size="3MB"
                                         data-max-files="3">
                                   </div> -->
                                   <input type="file" 
                                      class="filepond"
                                      name="filepond" 
                                      multiple 
                                      data-allow-reorder="true"
                                      data-max-file-size="3MB"
                                      data-max-files="5"
                                      accept=".png, .jpg, .jpeg" 
                                      >
     
                                   <!-- end col -->
                                </br>   
                                <div class="gallery txtGalleryProductAdd">
     
                                </div>
                             </div>
                        </div>
                    </div>
                </div>

				<div class="col-md-4">
                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Tùy Chọn</h4>
                            <div>
								<label class="col-form-label">Loại bài viết</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="txtTypeCategory">
                                            <% listCategory && listCategory.length && listCategory.forEach(category => { %>
											    <option value="<%=category._id%>"> <%=category.title%>  </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div> 

                                <label class="col-form-label">Tagging</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="txtTypeTagging" multiple="multiple">
                                            <% listTagging && listTagging.length && listTagging.forEach(tagging => { %>
											    <option value="<%=tagging._id%>"> <%=tagging.title%>  </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng Thái</label>
                                            <div>
                                                <div class="input-group">
                                                    <input id="switchStatus" switch="dark" type="checkbox" checked> 
                                                    <label for="switchStatus" data-on-label="On" data-off-label="Off"></label> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Hình Ảnh</h4>
                            <br>
                            <div class="container">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="blogImage" accept=".png, .jpg, .jpeg" />
                                        <label for="blogImage"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                        <%# if (blog) { %>
                                            <!-- <div id="imagePreview" style="background-image: url(/files/blog/<%#= blog.image && blog.image %>);"></div> -->
                                        <%# }%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddBlog" >Thêm Mới</button>
                    <a href="/admin/list-post" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
