<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	.container-search-post {
        position: relative;
    }
    .container-search-post > svg {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 7;
    }
    .container-search-post > input.form-control {
        width: 350px;
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    }
	#slSort{
		height: 31px;
		margin-right: 5px;
	}
	.dataTables_length,
	.dataTables_filter{
		display: none;
	}
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách bài viết</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/admin/list-post">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách bài viết</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <%
                    let classActive = '', classActive1 = '', classActive2 = '';
                    if(tab === '0' || !tab){
                        classActive = 'active';
                    }
                    if(tab === '1'){
                        classActive1 = 'active';
                    }
					if(tab === '2'){
                        classActive2 = 'active';
                    }
                %>
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a class="nav-link <%= classActive %>" href="/admin/list-post">Tất cả</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link <%= classActive1 %>" href="/admin/list-post?tab=1">Product</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link <%= classActive2 %>" href="/admin/list-post?tab=2">News</a>
                        </li>
					</ul>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-between mb-3">
								<div class="container-filter d-flex">
									<select id="slSort" class="form-control">
										<option disabled selected>Sắp xếp theo lượt xem</option>
										<option value="1">Tăng dần</option>
										<option value="-1">Giảm dần</option>
									</select>
									<div class="container-search-post">
										<input id="input-search-post" type="text" class="form-control" placeholder="Tìm kiếm">
										<i class="fas fa-search"></i>
									</div>
								</div>
                                <a href="/admin/add-post" class="btn btn-outline-success waves-effect waves-light">
                                    + Tạo bài viết
                                </a>
                            </div>
                            <table class="content-table table-list-post" id="tableListPost">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Hình ảnh</th>
                                        <th>Tiêu đề</th>
                                        <th style="width:8%">Loại bài viết</th>
                                        <th>Slug</th>
                                        <th>Mô tả ngắn</th>
										<th>Lượt xem</th>
										<th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listPosts && listPosts.length) { %>
                                        <% listPosts.forEach(( blog, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td>
													<% if (blog.image) { %>
														<a class="fancybox" href="<%= loadPathImage(blog.image.path) %>">
															<img class="img-fluid img-thumbnail rounded" src="<%= loadPathImage(blog.image.path) %>">
														</a>
													<% } %>
												</td>
												<td>
													<a href="javascript:void(0)">
														<i> <%= blog.title %> </i>
													</a>
												</td>
												<td>
													<% if (blog.type == 0) { %>
														Product
													<% } %>
														<% if (blog.type == 1) { %>
														News
													<% } %>
												</td>
												<td>
													<i>
														<%= blog.slug %>
													</i>
												</td>
												<td>
													<i>
														<% let description = blog.description.length > 100 ? blog.description.substr(0, 100) + '...' : blog.description %> 
														<%= description %>
													</i>
												</td>
												<td>
													<i>
														<%= blog.views %>
													</i>
												</td>
												<td>
													<%= moment(blog.createAt).format('L') %> 
												</td>
												
												<td>
													<% if (blog.status === 1) { %>
														<span class="badge badge-pill badge-success">
															Hoạt Động
														</span>
													<% } else{ %>
														<span class="badge badge-danger">
															Không Hoạt Động
														</span>
													<% } %>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item" href="/admin/update-post/?postID=<%= blog._id %>">
                                                                <i class="fa fa-edit"></i>
                                                                Sửa Thông Tin
                                                            </a>
															<a class="dropdown-item btnBlockUser btnDeleteBlog" href="javascript:void(0)" _postID="<%= blog._id %>" >
                                                                <i class="fa fa-trash"></i>
                                                                Xóa
                                                            </a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
