<style>
    .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .closes {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       /* opacity: .2; */
       text-align: center;
       font-size: 30px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .closes {
       opacity: 1;
       color: #ff0000 ;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Cập nhật bài viết</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Cập nhật bài viết</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group row pt-3">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Tiêu đề</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="Nhập tên bài viết" id="txtTitleUpdate" value="<%= infoPost && infoPost.title %>">
                                </div>
                            </div>
                            <div class="form-group row" style="display: none;">
                                <label for="example-text-input" class="col-sm-2 col-form-label">Slug</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" id="txtSlugUpdate" value="<%= infoPost && infoPost.slug %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mô Tả ngắn</label>
                                <div>
                                    <textarea class="form-control" id="txtShortDescriptionUpdate" rows="5"><%= infoPost && infoPost.description %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="col-form-label">Chi tiết</label>
                                <textarea id="txtContentUpdate">
                                    <%= infoPost && infoPost.content %>
                                </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="form-group">
                                <label><b>Bộ sưu tập</b></label>
                                <!-- <div class="fallback">
                                     <input type="file" 
                                        class="filepond"
                                        name="filepond" 
                                        multiple 
                                        data-allow-reorder="true"
                                        data-max-file-size="3MB"
                                        data-max-files="3">
                                  </div> -->
                                  <input type="file" 
                                     class="filepond"
                                     name="filepond" 
                                     multiple 
                                     data-allow-reorder="true"
                                     data-max-file-size="3MB"
                                     data-max-files="5"
                                     accept=".png, .jpg, .jpeg" 
                                     >
        
                                  <!-- end col -->
                                <div class="gallery txtGalleryProductUpdate">
                                   <% infoPost.images && infoPost.images.length && infoPost.images.forEach((image, index) => { %> 
                                     <% let imageUrl = loadPathImage(image.path) %>
                                     <div class="img-wraps" _imageID="<%= image._id %>" data-src="<%= imageUrl %>">
                                        <span class="closes deleteImage" _type="imgGallery" _imgName="<%= image.name %>" _imageID = "<%= image._id %>">&times;</span>
                                        <a data-src="<%= imageUrl %>" href="<%= imageUrl %>" class="effects khongtrung">
                                            <img style="object-fit: contain;" src="<%= imageUrl %>" value="<%= image.name %>" width="120px" height="120px" class="img-responsive" alt="LDK SoftWare">
                                            <div class="overlay">
                                            </div>
                                        </a>
                                     </div>&nbsp;
                                   <% }); %> 
                                </div>
                             </div>
                        </div>
                    </div>

                    
                </div>

				<div class="col-md-4">
                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Tùy Chọn</h4>
                            <div>
								<label class="col-form-label">Loại bài viết</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="txtTypeCategory">
                                            <% listCategory && listCategory.length && listCategory.forEach(category => { %>
                                                <% if (infoPost.categoryBlog && category._id.toString() == infoPost.categoryBlog._id.toString() ) { %>
											        <option value="<%=category._id%>" selected> <%=category.title%>  </option>
                                                <% }else{%>
											        <option value="<%=category._id%>"> <%=category.title%> </option>
                                                <% } %>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div> 

                                <label class="col-form-label">Tagging</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <select class="form-control" id="txtTypeTagging" multiple>
                                            <% 
                                                let listTaggingID = infoPost.taggings && infoPost.taggings.map(tagging => tagging._id.toString());
                                            %>
                                            <% listTagging && listTagging.length && listTagging.forEach(tagging => { %>
                                                <option value="<%= tagging._id %>" 
                                                    <% if (listTaggingID && listTaggingID.includes(tagging._id.toString())) { %>
                                                        selected
                                                    <% } %>
                                                    ><%= tagging.title %></option>
                                             <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <!-- <label class="col-form-label">SEO</label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <%# let seoKeyword = infoPost.seo && infoPost.seo.join(',') %> 
                                        <input class="form-control" type="text" placeholder="VD: gach, da, xi mang" id="txtSeoUpdate" value="<%#= seoKeyword %>">
                                    </div>
                                </div> -->

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng Thái</label>
                                            <div>
                                                <div class="input-group">
                                                    <input id="switchStatusUpdate" switch="dark" type="checkbox" <%= infoPost.status === 1 && 'checked' %>>
                                                    <label for="switchStatusUpdate" data-on-label="On" data-off-label="Off"></label> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Hình Ảnh</h4>
                            <br>
                            <div class="container">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="blogImageUpdate" accept=".png, .jpg, .jpeg" />
                                        <label for="blogImageUpdate"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <% if (infoPost && infoPost.image) { %>
                                            <div id="imagePreview" style="background-image: url(<%= loadPathImage(infoPost.image.path) %>);"></div>
                                        <% } else { %>
                                            <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                        <% } %> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnUpdateBlog" _postID="<%= infoPost._id %>">
                        Cập nhập
                    </button>
                    <a href="/admin/list-post" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">
                        Quay lại danh sách
                    </a>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>