<script>
    $(document).ready(function() {
        $('.table-list-agency').DataTable({
			'iDisplayLength': 25,
			...languageDataTable,
			// "columns": [
			// 	{ "width": "5%" },
			// 	{ "width": "20%" },
			// 	{ "width": "20%" },
			// 	{ "width": "20%" },
			// ]
		});

        function loadListCity() {
            $.ajax({
                url: '/list-provinces-ghn',
                method: 'GET',
                success: resp => {
                    console.log({
                        resp
                    });
                    if (!resp.error) {
                        let option = '<option value="" >Chọn Tỉnh/Thành phố</option>';
                        resp.data.data && resp.data.data.length && resp.data.data.map(item => {
                            option += '<option value="' + item.ProvinceID + '" >' + item.ProvinceName + '</option>';
                        });
                        $('#txtCity').append(option);
                    }
                }
            });

            $.ajax({
                url: '/list-provinces-ghn',
                method: 'GET',
                success: resp => {
                    if (!resp.error) {
                        let option = '';
                        resp.data.data && resp.data.data.length && resp.data.data.map(item => {
                            option += '<option class="'+ item.ProvinceID +'" value="' + item.ProvinceID + '" >' + item.ProvinceName + '</option>';
                        });
                        $('#txtCityNear').append(option);
                    }
                }
            });
        }

        loadListCity();

        $("#txtCityNear").select2({
            width: "100%"
        });

        $("#txtCity").select2({
            width: "100%"
        });
        $(document).on('change', '#txtCity', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-districts-ghn/' + value,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error) {
                            let respAfterChange = resp.data.data;
                            let option = '<option value="" selected>Chọn quận/huyện</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                option += '<option value="' + item.DistrictID + '" >' + item.DistrictName + '</option>';
                            });
                            $('#txtDistrict').empty();
                            $('#txtDistrict').append(option);
                            if (value) {
                                $('#txtDistrict').trigger('change');
                            }
                        }
                    }
                });
            } else {
                $('#txtDistrict').empty();
            }
        });
        $("#txtWard").select2({
            width: "100%"
        });
        $("#txtDistrict").select2({
            width: "100%"
        });
        $(document).on('change', '#txtDistrict', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-wards-ghn/' + value,
                    method: 'GET',
                    success: resp => {
                        console.log({
                            resp
                        });
                        if (!resp.error) {
                            let respAfterChange = resp.data.data;
                            let option = '<option value="" selected>Chọn xã/phường</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                option += '<option value="' + item.WardCode + '" >' + item.WardName + '</option>';
                            });
                            $('#txtWard').empty();
                            $('#txtWard').append(option);
                            if (value) {
                                $('#txtWard').trigger('change');
                            }
                        }
                    }
                });
            } else {
                $('#txtWard').empty();
            }
        });

        function getData() {
            let storeCodeGHN = $('#txtCode').val();
            let name         = $('#txName').val();
            let email        = $('#txEmail').val();
            let cc           = $('#txCC').val();
            let phone        = $('#txPhone').val();
            let address      = $('#txtAddress').val();
            let city         = $('#txtCity').val();
            let cityName     = $('#txtCity option:selected').text();

            let cityNear     = $('#txtCityNear').val();
            let listCityNearName = [];
            cityNear && cityNear.length && cityNear.map(item => {
                let cityNearName = $(`.${item}`).text();
                listCityNearName = [
                    ...listCityNearName,
                    {
                        city: item,
                        cityName: cityNearName
                    }
                ];
            });

            let district     = $('#txtDistrict').val();
            let districtName = $('#txtDistrict option:selected').text();

            let ward         = $('#txtWard').val();
            let wardName     = $('#txtWard option:selected').text();

            return {
                storeCodeGHN, name, email, phone, cityNear: listCityNearName,
                address, city, cityName, district, districtName, ward, wardName, cc
            }
        }

        function validationData(data) {
            let {
                storeCodeGHN, name, email, phone, cityNear,
                address, city, district, ward, cc
            } = getData();

            if (!storeCodeGHN) {
                return { error: true, msg: 'Mời bạn nhập mã cửa hàng Giao Hàng Nhanh' }
            }

            if (!name) {
                return { error: true, msg: 'Mời bạn nhập Tên chi nhánh' }
            }

            if (!email) {
                return { error: true, msg: 'Mời bạn nhập Email' }
            }

            if (!checkEmail(email)) {
                return { error: true, msg: 'Email không đúng định dạng' }
            }

            if (!cc) {
                return { error: true, msg: 'Mời bạn nhập Email CC' }
            }

            let listEmailCC = cc.split(',');
            if (!listEmailCC.length) {
                return { error: true, msg: 'Email CC không hợp lệ' }
            }
          
            let mark = false;
            listEmailCC.map(emailCC => {
                if (!checkEmail(emailCC)) {
                    mark = true;
                }
            });
            if (mark) {
                return { error: true, msg: 'Email CC không đúng định dạng' }
            }

            if (!phone) {
                return { error: true, msg: 'Mời bạn nhập Số điện thoại' }
            }

            if (!checkPhoneNumber(phone)) {
                return { error: true, msg: 'Số điện thoại không đúng định dạng' }
            }

            if (!address) {
                return { error: true, msg: 'Địa chỉ không hợp lệ' }
            }

            if (!city) {
                return { error: true, msg: 'Tỉnh/Thành phố không hợp lệ' }
            }

            if (!district) {
                return { error: true, msg: 'Quận/Huyện phố không hợp lệ' }
            }

            if (!ward) {
                return { error: true, msg: 'Xã/Phường phố không hợp lệ' }
            }

            if (!cityNear || !cityNear.length) {
                return { error: true, msg: 'Tỉnh/Thành phố chuyển về chi nhánh không hợp lệ' }
            }

            return {
                error: false, msg: 'Done'
            }
        }

        $(document).on('click', '#btnAddAgency', function() {
            let data = getData();
            let { error, msg } = validationData(data);
            if (error) {
                return toastr.warning(msg, 'THÔNG BÁO');
            }
            console.log({
                data
            });
            $.ajax({
                url: '/agency/add-agency',
                method: 'POST',
                data: data,
                success: resp => {
                    if (!resp.error) {
                        setTimeout(() => window.location.reload(), 1000);
                        return toastr.success('Bạn đã thêm chi nhánh thành công', 'THÔNG BÁO');
                    } else {
                        return toastr.warning(resp.message, 'THÔNG BÁO');
                    }
                }
            });
        });

    });
</script>