<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script>
	$(document).ready(function(){
		$(".table-list-store").dataTable({
			'iDisplayLength': 100,
			...languageDataTable,
			"processing": true,
            "serverSide": true,
            'ajax': {
                'url': '<%= CF_ROUTINGS_STORE.LIST_STORE_PAGINATION %>',
                type: 'POST',
                'data': function (data) {
					// console.log({
					// 	data
					// });
                    return data
                },
                "dataSrc": function (json){
					// console.log({
					// 	json
					// });
                    return json.data;
                }
            },
            "columns": [
                { "data": "indexChange" },
                { "data": "name" },
                { "data": "avatar" },
                { "data": "phone" },
                { "data": "action" },
            ],
		});

		$("#txtBrandsStore").select2();
		$(".btnAddStore").on("click", function(){
			$(".model-create-store").modal("show");
		})

		$('#txtCity').on('change', function () {
            $("#txtDistrict").empty();
            let value = $(this).val();

            // setSuccess("#txtCity");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        console.log({ resp,value });
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtDistrict").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            $("#txtDistrict").append(dataAppend);
                            $("#txtWard").empty();
                            $("#txtWard").append(`
                                <option id="emptyWard" value="">Chọn Phường</option>
                            `);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtDistrict").append(`
                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrict").attr("selected", true);

                $("#txtWard").empty();
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
            
        });

		//Xã, phường
        $('#txtDistrict').on('change', function () {
            $("#txtWard").empty();
            let value = $(this).val();
            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtWard").append(`<option id="emptyWard" value="" selected>Chọn Phường</option>`);
                            $("#txtWard").append(dataAppend);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });

		function ajaxAddStore(data){
			return $.ajax({
				url : '<%= CF_ROUTINGS_STORE.ADD_STORE %>',
				method : 'post',
				data: data,
				success : function(resp){
					console.log({ resp });
					let result = resp;
					if(result.error){
						return  toastr.warning('Thêm thất bại, có thể bạn chưa điền thiếu một thông tin nào đó', 'Thông báo');
					}else{
						toastr.success('Thêm thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					console.log({error})
					return  toastr.warning('Thêm thất bại', 'Thông báo')
				}
			});
		}

		$('.btnConfirmAddStore').on('click', async function () {
			let name = $("#txtNameStore").val();
			let phone = $("#txtPhoneStore").val();
			let address = $("#txtAddressStore").val();
			let city = $("#txtCity").val();
			let district = $("#txtDistrict").val();
			let ward = $("#txtWard").val();
			let latitude = $("#txtLatitudeStore").val();
			let longitude = $("#txtlongitudeStore").val();
			let openTime = $("#txtOpenTimeStore").val();
			let closeTime = $("#txtCloseTimeStore").val();
			let brands = $("#txtBrandsStore").val();
			
			let image  = $('#avatarStore')[0].files
			if(!name)
				return toastr.warning("Vui lòng nhập tên cửa hàng", "Thông Báo");
			if(!brands.length)
				return toastr.warning("Vui lòng chọn thương hiệu", "Thông Báo");
			if(!phone)
				return toastr.warning("Vui lòng nhập số điện thoại", "Thông Báo");
			if(!address)
				return toastr.warning("Vui lòng nhập địa chi", "Thông Báo");
			if(!city)
				return toastr.warning("Vui lòng chọn thành phố", "Thông Báo");
			if(!district)
				return toastr.warning("Vui lòng chọn quận", "Thông Báo");
			if(!ward)
				return toastr.warning("Vui lòng chọn huyện", "Thông Báo");
			if(!image.length)
				return toastr.warning("Vui lòng chọn hình ảnh", "Thông Báo");

			$(".model-create-store").modal("hide");
			var infoImage;
			let data = { name, phone, address, city, district, ward, latitude, longitude, openTime, closeTime, brands };

			if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.avatar = infoImage;
					ajaxAddStore(data);
				})
			}else{
				ajaxAddStore(data);
			}
		})	

		$('body').on('click', ".btnUpdateStore", function () {
			$(".model-create-store").modal("show");
			$(".btnConfirmAddStore").hide();
			$(".btnConfirmUpdateStore").show();
			let storeID = $(this).attr("_storeID");
			$(".btnConfirmUpdateStore").attr("_storeID",storeID );
			$.ajax({
				url: `/store/info-store-for-admin?storeID=${storeID}`,
				method: 'GET',
				success: function(resp) {
					console.log({ resp });
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						let { name, phone, address, city, district, ward, openTime, closeTime, location, brands } = resp.data.infoStore;
						$("#txtDistrict").empty();
						$("#txtWard").empty();
					
						let listDistrict = resp.data.listDistrict && Object.entries(resp.data.listDistrict.data);
						let listWard = resp.data.listWard && Object.entries(resp.data.listWard.data);

						listDistrict.forEach(district => {
							$("#txtDistrict").append(`
								<option value="${district[0]}">${district[1].name_with_type}</option>
							`)
						});
				
						listWard.forEach(ward => {
							$("#txtWard").append(`
								<option value="${ward[0]}">${ward[1].name_with_type}</option>
							`)
						});

						if(location){
							let { coordinates } = location;
							let latitude = coordinates[1];
							let longitude = coordinates[0];
							$("#txtLatitudeStore").val(latitude);
							$("#txtlongitudeStore").val(longitude);
						}

						$("#txtNameStore").val(name);
						$("#txtPhoneStore").val(phone);
						$("#txtAddressStore").val(address);
						$("#txtCity").val(city);
						$("#txtDistrict").val(district);
						$("#txtWard").val(ward);
						$("#txtOpenTimeStore").val(openTime);
						$("#txtCloseTimeStore").val(closeTime);
						$("#txtBrandsStore").val(brands).change();
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})

		function ajaxUpdateStore(data){
			return $.ajax({
				url : '<%= CF_ROUTINGS_STORE.UPDATE_STORE %>',
				method : 'post',
				data: data,
				success : function(resp){
					console.log({ resp });
					let result = resp;
					if(result.error){
						return  toastr.error('Cập nhật thất bại', 'Thông báo');
					}else{
						toastr.success('Cập nhật thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					console.log({error})
					return  toastr.warning('Cập nhật thất bại', 'Thông báo')
				}
			});
		}

		$('.btnConfirmUpdateStore').on('click', async function () {
			let name = $("#txtNameStore").val();
			let phone = $("#txtPhoneStore").val();
			let address = $("#txtAddressStore").val();
			let city = $("#txtCity").val();
			let district = $("#txtDistrict").val();
			let ward = $("#txtWard").val();
			let latitude = $("#txtLatitudeStore").val();
			let longitude = $("#txtlongitudeStore").val();
			let openTime = $("#txtOpenTimeStore").val();
			let closeTime = $("#txtCloseTimeStore").val();
			let storeID = $(this).attr("_storeID");
			let brands = $("#txtBrandsStore").val();
			
			let image  = $('#avatarStore')[0].files
			if(!name)
				return toastr.warning("Vui lòng nhập tên cửa hàng", "Thông Báo");
			if(!phone)
				return toastr.warning("Vui lòng nhập số điện thoại", "Thông Báo");
			if(!address)
				return toastr.warning("Vui lòng nhập địa chi", "Thông Báo");
			if(!city)
				return toastr.warning("Vui lòng chọn thành phố", "Thông Báo");
			if(!district)
				return toastr.warning("Vui lòng chọn quận", "Thông Báo");
			if(!ward)
				return toastr.warning("Vui lòng chọn huyện", "Thông Báo");
			// if(!image.length)
			// 	return toastr.warning("Vui lòng chọn hình ảnh", "Thông Báo");

			$(".model-create-store").modal("hide");
			var infoImage;
			let data = { storeID, name, phone, address, city, district, ward, latitude, longitude, openTime, closeTime, brands };

			if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.avatar = infoImage;
					ajaxUpdateStore(data);
				})
			}else{
				ajaxUpdateStore(data);
			}
		})
	})
</script>