<script>
    $(document).ready(function() {
        let city = "<%= infoAgency && infoAgency.city %>";
        
        function loadListCity() {
            let cityNear = $('#txtCityNear').val();

            $.ajax({
                url: '/list-provinces-ghn',
                method: 'GET',
                success: resp => {
                    if (!resp.error) {
                        let optionCityNear = '';
                        let option = '<option value="" >Chọn Tỉnh/Thành phố</option>';
                        resp.data.data && resp.data.data.length && resp.data.data.map(item => {
                            let selected = '';
                            if (city && city == item.ProvinceID.toString()) {
                                selected = 'selected';
                            }
                            option += '<option value="' + item.ProvinceID + '" '+ selected +' >' + item.ProvinceName + '</option>';
                        
                            let selectedCityNear = '';
                            if (cityNear && cityNear.length && cityNear.includes(item.ProvinceID.toString())) {
                                selectedCityNear = 'selected';
                            }
                            optionCityNear += '<option class="'+ item.ProvinceID +'" value="' + item.ProvinceID + '" '+selectedCityNear+' >' + item.ProvinceName + '</option>';
                        });
                        $('#txtCity').append(option);
                        if (city) {
                            $('#txtCity').trigger('change');
                        }

                        $('#txtCityNear').empty();
                        $('#txtCityNear').append(optionCityNear);
                    }
                }
            });

            // $.ajax({
            //     url: '/list-provinces-ghn',
            //     method: 'GET',
            //     success: resp => {
            //         if (!resp.error) {
            //             let option = '';
            //             resp.data.data && resp.data.data.length && resp.data.data.map(item => {
            //                 let selected = '';
            //                 if (cityNear && cityNear.length && cityNear.includes(item.ProvinceID.toString())) {
            //                     selected = 'selected';
            //                 }
            //                 option += '<option class="'+ item.ProvinceID +'" value="' + item.ProvinceID + '" '+selected+' >' + item.ProvinceName + '</option>';
            //             });
            //             $('#txtCityNear').empty();
            //             $('#txtCityNear').append(option);
            //         }
            //     }
            // });
        }

        loadListCity();

        $("#txtCityNear").select2({
            width: "100%"
        });

        let district = "<%= infoAgency && infoAgency.district %>";
        $("#txtCity").select2({
            width: "100%"
        });
        $(document).on('change', '#txtCity', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-districts-ghn/' + value,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error) {
                            let respAfterChange = resp.data.data;
                            let option = '<option value="" selected>Chọn quận/huyện</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                let selected = '';
                                if (district && district == item.DistrictID.toString()) {
                                    selected = 'selected';
                                }
                                option += '<option value="' + item.DistrictID + '" '+ selected +' >' + item.DistrictName + '</option>';
                            });
                            $('#txtDistrict').empty();
                            $('#txtDistrict').append(option);
                            if (value) {
                                $('#txtDistrict').trigger('change');
                            }
                        }
                    }
                });
            } else {
                $('#txtDistrict').empty();
            }
        });
        $("#txtWard").select2({
            width: "100%"
        });
        let ward = "<%= infoAgency && infoAgency.ward %>";
        $("#txtDistrict").select2({
            width: "100%"
        });
        $(document).on('change', '#txtDistrict', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-wards-ghn/' + value,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error) {
                            let respAfterChange = resp.data.data;
                            let option = '<option value="" selected>Chọn xã/phường</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                let selected = '';
                                if (ward && ward == item.WardCode.toString()) {
                                    selected = 'selected';
                                }
                                option += '<option value="' + item.WardCode + '" '+ selected +' >' + item.WardName + '</option>';
                            });
                            $('#txtWard').empty();
                            $('#txtWard').append(option);
                            if (value) {
                                $('#txtWard').trigger('change');
                            }
                        }
                    }
                });
            } else {
                $('#txtWard').empty();
            }
        });

        function getData() {
            let storeCodeGHN = $('#txtCode').val();
            let name         = $('#txName').val();
            let email        = $('#txEmail').val();
            let cc           = $('#txCC').val();
            let phone        = $('#txPhone').val();
            let address      = $('#txtAddress').val();
            let city         = $('#txtCity').val();
            let cityName     = $('#txtCity option:selected').text();

            let cityNear     = $('#txtCityNear').val();
            let listCityNearName = [];
            cityNear && cityNear.length && cityNear.map(item => {
                let cityNearName = $(`.${item}`).text();
                listCityNearName = [
                    ...listCityNearName,
                    {
                        city: item,
                        cityName: cityNearName
                    }
                ];
            });

            let district     = $('#txtDistrict').val();
            let districtName = $('#txtDistrict option:selected').text();

            let ward         = $('#txtWard').val();
            let wardName     = $('#txtWard option:selected').text();

            return {
                storeCodeGHN, name, email, phone, cityNear: listCityNearName,
                address, city, cityName, district, districtName, ward, wardName, cc
            }
        }

        function validationData(data) {
            let {
                storeCodeGHN, name, email, phone, cityNear,
                address, city, district, ward, cc
            } = getData();

            if (!storeCodeGHN) {
                return { error: true, msg: 'Mời bạn nhập mã cửa hàng Giao Hàng Nhanh' }
            }

            if (!name) {
                return { error: true, msg: 'Mời bạn nhập Tên chi nhánh' }
            }

            if (!email) {
                return { error: true, msg: 'Mời bạn nhập Email' }
            }

            if (!checkEmail(email)) {
                return { error: true, msg: 'Email không đúng định dạng' }
            }

            if (!cc) {
                return { error: true, msg: 'Mời bạn nhập Email CC' }
            }

            let listEmailCC = cc.split(',');
            if (!listEmailCC.length) {
                return { error: true, msg: 'Email CC không hợp lệ' }
            }
          
            let mark = false;
            listEmailCC.map(emailCC => {
                if (!checkEmail(emailCC)) {
                    mark = true;
                }
            });
            if (mark) {
                return { error: true, msg: 'Email CC không đúng định dạng' }
            }

            if (!phone) {
                return { error: true, msg: 'Mời bạn nhập Số điện thoại' }
            }

            if (!checkPhoneNumber(phone)) {
                return { error: true, msg: 'Số điện thoại không đúng định dạng' }
            }

            if (!address) {
                return { error: true, msg: 'Địa chỉ không hợp lệ' }
            }

            if (!city) {
                return { error: true, msg: 'Tỉnh/Thành phố không hợp lệ' }
            }

            if (!district) {
                return { error: true, msg: 'Quận/Huyện phố không hợp lệ' }
            }

            if (!ward) {
                return { error: true, msg: 'Xã/Phường phố không hợp lệ' }
            }

            if (!cityNear || !cityNear.length) {
                return { error: true, msg: 'Tỉnh/Thành phố chuyển về chi nhánh không hợp lệ' }
            }

            return {
                error: false, msg: 'Done'
            }
        }

        $(document).on('click', '#btnUpdateAgency', function() {
            let data = getData();
            let { error, msg } = validationData(data);
            if (error) {
                return toastr.warning(msg, 'THÔNG BÁO');
            }
            let agencyID = $(this).attr('_agencyID');
            console.log({
                data
            });
            $.ajax({
                url: `/agency/update-agency/${agencyID}`,
                method: 'POST',
                data: data,
                success: resp => {
                    if (!resp.error) {
                        setTimeout(() => window.location.reload(), 1000);
                        return toastr.success('Bạn đã cập nhật chi nhánh thành công', 'THÔNG BÁO');
                    } else {
                        return toastr.warning(resp.message, 'THÔNG BÁO');
                    }
                }
            });
        });

    });
</script>