<script>
    $(document).ready(function() {

        $("#limit_kpi_config__store").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/store/list-stores',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.name,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#limit_kpi_config__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.fullname,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#limit_kpi_config__criteria").select2({
            width: "100%"
        });
        $("#limit_kpi_config__criteria").val("<%= infoLimit_kpi_config.criteria && infoLimit_kpi_config.criteria._id %>").trigger('change');


        let amountCleave = initOneCleave("#limit_kpi_config__amount");





        $('#limit_kpi_config__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#limit_kpi_config__amount', "Vui lòng nhập chỉ tiêu");
            } else {
                disableValidate('#limit_kpi_config__amount');
            }
        });

        $('#limit_kpi_config__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#limit_kpi_config__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#limit_kpi_config__month');
            }
        });

        $('#limit_kpi_config__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#limit_kpi_config__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#limit_kpi_config__year');
            }
        });



        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let store = $('#limit_kpi_config__store').val();
            let employee = $('#limit_kpi_config__employee').val();
            let criteria = $('#limit_kpi_config__criteria').val();
            let amount = amountCleave.getRawValue();

            let month = $('#limit_kpi_config__month').val();

            let year = $('#limit_kpi_config__year').val();

            return {
                store,
                employee,
                criteria,
                amount,
                month,
                year,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                criteria,
                amount,
                month,
                year,
            } = params;
            let fieldsError = [];




            if (!store) {
                fieldsError = [...fieldsError, 'limit_kpi_config__store'];
                enableValidate('#limit_kpi_config__store', "Vui lòng chọn cửa hàng");
            } else {
                if (!fieldsError.includes('limit_kpi_config__store')) {
                    disableValidate('#limit_kpi_config__store');
                }
            }

            if (!employee) {
                fieldsError = [...fieldsError, 'limit_kpi_config__employee'];
                enableValidate('#limit_kpi_config__employee', "Vui lòng chọn nhân viên");
            } else {
                if (!fieldsError.includes('limit_kpi_config__employee')) {
                    disableValidate('#limit_kpi_config__employee');
                }
            }

            if (!criteria) {
                fieldsError = [...fieldsError, 'limit_kpi_config__criteria'];
                enableValidate('#limit_kpi_config__criteria', "Vui lòng chọn tiêu chí");
            } else {
                if (!fieldsError.includes('limit_kpi_config__criteria')) {
                    disableValidate('#limit_kpi_config__criteria');
                }
            }

            if (!amount) {
                fieldsError = [...fieldsError, 'limit_kpi_config__amount'];
                enableValidate('#limit_kpi_config__amount', "Vui lòng nhập chỉ tiêu");
            } else {
                if (!fieldsError.includes('limit_kpi_config__amount')) {
                    disableValidate('#limit_kpi_config__amount');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'limit_kpi_config__month'];
                enableValidate('#limit_kpi_config__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('limit_kpi_config__month')) {
                    disableValidate('#limit_kpi_config__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'limit_kpi_config__year'];
                enableValidate('#limit_kpi_config__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('limit_kpi_config__year')) {
                    disableValidate('#limit_kpi_config__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_LIMIT_KPI_CONFIG.UPDATE_LIMIT_KPI_CONFIG_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật cấu hình kpi thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.limit_kpi_configID = $(this).attr('__limit_kpi_configID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>