<script>
    $(document).ready(function() {

        $("#kpi_sbd_actually__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.username,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_sbd_actually__ischecked").select2({
            width: "100%"
        });
        $("#kpi_sbd_actually__ischecked").val("<%= infoKpi_sbd_actually.isChecked %>").trigger('change');


        let amountCleave = initOneCleave("#kpi_sbd_actually__amount");





        $('#kpi_sbd_actually__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_actually__amount', "Vui lòng nhập thực đạt");
            } else {
                disableValidate('#kpi_sbd_actually__amount');
            }
        });

        $('#kpi_sbd_actually__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_actually__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_sbd_actually__month');
            }
        });

        $('#kpi_sbd_actually__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_actually__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_sbd_actually__year');
            }
        });



        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let employee = $('#kpi_sbd_actually__employee').val();
            let amount = amountCleave.getRawValue();
            let isChecked = $('#kpi_sbd_actually__ischecked').val();

            let month = $('#kpi_sbd_actually__month').val();

            let year = $('#kpi_sbd_actually__year').val();

            return {
                employee,
                amount,
                isChecked,
                month,
                year,
            };
        }

        const checkFormValid = params => {
            let {
                employee,
                amount,
                isChecked,
                month,
                year,
            } = params;
            let fieldsError = [];

            if (isChecked && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: isChecked
                })) {
                fieldsError = [...fieldsError, 'kpi_sbd_actually__ischecked'];
                enableValidate('#kpi_sbd_actually__ischecked', "đã tạo thành công không hợp lệ");
            } else {
                if (!fieldsError.includes('kpi_sbd_actually__ischecked')) {
                    disableValidate('#kpi_sbd_actually__ischecked');
                }
            }




            if (!amount) {
                fieldsError = [...fieldsError, 'kpi_sbd_actually__amount'];
                enableValidate('#kpi_sbd_actually__amount', "Vui lòng nhập thực đạt");
            } else {
                if (!fieldsError.includes('kpi_sbd_actually__amount')) {
                    disableValidate('#kpi_sbd_actually__amount');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_sbd_actually__month'];
                enableValidate('#kpi_sbd_actually__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_sbd_actually__month')) {
                    disableValidate('#kpi_sbd_actually__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_sbd_actually__year'];
                enableValidate('#kpi_sbd_actually__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_sbd_actually__year')) {
                    disableValidate('#kpi_sbd_actually__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SBD_ACTUALLY.UPDATE_KPI_SBD_ACTUALLY_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật KPI Thực Đạt SBD (Sản Phẩm Trọng Tâm) thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.kpi_sbd_actuallyID = $(this).attr('__kpi_sbd_actuallyID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>