<script>
    $(document).ready(function() {
		$('#tableList').DataTable({
			'iDisplayLength': 100,
			...languageDataTable,
            // "columns": [
			// 	{ "width": "5%" },
			// 	{ "width": "20%" },
			// 	{ "width": "10%" },
			// 	{ "width": "25%" },
			// 	{ "width": "10%" },
			// 	{ "width": "10%" },
			// ]
		});

		$('#txtBrand').select2();

        function getDataForm() {
            let name         = $('#txtName').val();
            let variant      = $('#txVariant').val();
            let brand        = $('#txtBrand').val();
            let isGoodReward = $('.isGoodReward').is(":checked");
            let isGoodBuy    = $('.isGoodBuy').is(":checked");

            return {
                name,
                variant,
                brand,
                isGoodReward,
                isGoodBuy,
            }
        }

        function validationData(data) {
            let {
                name,
                variant,
                brand,
            } = data;

            if (!name) return { error: true, msg: 'Bạn phải nhập tên SKU' }
            if (!variant) return { error: true, msg: 'Bạn phải nhập biến thể' }
            if (!brand) return { error: true, msg: 'Bạn phải chọn thương hiệu' }
        
            return {
                error: false, msg: 'Done' 
            }
        }

        $(document).on('click', '#btnSKU2Add', function() {
            let data = getDataForm();
            let validation = validationData(data);
            if (validation.error) {
                return toastr.warning(validation.msg, 'THÔNG BÁO');
            }   

            $.ajax({
                url: '<%= CF_ROUTINGS_SKU_2.ADD_SKU_2 %>',
                method: 'POST',
                data: {
                    ...data
                },
                success: resp => {
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        setTimeout(() => window.location.reload(), 700);
                        return toastr.success('Bạn đã thêm thành công', 'THÔNG BÁO');
                    }
                }
            })

        });

        $(document).on('click', '#btnSKU2Update', function() {
            let data = getDataForm();
            let skuID = $(this).attr('_sku2ID');
            let validation = validationData(data);
            if (validation.error) {
                return toastr.warning(validation.msg, 'THÔNG BÁO');
            }   

            $.ajax({
                url: `/sku-2/update-sku-2/${skuID}`,
                method: 'POST',
                data: {
                    ...data
                },
                success: resp => {
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        setTimeout(() => window.location.reload(), 700);
                        return toastr.success('Bạn đã cập nhật thành công', 'THÔNG BÁO');
                    }
                }
            })

        });

        function ajaxCallChangeDymanic(data) {
            $.ajax({
                url: '<%= CF_ROUTINGS_SKU_2.UPDATE_DYNAMIC_SKU_2 %>',
                method: 'POST',
                data: {
                    ...data
                }, 
                success: resp => {
                    // console.log({ resp});
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thành công', 'THÔNG BÁO');
                    }
                }
            })
        }

        $(document).on('change', '.class-isGoodBuy', function() {
            let skuID     = $(this).attr('_sku');
            let isGoodBuy = $(this).is(":checked");
          
            let confirmAdd = confirm("Bạn có chắc chắn đổi trạng thái hàng bán");
            if(!confirmAdd) {
                if (isGoodBuy) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            } else {
                let data = {
                    skuID,
                    isGoodBuy
                };
                ajaxCallChangeDymanic(data)
            }
        });

        $(document).on('change', '.class-isGoodReward', function() {
            let skuID        = $(this).attr('_sku');
            let isGoodReward = $(this).is(":checked");
          
            let confirmAdd = confirm("Bạn có chắc chắn đổi trạng thái hạng tặng");
            if(!confirmAdd) {
                if (isGoodReward) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            } else {
                let data = {
                    skuID,
                    isGoodReward
                };
                ajaxCallChangeDymanic(data)
            }
        });

    });
</script>