<style>
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 35px auto;
    }
	.file-upload{
        position: relative;
		max-width: 100px;
	}
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input,
	.file-upload label input{
        display: none;
    }
    .avatar-upload .avatar-edit input + label{
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit input + label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview,
	.file-upload label {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
	.file-upload label{
		width: 70px;
		height: 70px;
		border-radius: 12px;
	}
    .avatar-upload .avatar-preview > div,
	.file-upload label div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
	.file-upload label div{
		position: relative;
		border-radius: 12px;
		cursor: pointer;
		background-color: #ccc;
		font-size: 20px;
		text-align: center;
		line-height: 60px;
	}
	.file-upload label div img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		object-fit: contain;
	}
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
	.row-order-line > div img{
		width: 80px;
		height: 80px;
		object-fit: contain;
	}
	.wrapper-detail-product{
		margin-top: -10px;
	}
	.wrapper-detail-product span{
		display: block;
	}

	.zone-upload-file{
		width: 100%;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: 12px;
		padding: 10px;
	}
	.zone-upload-file label{
		display: inline-block;
		width: 80px;
		height: 80px;
		text-align: center;
		line-height: 80px;
		border: 1px dashed rgba(0,0,0,.3);
		border-radius: 12px;
		cursor: pointer;
	}
	.zone-upload-file label input{
		display: none;
	}
	.wrapper-list-file{
		display: inline-block;
		margin-right: 10px;
	}
	.wrapper-list-file .box-file{
		width: 80px;
		height: 80px;
		text-align: center;
		display: inline-block;
		word-break: break-all;
		border: 1px solid black;
		border-radius: 12px;
		overflow: auto;
		position: relative;
	}
	.wrapper-list-file .box-file a{
		display: inline-block;
		padding-top: 20px;
	}
	.wrapper-list-file .box-file button{
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		border-radius: 100%;
		background-color: #c94747;
		color: white;
		position: absolute;
		right: 0;
		cursor: pointer;
		transition: 200ms;
	}
	.wrapper-list-file .box-file button:hover{
		opacity: .6;
	}
	.box-file .progress-upload-file{
		margin-top: 35px;
		width: 65px;
		margin-left: 7px;
	}
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Chi Tiết Đơn Hàng</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Chi Tiết Đơn Hàng</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="card m-b-20">
                        <div class="card-body">
							<h4 class="mt-0 header-title">Thông tin đơn hàng</h4>
							<hr>

							<div class="row">
								<div class="col-sm-3">
									Mã đơn hàng
								</div>
								<div class="col-sm-9">
									<%= infoOrder.orderID %> 
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Ngày tạo đơn hàng
								</div>
								<div class="col-sm-9">
									<%= moment(infoOrder.createAt).format('DD/MM/YYYY HH:mm') %> 
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Trạng thái đơn hàng
								</div>
								<div class="col-sm-9">
									<h6 style="margin: 0;">
										<span class="badge badge-pill badge-<%= ORDER_STATUS_TYPE[infoOrder.status].color %>">
											<%= ORDER_STATUS_TYPE[infoOrder.status].text %>
										</span>
										<a 
											href="javascript:void(0)" 
											class="ml-2 btn-open-modal-update-status" 
											data-toggle="modal" data-target="#modalUpdateStatusOrder"
											_orderID="<%= infoOrder._id %>"
											_statusOrder="<%= infoOrder.status %>"
										>
											<i class="fas fa-edit"></i>
										</a>
									</h6>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Phương thức thanh toán
								</div>
								<div class="col-sm-9">
                                    <%= PAYMENT_TYPE[infoOrder.payment - 1].text %>
								</div>
							</div>

							<hr>

							<div class="row mt-3">
								<div class="col-sm-3">
									Số tiền đơn hàng
								</div>
								<div class="col-sm-9">
									<%= formatCurrency('###,###.', infoOrder.provisionalAmount) %>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Chi phí vận chuyển
								</div>
								<div class="col-sm-9">
									<%= formatCurrency('###,###.', infoOrder.deliveryPrice) %>
								</div>
							</div>

                            <div class="row mt-3">
								<div class="col-sm-3">
									Số tiền giảm
								</div>
								<div class="col-sm-9">
									<%= formatCurrency('###,###.', infoOrder.discountPrice) %>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Tổng chi phí
								</div>
								<div class="col-sm-9">
									<b><%= formatCurrency('###,###.', infoOrder.amount) %></b>
								</div>
							</div>
							

                        </div>
                    </div>

					<div class="card m-b-20">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<h4 class="mt-0 header-title">Giỏ hàng</h4>
								<!-- <button class="btn btn-success" id="btnUpdateOrderLine">Cập nhật</button> -->
							</div>

							<hr>

							<% if (infoOrder.orderLines && infoOrder.orderLines.length) { %>

								<% infoOrder.orderLines.forEach(orderLine => { %>
									<div class="row row-order-line mb-3" _orderLineID="<%= orderLine._id %>">
										<div class="col-sm-5">
											<div class="d-flex flex-nowrap">
												<% if (orderLine.product) { %>
                                                    <% if (orderLine.product) { %>
                                                        <img src="<%= loadPathImage(orderLine.product.avatar.path) %>" alt="Product" class="img-fluid mr-3">
                                                    <% } else{ %>
                                                        <img src="/template/admin/img/75x75.png" alt="Product" class="img-fluid mr-3">
                                                    <% } %>

													<div class="wrapper-detail-product">
														<h6> <%= orderLine.product.name %> </h6>

                                                        <% if (orderLine.price) { %>
                                                            <span> 
                                                                Giá sản phẩm: 
                                                                <%= formatCurrency('###,###.', orderLine.price) %>
                                                            </span>
                                                        <% } %>

                                                        <% if (orderLine.provisionalAmount) { %>
                                                            <span> 
                                                                Số tiền tạm tính: 
                                                                <%= formatCurrency('###,###.', orderLine.provisionalAmount) %> 
                                                            </span>
                                                        <% } %>

                                                        <% if (orderLine.amountAfterDiscount) { %>
                                                            <span> 
                                                                Số tiền được giảm: 
                                                                <%= formatCurrency('###,###.', orderLine.amountAfterDiscount) %>
                                                            </span>
                                                        <% } %>

                                                        <span> 
                                                            Số lượng:
                                                            <%= orderLine.quantities %>
                                                        </span>
                                                        
														<span> 
															Tổng tiền: <b><%= formatCurrency('###,###.', orderLine.amount) %></b>
														</span>
													</div> 
												<% } %>
											</div>
										</div>
									</div>
									<hr>
								<% }) %>

							<% } %>

						 </div>
					</div>

                </div>

				<div class="col-md-4">

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Khách hàng</h4>
							<hr>
                            <div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Họ và tên: <b><%= infoOrder.customer && infoOrder.customer.fullname %></b></label>
                                    </div>
                                </div> 
                                
                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Email: <b><%= infoOrder.customer && infoOrder.customer.email %></b> </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Số điện thoại: <a href="tel:<%= infoOrder.customer && infoOrder.customer.phone %>">
											<b><%= infoOrder.customer && infoOrder.customer.phone %></b>
										</a></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Địa chỉ nhận hàng: <b><%= infoOrder.address && infoOrder.address.address %></b></label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <a href="/order/list-order" class="btn btn-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a> -->
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>


<!-- POPUP CẬP NHẬT TRẠNG THÁI -->
<div class="modal fade bs-example-modal-xs modal-update-status-order" id="modalUpdateStatusOrder" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<input type="hidden" id="txtOrderIdUpdateModal" value="<%= infoOrder._id %>">
                <div class="form-group group-status-order">
					<select id="scOrderStatusUpdateModal" class="form-control">
						<% ORDER_STATUS_TYPE.forEach(status => { %>
							<option value="<%= status.value %>" <%= infoOrder.status === status.value && 'selected' %>>
								<%= status.text %> 
							</option>
						<% }) %>
					</select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateStatusOrder">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
