<style>
    .avatar-upload {
        position: relative;
        max-width: 205px;
        margin: 35px auto;
    }
	.file-upload{
        position: relative;
		max-width: 100px;
	}
    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }
    .avatar-upload .avatar-edit input,
	.file-upload label input{
        display: none;
    }
    .avatar-upload .avatar-edit input + label{
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
    .avatar-upload .avatar-edit input + label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-upload .avatar-preview,
	.file-upload label {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
	.file-upload label{
		width: 70px;
		height: 70px;
		border-radius: 12px;
	}
    .avatar-upload .avatar-preview > div,
	.file-upload label div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
	.file-upload label div{
		position: relative;
		border-radius: 12px;
		cursor: pointer;
		background-color: #ccc;
		font-size: 20px;
		text-align: center;
		line-height: 60px;
	}
	.file-upload label div img{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		object-fit: contain;
	}
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
	.row-order-line > div img{
		width: 80px;
		height: 80px;
		object-fit: contain;
	}
	.wrapper-detail-product{
		margin-top: -10px;
	}
	.wrapper-detail-product span{
		display: block;
	}

	.zone-upload-file{
		width: 100%;
		border: 1px solid rgba(0,0,0,.3);
		border-radius: 12px;
		padding: 10px;
	}
	.zone-upload-file label{
		display: inline-block;
		width: 80px;
		height: 80px;
		text-align: center;
		line-height: 80px;
		border: 1px dashed rgba(0,0,0,.3);
		border-radius: 12px;
		cursor: pointer;
	}
	.zone-upload-file label input{
		display: none;
	}
	.wrapper-list-file{
		display: inline-block;
		margin-right: 10px;
	}
	.wrapper-list-file .box-file{
		width: 80px;
		height: 80px;
		text-align: center;
		display: inline-block;
		word-break: break-all;
		border: 1px solid black;
		border-radius: 12px;
		overflow: auto;
		position: relative;
	}
	.wrapper-list-file .box-file a{
		display: inline-block;
		padding-top: 20px;
	}
	.wrapper-list-file .box-file button{
		width: 20px;
		height: 20px;
		border: none;
		outline: none;
		border-radius: 100%;
		background-color: #c94747;
		color: white;
		position: absolute;
		right: 0;
		cursor: pointer;
		transition: 200ms;
	}
	.wrapper-list-file .box-file button:hover{
		opacity: .6;
	}
	.box-file .progress-upload-file{
		margin-top: 35px;
		width: 65px;
		margin-left: 7px;
	}
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Chi Tiết Đơn hàng gôm</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Chi Tiết Đơn hàng gôm</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">

                    <div class="card m-b-20">
                        <div class="card-body">
							<h4 class="mt-0 header-title">Thông tin đơn hàng</h4>
							<hr>

							<div class="row">
								<div class="col-sm-3">
									Mã đơn hàng
								</div>
								<div class="col-sm-9">
									<%= infoMergeCentralizeOrder && infoMergeCentralizeOrder.mergeCentralizeOrderID %> 
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Ngày tạo đơn hàng
								</div>
								<div class="col-sm-9">
									<%= moment(infoMergeCentralizeOrder.createAt).format('HH:mm DD/MM/YYYY') %> 
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Trạng thái đơn hàng
								</div>
								<div class="col-sm-9">
									<h6 style="margin: 0;">
										<span class="badge badge-pill <%= STATUS_ORDER[infoMergeCentralizeOrder.status].badge %>">
											<%= STATUS_ORDER[infoMergeCentralizeOrder.status].text %>
										</span>
										<!-- <a 
											href="javascript:void(0)" 
											class="ml-2 btn-open-modal-update-status" 
											data-toggle="modal" data-target="#modalUpdateStatusOrder"
											_orderID="<%= infoMergeCentralizeOrder._id %>"
											_statusOrder="<%= infoMergeCentralizeOrder.status %>"
										>
											<i class="fas fa-edit"></i>
										</a> -->
									</h6>
								</div>
							</div>

							<div class="row mt-3">
								<!-- <div class="col-sm-3">
									Phương thức thanh toán
								</div>
								<div class="col-sm-9">
								</div> -->
							</div>
							<hr>
							<div class="row mt-3">
								<div class="col-sm-3">
									Số tiền đơn hàng
								</div>
								<div class="col-sm-9">
									<% if (infoMergeCentralizeOrder.provisionalAmount) { %>

									<%= formatCurrency('###,###.', infoMergeCentralizeOrder.provisionalAmount) %>
									<% } else { %>
										0
									<% } %>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Chi phí vận chuyển
								</div>
								<div class="col-sm-9">
									<% if (infoMergeCentralizeOrder.deliveryPrice) { %>
										<%= formatCurrency('###,###.', infoMergeCentralizeOrder.deliveryPrice) %>
									<% } else { %>
										0
									<% } %>
								</div>
							</div>

                            <div class="row mt-3">
								<div class="col-sm-3">
									Số tiền giảm
								</div>
								<div class="col-sm-9">
									0
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-sm-3">
									Tổng chi phí
								</div>
								<div class="col-sm-9">
									<% if (infoMergeCentralizeOrder.totalPrice) { %>
										<b><%= formatCurrency('###,###.', infoMergeCentralizeOrder.totalPrice) %></b>
									<% } else { %>
										0
									<% } %>
								</div>
							</div>
							

                        </div>
                    </div>

					<div class="card m-b-20">
						<div class="card-body">
							<div class="d-flex justify-content-between">
								<h4 class="mt-0 header-title">Danh sách đơn gôm</h4>
								<!-- <button class="btn btn-success" id="btnUpdateOrderLine">Cập nhật</button> -->
							</div>
									<div class="row row-order-line mb-3" _centralizeOrdersID="<%= infoMergeCentralizeOrder.centralizeOrder._id %>">
										<div class="col-sm-12">
											<h5> <b>Thông tin đơn</b> </h5>
											<% 
												let kind = '';
												TYPE_CENTRALIZE_ORDER.map(type => {
													if (type.value == infoMergeCentralizeOrder.centralizeOrder.kind) {
														kind = type.text;
													}
												});
											%> 
											<span> 
												Loại: 
												<%= kind %> 
											</span>
											<br>
											<% if (infoMergeCentralizeOrder.centralizeOrder.provisionalAmount) { %>
												<span> 
													Số tiền tạm tính: 
													<% if (infoMergeCentralizeOrder.centralizeOrder.type.provisionalAmount) { %>
														<%= formatCurrency('###,###.', infoMergeCentralizeOrder.centralizeOrder.type.provisionalAmount) %> 
													<% } else { %>
														0
													<% } %>
												</span>
												<br>
											<% } %>
												
											<% if (infoMergeCentralizeOrder.centralizeOrder.amountAfterDiscount) { %>
												<span> 
													Số tiền được giảm: 
													<% if (infoMergeCentralizeOrder.centralizeOrder.type.amountAfterDiscount) { %>
														<%= formatCurrency('###,###.', infoMergeCentralizeOrder.centralizeOrder.type.amountAfterDiscount) %>
													<% } else { %>
														0
													<% } %>
												</span>
												<br>
											<% } %>
											<span> 
												Tổng tiền:
												<% 
													const TYPE_ORDER = 1;
												%> 
												<% if (infoMergeCentralizeOrder.centralizeOrder.kind == TYPE_ORDER) { %>
													<b><%= formatCurrency('###,###.', infoMergeCentralizeOrder.centralizeOrder.type.amount) %></b>
												<% } else { %>
													0
												<% } %>
											</span>
											<h6 style="
												margin-bottom: 0px;
											"> <b>Danh sách sản phẩm</b> </h6>
											<% if (infoMergeCentralizeOrder.centralizeOrder.products && infoMergeCentralizeOrder.centralizeOrder.products.length) { %>
												<div class="row">
													<% infoMergeCentralizeOrder.centralizeOrder.products && infoMergeCentralizeOrder.centralizeOrder.products.length && infoMergeCentralizeOrder.centralizeOrder.products.map((product, index) => { %>
														<div class="col-sm-6">
															<h6> <%= product.product.name %> </h6>
															<span> 
																Số lượng:
																<%= product.quantities %> 
															</span>
														</div> 
													<% }); %> 
												</div>
											<% } %>
										</div>
									</div>
									<hr>
						 </div>
					</div>

                </div>

				<div class="col-md-4">

                    <div class="card m-b-20">
                       <div class="card-body">
                            <h4 class="mt-0 header-title">Đơn chọn địa chỉ mặc định</h4>
							<hr>
                            <div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Họ và tên: <b><%= infoMergeCentralizeOrder.centralizeOrder.customer && infoMergeCentralizeOrder.centralizeOrder.customer.fullname %></b></label>
                                    </div>
                                </div> 
                                
                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Email: <b><%= infoMergeCentralizeOrder.centralizeOrder.customer && infoMergeCentralizeOrder.centralizeOrder.customer.email %></b> </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Số điện thoại: <a href="tel:<%= infoMergeCentralizeOrder.centralizeOrder.customer && infoMergeCentralizeOrder.centralizeOrder.customer.phone %>">
											<b><%= infoMergeCentralizeOrder.centralizeOrder.customer && infoMergeCentralizeOrder.centralizeOrder.customer.phone %></b>
										</a></label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Địa chỉ nhận hàng: <b><%= infoMergeCentralizeOrder.centralizeOrder && infoMergeCentralizeOrder.centralizeOrder.address %></b></label>
                                    </div>
                                </div>
								<div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Xã/Phường: <b><%= infoMergeCentralizeOrder.centralizeOrder && infoMergeCentralizeOrder.centralizeOrder.wardText %></b></label>
                                    </div>
                                </div>
								<div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Quận/Huyện: <b><%= infoMergeCentralizeOrder.centralizeOrder && infoMergeCentralizeOrder.centralizeOrder.districtText %></b></label>
                                    </div>
                                </div>
								<div class="form-group row">
                                    <div class="col-sm-12">
										<label class="col-form-label">Tỉnh/Thành: <b><%= infoMergeCentralizeOrder.centralizeOrder && infoMergeCentralizeOrder.centralizeOrder.cityText %></b></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <a href="/order/list-order" class="btn btn-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a> -->
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
    <!-- content -->
</div>


<!-- POPUP CẬP NHẬT TRẠNG THÁI -->
<div class="modal fade bs-example-modal-xs modal-update-status-order" id="modalUpdateStatusOrder" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật trạng thái</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
				<input type="hidden" id="txtOrderIdUpdateModal" value="<%= infoMergeCentralizeOrder._id %>">
                <div class="form-group group-status-order">
					<select id="scOrderStatusUpdateModal" class="form-control">
						<% STATUS_ORDER.forEach(status => { %>
							<option value="<%= status.value %>" <%= infoMergeCentralizeOrder.status === status.value && 'selected' %>>
								<%= status.text %> 
							</option>
						<% }) %>
					</select>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateStatusOrder">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
