<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .container-search-order {
        position: relative;
    }
    .container-search-order > svg {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 7;
    }
    .container-search-order > input.form-control {
        width: 350px;
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    }
	.input-filter{
		height: 31px;
	}
	.dataTables_length,
	.dataTables_filter{
		display: none;
	} */
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <% 
                let text = '';
                TYPE_CENTRALIZE_ORDER.forEach(element => {
                    if (element.value == Number(value)) {
                        text = element.text;
                    }
                });
            %>
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách đơn hàng <%= text %></h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/centralize-order/list-centralize-order">Centralize Order</a></li>
                         <li class="breadcrumb-item active">Danh sách đơn hàng <%= text %></li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#centralizeOrder" role="tab">Quản lý đơn <%= text %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-merge-centralize-order" data-toggle="tab" href="#mergeCentralizeOrder" role="tab">Quản lý đơn gôm</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active p-3" id="centralizeOrder" role="centralizeOrder">
                                    <div class="col-lg-12 d-flex justify-content-between mb-3">
                                        <div class="container-filter" style="width: 100%">
                                            <!-- d-flex flex-wrap -->
                                            <div class="row">
                                                
                                                <div class="form-group input-filter col-2 col-xs-12">
                                                    <label for="" style="margin-right: 10px;">
                                                        Tỉnh/Thành phố
                                                    </label>
                                                    <select id="scCityFilter" class="form-control">
                                                        <!-- <option value="" selected>Chọn Tỉnh/Thành</option> -->
                                                    </select>
                                                </div>
                                                <div class="form-group input-filter col-2">
                                                    <label for="" style="margin-right: 10px;">
                                                        Quận/Huyện
                                                    </label>
                                                    <select id="scDistrictFilter" class="form-control">
                                                        <option value="" selected>Chọn Quận/Huyện</option>
                                                    </select>
                                                </div>
                                                <div class="form-group input-filter col-2">
                                                    <label for="" style="margin-right: 10px;">
                                                        Xã/Phường
                                                    </label>
                                                    <select id="scWardFilter" class="form-control">
                                                        <option value="" selected>Chọn Xã/Phường</option>
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group input-filter col-4">
                                                    <label for="inputFromDate" style="margin-right: 30px;"> Từ ngày
                                                        <input type="date" id="inputFromDate" class="form-control" style="margin-top:5px;">
                                                    </label>
                                                    <label for="inputToDate"> Đến ngày
                                                        <input type="date" id="inputToDate" class="form-control" style="margin-top:5px">
                                                    </label>
                                                </div>
        
                                                <div class="form-group input-filter col-2 col-xs-12">
                                                    <button class="btn btn-outline-info" id="btnCentralizeOrderFilter" title="Tìm kiếm" style="
                                                        margin-top: 26px;
                                                    ">
                                                        <i class="fas fa-search"></i>
                                                        Tìm kiếm
                                                    </button>
                                                </div>
        
                                            </div>
        
                                          
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-12 d-flex justify-content-end mb-3">
                                        <div class="container-search-order">
                                            <input id="input-search-order" type="text" class="form-control" placeholder="Tìm kiếm">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <a style="margin-bottom: 15px;" href="#" class="text-left btn btn-outline-success waves-effect waves-light btn-create-merge-order">
                                            Tạo đơn
                                        </a>
                                    </div>
                                    <table class="content-table table-list-order" id="tableListOrder">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input class="text-center cb-centralize-order-all" type="checkbox">
                                                </th>
                                                <th>STT</th>
                                                <th>Mã đơn hàng</th>
                                                <th>Loại đơn hàng</th>
                                                <th>Tên khách hàng</th>
                                                <th>Địa chỉ</th>
                                                <th>Xã/Phường</th>
                                                <th>Quận/Huyện</th>
                                                <th>Tỉnh/Thành</th>
                                                <th>Ngày tạo</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane p-3" id="mergeCentralizeOrder" role="mergeCentralizeOrder">
                                    <div class="col-lg-12 d-flex justify-content-end">
                                        <a style="margin-bottom: 15px;" href="#" class="text-left btn btn-outline-success waves-effect waves-light btn-export-excel">
                                            Export
                                        </a>
                                    </div>
                                    <table class="content-table table-list-order" id="tableListMergeCentralizeOrder" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Mã đơn hàng</th>
                                                <th>Mã giao hàng nhanh</th>
                                                <th>Phí vận chuyển</th>
                                                <th>Địa chỉ</th>
                                                <th>Xã/Phường</th>
                                                <th>Quận/Huyện</th>
                                                <th>Tỉnh/Thành</th>
                                                <th>Trạng thái</th>
                                                <th>Ngày tạo</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg modal-create-merge-centralize-user" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 1400px;">
        <div class="modal-content">
			<!-- <div class="modal-header">
				<h6 class="modal-title">Chọn địa chỉ mặc định</h6>
			</div> -->
            <div class="card-body">
                <!-- <div class="row">
				    <h6 class="modal-title col-lg-12"><b>Bước 1: Nhập thông tin</b> </h6>
                    <div class="form-group col-lg-6"><label>Trọng lượng (gram)</label> 
                        <input type="number" class="form-control" placeholder="" id="txtWeight">
                    </div>
                    <div class="form-group col-lg-6"><label>Độ dài (cm)</label> 
                        <input type="number" class="form-control" placeholder="" id="txtLength">
                    </div>
                    <div class="form-group col-lg-6"><label>Độ rộng (cm)</label> 
                        <input type="number" class="form-control" placeholder="" id="txtWidth">
                    </div>
                    <div class="form-group col-lg-6"><label>Chiều cao (cm)</label> 
                        <input type="number" class="form-control" placeholder="" id="txtHeight">
                    </div>
                </div> -->
                
                <!-- <div class="row">
				    <h6 class="modal-title col-lg-12"><b>Bước 2: Chọn cửa hàng</b></h6>
					<div class="col-lg-12">
						<table class="content-table" id="tableListStore">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>STT</th>
                                    <th>Mã cửa hàng</th>
                                    <th>Tên cửa hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                </tr>
                            </thead>
                            <tbody >
                            </tbody>
                        </table>
					</div>
				</div> -->

				<div class="row">
				    <!-- <h6 class="modal-title col-lg-12"><b>Bước 3: Chọn địa chỉ mặc định từ các đơn đã chọn</b></h6> -->
                    <div class="col-lg-12 d-flex" style="
                        justify-content: left;
                        align-items: center;
                    ">
                        <img class="loading-ghn d-none" src="/template/admin/img/icon-loading.gif" alt="" style="
                            width: 30px;
                        ">
                        <b class="show-fee-ghn text-center d-none" style="margin-top: 1rem;">Phí: <span class="fee-ghn" style="font-size: 20px;"></span></b>
                    </div>
					<div class="col-lg-12">
						<table class="content-table" id="tableListCentralizeOrder" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã đơn hàng</th>
                                    <th>Số lượng sản phẩm</th>
                                    <th>Trọng lượng (gram)</th>
                                    <th>Độ dài (cm)</th>
                                    <th>Độ rộng (cm)</th>
                                    <th>Chiều cao (cm)</th>
                                    <th>Số tiền vận đơn</th>
                                    <th>Chi nhánh lấy</th>
                                    <th>Địa chỉ nhận</th>
                                </tr>
                            </thead>
                            <tbody >
                            </tbody>
                        </table>
					</div>
				</div>
				<!-- <div class="row">
                    <h6 class="modal-title col-lg-12"><b>Bước 4: Nhập thông tin nhận mail</b> </h6>
                 
                    <div class="form-group col-lg-6"><label>TO:</label> 
                        <input type="text" class="form-control" placeholder="nguyenvana@gmail.com,levanb@gmail.com" id="txtTO">
                    </div>
                    <div class="form-group col-lg-6"><label>CC:</label> 
                        <input type="text" class="form-control" placeholder="nguyenvana@gmail.com,levanb@gmail.com" id="txtCC">
                    </div>
                    <div class="form-group col-lg-6"><label>BCC:</label> 
                        <input type="text" class="form-control" placeholder="nguyenvana@gmail.com,levanb@gmail.com" id="txtBCC">
                    </div>
				</div> -->

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-success waves-effect waves-light mr-1"  id="btnConfirmCreateMergeCentralizeOrder">Gôm</button>
					<button class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Hủy</button>
				</div>
            </div>
        </div>
    </div>
</div>