<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	.container-search-order {
        position: relative;
    }
    .container-search-order > svg {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 7;
    }
    .container-search-order > input.form-control {
        width: 350px;
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    }
	.input-filter{
		height: 31px;
	}
	.dataTables_length,
	.dataTables_filter{
		display: none;
	}
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách đơn hàng</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/order/list-order">Order</a></li>
                         <li class="breadcrumb-item active">Danh sách đơn hàng</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-between mb-3">
								<div class="container-filter" style="width: 100%">
									<!-- d-flex flex-wrap -->

									<div class="row">
										<div class="form-group input-filter col-3">
											<select id="scOrderStatusFilter" class="form-control">
												<option value="-1" selected>Trạng thái đơn hàng</option>
												<% ORDER_STATUS_TYPE.forEach(status => { %>
													<option value="<%= status.value %>">
														<%= status.text %> 
													</option>
												<% }) %>
											</select>
										</div>
										<div class="form-group input-filter col-3">
											<select id="scOrderProductFilter" class="form-control">
												<option value="-1" selected>Sản phẩm</option>
											</select>
										</div>
										<div class="form-group input-filter col-3 col-xs-12">
											<select id="scOrderCustomerFilter" class="form-control">
												<option value="-1" selected>Khách hàng</option>
											</select>
										</div>

										<div class="form-group input-filter col-3 col-xs-12">
											<select id="scOrderPaymentFilter" class="form-control">
												<option value="-1" selected>Phương thức thanh toán</option>
												<% PAYMENT_TYPE.forEach(status => { %>
													<option value="<%= status.value %>">
														<%= status.text %> 
													</option>
												<% }) %>
											</select>
										</div>

									</div>

									<div class="row">
										<div class="form-group d-flex input-filter col-6">
											<label for="inputFromDate" style="margin-right: 10px;"> Từ ngày
												<input type="date" id="inputFromDate" class="form-control" style="margin-top:5px;">
											</label>
											<label for="inputToDate"> Đến ngày
												<input type="date" id="inputToDate" class="form-control" style="margin-top:5px">
											</label>
											<label>
												<button class="btn btn-outline-info mt-4 ml-2" id="btnOrderFilter" title="Tìm kiếm">
													<i class="fas fa-search"></i>
													Tìm kiếm
												</button>
											</label>
										</div>
									</div>
 
								</div>

                            </div>

							<div class="col-lg-12 d-flex justify-content-end mb-3">
								<div class="container-search-order">
									<input id="input-search-order" type="text" class="form-control" placeholder="Tìm kiếm">
									<i class="fas fa-search"></i>
								</div>
							</div>
                            <table class="content-table table-list-order" id="tableListOrder">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên khách hàng</th>
										<th>Mã giảm giá</th>
                                        <th>Tổng tiền</th>
                                        <th>Phí giao hàng</th>
										<th>Ngày giao hàng dự tính</th>
                                        <th>Địa chỉ giao hàng</th>
                                        <th>Phương thức thanh toán</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listOrder && listOrder.length) { %>
                                        <% listOrder.forEach(( order, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<a href="/order/detail-order?orderID=<%= order._id %>">
														<i> <%= order.orderID %> </i>
													</a>
												</td>
												<td>
													<i> <%= order.customer ? order.customer.fullname : '' %> </i>
												</td>
												<td>
													<i>
														<%= order.voucher %>
													</i>
												</td>
												<td>
													<i>
														<%= formatCurrency('###,###.', order.amount) %>
													</i>
												</td>
												<td>
													<i>
														<%= formatCurrency('###,###.', order.deliveryPrice) %>
													</i>
												</td>
												<td>
													<i>
														<%= moment(order.deliveryDate).format('L') %> 
													</i>
												</td>
												<td>
													<i>
														<%= order.address ? order.address.address : '' %>
													</i>
												</td>

												<td>
													<i>
														<%= PAYMENT_TYPE[order.payment] && PAYMENT_TYPE[order.payment].text %>
													</i>
												</td>
												<td>
													<% if (order.status === 0) { %>
														<span class="badge badge-pill badge-danger">
															Đang xử lý
														</span>
													<% } %>	

													<% if (order.status === 1) { %>
														<span class="badge badge-pill badge-info">
															Đã nhận đơn
														</span>
													<% } %>	

													<% if (order.status === 2) { %>
														<span class="badge badge-pill badge-warning">
															Đang giao hàng
														</span>
													<% } %>	

													<% if (order.status === 3) { %>
														<span class="badge badge-pill badge-success">
															Đã giao thành công
														</span>
													<% } %>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
