<style>
    .error {
         border-color: #ff6565;    
     }
 
     small{
         color: #ff6565;
         position: absolute;
         visibility: hidden;
     }
     .errors {
         visibility: visible;
     }
 
 
     .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .close {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       /* opacity: .2; */
       text-align: center;
       font-size: 30px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
    .qrcode-preview {
        width: 190px;
        height: 190px;
        position: relative;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
    }
    .qrcode-preview > img {
        width: 100%
    }
    .gallery a img {
        height:  300px ;
        max-height: none;
        /* object-fit: contain; */
    }
    .change-font-img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    .gallery a {
        border: 3px solid #e0e2ea;
        box-shadow: 0 0 10px #cfcfe0;
    }
 </style>
 <div class="content-page">
     <!-- Start content -->
     <div class="content">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                 <div class="page-title-box">
                    <h4 class="page-title">Thông tin Sản Phẩm</h4>
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                       <li class="breadcrumb-item"><a href="javascript:void(0);">Sản Phẩm</a></li>
                       <li class="breadcrumb-item active">Thông tin Sản Phẩm</li>
                    </ol>
                    <!-- <div class="state-information d-none d-sm-block">
                       <div class="state-graph">
                          <div id="header-chart-1"></div>
                          <div class="info">Balance $ 2,317</div>
                       </div>
                       <div class="state-graph">
                          <div id="header-chart-2"></div>
                          <div class="info">Item Sold 1230</div>
                       </div>
                    </div> -->
                 </div>
              </div>
           </div>
           <!-- end row -->
           <div class="row">
               <div class="col-lg-12">
                  <div class="card m-b-20">
                     <div class="card-body">
                        <h2 class="mt-0 header-title"> <b> THÔNG TIN SẢN PHẨM </b> </h2>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label><b>Tên Sản Phẩm</b> </label>
                                <div>
                                    <input type="text" class="form-control" disabled id="txtNameProductUpdate" value="<%= infoProduct && infoProduct.name %>" required placeholder="VD: Độ tuổi từ 18 đến 22">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><b>QR Code</b> </label>
                                <div class="qrImage">
                                    <% if (infoProduct.qr_code ){ %>
                                        <img src="<%= lodash.get(infoProduct.qr_code.image, 'path', '') %>">
                                    <% } %>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><b>Giá Sản Phẩm</b> </label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= formatCurrency('###,###.', infoProduct.price ) %>đ" required placeholder="VD: Độ tuổi từ 18 đến 22">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><b>Danh mục</b> </label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= lodash.get(infoProduct.category, "title", "") %>" required placeholder="VD: Độ tuổi từ 18 đến 22">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><b>Thương hiệu</b> </label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= lodash.get(infoProduct.brand, "name", "") %>" required placeholder="VD: Độ tuổi từ 18 đến 22">
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <label><b>Segment</b> </label>
                                <% infoProduct.segments && infoProduct.segments.length && infoProduct.segments.forEach((element, index) => { %> 
                                    <h6 title="<%= element.name %>">
                                        <span class="badge badge-pill badge-success" style="padding: 10px;">
                                            <%= element.name %>
                                        </span>
                                    </h6>
                                <% }); %> 
                            </div>
                            
                            <div class="form-group col-lg-12">
                                <label><b>Mô tả</b></label>
                                <div><textarea class="form-control" id="txtDescriptionProductUpdate" disabled rows="5"><%= lodash.get(infoProduct, "description", "") %></textarea>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label><b>Nguồn nguyên liệu
                                </b></label>
                                <div>
                                    <%- lodash.get(infoProduct, "sourceMaterial", "") %>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label><b>Sản xuất bởi
                                </b></label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= infoProduct.madeBy %>">
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label><b>Nhập khẩu bởi
                                </b></label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= infoProduct.importedBy %>">
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label><b>Công ty phân phối
                                </b></label>
                                <div>
                                    <input type="text" class="form-control" disabled id="" value="<%= infoProduct.distributor %>">
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label><b>Nội dung</b></label>
                                <div><p><%- infoProduct && infoProduct.content %></p>
                                </div>
                            </div>
                          
                            <div class="col-6">
                                <label>
                                    <b>Hình ảnh</b>
                                </label>
                                <div class="imgAvatar">
                                    <img class="img-fluid img-thumbnail rounded" style="height: 300px; width: 550px; object-fit: contain;" src="<%= infoProduct && infoProduct.avatar ? loadPathImage(infoProduct.avatar.path) : '/template/admin/img/550x300.png' %>">
                                </div>
                            </div>
                            <div class="col-6">
                                <div>
                                    <label>
                                        <b>Trạng thái hoạt động</b>
                                    </label>
                                </div>
                                <div>
                                    <% if(infoProduct.status) { %>
                                        <h5>
                                            <span class="badge badge-pill badge-success" style="padding: 10px;">
                                                Hoạt Động 
                                            </span>
                                        </h5>
                                    <% } else { %>
                                        <h5>
                                            <span class="badge badge-danger" style="padding: 10px;"> 
                                                Không Hoạt Động 
                                            </span>
                                        </h5>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" >
                                    <label style="margin-bottom: 15px; margin-top: 15px;"><b>Album ảnh</b></label> 
                                    <% if (infoProduct.images && infoProduct.images.length) { %>
                                    <div class="row gallery galleryImage">
                                        <%  infoProduct.images.forEach( image => { %>
                                            <div class="col-lg-4" data-src="<%= loadPathImage(image.path)  %>">
                                                <a href="<%= loadPathImage(image.path)  %>" class="effects">
                                                    <img  src="<%= loadPathImage(image.path)  %>" class="img-responsive change-font-img" alt="LDK Software">
                                                    <div class="overlay">
                                                    </div>
                                                </a>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <% } else { %>
                                        <h4><strong>Không có hình ảnh trong Album</strong></h4>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" >
                                    <label style="margin-bottom: 15px; margin-top: 15px;"><b>Hình ảnh Chứng Nhận</b></label> 
                                    <% if (infoProduct.certifiedImages && infoProduct.certifiedImages.length) { %>
                                    <div class="row gallery galleryImage">
                                        <%  infoProduct.certifiedImages.forEach( image => { %>
                                            <div class="col-lg-4" data-src="<%= loadPathImage(image.path)  %>">
                                                <a href="<%= loadPathImage(image.path)  %>" class="effects">
                                                    <img  src="<%= loadPathImage(image.path)  %>" class="img-responsive change-font-img" alt="LDK Software">
                                                    <div class="overlay">
                                                    </div>
                                                </a>
                                            </div>
                                        <% }) %>
                                    </div>
                                    <% } else { %>
                                        <h4><strong>Không có hình ảnh Chứng Nhận</strong></h4>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group right">
                                    <a href="/product/list-product" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> Quay lại danh sách</a>
                                </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
              <!-- end col -->
              
              <!-- end col -->
           </div>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
     </div>
     <!-- content -->
     <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
  </div>