<style>
    #txtCategorySort, #txtBrandSort{
		height: 31px;
		margin-right: 5px;
	}
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
   
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
    /* .dataTables_length,
	.dataTables_filter{
		display: none;
	} */
    /* .container-search-post {
        position: relative;
    }
    .container-search-post > svg {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 7;
    }
    .container-search-post > input.form-control {
        width: 350px;
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    } */
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách Sản Phẩm</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/product/list-product">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách Sản Phẩm</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12">
                                <div class="row">
                                    <div class="form-group col-xl-4 ">
                                        <label>Giá</label> 
                                        <input  type="text" class="form-control" id="txtPriceSort" placeholder="VD: 100,000"
                                            <% if (price) { %>
                                                value= "<%= price %> "
                                            <% } %>
                                        >
                                    </div>
                                    
                                    <div class="form-group col-xl-4 ">
                                        <label>Loại Danh Mục</label> 
                                        <select id="txtCategorySort" class="form-control">
                                            <option value=""> Chọn Danh mục</option>
                                            <% listCategory && listCategory.length && listCategory.forEach( category => { %> 
                                                
                                                <option value="<%= category._id %>"
                                                    <% if (categoryFilter && categoryFilter == category._id) { %>
                                                        selected
                                                    <% } %>
                                                ><%= category.title %></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-4 ">
                                        <label>Loại Thương Hiệu</label> 
                                        <select id="txtBrandSort" class="form-control">
                                            <option value=""> Chọn Thương hiệu</option>
                                            <% listBrand && listBrand.length && listBrand.forEach( brand => { %> 
                                                <option value="<%= brand._id %>"
                                                    <% if (brandFilter && brandFilter == brand._id) { %>
                                                        selected
                                                    <% } %>
                                                ><%= brand.name %></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <label>Từ ngày</label> 
                                        <input  type="date" class="form-control" id="txtStartDateSort"
                                            <% if (fromDay) { %>
                                                value= "<%= fromDay %>"
                                            <% } %>
                                        >
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <label>Đến ngày</label> 
                                        <input  type="date" class="form-control" id="txtEndDateSort"
                                            <% if (toDay) { %>
                                                value= "<%= toDay %>"
                                            <% } %>
                                        >
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <label>Trạng thái</label> 
                                        <select id="txtStatusSort" class="form-control">
                                            <option value=""> Chọn Trạng thái</option>
                                            <% PRODUCT_STATUS.forEach(element => { %>
                                                    <option value="<%= element.value %>"
                                                        <% if (status && element.value == status) { %>
                                                            selected
                                                        <% } %>
                                                    ><%= element.text %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <button style="margin-top: 28px;" type="button" class="btn btn-secondary waves-effect btnFilter"><i class="fa fa-search"></i> Tìm Kiếm</button>
                                    </div>
                                </div>
							</div>
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a style="margin-bottom: 15px;" href="/product/add-product" class="text-left btn btn-outline-success waves-effect waves-light btn-show-modal-create-category">
                                    <i class="fas fa-plus-circle"></i> Tạo Sản Phẩm
                                </a>
                            </div>
                            <p style="font-size:15px; font-style: italic; font-weight: 400; color: rgb(238, 163, 0)">Lưu ý: Cột thứ tự sắp xếp tăng dần</p>
                            <table class="content-table" id="tableListProduct">
								<thead>
									<tr>
										<th>STT</th>
										<th>Hình ảnh</th>
										<th>Tên sản phẩm</th>
										<th>Thứ tự</th>
										<th>Giá</th>
										<th>SKU</th>
										<th>SKU 2</th>
										<th>Danh mục</th>
										<th>Thương hiệu</th>
										<th>Segment</th>
										<th>Sản phẩm thử nghiệm</th>
										<th>Sản phẩm quà tặng</th>
										<th>Quét QR</th>
										<th>Trạng thái</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- POPUP CẬP NHẬT ĐIỂM SẢN PHẨM -->
<div class="modal fade bs-example-modal-sm popup-update-point-product" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật điểm sản phẩm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Điểm sản phẩm</label> 
                    <input type="number" class="form-control" placeholder="VD: 10" id="txtPointProduct">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdatePointProduct">Xác nhận</button>
            </div>
        </div>
    </div>
</div> 