<style>
    .error {
         border-color: #ff6565;    
     }
 
     small{
         color: #ff6565;
         position: absolute;
         visibility: hidden;
     }
     .errors {
         visibility: visible;
     }
 
 
     .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .closes {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       /* opacity: .2; */
       text-align: center;
       font-size: 30px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .closes {
       opacity: 1;
       color: #ff0000 ;
    }
 
    .titlePopup{
        padding: 0;
    }
 
    .hr-19 {
       border: none;
       height: 10px;
       background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
       background-color: #333747 ;
       background-position: left bottom;
       background-repeat: repeat-x;
       background-size: 12px 10px;
    }
    
    .select2-selection__rendered{
       line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
       height: 35px !important;
    }
    .select2-container{
       width: 100% !important;
    }
 
    .avatar-upload {
         position: relative;
         max-width: 205px;
         margin: 35px auto;
     }
     .avatar-upload .avatar-edit {
         position: absolute;
         right: 12px;
         z-index: 1;
         top: 10px;
     }
     .avatar-upload .avatar-edit input {
         display: none;
     }
     .avatar-upload .avatar-edit input + label {
         display: inline-block;
         width: 34px;
         height: 34px;
         margin-bottom: 0;
         border-radius: 100%;
         background: #FFFFFF;
         border: 1px solid transparent;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
         cursor: pointer;
         font-weight: normal;
         transition: all 0.2s ease-in-out;
     }
     .avatar-upload .avatar-edit input + label:hover {
         background: #f1f1f1;
         border-color: #d6d6d6;
     }
     .avatar-upload .avatar-edit input + label:after {
         content: "\f040";
         font-family: 'FontAwesome';
         color: #757575;
         position: absolute;
         top: 10px;
         left: 0;
         right: 0;
         text-align: center;
         margin: auto;
     }
     .avatar-upload .avatar-preview {
         width: 192px;
         height: 192px;
         position: relative;
         border-radius: 100%;
         border: 6px solid #F8F8F8;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
     }
     .avatar-upload .avatar-preview > div {
         width: 100%;
         height: 100%;
         border-radius: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
     }
     .qrcode-preview {
         width: 190px;
         height: 190px;
         position: relative;
         border: 6px solid #F8F8F8;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
         margin: 30px auto;
     }
     .qrcode-preview > img {
         width: 100%
     }
     .gallery a {
        border: 3px solid #e0e2ea;
        box-shadow: 0 0 10px #cfcfe0;
    }
   
 </style>
 <div class="content-page">
     <!-- Start content -->
     <div class="content">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                 <div class="page-title-box">
                    <h4 class="page-title">Tạo Sản Phẩm</h4>
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                       <li class="breadcrumb-item"><a href="javascript:void(0);">Sản Phẩm</a></li>
                       <li class="breadcrumb-item active">Tạo Sản Phẩm</li>
                    </ol>
                    <!-- <div class="state-information d-none d-sm-block">
                       <div class="state-graph">
                          <div id="header-chart-1"></div>
                          <div class="info">Balance $ 2,317</div>
                       </div>
                       <div class="state-graph">
                          <div id="header-chart-2"></div>
                          <div class="info">Item Sold 1230</div>
                       </div>
                    </div> -->
                 </div>
              </div>
           </div>
           <!-- end row -->
           <div class="row">
              <div class="col-lg-6">
                 <div class="card m-b-20">
                    <div class="card-body">
                       <h2 class="mt-0 header-title"> <b> THÔNG TIN SẢN PHẨM </b> </h2>
                       <p class="text-muted m-b-30"><b>(*)</b> Những thông tin có dấu <b>(*)</b>  là thông tin bắt buộc </p>
                       <form class="" action="#">
                          <div class="form-group">
                             <label><b>Tên sản phẩm (*)</b> </label>
                             <div>
                                <input  type="text" class="form-control" id="txtNameProductUpdate" value="<%= infoProduct.name %>" required placeholder="VD: Sữa">
                                <small></small>
                            </div>
                          </div>
                           <div class="form-group">
                                 <label><b>SKU (*)</b>  </label>
                                 <div>
                                    <input  type="text" class="form-control" id="txSKUProductUpdate" value="<%= infoProduct.SKU %>" required placeholder="VD: SVA123">
                                    <small></small>
                                 </div>
                           </div>
                           <div class="form-group">
                              <label> <b>SKU đầu 2 (*)</b></label>
                              <div>
                                 <select class="form-control" id="txSKUProductUpdateV2">
                                       <option value="">Chọn SKU đầu 2</option>
                                       <% listSku2 && listSku2.length && listSku2.forEach(sku => { %>
                                          <option value="<%= sku._id %>"
                                             <% if (infoProduct.sku_2 && infoProduct.sku_2 && infoProduct.sku_2.toString() == sku._id.toString()) { %>
                                                   selected
                                             <% } %>
                                          ><%= sku.name %></option>
                                       <% }) %>
                                 </select>
                                 <small></small>
                                 </div>
                           </div>
                           <!-- <div class="form-group">
                              <label><b>SKU đầu 2</b>  </label>
                              <div>
                                 <input  type="text" class="form-control" id="txSKUProductUpdateV2" value="<%= infoProduct.SKUV2 %>" required placeholder="VD: SVAV2123">
                                 <small></small>
                              </div>
                           </div> -->
                         
                          <div class="form-group">
                             <label><b>Mô tả</b></label>
                             <div>
                                <textarea class="form-control" id="txtDescriptionProductUpdate" rows="5"><%= lodash.get(infoProduct, 'description', '') %></textarea>
                               <small></small>
                            </div>
                          </div>
 
                          <div class="form-group">
                            <label><b>Nội dung chi tiết</b></label>
                            <div><textarea class="form-control" id="txtContent" rows="5"><%= lodash.get(infoProduct, 'content', '') %></textarea>
                              <small></small>
                           </div>
                         </div>

                         <div class="form-group">
                           <label><b>Nguồn nguyên liệu</b></label>
                           <div>
                              <input type="text" class="form-control" id="txtSourceMaterialProductUpdate" required value="<%= lodash.get(infoProduct, 'sourceMaterial', '') %>">
                              <small></small>
                           </div>
                        </div>

                        <div class="form-group">
                           <label><b>Sản xuất bởi</b></label>
                           <div>
                              <textarea class="form-control" id="txtMadeByProductUpdate" rows="3"><%= lodash.get(infoProduct, 'madeBy', '') %></textarea>
                              <small></small>
                           </div>
                        </div>

                        <div class="form-group">
                           <label><b>Nhập khẩu bởi</b></label>
                           <div>
                              <textarea class="form-control" id="txtImportedByProductUpdate" rows="3"><%= lodash.get(infoProduct, 'importedBy', '') %></textarea>
                              <small></small>
                           </div>
                        </div>

                        <div class="form-group">
                           <label><b>Công ty phân phối</b></label>
                           <div>
                              <textarea class="form-control" id="txtDistributorByProductUpdate" rows="3"><%= lodash.get(infoProduct, 'distributor', '') %></textarea>
                              <small></small>
                           </div>
                        </div>

                        <div class="form-group">
                           <label><b>Bộ sưu tập</b></label>
                            <!-- <div class="fallback">
                                 <input type="file" 
                                    class="filepond"
                                    name="filepond" 
                                    multiple 
                                    data-allow-reorder="true"
                                    data-max-file-size="3MB"
                                    data-max-files="3">
                              </div> -->
                           <input type="file" 
                              class="filepond"
                              name="filepond" 
                              multiple 
                              data-allow-reorder="true"
                              data-max-file-size="3MB"
                              data-max-files="5"
                              accept=".png, .jpg, .jpeg" 
                              >

                              <!-- end col -->
                           </br>   
                           <p style="font-size:15px; font-style: italic; font-weight: 400; color: rgb(238, 163, 0)">Lưu ý: Kéo thả hình ảnh để sắp xếp vị trí hiển thị</p>
                            <div class="gallery txtGalleryProductUpdate">
                               <% infoProduct.images && infoProduct.images.length && infoProduct.images.forEach((image, index) => { %> 
								         <% let imageUrl = loadPathImage(image.path) %>
                                 <div class="img-wraps" _imageID="<%= image._id %>" data-src="<%= imageUrl %>">
                                    <span class="closes deleteImage" _type="imgGallery" _imgName="<%= image.name %>" _imageID = "<%= image._id %>">&times;</span>
                                    <a data-src="<%= imageUrl %>" href="<%= imageUrl %>" class="effects khongtrung">
										<img style="object-fit: contain;" src="<%= imageUrl %>" value="<%= image.name %>" width="120px" height="120px" class="img-responsive" alt="LDK SoftWare">
										<div class="overlay">
										</div>
                                    </a>
                                 </div>
                               <% }); %> 
                            </div>
                         </div>
                        <div class="form-group">
                           <label><b>Hình ảnh chứng nhận</b></label>
                            <!-- <div class="fallback">
                                 <input type="file" 
                                    class="filepond"
                                    name="filepond" 
                                    multiple 
                                    data-allow-reorder="true"
                                    data-max-file-size="3MB"
                                    data-max-files="3">
                              </div> -->
                           <input type="file" 
                              class="filepond-certified-images"
                              name="filepond" 
                              multiple 
                              data-allow-reorder="true"
                              data-max-file-size="3MB"
                              data-max-files="5"
                              accept=".png, .jpg, .jpeg" 
                           >
                           <div class="gallery txtCertifiedImagesProductUpdate">
                              <% infoProduct.certifiedImages && infoProduct.certifiedImages.length && infoProduct.certifiedImages.forEach((image, index) => { %> 
								         <% let imageUrl = loadPathImage(image.path) %>
                                 <div class="img-wraps" _imageID="<%= image._id %>" data-src="<%= imageUrl %>">
                                    <span class="closes deleteImage" _type="imgCertifiedImages" _imgName="<%= image.name %>" _imageID = "<%= image._id %>">&times;</span>
                                    <a data-src="<%= imageUrl %>" href="<%= imageUrl %>" class="effects khongtrung">
                                       <img style="object-fit: contain;" src="<%= imageUrl %>" value="<%= image.name %>" width="120px" height="120px" class="img-responsive" alt="LDK SoftWare">
                                       <div class="overlay"></div>
                                    </a>
                                 </div>
                              <% }); %> 
                           </div>
                        </div>
                       </form>
                    </div>
                 </div>
              </div>
              <!-- end col -->
              <div class="col-lg-6">
                 <div class="card m-b-20">
                    <div class="card-body">
                         <h2 class="mt-0 header-title"> <b> THÔNG TIN SẢN PHẨM </b> </h2>
                       <!-- <p class="text-muted m-b-30">Parsley is a javascript form validation library. It helps you provide your users with feedback on their form submission before sending it to your server.</p> -->
                       <form action="#">
                           <div class="form-group">
                              <label><b>Giá (*)</b></label>
                              <div><input  type="text" id="txtPriceProductUpdate" class="form-control" value="<%= formatCurrency('###,###.', infoProduct.price ) %>" required placeholder="VD: 100,000">
                                 <small></small>
                              </div>
                           </div>
                           <div class="form-group">
                              <label> <b>Danh mục (*)</b></label>
                              <div>
                                 <select class="form-control" id="txtCategoryProductUpdate">
                                       <option value="">Chọn Danh Mục</option>
                                       <% listCategory && listCategory.length && listCategory.forEach( category => { %>
                                          <option value="<%= category._id %>"
                                             <% if (infoProduct.category && infoProduct.category._id && category._id.toString() == infoProduct.category._id.toString()) { %>
                                                   selected
                                             <% } %>
                                          ><%= category.title %></option>
                                       <% }) %>
                                 </select>
                                 <small></small>
                                 </div>
                           </div>
                           <div class="form-group">
                              <label><b>Thương hiệu (*)</b></label>
                              <div>
                                 <select class="form-control" id="txtBrandProductUpdate">
                                       <option value="">Chọn Thương Hiệu</option>
                                       <% listBrand && listBrand.length && listBrand.forEach( brand => { %>
                                          <option value="<%= brand._id %>"
                                             <% if (infoProduct.brand && infoProduct.brand._id && brand._id.toString() == infoProduct.brand._id.toString()) { %>
                                                   selected
                                             <% } %>
                                          ><%= brand.name %></option>
                                       <% }) %>
                                 </select>
                                 <small></small>
                                 
                                 </div>
                           </div>
                           <div class="form-group">
                              <label><b>Segment (*)</b></label>
                              <div>
                                 <select class="form-control" id="txtSegmentProductUpdate" multiple>
                                       <option value="">Chọn Segment</option>
                                       <% 
                                          let listSegmentID = infoProduct.segments && infoProduct.segments.map( segment => segment._id.toString() );
                                       %> 
                                       <% listSegment && listSegment.length && listSegment.forEach( segment => { %>
                                          <option value="<%= segment._id %>" 
                                             <% if (listSegmentID && listSegmentID.includes(segment._id.toString())) { %>
                                                   selected
                                             <% } %>
                                             ><%= segment.name %></option>
                                       <% }) %>
                                 </select>
                                 <small></small>
                                 
                                 </div>
                           </div>
                           <div class="form-group">
                              <label><b>Trọng lượng (gram)</b></label>
                              <div><input type="number" id="txtWeightUpdate" class="form-control" value="<%= lodash.get(infoProduct, 'weight', '') %>">
                                 <small></small>
                              </div>
                           </div>
                           <div class="form-group">
                              <label><b>Độ dài (cm)</b></label>
                              <div><input type="number" id="txtLengthUpdate" class="form-control" value="<%= lodash.get(infoProduct, 'length', '') %>">
                                 <small></small>
                              </div>
                           </div>
                           <div class="form-group">
                              <label><b>Độ rộng (cm)</b></label>
                              <div><input type="number" id="txtWidthUpdate" class="form-control" value="<%= lodash.get(infoProduct, 'width', '') %>">
                                 <small></small>
                              </div>
                           </div>
                           <div class="form-group">
                              <label><b>Chiều cao (cm)</b></label>
                              <div><input type="number" id="txtHeightUpdate" class="form-control" value="<%= lodash.get(infoProduct, 'height', '') %>">
                                 <small></small>
                              </div>
                           </div>
                           <div class="form-group">
                              <label><b>Hình ảnh đại diện (*)</b></label>
                              <div class="container">
                                 <div class="avatar-upload">
                                    <div class="avatar-edit">
                                          <input type="file" id="txtAvatarProductUpdate" accept=".png, .jpg, .jpeg" _avatarID = "<%= infoProduct.avatar && infoProduct.avatar._id %>" />
                                          <label for="txtAvatarProductUpdate"></label>
                                    </div>
                                    <div class="gallery imageAvatar avatar-preview">
                                          <div id="imagePreview" style="background-image: url(<%= infoProduct.avatar ? loadPathImage(infoProduct.avatar.path) : 'https://via.placeholder.com/500x500' %>);"></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                          
                          <div class="form-group">
                              <label><b>Trạng thái</b></label>
                             <div class="container">
                                 <% if (infoProduct.status == 1) { %>
                                    <div style="float: left;">
                                        <input class="status" type="checkbox" id="<%= infoProduct._id  %>" switch="none" checked="checked"> 
                                        <label  for="<%= infoProduct._id  %>" data-on-label="On" data-off-label="Off"></div>
                                <% }else{%>
                                    <div style="float: left;">
                                        <input type="checkbox"class="status" id="<%= infoProduct._id  %>" switch="none"> 
                                        <label for="<%= infoProduct._id  %>" data-on-label="On" data-off-label="Off">
                                    </div>
                                <%} %>
                              </div>
                           </div>
                            <div class="form-group">
                               <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnUpdateProduct" _productID = "<%= infoProduct._id %>">Chỉnh Sửa</button>
                               <a href="/product/list-product" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                           </div>
                       </form>
                    </div>
                 </div>
              </div>
              <!-- end col -->
           </div>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
     </div>
     <!-- content -->
     <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
  </div>