<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách thương hiệu</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/brand/list-brand">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách thương hiệu</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
								<a style="margin-bottom: 15px;" href="/brand/add-brand" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-brand">
									<i class="fas fa-plus-circle"></i> Tạo thương hiệu
								</a>
							</div>
                            <table class="content-table" id="tableListBrand">
								<thead>
									<tr>
										<th>STT</th>
                                        <th>Hình ảnh</th>
										<th>Tên thương hiệu</th>
										<th>Thứ tự</th>
										<th>Mô tả</th>
										<th>website</th>
										<th>Trạng thái</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listBrand && listBrand.length) { %>
                                        <% listBrand.forEach((brand, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td>
                                                    <% if (brand && brand.image) { %>
													    <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(brand.image.path) %>">
                                                    <% } else{ %>
													    <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="/template/admin/img/75x75.png">
													<% } %>
												</td>
                                                <td><a href="/brand/info-detail-brand/<%= brand._id %>"><%= brand.name %></a></td>
                                                <td>
                                                    <input type="number" id="txtSTT"  _brandID="<%= brand._id %>" class="form-control" value="<%= brand && brand.stt || '' %>" required="" placeholder="VD: 1">
                                                </td>
                                               
                                                <td><%= brand.description.length > 75 ? brand.description.substr(0, 75).concat('...') : brand.description %></td>
                                                <td><%= brand && brand.linkWebsite %></td>
                                                <td>
                                                    <% if(brand.status) { %>
                                                        <span class="badge badge-pill badge-success" style="padding: 10px; font-size: 10px;">
                                                            Hoạt Động 
                                                        </span>
                                                    <% } else { %>
                                                        <span class="badge badge-pill badge-danger" style="padding: 10px; font-size: 10px;"> 
                                                            Không Hoạt Động 
                                                        </span>
                                                    <% } %>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-show-modal-update-brand" href="/brand/update-brand?brandID=<%= brand._id %>" _brandID="<%= brand._id %>">
                                                                <i class="fa fa-edit"></i>
                                                                Sửa Thông Tin
                                                            </a>
															<a class="dropdown-item btnDeleteBrand" href="javascript:void(0)" _brandID="<%= brand._id %>">
                                                                <i class="fa fa-trash"></i>
                                                                Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>