<!-- Left Sidenav -->
<div class="left-sidenav">
	<!-- begin logo -->
	<div class="brand">
		<a href="/distributor/list-distributor" class="logo">
			<!-- <span>
				<img src="https://staging.nandio.gq/files/logos/logo-thien-viet.png" alt="logo-small" class="logo-sm">
			</span> -->
			<span>
				<img src="/files/logos/logo-thien-viet.png" alt="logo-large" style="height: 55px; margin-top: 15px;" class="logo-lg logo-light">
				<img src="/files/logos/logo-thien-viet.png" alt="logo-large" class="logo-lg logo-dark">
			</span>
		</a>
	</div>
	<!--end logo-->

	<%
		let arrUrl = [
            {
                header: 'Quản Lý CORE',
                group: 'region_area',
                name: 'Quản lý miền',
                scope: 'read:list_region',
                icon: '<i class="fab fa-joget"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:region',
                        path: '/region/add-region'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_region',
                        path: '/region/list-region'
                    }
                ]
            },
            {
                name: 'Quản lý vùng',
                scope: 'read:list_area',
                icon: '<i class="fas fa-chart-area"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:area',
                        path: '/area/add-area'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_area',
                        path: '/area/list-area'
                    }
                ]
            },

            {
                name: 'Quản lý ca làm việc',
                scope: 'read:list_shift',
                icon: '<i class="fas fa-clock"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:shift',
                        path: '/shift/add-shift'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_shift',
                        path: '/shift/list-shift'
                    }
                ]
            },


            {
                header: 'Quản Lý Nhà Phân Phối - Cửa Hàng',
                group: 'distributor',
                name: 'Quản lý nhà phân phối',
                scope: 'read:list_distributor',
                icon: '<i class="fas fa-home"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:distributor',
                        path: '/distributor/add-distributor'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_distributor',
                        path: '/distributor/list-distributor'
                    }
                ]
            },

            {
                name: 'Quản lý cửa hàng',
                scope: 'read:list_store',
                icon: '<i class="fab fa-app-store-ios"></i>',
                childs: [
                    // {
                    //     name: 'Tạo cửa hàng',
                    //     scope: 'create:store',
                    //     path: '/store/add-store'
                    // },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_store',
                        path: '/store/list-store'
                    }
                ]
            },

            {
                header: 'Quản Lý Nhân Viên',
                group: 'employee',
                name: 'Quản lý nhân viên',
                scope: 'read:list_employee',
                icon: '<i class="fas fa-user-check"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:employee',
                        path: '/employee/add-employee'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_employee',
                        path: '/employee/list-employee'
                    }
                ]
            },

            {
                name: 'Quản lý chi tiết loại nhân viên',
                scope: 'read:list_detail_type_employee',
                icon: '<i class="fas fa-allergies"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:detail_type_employee',
                        path: '/detail_type_employee/add-detail_type_employee'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_detail_type_employee',
                        path: '/detail_type_employee/list-detail_type_employee'
                    }
                ]
            },


            {
                name: 'Quản lý nhân viên HR',
                scope: 'read:list_employee_hr',
                icon: '<i class="fas fa-briefcase"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:employee_hr',
                        path: '/employee_hr/add-employee_hr'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_employee_hr',
                        path: '/employee_hr/list-employee_hr'
                    }
                ]
            },



            {
                header: 'Quản Lý Thương Hiệu',
                group: 'brand',
                name: 'Quản lý thương hiệu',
                scope: 'read:list_brand',
                icon: '<i class="fas fa-trademark"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:brand',
                        path: '/brand/add-brand'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_brand',
                        path: '/brand/list-brand'
                    }
                ]
            },


            {
                header: 'Quản Lý Lịch Làm Việc',
                group: 'calendar_task',
                name: 'Quản lý lịch làm việc NA',
                scope: 'read:list_calendar_task_na',
                icon: '<i class="fas fa-tasks"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:calendar_task_na',
                        path: '/calendar_task_na/add-calendar_task_na'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_calendar_task_na',
                        path: '/calendar_task_na/list-calendar_task_na'
                    }
                ]
            },


            {
                name: 'Quản lý lịch làm việc PG',
                scope: 'read:list_calendar_task_pg',
                icon: '<i class="fas fa-th"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:calendar_task_pg',
                        path: '/calendar_task_pg/add-calendar_task_pg'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_calendar_task_pg',
                        path: '/calendar_task_pg/list-calendar_task_pg'
                    }
                ]
            },


            {
                header: 'Quản Lý Chấm Công',
                group: 'checkin_checkout',
                name: 'Quản lý lịch sử chấm công',
                scope: 'read:list_checkin_checkout',
                icon: '<i class="far fa-calendar-alt"></i>',
                childs: [
                    {
                        name: 'Danh sách',
                        scope: 'read:list_checkin_checkout',
                        path: '/checkin_checkout/list-checkin_checkout'
                    }
                ]
            },

            {
                header: 'Quản Lý Thông Báo',
                group: 'notification',
                name: 'Quản lý thông báo',
                scope: 'read:list_notification',
                icon: '<i class="fas fa-bell"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:notification',
                        path: '/notification/add-notification'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_notification',
                        path: '/notification/list-notification'
                    }
                ]
            },

            {
                name: 'Quản lý thông báo của nhân viên',
                scope: 'read:list_receiver_notification',
                icon: '<i class="far fa-bell"></i>',
                childs: [
                    {
                        name: 'Tạo mới',
                        scope: 'create:receiver_notification',
                        path: '/receiver_notification/add-receiver_notification'
                    },
                    {
                        name: 'Danh sách',
                        scope: 'read:list_receiver_notification',
                        path: '/receiver_notification/list-receiver_notification'
                    }
                ]
            },


        {
            header: 'Quản Lý Khách Hàng',
            group: 'customer',
            name: 'Quản lý khách hàng',
            scope: 'read:list_customer',
            icon: '<i class="fas fa-user-plus"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:customer',
                    path: '/customer/add-customer'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_customer',
                    path: '/customer/list-customer'
                }
            ]
        },


        {
            header: 'Quản Lý Sản Phẩm',
            group: 'product',
            name: 'Quản lý sản phẩm',
            scope: 'read:list_product',
            icon: '<i class="fab fa-product-hunt"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:product',
                    path: '/product/add-product'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_product',
                    path: '/product/list-product'
                }
            ]
        },

        {
            header: 'Quản Lý Tiêu Chí chiến dịch',
            group: 'campaign_criteria',
            name: 'Quản lý tiêu chí',
            scope: 'read:list_criteria',
            icon: '<i class="fas fa-arrows-alt"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:criteria',
                    path: '/criteria/add-criteria'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_criteria',
                    path: '/criteria/list-criteria'
                }
            ]
        },

        {
            // header: 'Quản Lý Chiến Dịch',
            // group: 'campaign_criteria',
            name: 'Quản lý chiến dịch',
            scope: 'read:list_campaign',
            icon: '<i class="fab fa-free-code-camp"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:campaign',
                    path: '/campaign/add-campaign'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_campaign',
                    path: '/campaign/list-campaign'
                }
            ]
        },

        {
            // header: 'Quản Lý Tiêu Chí Sản Phẩm',
            // group: 'campaign_criteria',
            name: 'Quản lý tiêu chí sản phẩm',
            scope: 'read:list_products_criteria',
            icon: '<i class="fas fa-project-diagram"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:products_criteria',
                    path: '/products_criteria/add-products_criteria'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_products_criteria',
                    path: '/products_criteria/list-products_criteria'
                }
            ]
        },

        {
            name: 'Tiêu chí chiến dịch',
            scope: 'read:list_criteria_campaign_config',
            icon: '<i class="fas fa-project-diagram"></i>',
            childs: [
                {
                    name: 'Tạo mới',
                    scope: 'create:criteria_campaign_config',
                    path: '/criteria_campaign_config/add-criteria_campaign_config'
                },
                {
                    name: 'Danh sách',
                    scope: 'read:list_criteria_campaign_config',
                    path: '/criteria_campaign_config/list-criteria_campaign_config'
                }
            ]
        },

        {
            header: 'Quản Lý Cấu Hình',
            group: 'config',
            name: 'Giới hạn quà tặng',
            scope: 'read:list_limit_gift_config',
            icon: '<i class="fas fa-gifts"></i>',
            childs: [
                // {
                //     name: 'Tạo mới',
                //     scope: 'create:limit_gift_config',
                //     path: '/limit_gift_config/add-limit_gift_config'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_limit_gift_config',
                    path: '/limit_gift_config/list-limit_gift_config'
                }
            ]
        },

        {
            group: 'config',
            name: 'Giới hạn hàng dùng thử',
            scope: 'read:list_limit_sampling_config',
            icon: '<i class="fas fa-box-open"></i>',
            childs: [
                // {
                //     name: 'Tạo mới',
                //     scope: 'create:limit_sampling_config',
                //     path: '/limit_sampling_config/add-limit_sampling_config'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_limit_sampling_config',
                    path: '/limit_sampling_config/list-limit_sampling_config'
                }
            ]
        },



        {
            group: 'config',
            name: 'Quản lý cấu hình kpi',
            scope: 'read:list_limit_kpi_config',
            icon: '<i class="fas fa-chalkboard-teacher"></i>',
            childs: [
                // {
                //     name: 'Tạo mới',
                //     scope: 'create:limit_kpi_config',
                //     path: '/limit_kpi_config/add-limit_kpi_config'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_limit_kpi_config',
                    path: '/limit_kpi_config/list-limit_kpi_config'
                }
            ]
        },

        {
            group: 'config',
            name: 'Quản lý cấu hình hệ thống',
            scope: 'read:list_system_config',
            icon: '<i class="fas fa-cogs"></i>',
            childs: [
                // {
                //     name: 'Tạo mới',
                //     scope: 'create:system_config',
                //     path: '/system_config/add-system_config'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_system_config',
                    path: '/system_config/list-system_config'
                }
            ]
        },

        {
            header: 'Quản Lý Lịch Sử',
            group: 'history',
            name: 'Lịch sử tích điểm',
            path: '/saleout/list-saleout',
            scope: 'read:list_saleout',
            icon: '<i class="fas fa-gem"></i>',
            childs: [
                // {
                //     name: 'Tạo tích điểm',
                //     scope: 'create:saleout',
                //     path: '/saleout/add-saleout'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_saleout',
                    path: '/saleout/list-saleout'
                }
            ]
        },


        {
            group: 'history',
            name: 'Lịch sử tạo khách hàng',
            scope: 'read:list_history_init_customer',
            icon: '<i class="fas fa-user-plus"></i>',
            childs: [
                // {
                //     name: 'Tạo lịch sử khởi tạo khách hàng',
                //     scope: 'create:history_init_customer',
                //     path: '/history_init_customer/add-history_init_customer'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_history_init_customer',
                    path: '/history_init_customer/list-history_init_customer'
                }
            ]
        },

        {
            group: 'history',
            name: 'Lịch sử đổi quà',
            scope: 'read:list_history_exchange_gift',
            icon: '<i class="fas fa-gift"></i>',
            childs: [
                // {
                //     name: 'Tạo lịch sử đổi quà',
                //     scope: 'create:history_exchange_gift',
                //     path: '/history_exchange_gift/add-history_exchange_gift'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_history_exchange_gift',
                    path: '/history_exchange_gift/list-history_exchange_gift'
                }
            ]
        },

        {
            group: 'history',
            name: 'Lịch sử hàng dùng thử',
            scope: 'read:list_history_exchange_sampling',
            icon: '<i class="fas fa-dumpster"></i>',
            childs: [
                // {
                //     name: 'Tạo lịch sử hàng dùng thử',
                //     scope: 'create:history_exchange_sampling',
                //     path: '/history_exchange_sampling/add-history_exchange_sampling'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_history_exchange_sampling',
                    path: '/history_exchange_sampling/list-history_exchange_sampling'
                }
            ]
        },

        {
            header: 'Quãn lý tồn đầu',
            group: 'inventory_begin_month',
            name: 'Dữ liệu tồn đầu',
            scope: 'read:list_inventory_begin_month',
            icon: '<i class="fas fa-gift"></i>',
            childs: [
                {
                    name: 'Danh sách',
                    scope: 'read:list_inventory_begin_month',
                    path: '/inventory_begin_month/list-inventory_begin_month'
                }
            ]
        },



        {
            header: 'Quản Lý employee_store',
            group: 'employee_store',
            name: 'Quản lý nhân viên cửa hàng',
            scope: 'read:list_employee_store',
            icon: '<i class="fas fa-user-secret"></i>',
            childs: [
                {
                    name: 'Tạo nhân viên cửa hàng',
                    scope: 'create:employee_store',
                    path: '/employee_store/add-employee_store'
                },
                {
                    name: 'Danh sách nhân viên cửa hàng',
                    scope: 'read:list_employee_store',
                    path: '/employee_store/list-employee_store'
                }
            ]
        },

        {
            header: 'Quản Lý inventory',
            group: 'inventory',
            name: 'Quản lý tồn kho',
            scope: 'read:list_inventory',
            icon: '<i class="fas fa-box"></i>',
            childs: [
                // {
                //     name: 'Tạo mới',
                //     scope: 'create:inventory',
                //     path: '/inventory/add-inventory'
                // },
                {
                    name: 'Danh sách',
                    scope: 'read:list_inventory',
                    path: '/inventory/list-inventory'
                }
            ]
        },

        {
            header: 'Quản Lý kpi (mới 27/02/2022)',
            group: 'kpi',
            name: 'Quản lý Cấu Hình KPI',
            scope: 'read:list_kpi_salein_require',
            icon: '<i class="fas fa-chalkboard-teacher"></i>',
            childs: [
                {
                    name: 'Chỉ Tiêu Salein',
                    scope: 'read:list_kpi_salein_require',
                    path: '/kpi_salein_require/list-kpi_salein_require'
                },
                {
                    name: 'Chỉ Tiêu Trưng Bày',
                    scope: 'read:list_kpi_present_require',
                    path: '/kpi_present_require/list-kpi_present_require'
                },
                {
                    name: 'Chỉ Tiêu SBD',
                    scope: 'read:list_kpi_sbd_require',
                    path: '/kpi_sbd_require/list-kpi_sbd_require'
                },
                {
                    name: 'Cấu hình sản phẩm MHTT(salein)',
                    scope: 'read:list_kpi_mhtt_config_products',
                    path: '/kpi_mhtt_config_products/list-kpi_mhtt_config_products'
                },
                {
                    name: 'Chỉ Tiêu MHTT(salein)',
                    scope: 'read:list_kpi_mhtt_require',
                    path: '/kpi_mhtt_require/list-kpi_mhtt_require'
                },
                {
                    name: 'Thực Đạt Salein',
                    scope: 'read:list_kpi_salein_actually',
                    path: '/kpi_salein_actually/list-kpi_salein_actually'
                },
                {
                    name: 'Thực Đạt Trưng Bày',
                    scope: 'read:list_kpi_present_actually',
                    path: '/kpi_present_actually/list-kpi_present_actually'
                },
                {
                    name: 'Thực Đạt MHTT(salein)',
                    scope: 'read:list_kpi_mhtt_require',
                    path: '/kpi_salein_actually/list-kpi_salein_actually?typeExistsIsMHTT=mhtt' //vì MHTT lấy từ salein
                },
                {
                    name: 'Download KPI',
                    scope: 'read:list_kpi_present_actually',
                    path: '/api/limit_kpi_config/report-kpi'
                },

            ]
        },

        {
            header: 'Quản lý tiền chương trình',
            group: 'manage_money',
            name: 'Quản lý tiền chương trình',
            scope: 'read:manage_money',
            icon: '<i class="fas fa-box"></i>',
            childs: [
                {
                    name: 'Tạo mới/Cập nhật',
                    scope: 'create:money',
                    path: '/manage_money'
                }
            ]
        },

        {
            header: 'Quản Lý trial_program',
            group: 'trial_program',
            name: 'Quản lý Lịch sử các lần NA call cho Customer',
            scope: 'read:list_trial_program_history_contact',
            icon: '<i class="fas fa-user-secret"></i>',
            childs: [
                {
                    name: 'Tạo Lịch sử các lần NA call cho Customer',
                    scope: 'create:trial_program_history_contact',
                    path: '/trial_program_history_contact/add-trial_program_history_contact'
                },
                {
                    name: 'Danh sách Lịch sử các lần NA call cho Customer',
                    scope: 'read:list_trial_program_history_contact',
                    path: '/trial_program_history_contact/list-trial_program_history_contact'
                }
            ]
        },
    
			// MARK
		]
	%>

	<div class="menu-content h-100" data-simplebar>
		<ul class="metismenu left-sidenav-menu">
			<% if (ROLE_USER === 'SUPERVISOR') { %>
                <!-- <li class="menu-label mt-0">SUPERVISOR</li> -->
				<li>
					<a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Dashboard</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
					<ul class="nav-second-level" aria-expanded="false">
						<li class="nav-item">
							<a class="nav-link" href="/admin/generate-tools">
								<i class="ti-control-record"></i>
								Generator Package
							</a>
						</li>
					</ul>
				</li>
                <li>
                    <a href="javascript: void(0);"> <i class="fas fa-lock"></i><span>User Management</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/roles">
                                <i class="ti-control-record"></i>
                                Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/apis">
                                <i class="ti-control-record"></i>
                                APIs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">
                                <i class="ti-control-record"></i>
                                Users
                            </a>
                        </li>
                    </ul>
                </li>
            <% } %>

            <!-- Chỉ cho phép role superviser và root -->
          	<% if (infoUser.roles.includes(ROLE_ROOT) ||infoUser.roles.includes(ROLE_SUPERVISOR)) { %>
                <hr class="hr-dashed hr-menu">
                <li class="menu-label my-2">Quản Lý Admin</li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="fas fa-user-shield"></i>
                        <span>Quản lý admin</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/list-admin">
                                <i class="ti-control-record"></i>
                                Danh sách admin
                            </a>
                        </li>
                    </ul>
                </li>
            <% } %>

			<% arrUrl.forEach(urlObj => { %>
				<% if(scopes.includes(urlObj.scope) || ROLE_USER === 'SUPERVISOR') { %>
					<% if(urlObj.header){ %>
						<hr class="hr-dashed hr-menu">
				        <li class="menu-label my-2"> <%= urlObj.header %> </li>
					<% } %>

 					<li>
			            <a href="javascript: void(0);">
			                <%- urlObj.icon %>
			                <span> <%= urlObj.name %> </span>
			                <span class="menu-arrow">
			                    <i class="mdi mdi-chevron-right"></i>
			                </span>
			            </a>
			            <ul class="nav-second-level" aria-expanded="false">
			                <li class="nav-item">
								<% urlObj.childs && urlObj.childs.forEach(urlObjChild => { %>
									<% if(scopes.includes(urlObjChild.scope) || ROLE_USER === 'SUPERVISOR'){ %>
										<a class="nav-link" href="<%= urlObjChild.path %>">
											<i class="ti-control-record"></i>
											<%= urlObjChild.name %>
										</a>
									<% } %>
					            <% }) %>
			                </li>
			            </ul>
			        </li>
				<% } %>

	        <% }) %>

		</ul>
		<!-- <div class="update-msg text-center">
			<a href="javascript: void(0);" class="float-end close-btn text-muted" data-dismiss="update-msg" aria-label="Close" aria-hidden="true">
				<i class="mdi mdi-close"></i>
			</a>
			<h5 class="mt-3">Mannat Themes</h5>
			<p class="mb-3">We Design and Develop Clean and High Quality Web Applications</p>
			<a href="javascript: void(0);" class="btn btn-outline-warning btn-sm">Upgrade your plan</a>
		</div> -->
	</div>
</div>
<!-- end left-sidenav-->
