<script>
	$(document).ready(function () {
		let kind = getParams('kind');

		$('#tableListWalletCustomer').DataTable({
			'iDisplayLength': 25,
			...languageDataTable,
			"processing": true,
            "serverSide": true,
            'ajax': {
                'url': '<%= CF_ROUTINGS_CUSTOMER.LIST_WALLET_OF_CUSTOMER_PAGINATION %>',
                type: 'POST',
                'data': function (data) {
					// console.log({
					// 	data
					// });
                    return {
						kind,
						...data
					}
                },
                "dataSrc": function (json){
					console.log({
						json
					});
                    return json.data;
                }
            },
            "columns": [
                { "data": "indexChange" },
                { "data": "id" },
                { "data": "nameCustomer" },
                { "data": "emailCustomer" },
                { "data": "phoneCustomer" },
                { "data": "genderCustomer" },
                { "data": "pointCustomer" },
                { "data": "createAt" },
            ],
		});
		
	});
</script>