<script>
    $(document).ready(function() {


        $("#field_config_register_trial_program__trialprogram").select2({
            width: "100%"
        });


        initInputMaxLength('#field_config_register_trial_program__title');
        initInputMaxLength('#field_config_register_trial_program__values');





        const getFormInsert = () => {

            let trialProgram = $('#field_config_register_trial_program__trialprogram').val();

            let title = $('#field_config_register_trial_program__title').val();

            let type = $('#field_config_register_trial_program__type').val();

            let values = $('#field_config_register_trial_program__values').val();

            let status = $('#field_config_register_trial_program__status').val();

            return {
                trialProgram,
                title,
                type,
                values,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                trialProgram,
                title,
                type,
                values,
                status,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_FIELD_CONFIG_REGISTER_TRIAL_PROGRAM.ADD_FIELD_CONFIG_REGISTER_TRIAL_PROGRAM %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm Cấu hình field thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>