<script>
    $(document).ready(function() {

        $("#field_config_register_trial_program__trialprogram").select2({
            width: "100%"
        });
        $("#field_config_register_trial_program__trialprogram").val("<%= infoField_config_register_trial_program.trialProgram && infoField_config_register_trial_program.trialProgram._id %>").trigger('change');



        initInputMaxLength('#field_config_register_trial_program__title');
        initInputMaxLength('#field_config_register_trial_program__values');





        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let trialProgram = $('#field_config_register_trial_program__trialprogram').val();
            let title = $('#field_config_register_trial_program__title').val();

            let type = $('#field_config_register_trial_program__type').val();
            let values = $('#field_config_register_trial_program__values').val();

            let status = $('#field_config_register_trial_program__status').val();

            return {
                trialProgram,
                title,
                type,
                values,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                trialProgram,
                title,
                type,
                values,
                status,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_FIELD_CONFIG_REGISTER_TRIAL_PROGRAM.UPDATE_FIELD_CONFIG_REGISTER_TRIAL_PROGRAM_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật Cấu hình field thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.field_config_register_trial_programID = $(this).attr('__field_config_register_trial_programID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>