<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới Bảng lưu những giá trị mà khách hàng nhập hoặc chọn những trường cấu hình thêm khi đăng ký dùng thử trialprogram</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/user_fields_register_trial_program/list-user_fields_register_trial_program">Quản lý Bảng lưu những giá trị mà khách hàng nhập hoặc chọn những trường cấu hình thêm khi đăng ký dùng thử trialprogram</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="user_fields_register_trial_program__value">
                                value
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="user_fields_register_trial_program__value" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="user_fields_register_trial_program__field">
                                field
                            </label>
                            <select class="form-select mt-2" id="user_fields_register_trial_program__field" data-placeholder="Chọn field">

                                <option value="null" selected disabled>Chọn field</option>
                                <% if(listFields && listFields.length){ %>
                                <% listFields.forEach(field_config_register_trial_program => { %>
                                <option value="<%= field_config_register_trial_program._id %>">
                                    <%= field_config_register_trial_program.title %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/user_fields_register_trial_program/list-user_fields_register_trial_program" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>