<script>
    $(document).ready(function() {

        $("#history_exchange_gift__store").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/store/list-stores',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.name,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#history_exchange_gift__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.fullname,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#history_exchange_gift__customer").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/customer/list-customers',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.fullname,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#history_exchange_gift__reward").select2({
            width: "100%"
        });
        $("#history_exchange_gift__reward").val("<%= infoHistory_exchange_gift.reward && infoHistory_exchange_gift.reward._id %>").trigger('change');

        let pointCleave = initOneCleave("#history_exchange_gift__point");

        initInputMaxLength('#history_exchange_gift__deviceid');
        initInputMaxLength('#history_exchange_gift__devicename');
        initInputMaxLength('#history_exchange_gift__lat');
        initInputMaxLength('#history_exchange_gift__lng');



        $('#history_exchange_gift__point').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#history_exchange_gift__point', "Vui lòng nhập điểm");
            } else {
                disableValidate('#history_exchange_gift__point');
            }
        });


        $('#history_exchange_gift__distributor').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/history_exchange_gift/list-store-by-parent?distributor=" + value,
            }).done(resp => {
                $('#history_exchange_gift__store').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#history_exchange_gift__store').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let store = $('#history_exchange_gift__store').val();
            let employee = $('#history_exchange_gift__employee').val();
            let customer = $('#history_exchange_gift__customer').val();
            let reward = $('#history_exchange_gift__reward').val();
            let point = pointCleave.getRawValue();
            let checkin = $('#history_exchange_gift__checkin').val();
            let deviceType = $('#history_exchange_gift__devicetype').val();
            let deviceID = $('#history_exchange_gift__deviceid').val();
            let deviceName = $('#history_exchange_gift__devicename').val();
            let lat = $('#history_exchange_gift__lat').val();
            let lng = $('#history_exchange_gift__lng').val();

            return {
                store,
                employee,
                customer,
                reward,
                point,
                checkin,
                deviceType,
                deviceID,
                deviceName,
                lat,
                lng,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                customer,
                reward,
                point,
                checkin,
                deviceType,
                deviceID,
                deviceName,
                lat,
                lng,
            } = params;
            let fieldsError = [];

            if (deviceType && !["ANDROID", "IOS"].includes(deviceType)) {
                fieldsError = [...fieldsError, 'history_exchange_gift__devicetype'];
                enableValidate('#history_exchange_gift__devicetype', "loại thiết bị không hợp lệ");
            } else {
                if (!fieldsError.includes('history_exchange_gift__devicetype')) {
                    disableValidate('#history_exchange_gift__devicetype');
                }
            }




            if (!store) {
                fieldsError = [...fieldsError, 'history_exchange_gift__store'];
                enableValidate('#history_exchange_gift__store', "Vui lòng chọn cửa hàng");
            } else {
                if (!fieldsError.includes('history_exchange_gift__store')) {
                    disableValidate('#history_exchange_gift__store');
                }
            }

            if (!employee) {
                fieldsError = [...fieldsError, 'history_exchange_gift__employee'];
                enableValidate('#history_exchange_gift__employee', "Vui lòng chọn nhân viên");
            } else {
                if (!fieldsError.includes('history_exchange_gift__employee')) {
                    disableValidate('#history_exchange_gift__employee');
                }
            }

            if (!customer) {
                fieldsError = [...fieldsError, 'history_exchange_gift__customer'];
                enableValidate('#history_exchange_gift__customer', "Vui lòng chọn khách hàng");
            } else {
                if (!fieldsError.includes('history_exchange_gift__customer')) {
                    disableValidate('#history_exchange_gift__customer');
                }
            }

            if (!reward) {
                fieldsError = [...fieldsError, 'history_exchange_gift__reward'];
                enableValidate('#history_exchange_gift__reward', "Vui lòng chọn quà");
            } else {
                if (!fieldsError.includes('history_exchange_gift__reward')) {
                    disableValidate('#history_exchange_gift__reward');
                }
            }

            if (!point) {
                fieldsError = [...fieldsError, 'history_exchange_gift__point'];
                enableValidate('#history_exchange_gift__point', "Vui lòng nhập điểm");
            } else {
                if (!fieldsError.includes('history_exchange_gift__point')) {
                    disableValidate('#history_exchange_gift__point');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }
        
        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_HISTORY_EXCHANGE_GIFT.UPDATE_HISTORY_EXCHANGE_GIFT_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật lịch sử đổi quà thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.history_exchange_giftID = $(this).attr('__history_exchange_giftID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>