<style>
    /* .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   } */
   img.img-thumbnail{
        width: 100px;
    }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
    .img-wraps {
        width: 140px;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Tạo Flash Sale</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/promotion/add-flash-sale">Admin</a></li>
                         <li class="breadcrumb-item active">Tạo Flash Sale</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group">
                                    <label><b>Tiêu đề</b></label> 
                                    <input type="text" class="form-control" id="txtName" placeholder="Nhập tên Flash Sale">
                                </div>

                                <div class="form-group">
                                    <label><b>Mô tả</b></label> 
                                    <textarea class="form-control" id="txtDescription" rows="5" placeholder="Nhập mô tả Flash Sale"></textarea>
                                </div>

                                <div class="form-group">
                                    <label><b>Nội dung chi tiết</b></label> 
                                    <textarea class="form-control" id="txtContent"></textarea>
                                </div>

                                <div class="form-group">
                                    <label><b>Album ảnh</b></label> 
                                    <input id="btnUploadGallery" type="file" style="width: 100%; height: 100px; margin-bottom: 10px;" class="form-control" accept="image/*" multiple >
                                    <div class="gallery image-gallery" style="display: flex; flex-wrap: wrap;">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        <b>Loại khuyến mãi</b>
                                    </label> 
                                    <select class="form-control" id="txtTypeDiscount">
                                        <option value="1">Giảm giá theo tiền</option>
                                        <option value="2">Giảm giá theo %</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Mã khuyến mãi</b>
                                    </label> 
                                    <input class="form-control" type="text" placeholder="Nhập code" id="txtCode">
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Chọn sản phẩm</b>
                                    </label> 
                                    <select class="form-control" id="txtProducts" multiple>
                                        <% listProduct.forEach(product => { %>
                                            <option value="<%= product._id%>"><%= product.name %></option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Tổng giảm</b>
                                    </label> 
                                    <input class="form-control" type="text" placeholder="VD: giảm 50 nghìn thì nhập 50000 , 5 phần trăm thì nhập 5" id="txtAmountDiscount">
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>
                                                <b>Thời gian từ ngày</b>
                                            </label> 
                                            <input class="form-control" type="datetime-local" id="txtStartTime" value="<%= moment().format('YYYY-MM-DD')%>">
                                        </div>
                                        <div class="col-6">
                                            <label>
                                                <b>Đến ngày</b>
                                            </label> 
                                            <input class="form-control" type="datetime-local" id="txtEndTime">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Trạng thái</b>
                                    </label> 
                                    <select class="form-control" id="txtStatus">
                                        <option value="1">Hoạt động</option>
                                        <option value="0">Không hoạt động</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Hình Ảnh</b>
                                    </label> 
                                    <div class="container">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" id="flashSaleImage" accept=".png, .jpg, .jpeg" />
                                                <label for="flashSaleImage"></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddFlashSale" >Thêm Mới</button>
                                        <a href="/promotion/flashsales" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>