<% moment.locale('vi') %>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách Flash Sale</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/promotion/flashsales">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách Flash Sale</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
								<a style="margin-bottom: 15px;" href="/promotion/add-flash-sale" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-flashSale">
									<i class="fas fa-plus-circle"></i> Tạo Flash Sale
								</a>
							</div>
                            <table class="content-table" id="tableListFlashSale">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên Flash Sale</th>
                                        <th>Hình ảnh</th>
                                        <th>Từ ngày</th>
                                        <th>Đến ngày</th>
										<th>Mô tả</th>
										<th>Trạng thái</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listData && listData.length) { %>
                                        <% listData.forEach((flashSale, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td><a href="/promotion/info-flash-sale/<%= flashSale._id %>"><%= flashSale.name.length > 35 ? flashSale.name.substr(0, 35).concat('...') : flashSale.name %></a></td>
                                                <td>
													<% if (flashSale && flashSale.image) { %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(flashSale.image.path) %>">
													<% } else{ %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg">
													<% } %>
												</td>
                                                <td>
                                                    <%= moment(flashSale.startTime).format('L') %> lúc  <%= moment(flashSale.startTime).format('LT') %>
                                                </td>
                                                <td>
                                                    <%= moment(flashSale.endTime).format('L') %> lúc  <%= moment(flashSale.endTime).format('LT') %>
                                                </td>
                                                <td><%= flashSale.description && flashSale.description.length > 50 ? flashSale.description.substr(0, 50).concat('...') : flashSale.description %></td>
												<td>
                                                    <% if(flashSale.status) { %>
                                                        <span class="badge badge-pill badge-success">
                                                            Hoạt Động 
                                                        </span>
                                                    <% } else { %>
                                                        <span class="badge badge-danger"> 
                                                            Không Hoạt Động 
                                                        </span>
                                                    <% } %>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-show-modal-update-flashSale" href="/promotion/update-flash-sale/<%= flashSale._id %>" _flashSaleID="<%= flashSale._id %>">Sửa Thông Tin</a>
															<a class="dropdown-item btnDeleteflashSale" href="javascript:void(0)" _flashSaleID="<%= flashSale._id %>">Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>