<% moment.locale('vi') %>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách Big Sale</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/promotion/bigsales">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách Big Sale</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
								<a style="margin-bottom: 15px;" href="/promotion/add-big-sale" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-brand">
									<i class="fas fa-plus-circle"></i> Tạo Big Sale
								</a>
							</div>
                            <table class="content-table" id="tableListBigSale">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên Big Sale</th>
                                        <th>Hình ảnh</th>
                                        <th>Loại giảm giá</th>
                                        <th>Tiền hoặc phần trăm giảm</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Code</th>
                                        <th>Số lượng khuyến mãi</th>
										<th>Mô tả</th>
										<th>Trạng thái</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listData) { %>
                                        <% listData.listBigSaleActive.forEach((bigSale, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td><a href="/promotion/info-big-sale/<%= bigSale._id %>"><%= bigSale.name.length > 35 ? bigSale.name.substr(0, 35).concat('...') : bigSale.name %></a></td>
                                                <td>
													<% if (bigSale && bigSale.image) { %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(bigSale.image.path) %>">
													<% } else{ %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg">
													<% } %>
												</td>
                                                <td>
                                                    <% if (bigSale.typeDiscount == 1) { %>
                                                        Giảm giá theo tiền
                                                    <% } %>
                                                    <% if (bigSale.typeDiscount == 2) { %>
                                                        Giảm giá theo phần trăm
                                                    <% } %>
												</td>
                                                <td>
                                                    <%= bigSale && bigSale.value %>
												</td>
                                                <td>
                                                    <%= moment(bigSale.createAt).format('L'); %> lúc  <%= moment(bigSale.createAt).format('LT'); %>
												</td>
                                                <td>
                                                    <%= moment(bigSale.endTime).format('L'); %> lúc  <%= moment(bigSale.endTime).format('LT'); %>
												</td>
                                                <td>
                                                    <%= bigSale && bigSale.code %>
												</td>
                                                <td>
                                                    <%= (bigSale && bigSale.maxUsage).toLocaleString('vi-VN') %>
												</td>
                                                <td>
                                                    <%= bigSale.description && bigSale.description.length > 50 ? bigSale.description.substr(0, 50).concat('...') : bigSale.description %>
                                                </td>
												<td>
                                                    <span class="badge badge-pill badge-success">
                                                        Còn hạn
                                                    </span>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-show-modal-update-big-sale" href="/promotion/update-big-sale?bigSaleID=<%= bigSale._id %>" _bigSaleID="<%= bigSale._id %>">
                                                                <i class="fa fa-edit"></i>
                                                                Sửa Thông Tin</a>
															<a class="dropdown-item btnDeleteBigSale" href="javascript:void(0)" _bigSaleID="<%= bigSale._id %>">
                                                                <i class="fa fa-trash"></i>
                                                                Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>

                                        <% listData.listBigSaleInActive.forEach((bigSale, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td><a href="/promotion/info-big-sale/<%= bigSale._id %>"><%= bigSale.name.length > 35 ? bigSale.name.substr(0, 35).concat('...') : bigSale.name %></a></td>
                                                <td>
                                                    <% if (bigSale && bigSale.image) { %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(bigSale.image.path) %>">
													<% } else{ %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg">
													<% } %>
												</td>
                                                <td>
                                                    <% if (bigSale.typeDiscount == 1) { %>
                                                        Giảm giá theo tiền
                                                    <% } %>
                                                    <% if (bigSale.typeDiscount == 2) { %>
                                                        Giảm giá theo phần trăm
                                                    <% } %>
												</td>
                                                <td>
                                                    <%= bigSale && bigSale.value %>
												</td>
                                                <td>
                                                    <%= moment(bigSale.createAt).format('L'); %> lúc  <%= moment(bigSale.createAt).format('LT'); %>
												</td>
                                                <td>
                                                    <%= moment(bigSale.endTime).format('L'); %> lúc  <%= moment(bigSale.endTime).format('LT'); %>
												</td>
                                                <td>
                                                    <%= bigSale && bigSale.code %>
												</td>
                                                <td>
                                                    <%= (bigSale && bigSale.maxUsage).toLocaleString('vi-VN') %>
												</td>
                                                <td>
                                                    <%= bigSale.description && bigSale.description.length > 50 ? bigSale.description.substr(0, 50).concat('...') : bigSale.description %>
                                                </td>
												<td>
                                                    <span class="badge badge-pill badge-danger">
                                                        Hết hạn
                                                    </span>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btn-show-modal-update-big-sale" href="/promotion/update-big-sale?bigSaleID=<%= bigSale._id %>" _bigSaleID="<%= bigSale._id %>">Sửa Thông Tin</a>
															<a class="dropdown-item btnDeleteBigSale" href="javascript:void(0)" _bigSaleID="<%= bigSale._id %>">Xóa</a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>