<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật lịch làm việc NA</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/calendar_task_na/list-calendar_task_na">Quản lý lịch làm việc NA</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="calendar_task_na__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="calendar_task_na__month" value="<%= infoCalendar_task_NA.month %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="calendar_task_na__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="calendar_task_na__year" value="<%= infoCalendar_task_NA.year %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="calendar_task_na__store">
                                Cửa hàng
                            </label>
                            <select class="form-select mt-2" id="calendar_task_na__store" data-placeholder="Chọn cửa hàng">
                                <option value="null" selected disabled>Chọn cửa hàng</option>

                                <% if(listStores && listStores.length){ %>
                                    <% listStores.forEach(store => { %>
                                        <% let isSelect = (infoCalendar_task_NA.store && infoCalendar_task_NA.store._id.toString()) === store._id.toString() %>

                                        <option value="<%= store._id %>" <%= isSelect && 'selected' %>>
                                            <%= store.name %>
                                        </option>
                                    <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="calendar_task_na__employee">
                                Nhân viên
                            </label>

                            <select class="form-select mt-2" id="calendar_task_na__employee" data-placeholder="Chọn nhân viên">
                                <option value="null" selected disabled>Chọn nhân viên</option>

                                <% if(listEmployees && listEmployees.length){ %>
                                    <% listEmployees.forEach(employee => { %>
                                        <option value="<%= employee._id %>">
                                            <%= employee.fullname %>
                                        </option>
                                    <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __calendar_task_naID="<%= infoCalendar_task_NA._id %>">
                    Cập nhật
                </button>
                <a href="/calendar_task_na/list-calendar_task_na" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>