<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách cửa hàng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/agency/list-agency">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách cửa hàng</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="/agency/add-agency" class="btn btn-outline-info waves-effect waves-light btnAddStore">
                                    <i class="fas fa-plus-circle"></i> Tạo cửa hàng
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-agency">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên chi nhánh</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Xã/Phường</th>
                                        <th>Quận/Huyện</th>
                                        <th>Tỉnh/Thành phố</th>
                                        <!-- <th>Trạng thái</th> -->
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listAgency.forEach((agency, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= agency.name%></td>
                                            <td>
												<%= agency.email%>
                                            </td>
                                            <td><%= agency.phone%></td>
                                            <td><%= agency.address%></td>
                                            <td><%= agency.wardName%></td>
                                            <td><%= agency.districtName%></td>
                                            <td><%= agency.cityName%></td>
                                            <td>
                                                <a href="/agency/update-agency/<%= agency._id%>">
                                                    <span style="cursor: pointer;" class="btnUpdateStore" _agencyID="<%= agency._id%>">
                                                        <i class="fa fa-edit"></i> Chỉnh sửa
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                   <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- POPUP TẠO agency -->


