<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách cửa hàng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/list-store">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách cửa hàng</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btnAddStore">
                                    <i class="fas fa-plus-circle"></i> Tạo cửa hàng
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-store">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên cửa hàng</th>
                                        <th>Hình ảnh</th>
                                        <th>Số điện thoại</th>
                                        <!-- <th>Địa chỉ</th> -->
                                        <!-- <th>Trạng thái</th> -->
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listStore.listStore.forEach((slide, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= slide.name%></td>
                                            <td>
												<% if (slide.avatar) { %>
													<a href="<%= loadPathImage(slide.avatar.path) %>" target="_blank">
														<img class="img-fluid img-thumbnail rounded" src="<%= loadPathImage(slide.avatar.path) %>" alt="">
													</a>
												<% } %>
                                            </td>
                                            <td><%= slide.phone%></td>
                                            <!-- <td><%= slide.address%></td> -->
                                            <td>
                                                <span style="cursor: pointer;" class="btnUpdateStore" _storeID="<%= slide._id%>">
                                                    <i class="fa fa-edit"></i> Chỉnh sửa
                                                </span>
                                                <!-- <div class="btn-group mb-2 border-btn-black">
                                                    <button type="button" class="btn btn-secondary btn-sm">
                                                        Thao Tác
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="right-start">
                                                        <a class="dropdown-item btnUpdateSlide" href="javascript:void(0)" _slideID="<%= slide._id%>">
                                                            <i class="fa fa-edit"></i> Chỉnh sửa
                                                        </a>
                                                    </div>
                                                </div> -->
                                            </td>
                                        </tr>
                                   <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- POPUP TẠO SLIDE -->
<div class="modal fade bs-example-modal-sm model-create-store" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    +Tạo/cập nhật cửa hàng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12"><label>Tên cửa hàng</label> 
                        <input type="text" class="form-control" id="txtNameStore" placeholder="Tên cửa hàng không được bỏ trống">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Thương hiệu</label> 
                        <select class="form-control" name="" id="txtBrandsStore" multiple>
                            <% listBrand.forEach(brand => { %>
                                <option value="<%= brand._id %>"><%= brand.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4"><label>Số điện thoại</label> 
                        <input type="text" class="form-control" id="txtPhoneStore" placeholder="VD: 0982467543">
                    </div>
                    <div class="form-group col-md-4"><label>Giờ mở cửa</label> 
                        <input type="time" class="form-control" id="txtOpenTimeStore" placeholder="VD: 07:00" value="07:00">
                    </div>
                    <div class="form-group col-md-4"><label>Giờ đóng cửa</label> 
                        <input type="time" class="form-control" id="txtCloseTimeStore" placeholder="VD: 18:00" value="18:00">
                    </div>
                </div>
             
                <div class="row">
                    <div class="form-group col-md-12"><label>Địa chỉ, đường số nhà</label> 
                        <input type="text" class="form-control" id="txtAddressStore" placeholder="Số 72, đường Lê Văn Việt">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4"><label>Tỉnh/Thành phố</label> 
                        <select class="form-control"id="txtCity">
                            <option selected value="">Chọn tỉnh/thành phố</option>
                            <% listProvince.forEach(province => { %>
                                <option value="<%= province[1].code %>"><%= province[1].name %></option>
                            <% }) %> 
                        </select>
                    </div>

                    <div class="form-group col-md-4"><label>Quận/Huyện</label> 
                        <select class="form-control"id="txtDistrict">
                            <option value="">Chọn quận huyện</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4"><label>Xã/Phường</label> 
                        <select class="form-control"id="txtWard">
                            <option value="">Chọn xã phường</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6"><label>Latitude(<a href="https://www.google.com/maps" target="blank">Xem trên google map</a>)</label> 
                        <input type="text" class="form-control" id="txtLatitudeStore" placeholder="10.837426533875547">
                    </div>
                    <div class="form-group col-md-6"><label>longitude</label> 
                        <input type="text" class="form-control" id="txtlongitudeStore" placeholder="106.8314165640989">
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Hình ảnh cửa hàng</label>
                    <input type="file" id="avatarStore" class="form-control" accept="image/*">
                    </br>   
                    <div class="gallery imageSlide">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddStore border-btn-black">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateStore" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

