<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật tiền chương trình</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item active">Quản lý tiền</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="money_one">
                                Số tiền chương trình 1 <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="money_one" placeholder="" value="<%= moneyInfo && moneyInfo.moneyOne %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="money_second">
                                Số tiền chương trình 2 <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="money_second" placeholder="" value="<%= moneyInfo && moneyInfo.moneySecond %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group d-flex justify-content-end">
                            <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                                Cập nhật
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div> <!-- container -->

    <!-- <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới/Cập nhật
                </button>
            </div>
        </div>
    </div> -->