<script>
    $(document).ready(function() {


        $("#kpi_present_actually__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.username,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_present_actually__product").select2({
            width: "100%"
        });






        $('#kpi_present_actually__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_present_actually__amount', "Vui lòng nhập thực đạt");
            } else {
                disableValidate('#kpi_present_actually__amount');
            }
        });

        $('#kpi_present_actually__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_present_actually__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_present_actually__month');
            }
        });

        $('#kpi_present_actually__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_present_actually__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_present_actually__year');
            }
        });



        const getFormInsert = () => {

            let employee = $('#kpi_present_actually__employee').val();

            let amount = $('#kpi_present_actually__amount').val();

            let month = $('#kpi_present_actually__month').val();

            let year = $('#kpi_present_actually__year').val();

            let product = $('#kpi_present_actually__product').val();

            return {
                employee,
                amount,
                month,
                year,
                product,
            };
        }

        const checkFormValid = params => {
            let {
                employee,
                amount,
                month,
                year,
                product,
            } = params;
            let fieldsError = [];




            if (!employee) {
                fieldsError = [...fieldsError, 'kpi_present_actually__employee'];
                enableValidate('#kpi_present_actually__employee', "Vui lòng chọn nhân viên");
            } else {
                if (!fieldsError.includes('kpi_present_actually__employee')) {
                    disableValidate('#kpi_present_actually__employee');
                }
            }

            if (!amount) {
                fieldsError = [...fieldsError, 'kpi_present_actually__amount'];
                enableValidate('#kpi_present_actually__amount', "Vui lòng nhập thực đạt");
            } else {
                if (!fieldsError.includes('kpi_present_actually__amount')) {
                    disableValidate('#kpi_present_actually__amount');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_present_actually__month'];
                enableValidate('#kpi_present_actually__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_present_actually__month')) {
                    disableValidate('#kpi_present_actually__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_present_actually__year'];
                enableValidate('#kpi_present_actually__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_present_actually__year')) {
                    disableValidate('#kpi_present_actually__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_PRESENT_ACTUALLY.ADD_KPI_PRESENT_ACTUALLY %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm KPI Trưng Bày Thực Đạt thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>