
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title> 404 </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="404 Page" name="description" />
        <meta content="404 Page" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/template/admin/dastone/default/assets/images/favicon.ico">

        <!-- App css -->
        <link href="/template/admin/dastone/default/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/admin/dastone/default/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/admin/dastone/default/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body accountbg">

        <!-- Eror-404 page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="/template/admin/dastone/default/assets/images/logo-sm-dark.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <h4 class="mt-3 mb-1 fw-semibold text-white font-18">Trang này hiện không tồn tại</h4>   
                                        <!-- <p class="text-muted  mb-0">Trở lại trang chủ</p>   -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="ex-page-content text-center">
                                        <img src="/template/admin/dastone/default/assets/images/error.svg" alt="0" class="" height="170">
                                        <h1 class="mt-5 mb-4">404</h1>  
                                        <!-- <h5 class="font-16 text-muted mb-5">Somthing went wrong</h5> -->
                                    </div>          
                                    <a class="btn btn-primary w-100 waves-effect waves-light" href="/">Trở lại trang chủ <i class="fas fa-redo ms-1"></i></a>                         
                                </div>
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block">LDK Software © <script>
                                        document.write(new Date().getFullYear())
                                    </script></span>                                            
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Eror-404 page -->

        <!-- jQuery  -->
        <script src="/template/admin/dastone/default/assets/js/jquery.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/waves.js"></script>
        <script src="/template/admin/dastone/default/assets/js/feather.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/simplebar.min.js"></script>
        
    </body>

</html>