
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>NANDIO - LOGIN </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Trang đăng nhập hệ thống Nandio Store" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="../../../template/admin/assets/images/logo-thien-viet-fav.png">

        <!-- App css -->
        <link href="/template/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/admin/dastone/default/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/template/admin/dastone/default/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="account-body accountbg">

        <!-- Log In page -->
        <div class="container">
            <div class="row vh-100 d-flex justify-content-center">
                <div class="col-12 align-self-center">
                    <div class="row">
                        <div class="col-lg-5 mx-auto">
                            <div class="card">
                                <div class="card-body p-0 auth-header-box">
                                    <div class="text-center p-3">
                                        <a href="index.html" class="logo logo-admin">
                                            <img src="/files/logos/logo-thien-viet.png" height="50" alt="logo" class="auth-logo">
                                        </a>
                                        <!-- <h4 class="mt-3 mb-1 fw-semibold text-white font-18">
                                            Chào mừng trở lại
                                        </h4>-->
                                        <!-- <p class="text-muted  mb-0">Sign in to continue to Dastone.</p>   -->
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav-border nav nav-pills" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active fw-semibold" data-bs-toggle="tab" href="#LogIn_Tab" role="tab">
												Đăng nhập
											</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link fw-semibold" data-bs-toggle="tab" href="#Register_Tab" role="tab">Register</a>
                                        </li> -->
                                    </ul>
                                     <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="LogIn_Tab" role="tabpanel">
                                            <form class="form-horizontal auth-form">

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="inputAccount">Username hoặc Email</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="inputAccount" placeholder="Enter username or email">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="inputPassword">Mật khẩu</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter password">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group row my-3">
                                                    <div class="col-sm-12 d-flex justify-content-end">
                                                        <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Quên mật khẩu?</a>
                                                    </div><!--end col-->
                                                </div><!--end form-group-->

                                                <div class="form-group mb-0 row">
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="button" id="btnLogin">
															Đăng nhập <i class="fas fa-sign-in-alt ms-1"></i>
														</button>
                                                    </div><!--end col-->
                                                </div> <!--end form-group-->
                                            </form><!--end form-->
                                            <!-- <div class="m-3 text-center text-muted">
                                                <p class="mb-0">Don't have an account ?  <a href="auth-register.html" class="text-primary ms-2">Free Resister</a></p>
                                            </div>
                                            <div class="account-social">
                                                <h6 class="mb-3">Or Login With</h6>
                                            </div>
                                            <div class="btn-group w-100">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Facebook</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Twitter</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Google</button>
                                            </div> -->
                                        </div>

                                        <div class="tab-pane px-3 pt-3" id="Register_Tab" role="tabpanel">
                                            <form class="form-horizontal auth-form" action="index.html">

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="username">Username</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="useremail">Email</label>
                                                    <div class="input-group">
                                                        <input type="email" class="form-control" name="email" id="useremail" placeholder="Enter Email">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="userpassword">Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" name="password" id="userpassword" placeholder="Enter password">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="conf_password">Confirm Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" name="conf-password" id="conf_password" placeholder="Enter Confirm Password">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group mb-2">
                                                    <label class="form-label" for="mo_number">Mobile Number</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="mobile number" id="mo_number" placeholder="Enter Mobile Number">
                                                    </div>
                                                </div><!--end form-group-->

                                                <div class="form-group row my-3">
                                                    <div class="col-sm-12">
                                                        <div class="custom-control custom-switch switch-success">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitchSuccess2">
                                                            <label class="form-label text-muted" for="customSwitchSuccess2">You agree to the Dastone <a href="#" class="text-primary">Terms of Use</a></label>
                                                        </div>
                                                    </div><!--end col-->
                                                </div><!--end form-group-->

                                                <div class="form-group mb-0 row">
                                                    <div class="col-12">
                                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="button">Register <i class="fas fa-sign-in-alt ms-1"></i></button>
                                                    </div><!--end col-->
                                                </div> <!--end form-group-->
                                            </form><!--end form-->
                                            <p class="my-3 text-muted">Already have an account ?<a href="auth-login.html" class="text-primary ms-2">Log in</a></p>
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                                <div class="card-body bg-light-alt text-center">
                                    <span class="text-muted d-none d-sm-inline-block">LDK Software © <script>
                                        document.write(new Date().getFullYear())
                                    </script></span>
                                </div>
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
        <!-- End Log In page -->

        <!-- jQuery  -->
        <script src="/template/admin/dastone/default/assets/js/jquery.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/waves.js"></script>
        <script src="/template/admin/dastone/default/assets/js/feather.min.js"></script>
        <script src="/template/admin/dastone/default/assets/js/simplebar.min.js"></script>

		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<script>
			$(document).ready(function(){

				function AlertCustom({ icon = 'info', title, position = 'top', timer = 1500 }){
					return Swal.mixin({
						toast: true,
						position,
						showConfirmButton: false,
						timer,
						didOpen: (toast) => {
							toast.addEventListener('mouseenter', Swal.stopTimer)
							toast.addEventListener('mouseleave', Swal.resumeTimer)
						}
					}).fire({
						icon,
						title
					})
				}

				$('#btnLogin').on('click', function(e){
					let account	 = $('#inputAccount').val();
					let password = $('#inputPassword').val();

					if(!account) return AlertCustom({ title: 'Bạn cần nhập tài khoản đăng nhập', icon: 'warning' });
					if(!password) return AlertCustom({ title: 'Bạn cần nhập mật khẩu đăng nhập', icon: 'warning' });

					$.ajax({
						type: 'POST',
						url: `/login`,
						data: { account, password },
					}).done(resp => {
						const { error, message, data } = resp;

						if(error){
							return AlertCustom({ title: message, icon: 'warning' });
						}

						AlertCustom({ title: 'Đăng nhập thành công', icon: 'success' });
						setTimeout(() => location.replace(data.urlRedirect || '/admin/generate-tools'), 700);
					}).fail(err => {
                        console.error(err);
                        AlertCustom({ title: err.message, icon: 'error' });
                    })

				});
			})
		</script>


    </body>

</html>
