<script>
    $(document).ready(function() {


        $("#kpi_mhtt_config_products__product").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/product/list-products',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data?.records, item => ({
                        text: item.productCode,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });






        $('#kpi_mhtt_config_products__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_mhtt_config_products__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_mhtt_config_products__month');
            }
        });

        $('#kpi_mhtt_config_products__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_mhtt_config_products__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_mhtt_config_products__year');
            }
        });



        const getFormInsert = () => {

            let product = $('#kpi_mhtt_config_products__product').val();

            let month = $('#kpi_mhtt_config_products__month').val();

            let year = $('#kpi_mhtt_config_products__year').val();

            return {
                product,
                month,
                year,
            };
        }

        const checkFormValid = params => {
            let {
                product,
                month,
                year,
            } = params;
            let fieldsError = [];




            if (!product) {
                fieldsError = [...fieldsError, 'kpi_mhtt_config_products__product'];
                enableValidate('#kpi_mhtt_config_products__product', "Vui lòng chọn sản phẩm");
            } else {
                if (!fieldsError.includes('kpi_mhtt_config_products__product')) {
                    disableValidate('#kpi_mhtt_config_products__product');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_mhtt_config_products__month'];
                enableValidate('#kpi_mhtt_config_products__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_mhtt_config_products__month')) {
                    disableValidate('#kpi_mhtt_config_products__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_mhtt_config_products__year'];
                enableValidate('#kpi_mhtt_config_products__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_mhtt_config_products__year')) {
                    disableValidate('#kpi_mhtt_config_products__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_MHTT_CONFIG_PRODUCTS.ADD_KPI_MHTT_CONFIG_PRODUCTS %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm Cấu hình danh sách sản phẩm thuộc MHTT của Tháng thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>