<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$('#tableListBrand').DataTable({
			'iDisplayLength': 100,
			...languageDataTable,
			"columns": [
				{ "width": "5%" },
				{ "width": "15%" },
				{ "width": "10%" },
				{ "width": "10%" },
				{ "width": "25%" },
				{ "width": "10%" },
				{ "width": "10%" },
			]
		});


		// $('.image-gallery-update').sortable({
		// 	helper: 'clone',
        //     stop: function(e, ui){
        //         let sortTableArray = [];
        //         $(".img-wraps").each(function(index) {
        //             let imageID = $(this).attr("_imageID");
		// 			console.log({imageID});
        //             sortTableArray.push({ _id: imageID, index: Number(index+1) });
        //         });

        //         $.ajax({
        //             url: `/product/update-order-image-product`,
        //             method: 'POST',
        //             data: {arrayObject: sortTableArray},
        //             success: function(resp){
		// 				console.log({resp});
        //                 if(!resp.error){
        //                     toastr.info('Thông báo','Cập nhật thành công');
        //                     // setTimeout(() => {
        //                     //     location.reload();
        //                     // }, 300);
        //                 }else{
        //                     toastr.warning('Thông báo','Có lỗi trong quá trình cập nhật');
        //                 }
        //             },
        //             error: function(){
        //                 toastr.warning('Thông báo','Có lỗi trong quá trình cập nhật');
        //             }
        //         })
        //     }
        // });

		$('.select-type-CTA').on('change', function(){
			let type = $(this).val();
			if(Number(type) == 1){
				//List segemnt
				let valueCTA = $(this).parents('.item-banner').find(".select-CTA").attr("_valueCTA");
				$.ajax({
					url: `/segment/list-segment?type=api`,
					method: 'GET',
					success: (resp) => {
						console.log({ resp });
						if(!resp.error){
							let listSegment = resp.data;
							let dataAppend = '';
							if(listSegment && listSegment.length){
								listSegment.forEach(segment => {
									if(valueCTA.toString().trim() == segment._id.toString().trim()){
										dataAppend += `<option selected value="${segment._id}">${segment.name}</option>`;
									}else{
										dataAppend += `<option value="${segment._id}">${segment.name}</option>`;
									}
								})
							}else{
								dataAppend += `<option value="">Không có segment nào</option>`;
							}
							$(this).parents('.item-banner').find(".select-CTA").empty();
							$(this).parents('.item-banner').find(".select-CTA").append(dataAppend);
						}else{
							toastr.warning('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
						}
					},
					error: function(){
						toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
					}
				})
			}

			if(Number(type) == 2){
				//List brand
				let valueCTA = $(this).parents('.item-banner').find(".select-CTA").attr("_valueCTA");
				$.ajax({
					url: `/brand/list-brand-enduser`,
					method: 'GET',
					success: (resp) => {
						console.log({ resp });
						if(!resp.error){
							let listBrand = resp.data && resp.data.listBrand;
							let dataAppend = '';
							if(listBrand && listBrand.length){
								listBrand.forEach(brand => {
									if(valueCTA.toString().trim() == brand._id.toString().trim()){
										dataAppend += `<option selected value="${brand._id}">${brand.name}</option>`;
									}else{
										dataAppend += `<option value="${brand._id}">${brand.name}</option>`;
									}
								})
							}else{
								dataAppend += `<option value="">Không có danh mục nào</option>`;
							}
							$(this).parents('.item-banner').find(".select-CTA").empty();
							$(this).parents('.item-banner').find(".select-CTA").append(dataAppend);
						}else{
							toastr.warning('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
						}
					},
					error: function(){
						toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
					}
				})
			}

			if(Number(type) == 3){
				$(this).parents('.item-banner').find(".select-CTA").empty();
				$.ajax({
					url: `/trial-program/info-trial-program-current-for-admin`,
					method: 'GET',
					success: (resp) =>{
						if (resp.error){
							toastr.error('Hiện tại không có trial program nào đang chạy', 'Thông báo');
						}else{
							let { title, _id } = resp.data;
							$(this).parents('.item-banner').find(".select-CTA").append(`
								<option value="${_id}">${title}</option>
							`);
						}
					},
					error: function(error){
						console.log({ error })
					}
				});
			}
			
		}).change()

		function checkProductExisted(brandID) {
			return new Promise(resolve => {
				$.ajax({
					url: `/api/product/list-product-brand/${brandID}`,
					method: 'GET',
					success: resp => {
						return resolve(resp)
					}
				})
			})
		}

		// xóa thương hiệu
		$('.btnDeleteBrand').on('click', async function(){	
			const brandID = $(this).attr('_brandID');
			let dataCheck = await checkProductExisted(brandID);
			let text = 'Bạn có thực sự muốn xóa thương hiệu không?';
			if (!dataCheck.error && dataCheck.data.length) {
				text = 'Thương hiệu này có chứa sản phẩm, Bạn có chắc chắn muốn xóa?'
			}

			if(confirm(text)) {
				$.ajax({
					url: `/brand/remove-brand/${brandID}`,
					method: 'GET'
				}).done(resp => {
					let { error, message } = resp;

					if(error){
						return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
					}

					toastr.success('Xóa thành công', 'THÔNG BÁO');
					$(this).closest('tr').remove();
				}).fail(err => toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO'))
			}
		});

		// load hình ảnh lên mỗi khi đang chọn
		$("#brandImage, #brandImageUpdate").on('change', changePreviewImage);

		// hàm call ajax tạo thương hiệu
		function ajaxAddBrand({ dataBrandInsert, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataBrandInsert));
            image && fd.append('file', image[0]);
			
            $.ajax({
                url: `/brand/add-brand`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error)
					return toastr.error(`Thêm thương hiệu thất bại: ${message}`, 'THÔNG BÁO');

                toastr.success("Thêm thương hiệu thành công", "THÔNG BÁO");
                setTimeout(() => location.href = '/brand/list-brand', 1000)
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}
		
		// xác nhận tạo thương hiệu
		$('#btnAddBrand').on('click', async function(){
			const name       = $('#txtName').val();
			const description = $('#txtDescription').val();
			const status      = $('#txtStatus').val();
			const linkWebsite      = $('#txtLinkWebsite').val();

			if(!name)
				return toastr.warning('Vui lòng nhập tên thương hiệu', 'THÔNG BÁO');
			
			if(!description)
				return toastr.warning('Vui lòng nhập mô tả', 'THÔNG BÁO');

			let dataBrandInsert = { name, description, linkWebsite, status };
			let image = $('#brandImage').prop('files');
			dataBrandInsert.pathImage = [];
			dataBrandInsert.pathGallerys = [];

			let gallery = [];
			let singleImg = [];

			if(imgGalleryInsert && imgGalleryInsert.length){
				let multiInput = imgGalleryInsert;
				let arr_img_brand = await addFileToUpload(multiInput, links => {
					links.forEach((item, index) => {
						gallery[index] = item.uri;
					})
				});
				gallery = arr_img_brand().map(item => item.uri);
				dataBrandInsert.pathGallerys = gallery;
			}

			if(image && image.length){
				let single_img_brand = await addFileToUpload(image);
				singleImg = single_img_brand().map(item => item.uri);
				dataBrandInsert.pathImage = singleImg;
			}

			ajaxAddBrand({ dataBrandInsert, image });
		});
		
		function ajaxUpdateBrand({ dataBrandUpdate, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataBrandUpdate));
            image && fd.append('file', image[0]);
			
            $.ajax({
				url: `/brand/update-brand?brandID=${dataBrandUpdate.brandID}`,
				method: 'POST',
				data: fd,
                contentType: false,
                processData: false
			}).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Cập nhật thương hiệu thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Cập nhật thương hiệu thành công", "THÔNG BÁO");
				setTimeout(() => {
					location.reload()
				}, 700);
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

		// xác nhận cập nhật thương hiệu
		$('#btnUpdateBrand').on('click', async function(){
			const brandID = $(this).attr('_brandID');
			const name = $('#txtNameUpdate').val().trim();
			const description = $('#txtDescriptionUpdate').val().trim();
			const status = $('#txtStatusUpdate').val();
			const linkWebsite = $('#txtLinkWebsite').val();


			let arrObjectImageCTA = [];
			$(".img-wraps").each(function(index) {
				let imageID = $(this).attr("_imageID");
				let order = $(`#txtOrder_${imageID}`).val();
				let typeCTA = $(`#select-type-CTA_${imageID}`).val();
				let valueCTA = $(`#select-CTA_${imageID}`).val();
				arrObjectImageCTA.push({ imageID, order, typeCTA, valueCTA })
			});

			if(!name)
				return toastr.warning('Vui lòng nhập tên thương hiệu', 'THÔNG BÁO');
			
			if(!description)
				return toastr.warning('Vui lòng nhập mô tả', 'THÔNG BÁO');

			const dataBrandUpdate = { name, description, status, linkWebsite, arrObjectImageCTA };

			let image = $('#brandImageUpdate').prop('files');
			dataBrandUpdate.brandID = brandID;
			dataBrandUpdate.pathImage = [];
			dataBrandUpdate.pathGallerysUpdate = [];
			dataBrandUpdate.imgGalleryOldIsDeleted = imgGalleryOldIsDeleted;

			let galleryUpdate = [];
			let singleImgUpdate = [];

			if(imgGalleryUpdate && imgGalleryUpdate.length){
				let multiInput = imgGalleryUpdate;
				let arr_img_brand_update = await addFileToUpload(multiInput, links => {
					links.forEach((item, index) => {
						galleryUpdate[index] = item.uri;
					})
				});
				galleryUpdate = arr_img_brand_update().map(item => item.uri);
				dataBrandUpdate.pathGallerysUpdate = galleryUpdate;
			}

			if(image && image.length){
				let single_img_brand_update = await addFileToUpload(image);
				singleImgUpdate = single_img_brand_update().map(item => item.uri);
				dataBrandUpdate.pathImage = singleImgUpdate;
			}

			ajaxUpdateBrand({ dataBrandUpdate, image });
		});

		let imgGalleryInsert = [];
        let imgGalleryOldDelete = [];
        let imgGalleryOldIsDeleted = [];
		let imgGalleryUpdate = [];

		$(document).on("change", "#btnUploadGallery", function(){
			let idImage     = '.image-gallery';
			let idImageUpdate = '.image-gallery-update';

			let arrImgCus = $("#btnUploadGallery")[0].files;
			for( let i = 0; i < arrImgCus.length; i++){
				imgGalleryInsert[imgGalleryInsert.length] = arrImgCus[i];
			}
			let type = "imgGalleryInsert";

			readURLGallery(this, idImage, type);
		});

		$(document).on("change", "#btnUploadGalleryUpdate", function(){
			let idImageUpdate = '.image-gallery-update';

			let arrImgGallery = $("#btnUploadGalleryUpdate")[0].files;
			for( let i = 0; i < arrImgGallery.length; i++){
				imgGalleryUpdate.push(arrImgGallery[i]);
			}
			let type = "imgGalleryUpdate";
			readURLGallery(this, idImageUpdate, type);
		});

		$(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if(type == "imgGalleryInsert"){
                imgGalleryInsert.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        imgGalleryInsert.splice(index, 1);
                        $(this).parent().remove();
                    }
                })
            }

            if (type == "imgGalleryUpdate"){
                if( imgID && imgID.length ){
					let obj = {
						id: imgID,
						name: imgName
					}
					imgGalleryOldIsDeleted[imgGalleryOldIsDeleted.length] = obj;
					$(this).parents('.item-banner').remove();

                    // imgGalleryOldDelete.forEach((imgUpdate, index) => {
                    //     console.log({ imgUpdate });
                    //     if ( imgUpdate == imgID ){
                    //         let obj = {
                    //             id: imgUpdate,
                    //             name: imgName
                    //         }
                    //         imgGalleryOldIsDeleted[imgGalleryOldIsDeleted.length] = obj ;
                    //         imgGalleryOldDelete.splice(index, 1);
                    //         $(this).parent().remove();
                    //     }
                    // });
                    //console.log({ imgGalleryOldIsDeleted });
                }else{
                    imgGalleryUpdate.forEach((imgUpdate, index) => {
                        if (imgUpdate.name == imgName){
                            imgGalleryUpdate.splice(index, 1);
							$(this).parent().remove();
                        }
                    })
                }
            }
        }); 

		$(document).on('keyup', '#txtSTT', function() {
            let brandID = $(this).attr('_brandID');
            let value     = $(this).val();
            $.ajax({
                url: '<%= CF_ROUTINGS_BRAND.UPDATE_BRAND_STATUS %>',
                method: 'POST',
                data: {
                    stt: value, brandID
                }, 
                success: resp => {
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thứ tự thành công', 'THÔNG BÁO');
                    }
                }
            })
        });

	})
</script>