<script>
	
	$(document).ready(function(){
		initEditor("#txContent", {
            height: 900
        });
		// initialize cronjob picker control
		var default_expression = $('#manual_expression').val();
		cronjob_expression_picker(
			'#cronjob_expression_picker', default_expression
		);
		
		// add event handler for manual picker
		$('#parseaction').click(function(e) {
			e.preventDefault();
			var custom_expression = $('#custom_expression').val();
			cronjob_expression_parsing_to_param(
			'#cronjob_expression_picker', custom_expression
			);
		});

		$(document).on('click', '#txtTypeExpression', function() {
			let expression = $(this).val();
			const NOW       = 1;
			const SCHEDULAR = 2;
		
			if (expression == NOW || !expression) {
				$('.expression-schedular').addClass('d-none');
			} else if (expression == SCHEDULAR) {
				$('.expression-schedular').removeClass('d-none');
			}
		});

		function getListTrialProgram() {
			$.ajax({
				url: '<%= CF_ROUTINGS_TRIAL_PROGRAM.API_LIST_TRIAL_PROGRAM_ADMIN %>',
				method: 'GET',
				success: resp => {
					if (!resp.error) {
						$('#txtTrialProgram').empty();
						let option = resp.data && resp.data.length && resp.data.map(item => {
							return `
								<option value="${item._id}">${item.title}</option>
							`;
						});
						$('#txtTrialProgram').append(option);
					}
				}
			})
		}

		function getListNewBlog() {
			$.ajax({
				url: '<%= CF_ROUTINGS_BLOG.LIST_POST %>?type=API',
				method: 'GET',
				success: resp => {
					if (!resp.error) {
						$('#txtNewBlog').empty();
						let option = resp.data && resp.data.length && resp.data.map(item => {
							return `
								<option value="${item._id}">${item.title}</option>
							`;
						});
						$('#txtNewBlog').append(option);
					}
				}
			})
		}

		$(document).on('change', '#txtType', function() {
			let type = $(this).val();
		
			switch (type) {
				case '2':
					console.log("---------------2---------------");
					$('.notification-trial-program').removeClass('d-none');
					$('.notification-new-blog').addClass('d-none');
					$('.notification-promotion').addClass('d-none');
					getListTrialProgram();
					break;
				case '3':
					console.log("---------------3---------------");
					$('.notification-trial-program').addClass('d-none');
					$('.notification-new-blog').removeClass('d-none');
					$('.notification-promotion').addClass('d-none');
					getListNewBlog();
					break;
				case '4':
					console.log("---------------4---------------");
					$('.notification-trial-program').addClass('d-none');
					$('.notification-new-blog').addClass('d-none');
					$('.notification-promotion').removeClass('d-none');
					break;
				default:
					$('.notification-trial-program').addClass('d-none');
					$('.notification-new-blog').addClass('d-none');
					$('.notification-promotion').addClass('d-none');
					break;
			}
		});

		
		function getListBigSale(url) {
			$.ajax({
				url: url,
				method: 'GET',
				success: resp => {
					console.log({
						resp
					});
					if (!resp.error) {
						$('#txtDynamicPromotion').empty();
						let option = resp.data && resp.data.listBigSaleActive && resp.data.listBigSaleActive.length && resp.data.listBigSaleActive.map(item => {
							return `
								<option value="${item._id}">${item.name}</option>
							`;
						});
						$('.name-promotion').text('Big Sale');
						if (option) {
							$('#txtDynamicPromotion').append(option);
							$('.type-promotion').removeClass('d-none');
						} else {
							return toastr.warning('Không có Big Sale đang hoạt động', 'THÔNG BÁO');
						}
					}
				}
			})
		}

		function getListFlashSale(url) {
			$.ajax({
				url: url,
				method: 'GET',
				success: resp => {
					
					if (!resp.error) {
						$('#txtDynamicPromotion').empty();
						let option = '';
						if (resp.data) {
						 	option = `
								<option value="${resp.data._id}">${resp.data.name}</option>
							`;
						}
						// resp.data && resp.data.length && resp.data.map(item => {
						// 	return `
						// 		<option value="${item._id}">${item.name}</option>
						// 	`;
						// });
						$('.name-promotion').text('Flash Sale');
						if (option) {
							$('#txtDynamicPromotion').append(option);
							$('.type-promotion').removeClass('d-none');
						} else {
							return toastr.warning('Không có Flash Sale đang hoạt động', 'THÔNG BÁO');
						}
					}
				}
			})
		}

		$(document).on('change', '#txtTypePromotion', function() {
			let typePromotion = $(this).val();

			let url = '';
			if (typePromotion == 'BIG_SALE') {
				url = '<%= CF_ROUTINGS_PROMOTION.LIST_BIG_SALE %>';
				getListBigSale(url);
			}

			if (typePromotion == 'FLASH_SALE') {
				url = '<%= CF_ROUTINGS_PROMOTION.API_LIST_FLASH_SALE %>';
				getListFlashSale(url);
			}

			if (url) {
			} else {
				$('.type-promotion').addClass('d-none');
			}
		});

		function getData() {
			let title            = $('#txtTitle').val();
			let description      = $('#txDescription').val();
			let content          = tinyMCE.get('txContent').getContent();
			let type             = $('#txtType').val();
			let type_expression  = $('#txtTypeExpression').val();
			let expression       = $('#manual_expression').val();
			let file             = $('#txCustomers').prop('files');
			let trial_program    = $('#txtTrialProgram').val();
			let new_blog         = $('#txtNewBlog').val();
			let type_promotion   = $('#txtTypePromotion').val();
			let dynamic_promotion  = $('#txtDynamicPromotion').val();

			return { 
				title,
				description,
				content,
				type,
				type_expression,
				expression,
				file,
				trial_program,
				new_blog,
				type_promotion,
				dynamic_promotion
			}
		}

		function validationData(data) {
			let { 
				title,
				description,
				type,
				type_expression,
				expression,
				file,
				trial_program,
				new_blog,
				type_promotion,
				dynamic_promotion
			} = data;
			
			if (!title) 
				return { error: true, msg: 'Mời bạn nhập tiêu đề' };
			if (!description) 
				return { error: true, msg: 'Mời bạn nhập mô tả' };
			if (Number.isNaN(Number(type)) || ![2,3,4].includes(Number(type))) 
				return { error: true, msg: 'Mời bạn chọn loại thông báo' };
			
			// if (!expression) 
			// 	return { error: true, msg: 'Mời bạn chọn thời gian' };

			const TRIAL_PROGRAM = '2';
			const NEW_BLOG      = '3';
			const PROMOTION     = '4';
			
			switch (type) {
				case TRIAL_PROGRAM:
					console.log("---------------TRIAL_PROGRAM---------------");
					if (!trial_program) {
						return { error: true, msg: 'Mời bạn chọn Trial Program' };
					}
					break;
				case NEW_BLOG:
					console.log("---------------NEW_BLOG---------------");
					if (!new_blog) {
						return { error: true, msg: 'Mời bạn chọn Bài viết' };
					}
					break;
				case PROMOTION:
					console.log("---------------PROMOTION---------------");
					if (!type_promotion) {
						return { error: true, msg: 'Mời bạn chọn Khuyến mãi' };
					}
					if (!dynamic_promotion) {
						return { error: true, msg: 'Mời bạn chọn Khuyến mãi' };
					}
					break;
				default:
					break;
			}
			if (Number.isNaN(Number(type_expression)) || ![1,2].includes(Number(type_expression))) 
				return { error: true, msg: 'Mời bạn chọn loại thời gian' };	
			if (!file || !file.length)
				return { error: true, msg: 'Mời bạn chọn FILE Excel khách hàng nhận thông báo' };	

			return { error: false, msg: 'Done' }	
		}

		$(document).on('click', '#btnAddConfigNoti', function() {
			let data = getData();
			let validation = validationData(data);
			
			if (validation.error) {
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}
			
			let fd = new FormData();
			fd.append('data', JSON.stringify(data));
            fd.append('file', data.file[0]);

			$.ajax({
				url: '<%= CF_ROUTINGS_NOTIFICATION.ADD_CONFIG_NOTIFICATION %>',
				method: 'POST',
				data: fd,
				contentType: false,
                processData: false,
				success: resp => {
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						setTimeout(() => window.location.reload(), 1000);
						return toastr.success('Bạn đã tạo cấu hình thông báo thành công', 'THÔNG BÁO');
					}
				}
			})
		});
		
		// end
	});	

	// function cronjob
	// parsing available expression value
	function cronjob_expression_parsing_to_param(element, value) {	
		var picker = $(element);
		
		var all_mins = element + ' input[name="all_mins"]';
		var all_hours = element + ' input[name="all_hours"]';
		var all_days = element + ' input[name="all_days"]';
		var all_months = element + ' input[name="all_months"]';
		var all_weekdays = element + ' input[name="all_weekdays"]';
		
		var mins_sel = element + ' select[name="mins[]"]';
		var hours_sel = element + ' select[name="hours[]"]';
		var days_sel = element + ' select[name="days[]"]';
		var months_sel = element + ' select[name="months[]"]';
		var weekdays_sel = element + ' select[name="weekdays[]"]';
		var ordinal_input = element + ' input[name="ordinal"]';
		
		var valuearray = value.split(' ');
		if(valuearray.length != 5) {
			valuearray = ['*','*','*','*','*'];
		}
		
		var mins_param = valuearray[0];	
		var hours_param = valuearray[1];	
		var days_param = valuearray[2];	
		var months_param = valuearray[3];	
		var weekdays_param = valuearray[4];	
		
		// mins set...
		if(mins_param == "*") {
			$(all_mins + '[value="1"]').click().change();
		}else{
			$(all_mins + '[value="0"]').click().change();
			var mins_param_array = mins_param.split(',');
			for(var i = 0;i < mins_param_array.length; i++) {
				$(mins_sel + ' option[value="' + mins_param_array[i] + '"]').attr('selected', 'selected');
			}
		}
		
		// hours set...
		if(hours_param == "*") {
			$(all_hours + '[value="1"]').click().change();
		}else{
			$(all_hours + '[value="0"]').click().change();
			var hours_param_array = hours_param.split(',');
			for(var i = 0;i < hours_param_array.length; i++) {
				$(hours_sel + ' option[value="' + hours_param_array[i] + '"]').attr('selected', 'selected');
			}
		}
		
		// days set...
		if(days_param == "*") {
			$(all_days + '[value="1"]').click().change();
		}else if(days_param.indexOf('W') != -1) {
			$(all_days + '[value="4"]').click().change();
			
			var days_param_val = days_param.replace('W','');
			if(days_param_val != '')
				$(days_sel + ' option[value="' + days_param_val + '"]').attr('selected', 'selected');
		}else if(days_param.indexOf('L') != -1) {
			$(all_days + '[value="3"]').click().change();
		}else{
			$(all_days + '[value="0"]').click().change();
			var days_param_array = days_param.split(',');
			for(var i = 0;i < days_param_array.length; i++) {
				$(days_sel + ' option[value="' + days_param_array[i] + '"]').attr('selected', 'selected');
			}
		}
		
		// months set...
		if(months_param == "*") {
			$(all_months + '[value="1"]').click().change();
		}else{
			$(all_months + '[value="0"]').click().change();
			var months_param_array = months_param.split(',');
			for(var i = 0;i < months_param_array.length; i++) {
				$(months_sel + ' option[value="' + months_param_array[i] + '"]').attr('selected', 'selected');
			}
		}
		
		// weekdays set...
		console.log(weekdays_param);
		if(weekdays_param == "*") {
			$(all_weekdays + '[value="1"]').click().change();
		}else if(weekdays_param.indexOf('#') != -1) {
			$(all_weekdays + '[value="4"]').click().change();
			var weekdays_param_val_array = weekdays_param.split('#');
			if(weekdays_param_val_array.length == 2) {
				var param1 = weekdays_param_val_array[0];
				var param2 = weekdays_param_val_array[1];
				$(ordinal_input).val(param2);
				console.log(param1);
				if(param1 != '') {
					$(weekdays_sel + ' option[value="' + param1 + '"]').attr('selected', 'selected');
				}
			}
		}else if(weekdays_param.indexOf('L') != -1) {
			$(all_weekdays + '[value="3"]').click().change();
			var weekdays_param_val = weekdays_param.replace('L','');
			if(weekdays_param_val != '')
				$(weekdays_sel + ' option[value="' + weekdays_param_val + '"]').attr('selected', 'selected');
		}else{
			$(all_weekdays + '[value="0"]').click().change();
			var weekdays_param_array = weekdays_param.split(',');
			for(var i = 0;i < weekdays_param_array.length; i++) {
				$(weekdays_sel + ' option[value="' + weekdays_param_array[i] + '"]').attr('selected', 'selected');
			}
		}
	}

	// custom function for initialize custom expression picker
	function cronjob_expression_picker(element, value) {
		var picker = $(element);
		
		var all_mins = element + ' input[name="all_mins"]';
		var all_hours = element + ' input[name="all_hours"]';
		var all_days = element + ' input[name="all_days"]';
		var all_months = element + ' input[name="all_months"]';
		var all_weekdays = element + ' input[name="all_weekdays"]';
		
		var mins_sel = element + ' select[name="mins[]"]';
		var hours_sel = element + ' select[name="hours[]"]';
		var days_sel = element + ' select[name="days[]"]';
		var months_sel = element + ' select[name="months[]"]';
		var weekdays_sel = element + ' select[name="weekdays[]"]';
		
		var ordinal_input = element + ' input[name="ordinal"]';
		
		$(days_sel + ',' + weekdays_sel).change(function(e){
			var val = $(this).parents('table').eq(0).parents('td').eq(0).find('input[type="radio"]:checked').val();
			var name = $(this).parents('table').eq(0).parents('td').eq(0).find('input[type="radio"]').attr('name');
			var curval = e.currentTarget.value;
			var trselect = $(this).parents('tr').eq(0).find('select');

			if((name == "all_weekdays" && val == "3") || (name == "all_weekdays" && val == "4") || (name == "all_days" && val == "4")) {
				$(trselect).find('option:selected').each(function(){
					if($(this).val() != curval) $(this).removeAttr('selected');
				});
			}
		});
		
		$(all_mins + ',' + all_hours + ',' + all_days + ',' + all_months + ',' + all_weekdays).change(function(e){
			var val = $(this).val();
			var name = $(this).attr('name');
			if(name == "all_weekdays") $(this).parents('td').eq(0).find('input[name="ordinal"]').prop('disabled', true);
			
			switch(val) {
				case '1':
					// disable list
					$(this).parents('td').eq(0).find('select').prop('disabled', true);
					$(this).parents('td').eq(0).find('select option:selected').removeAttr('selected');
					break;
				case '2':
				case '3':
					if(name == "all_days")
						$(this).parents('td').eq(0).find('select').prop('disabled', true);
					else if(name == "all_weekdays")
						$(this).parents('td').eq(0).find('select').prop('disabled', false);
					break;
				case '4':
					if(name == "all_weekdays") {
						$(this).parents('td').eq(0).find('select').prop('disabled', false);
						$(this).parents('td').eq(0).find('input[name="ordinal"]').prop('disabled', false);
					}else{
						$(this).parents('td').eq(0).find('select').prop('disabled', false);
					}
					break;
				case '5':
				default:
					$(this).parents('td').eq(0).find('select').prop('disabled', false);
					break;
			}
			
			cronjob_expression_parsing(element);
		});
		
		$(all_mins).eq(0).click().change();
		$(all_hours).eq(0).click().change();
		$(all_days).eq(0).click().change();
		$(all_months).eq(0).click().change();
		$(all_weekdays).eq(0).click().change();
		
		// set event trigger
		$(mins_sel + ',' + hours_sel + ',' + days_sel + ',' + months_sel + ',' + weekdays_sel + ',' + ordinal_input).on('change', function() {
			cronjob_expression_parsing(element);
		});
		
		// parsing from already entry value if any
		if(value != null && value != "") {
			cronjob_expression_parsing_to_param(element, value);
		}
		
		// parsing every change interactions
		cronjob_expression_parsing(element);
		
	}

	function cronjob_expression_parsing(element) {
		var picker = $(element);
		
		var all_mins = element + ' input[name="all_mins"]';
		var all_hours = element + ' input[name="all_hours"]';
		var all_days = element + ' input[name="all_days"]';
		var all_months = element + ' input[name="all_months"]';
		var all_weekdays = element + ' input[name="all_weekdays"]';
		
		var all_mins_val = $(all_mins + ':checked').val();
		var all_hours_val = $(all_hours + ':checked').val();
		var all_days_val = $(all_days + ':checked').val();
		var all_months_val = $(all_months + ':checked').val();
		var all_weekdays_val = $(all_weekdays + ':checked').val();
		
		var mins_sel = element + ' select[name="mins[]"]';
		var hours_sel = element + ' select[name="hours[]"]';
		var days_sel = element + ' select[name="days[]"]';
		var months_sel = element + ' select[name="months[]"]';
		var weekdays_sel = element + ' select[name="weekdays[]"]';
		
		var mins_sel_val = $(mins_sel).map(function(){return $(this).val();}).get();
		var hours_sel_val = $(hours_sel).map(function(){return $(this).val();}).get();
		var days_sel_val = $(days_sel).map(function(){return $(this).val();}).get();
		var months_sel_val = $(months_sel).map(function(){return $(this).val();}).get();
		var weekdays_sel_val = $(weekdays_sel).map(function(){return $(this).val();}).get();
		var weekdays_th_val = $(element + ' input[name="ordinal"]').val();
		var result_array = ["*", "*", "*", "*", "*"];
		
		// check first for mins...;
		if(all_mins_val == "0" && mins_sel_val.length > 0) {
			result_array[0] = mins_sel_val.join(',');
		}
		
		// check first for hours...;
		if(all_hours_val == "0" && hours_sel_val.length > 0) {
			result_array[1] = hours_sel_val.join(',');
		}
		
		// check first for days...;
		if(all_days_val == "0" && days_sel_val.length > 0) {
			result_array[2] = days_sel_val.join(',');
		}else if(all_days_val == "3") { // check third for days...;
			result_array[2] = "L";
		}else if(all_days_val == "4") { // check fourth for days...;
			result_array[2] = days_sel_val.join(',') + "W";
		}
		
		// check first for months...;
		if(all_months_val == "0" && months_sel_val.length > 0) {
			result_array[3] = months_sel_val.join(',');
		}
		
		// check first for weekdays...;
		if(all_weekdays_val == "0" && weekdays_sel_val.length > 0) {
			result_array[4] = weekdays_sel_val.join(',');
		}else if(all_weekdays_val == "3") {
			result_array[4] = weekdays_sel_val.join(',') + "L";
		}else if(all_weekdays_val == "4") {
			result_array[4] = weekdays_sel_val.join(',') + "#" + weekdays_th_val;
		}
		
		// result to manual_expression input
		$('input[name="manual_expression"]').val(result_array.join(' '));
	}

</script>