<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật thông báo</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/notification/list-notification">Quản lý thông báo</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="notification__name">
                                Tiêu đề <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="notification__name" value="<%= infoNotification.name %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="notification__description">
                                Mô tả
                            </label>

                            <textarea class="form-control" rows="4" maxlength="256" id="notification__description" placeholder=""><%= infoNotification.description %></textarea>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="notification__content">
                                Nội dung
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="notification__content" value="<%= infoNotification.content %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="notification__order">
                                Thứ tự
                            </label>
                            <input type="number" class="form-control" id="notification__order" value="<%= infoNotification.order %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" id="notification__receivers">
                                Danh sách người nhận
                            </label>
                            <div>
                                <% let hasSelect = listReceiver_notification.length %>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        Tất cả Danh sách người nhận
                                        <input class="form-check-input" type="radio" name="rdOptionsEmployee" value="all" <%= !hasSelect && 'checked' %>>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        Chọn Danh sách người nhận cụ thể
                                        <input class="form-check-input" type="radio" name="rdOptionsEmployee" value="specify" <%= hasSelect && 'checked' %>>
                                    </label>
                                    <button class="btn btn-outline-primary btn-sm ms-2 <%= !hasSelect && 'd-none' %>" id="btnOpenModalSelectEmployee" data-bs-toggle="modal" data-bs-target="#modalFilterEmployee">
                                        <% if (hasSelect) { %>
                                        Đã chọn <%= listReceiver_notification.length %> Danh sách người nhận
                                        <% } else{ %>
                                        Chọn Danh sách người nhận
                                        <% } %>
                                    </button>
                                </div>
                                <ul class="parsley-errors-list">
                                    <li class="parsley-required">This value is required.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="notification__status">
                                Trang thái
                            </label>
                            <select class="form-select mt-2" id="notification__status">
                                <option selected disabled>Chọn Trang thái</option>
                                <option value="1">Hoạt động</option>
                                <option value="2">Không hoạt động</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="notification__from">
                                Ngày bắt đầu <span class="text-danger">(*)</span>
                            </label>
                            <input type="date" class="form-control" id="notification__from" value="<%= moment(infoNotification.from).format("YYYY-MM-DD") %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="notification__to">
                                Ngày kết thúc <span class="text-danger">(*)</span>
                            </label>
                            <input type="date" class="form-control" id="notification__to" value="<%= moment(infoNotification.to).format("YYYY-MM-DD") %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __notificationID="<%= infoNotification._id %>">
                    Cập nhật
                </button>
                <a href="/notification/list-notification" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-xl" id="modalFilterEmployee" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Chọn Danh sách người nhận</h6>
                </div>
                <div class="card-body">

                    <div class="row mb-3">
                        <div class="col-12 col-sm-4 d-flex justify-content-start">
                            <div class="input-group">
                                <label class="my-2 me-2">Tìm kiếm</label>
                                <input type="text" class="form-control input-search-select" autocomplete="off" placeholder="Search...">
                                <button class="input-group-text btn-search-select">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <button class="btn btn-secondary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasConditionEmployee" aria-controls="offcanvasConditionEmployee">
                                <i class="fas fa-filter"></i> Bộ lọc
                            </button>
                            <button class="btn btn-danger btn-reset-filter">
                                <i class="fas fa-redo"></i> Reset
                            </button>


                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasConditionEmployee" aria-labelledby="offcanvasConditionEmployeeLabel" style="width: 800px;">
                                <div class="offcanvas-header">
                                    <h5 id="offcanvasConditionEmployeeLabel" class="m-0">Bộ lọc</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">

                                    <div class="repeater-default">
                                        <div data-repeater-list="condition">

                                            <div data-repeater-item="" class="d-none">
                                                <div class="row d-flex justify-content-start">

                                                    <div class="line-condition position-relative d-none">
                                                        <h2 class="type-condition" data-type-condition="AND">
                                                            <span class="badge badge-soft-primary">AND</span>
                                                        </h2>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <select class="form-select input-field-name">
                                                            <option disabled selected>Chọn trường</option>

                                                            <option value="fullname" data-type="text">Họ và tên</option>

                                                            <option value="code" data-type="text">Mã nhân viên</option>

                                                            <option value="username" data-type="text">Tên đăng nhập</option>

                                                            <option value="email" data-type="text">Email</option>
                                                            <option value="region" data-type="ref">Miền</option>
                                                            <option value="area" data-type="ref">Vùng</option>
                                                            <option value="distributor" data-type="ref">Nhà phân phối</option>
                                                            <option value="type_employee" data-type="ref">Loại Nhân viên</option>
                                                            <option value="status" data-type="enum">Trạng thái</option>

                                                            <option value="createAt" data-type="date">Ngày tạo</option>
                                                        </select>
                                                    </div>


                                                    <div class="col-sm-8 d-flex d-none" data-follow="fullname" data-type="text">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal">Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="start-with">Bắt đầu với</option>
                                                            <option value="end-with">Kết thúc với</option>
                                                            <option value="is-contains" selected>Có chứa</option>
                                                            <option value="not-contains">Không chứa</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <input type="text" class="form-control input-field-value">
                                                    </div>

                                                    <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal">Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="start-with">Bắt đầu với</option>
                                                            <option value="end-with">Kết thúc với</option>
                                                            <option value="is-contains" selected>Có chứa</option>
                                                            <option value="not-contains">Không chứa</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <input type="text" class="form-control input-field-value">
                                                    </div>

                                                    <div class="col-sm-8 d-flex d-none" data-follow="username" data-type="text">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal">Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="start-with">Bắt đầu với</option>
                                                            <option value="end-with">Kết thúc với</option>
                                                            <option value="is-contains" selected>Có chứa</option>
                                                            <option value="not-contains">Không chứa</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <input type="text" class="form-control input-field-value">
                                                    </div>

                                                    <div class="col-sm-8 d-flex d-none" data-follow="email" data-type="text">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal">Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="start-with">Bắt đầu với</option>
                                                            <option value="end-with">Kết thúc với</option>
                                                            <option value="is-contains" selected>Có chứa</option>
                                                            <option value="not-contains">Không chứa</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <input type="text" class="form-control input-field-value">
                                                    </div>

                                                    <div class="col-sm-8 d-none" data-follow="region">
                                                        <select class="col-sm-4 form-select input-field-ref-name">
                                                            <option disabled selected>Chọn trường</option>

                                                            <option value="name" data-type="text">Tên miền</option>

                                                            <option value="code" data-type="text">Mã miền</option>

                                                            <option value="order" data-type="number">Thứ tự</option>

                                                            <option value="status" data-type="enum">Trạng thái</option>

                                                            <option value="createAt" data-type="date">Ngày tạo</option>
                                                        </select>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="greater-than">Lớn hơn</option>
                                                                <option value="less-than">Bé hơn</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="number" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <select class="form-select input-select-value">
                                                                <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                                <option value="1">Hoạt động</option>
                                                                <option value="2">Không hoạt động</option>
                                                            </select>
                                                        </div>


                                                        <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="before">Trước</option>
                                                                <option value="after">Sau</option>
                                                                <option value="today">Hôm nay</option>
                                                                <option value="yesterday">Hôm qua</option>
                                                                <option value="before-hours">N tiếng trước</option>
                                                                <option value="before-days">N ngày trước</option>
                                                                <option value="before-months">N tháng trước</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="date" class="form-control input-field-value">
                                                            <input type="number" class="form-control input-field-value d-none">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-8 d-none" data-follow="area">
                                                        <select class="col-sm-4 form-select input-field-ref-name">
                                                            <option disabled selected>Chọn trường</option>

                                                            <option value="name" data-type="text">Tên vùng</option>

                                                            <option value="code" data-type="text">Mã vùng</option>

                                                            <option value="order" data-type="number">Thứ tự</option>

                                                            <option value="status" data-type="enum">Trạng thái</option>

                                                            <option value="createAt" data-type="date">Ngày tạo</option>
                                                        </select>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="greater-than">Lớn hơn</option>
                                                                <option value="less-than">Bé hơn</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="number" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <select class="form-select input-select-value">
                                                                <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                                <option value="1">Hoạt động</option>
                                                                <option value="2">Không hoạt động</option>
                                                            </select>
                                                        </div>


                                                        <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="before">Trước</option>
                                                                <option value="after">Sau</option>
                                                                <option value="today">Hôm nay</option>
                                                                <option value="yesterday">Hôm qua</option>
                                                                <option value="before-hours">N tiếng trước</option>
                                                                <option value="before-days">N ngày trước</option>
                                                                <option value="before-months">N tháng trước</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="date" class="form-control input-field-value">
                                                            <input type="number" class="form-control input-field-value d-none">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-8 d-none" data-follow="distributor">
                                                        <select class="col-sm-4 form-select input-field-ref-name">
                                                            <option disabled selected>Chọn trường</option>

                                                            <option value="name" data-type="text">Tên nhà phân phối</option>

                                                            <option value="code" data-type="text">Mã nhà phân phối</option>

                                                            <option value="description" data-type="text">Mô tả</option>

                                                            <option value="status" data-type="enum">Trạng thái</option>

                                                            <option value="createAt" data-type="date">Ngày tạo</option>
                                                        </select>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="description" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <select class="form-select input-select-value">
                                                                <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                                <option value="1">Hoạt động</option>
                                                                <option value="2">Không hoạt động</option>
                                                            </select>
                                                        </div>


                                                        <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="before">Trước</option>
                                                                <option value="after">Sau</option>
                                                                <option value="today">Hôm nay</option>
                                                                <option value="yesterday">Hôm qua</option>
                                                                <option value="before-hours">N tiếng trước</option>
                                                                <option value="before-days">N ngày trước</option>
                                                                <option value="before-months">N tháng trước</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="date" class="form-control input-field-value">
                                                            <input type="number" class="form-control input-field-value d-none">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-8 d-none" data-follow="type_employee">
                                                        <select class="col-sm-4 form-select input-field-ref-name">
                                                            <option disabled selected>Chọn trường</option>

                                                            <option value="name" data-type="text">Tên Loại</option>

                                                            <option value="order" data-type="number">Thứ tự</option>

                                                            <option value="status" data-type="enum">Trạng thái</option>

                                                            <option value="type" data-type="enum">Loại</option>

                                                            <option value="createAt" data-type="date">Ngày tạo</option>
                                                        </select>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal">Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="start-with">Bắt đầu với</option>
                                                                <option value="end-with">Kết thúc với</option>
                                                                <option value="is-contains" selected>Có chứa</option>
                                                                <option value="not-contains">Không chứa</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="text" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="greater-than">Lớn hơn</option>
                                                                <option value="less-than">Bé hơn</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="number" class="form-control input-field-value">
                                                        </div>

                                                        <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <select class="form-select input-select-value">
                                                                <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                                <option value="1">Hoạt động</option>
                                                                <option value="2">Không hoạt động</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-sm-8 d-none" data-follow="type" data-type="enum">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <select class="form-select input-select-value">
                                                                <option value="-1" disabled selected>Chọn Loại</option>
                                                                <option value="1">NA</option>
                                                                <option value="2">PG</option>
                                                            </select>
                                                        </div>


                                                        <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                            <select class="form-select input-field-compare">
                                                                <option value="equal" selected>Bằng</option>
                                                                <option value="not-equal">Không bằng</option>
                                                                <option value="before">Trước</option>
                                                                <option value="after">Sau</option>
                                                                <option value="today">Hôm nay</option>
                                                                <option value="yesterday">Hôm qua</option>
                                                                <option value="before-hours">N tiếng trước</option>
                                                                <option value="before-days">N ngày trước</option>
                                                                <option value="before-months">N tháng trước</option>
                                                                <option value="null">Trống</option>
                                                            </select>

                                                            <input type="date" class="form-control input-field-value">
                                                            <input type="number" class="form-control input-field-value d-none">
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal" selected>Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <select class="form-select input-select-value">
                                                            <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                            <option value="1">Hoạt động</option>
                                                            <option value="2">Không hoạt động</option>
                                                        </select>
                                                    </div>


                                                    <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                        <select class="form-select input-field-compare">
                                                            <option value="equal" selected>Bằng</option>
                                                            <option value="not-equal">Không bằng</option>
                                                            <option value="before">Trước</option>
                                                            <option value="after">Sau</option>
                                                            <option value="today">Hôm nay</option>
                                                            <option value="yesterday">Hôm qua</option>
                                                            <option value="before-hours">N tiếng trước</option>
                                                            <option value="before-days">N ngày trước</option>
                                                            <option value="before-months">N tháng trước</option>
                                                            <option value="null">Trống</option>
                                                        </select>

                                                        <input type="date" class="form-control input-field-value">
                                                        <input type="number" class="form-control input-field-value d-none">
                                                    </div>

                                                    <div class="col-sm-1">
                                                        <span data-repeater-delete="" class="btn btn-outline-danger">
                                                            <span class="far fa-trash-alt"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- END REPEATER ITEM -->

                                        </div>
                                        <!-- END REPEATER LIST -->

                                        <div class="form-group mb-0 mt-4 row">
                                            <div class="col-12 col-sm-4">
                                                <span class="btn btn-soft-secondary btn-add-filter">
                                                    <span class="fas fa-plus"></span> Thêm điều kiện
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- END OFFCANVAS-BODY -->
                                <hr class="hr-dashed hr-menu">
                                <div class="form-group mb-0 row" style="padding: 0 1rem 1rem 1rem !important;">
                                    <div class="col-12 col-sm-6">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-lg btn-soft-primary btn-apply-filter">
                                                <i class="mdi mdi-check-all me-2"></i>
                                                Áp dụng
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-lg btn-soft-danger btn-discard-filter">
                                                <!-- <i class="mdi mdi-alert-outline me-2"></i> -->
                                                Xóa bộ lọc
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">
                                            Danh sách Danh sách người nhận
                                            (Đã chọn: <span class="total-selected"><%= listReceiver_notification.length %></span>)
                                        </h5>
                                        <div class="text-end">
                                            <button type="button" class="btn btn-soft-primary btn-sm btn-select-all">
                                                Chọn tất cả
                                            </button>
                                            <button type="button" class="btn btn-soft-danger btn-sm btn-unselect-current-page">
                                                Bỏ chọn tất cả trên trang này
                                            </button>
                                            <button type="button" class="btn btn-soft-danger btn-sm btn-unselect-all">
                                                Bỏ chọn tất cả
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-list" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Họ và tên</th>
                                                <th class="text-left">Mã nhân viên</th>
                                                <th class="text-left">Tên đăng nhập</th>
                                                <th class="text-left">Email</th>
                                                <th class="text-left">Miền</th>
                                                <th class="text-left">Vùng</th>
                                                <th class="text-left">Nhà phân phối</th>
                                                <th class="text-left">Loại Nhân viên</th>
                                                <th class="text-left">Trạng thái</th>
                                                <th class="text-left">Ngày tạo</th>
                                                <th class="text-left">Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <!--end /table-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div> <!-- end col -->

                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-soft-primary waves-effect waves-light me-1 btn-save-select" data-bs-dismiss="modal">
                            Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>