<script>
    $(document).ready(function() {
        let placeHolder = `<tr><td><div class="ph-item ph-row set_width_placeholder"><div class="ph-col-12 big"></div></div></td>
                <td>
                    <div class="ph-item ph-row set_width_placeholder">
                        <div class=" ph-col-12 big">
                        </div>
                    </div>
                </td>
            
                <td>
                    <div class="ph-item ph-row set_width_placeholder">
                        <div class=" ph-col-12 big">
                        </div>
                    </div>
                </td>
            
                <td>
                    <div class="ph-item ph-row set_width_placeholder">
                        <div class=" ph-col-12 big">
                        </div>
                    </div>
                </td>
            
                <td>
                    <div class="ph-item ph-row set_width_placeholder">
                        <div class=" ph-col-12 big">
                        </div>
                    </div>
                </td>
            </tr>`;

        let opts = {};

        let optSortDataTable = {};
        const dataTable = $('#tableListCheckin_checkout').DataTable({
            'iDisplayLength': 25,
            "aaSorting": [],
            ...languageDataTable,
            
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/checkin_checkout/list-checkin_checkout-server-side',
                "dataType": "json",
                data: d => {
                    optSortDataTable = d;
                    return {
                        ...d,
                        ...opts
                    }
                }
            },
            "columns": [{
                    "data": "index",
                    "width": "5%"
                },
                {
                    "data": "createAt"
                },
                {
                    "data": "employee"
                }, {
                    "data": "store"
                }, {
                    "data": "shift"
                }, 
                {
                    "data": "status"
                },
                {
                    "data": "checkin_checkout"
                }
            ],

        });

        $('.btn-add-filter').on('click', function() {
            const tid = randomStringFixLengthCode(15);
            const template = $('[data-repeater-item].d-none')
                .clone()
                .removeClass('d-none')
                .attr('__tid', tid);

            // Append condition field
            $('[data-repeater-list="condition"]').append(template);

            // Set select 2
            template.find('.input-field-compare, .input-select-value').each((i, elem) => {
                $(elem).select2({
                    dropdownParent: template,
                    width: '100%'
                });
            })

            template.find('.input-field-name, .input-field-ref-name').select2({
                dropdownParent: template,
                width: "100%"
            });

            if ($('[data-repeater-item]:not(.d-none)').length > 1) {
                template.find('.line-condition').removeClass('d-none');
            }
        });
        $('.btn-add-filter').trigger('click');

        $(document).on('click', '.type-condition', function() {
            const typeCondition = $(this).attr('data-type-condition');
            const template = $('[data-repeater-item] .type-condition');

            if (typeCondition === 'OR') {
                template
                    .attr('data-type-condition', 'AND')
                    .children()
                    .text('AND')
                    .addClass('badge-soft-primary')
                    .removeClass('badge-soft-warning')
            } else {
                template
                    .attr('data-type-condition', 'OR')
                    .children()
                    .text('OR')
                    .addClass('badge-soft-warning')
                    .removeClass('badge-soft-primary')
            }
        });

        $(document).on('change', '.input-field-compare', function() {
            const template = $(this).closest('[data-repeater-item]');
            const parentType = $(this).parent().data('type');
            const value = $(this).val();

            switch (value) {
                case 'equal':
                case 'not-equal':
                case 'greater-than':
                case 'less-than':
                case 'start-with':
                case 'end-with':
                case 'is-contains':
                case 'not-contains':
                case 'before':
                case 'after':
                    if (parentType === 'date') {
                        $(this).parent().find('input[type="date"]').removeClass('d-none');
                        $(this).parent().find('input[type="number"]').addClass('d-none');
                    } else {
                        $(this).parent().find('.input-field-value').removeClass('d-none');
                        $(this).parent().find('.input-select-value').next().removeClass('d-none');
                    }
                    break;
                case 'before-hours':
                case 'before-days':
                case 'before-months':
                    $(this).parent().find('input[type="date"]').addClass('d-none');
                    $(this).parent().find('input[type="number"]').removeClass('d-none');
                    break;
                default:
                    $(this).parent().find('.input-field-value').addClass('d-none');
                    $(this).parent().find('.input-select-value').next().addClass('d-none');
                    break;
            }
        });

        $(document).on('change', '.input-field-name', function() {
            const template = $(this).closest('[data-repeater-item]');
            const value = $(this).val();

            template.find('[data-follow]').addClass('d-none').removeClass('d-flex');
            template.find(`[data-follow=${value}]`).removeClass('d-none').addClass('d-flex');
        });

        $(document).on('change', '.input-field-ref-name', function() {
            const template = $(this).closest('[data-repeater-item]');
            const parent = $(this).parent();
            const value = $(this).val();

            parent.find('[data-follow]').addClass('d-none').removeClass('d-flex');
            parent.find(`[data-follow=${value}]`).removeClass('d-none').addClass('d-flex');
        });

        $('.btn-apply-filter').on('click', function() {
            const conditions = $('[data-repeater-item]:not(.d-none)');
            opts.filter = [];

            conditions.each((i, condition) => {
                let fieldName = $(condition).find('.input-field-name').val();
                let type = $(condition).find('.input-field-name').find(":selected").data('type');
                let fieldCondition = $(condition).find(`[data-follow=${fieldName}]:not(.d-none)`);

                if (type && fieldName) {
                    if (type === 'ref') {
                        let fieldRefName = fieldCondition.find('.input-field-ref-name').val();
                        let typeFieldRef = fieldCondition.find('.input-field-ref-name').find(":selected").data('type');
                        let fieldRefCondition = fieldCondition.find(`[data-follow=${fieldRefName}]`);
                        let cond = fieldRefCondition.find('.input-field-compare').val();
                        let value = fieldRefCondition.find('.input-field-value:not(.d-none), .input-select-value').val();

                        opts.filter = [...opts.filter, {
                            type,
                            fieldRefName: fieldName,
                            ref: {
                                type: typeFieldRef,
                                fieldName: fieldRefName,
                                cond,
                                value
                            }
                        }]
                    } else {
                        let cond = fieldCondition.find('.input-field-compare').val();
                        let value = fieldCondition.find('.input-field-value:not(.d-none), .input-select-value').val();

                        opts.filter = [...opts.filter, {
                            type,
                            fieldName: fieldName === 'rootCreateAt' ? 'createAt' : fieldName,
                            cond,
                            value
                        }]
                    }
                }

            })

            $('.modal-backdrop').addClass('unblur');
            opts.condition = $('[data-repeater-item]:not(.d-none) .type-condition').attr('data-type-condition');
            dataTable.ajax.reload();
        });

        $('.input-search-text').on('keypress', function(e) {
            if (e.which == 13) {
                opts.keyword = $(this).val();
                dataTable.ajax.reload();
            }
        });

        $('.btn-filter').on('click', function() {
            opts.keyword = $('.input-search-text').val();
            dataTable.ajax.reload();
        });

        $('.btn-discard-filter').on('click', function() {
            opts = {};
            dataTable.ajax.reload();
            $('.modal-backdrop').addClass('unblur');
            $('[data-repeater-item]:not(.d-none)').remove();
            $('.btn-add-filter').trigger('click');
        });

        $('#offcanvasRight').on('hide.bs.offcanvas', function() {
            $('.modal-backdrop').removeClass('unblur');
        });

        $(document).on('click', '.status-checkin_checkout-choice', function() {
            let valueChoice = $(this).attr('_value');
            let keyChoice = $(this).attr('_key');

            if (keyChoice && valueChoice) {
                opts.objFilterStatic = {
                    [keyChoice]: valueChoice
                }

                dataTable.ajax.reload();
            } else {
                opts = {};
                dataTable.ajax.reload();
            }
        })

        $(document).on('click', '.btn-remove-checkin_checkout', async function() {
            const checkin_checkoutID = $(this).attr('__checkin_checkoutID');

            await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá lịch sử checkin checkout?',
                icon: 'question',
                cb: result => {
                    const {
                        error,
                        message
                    } = result.value;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    $(this).closest('tr').remove();
                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Xoá lịch sử checkin checkout thành công',
                        icon: 'info'
                    });
                },
                preConfirm: () => {
                    if (!checkin_checkoutID) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: 'Không thể xoá lịch sử checkin checkout vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "DELETE",
                        url: "/checkin_checkout/delete/" + checkin_checkoutID,
                    })
                }
            });

        });

        function showButtonAction() {
            let checkItemChecked = $('.check-record.checked');
            if (checkItemChecked.length) {
                $('.action-checkin_checkout').attr('disabled', false);
            } else {
                $('.action-checkin_checkout').attr('disabled', true);
            }
        };

        $(document).on('change', '.check-all-record', function() {
            let check = $(this).is(':checked');
            if (check) {
                $('.check-record').each((index, elem) => {
                    $(elem).prop('checked', true);
                    $(elem).addClass('checked');
                });
            } else {
                $('.check-record').each((index, elem) => {
                    $(elem).prop('checked', false);
                    $(elem).removeClass('checked');
                });
            }
            showButtonAction()
        })

        $(document).on('change', '.check-record', function() {
            let check = $(this).is(':checked');
            $('.check-all-record').prop('checked', false);
            if (check) {
                $(this).addClass('checked');
            } else {
                $(this).removeClass('checked');
            }
            showButtonAction()
        });

        $(document).on('click', '.action-checkin_checkout', function() {
            let checkItemChecked = $('.check-record.checked');
            $('.show-clip-board').addClass('d-none');

            if (checkItemChecked.length == 1) {
                $('.update-checkin_checkout').removeClass('d-none');
                $('.delete-checkin_checkout').removeClass('d-none');
            } else if (checkItemChecked.length > 1) {
                $('.update-checkin_checkout').addClass('d-none');
                $('.delete-checkin_checkout').removeClass('d-none');
            } else {
                $('.update-checkin_checkout').addClass('d-none');
                $('.delete-checkin_checkout').addClass('d-none');
            }
        })

        $(document).on('click', '.update-checkin_checkout', function(e) {
            e.preventDefault();
            let checkItemChecked = $('.check-record.checked');
            if (checkItemChecked.length > 1 || checkItemChecked.length == 0) {
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: 'Bạn chỉ có thể chỉnh sửa một dữ liệu',
                    icon: 'warning'
                });
            }

            let checkin_checkoutID = $(checkItemChecked[0]).attr('id');
            location.href = '/checkin_checkout/update-checkin_checkout-by-id?checkin_checkoutID=' + checkin_checkoutID;
        })

        $(document).on('click', '.delete-checkin_checkout', async function(e) {
            e.preventDefault();
            let checkItemChecked = $('.check-record.checked');
            if (checkItemChecked.length == 0) {
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: 'Bạn phải chọn ít nhất một dữ liệu để xóa',
                    icon: 'warning'
                });
            }

            let listItemID = [];
            $('.check-record.checked').each((index, elem) => {
                let checkin_checkoutID = $(elem).attr('id');
                listItemID = [
                    ...listItemID,
                    checkin_checkoutID
                ]
            })

            await ConfirmCustomAjax({
                title: 'Bạn có chắc chắn muốn xoá?',
                icon: 'question',
                cb: result => {
                    const {
                        error,
                        message
                    } = result.value;

                    if (typeof result.value === 'string') {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: 'Bạn không có quyền xóa',
                            icon: 'warning'
                        });
                    }

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    setTimeout(() => window.location.reload(), 1500);
                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Xoá thành công',
                        icon: 'info'
                    });
                },
                preConfirm: () => {
                    if (!listItemID.length) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: 'Không thể xoá vui lòng thử reload lại trang',
                            icon: 'warning'
                        });
                    }

                    return $.ajax({
                        type: "POST",
                        url: "/checkin_checkout/delete-checkin_checkout-by-list-id",
                        data: {
                            checkin_checkoutID: listItemID
                        }
                    })
                }
            });
        })

        function changeCallAjaxGetHistory(arrayChoiced) {
            arrayChoiced && arrayChoiced.length && arrayChoiced.map(item => {
                $('.check-field-' + item).trigger('click')
            })
        }

        let arrayItemHistoryChoice = []; // LẤY HISTORY ITEM ĐÃ CHỌN
        let nameOfParentColl = ''; // TÊN CỦA COLL CHỌN EXPORT
        let arrayDataEnum = []; // DANH SÁCH DATAENUM VS ISSTATUS

        function ajaxGetFieldColl({
            nameColl,
            type,
            input,
            refFrom,
            countRefBefore,
            fieldID,
            clear
        }) {
            $.ajax({
                url: '/get-info-coll?nameColl=' + nameColl,
                method: 'GET',
                success: resp => {
                    if (!resp.error) {
                        let listField = '';
                        if (type == 'origin') {
                            if (resp.listHistoryChoice) {
                                arrayItemHistoryChoice = resp.listHistoryChoice.list_type_coll;
                            }
                        }
                        let arrayChoiced = [];
                        resp.data.map(item => {
                            let ref = '';
                            let icon = '';
                            let countRef = (type == 'origin') ? 1 : countRefBefore;
                            let classParent = (type == 'origin') ? "check-field-coll-parent" : "";

                            let collIsRefFrom = refFrom ? refFrom : '';
                            let name = item.note ? item.note : item.name;
                            let nameCollChoice = (resp.collChoice && !resp.collChoice.error && resp.collChoice.data.description) ? resp.collChoice.data.description : resp.collChoice.data.name;

                            if (arrayItemHistoryChoice && arrayItemHistoryChoice.length) {
                                if (arrayItemHistoryChoice.includes(item._id)) {
                                    arrayChoiced = [
                                        ...arrayChoiced,
                                        item._id
                                    ]
                                } else {
                                    if (type == 'populate') {
                                        arrayChoiced = [
                                            ...arrayChoiced,
                                            item._id
                                        ]
                                    }
                                }
                            } else { // LOẠI POPULATE THÌ CHO SELECT ALL
                                if (type == 'populate') {
                                    arrayChoiced = [
                                        ...arrayChoiced,
                                        item._id
                                    ]
                                }
                            }

                            let dataEnum = '';
                            if (item.isStatus) {
                                dataEnum += item.dataEnum.map(isStatus => isStatus.title);
                                arrayDataEnum = [
                                    ...arrayDataEnum,
                                    {
                                        _id: item._id,
                                        dataEnum: item.dataEnum
                                    }
                                ]
                            }

                            if (item.ref) {
                                ref = item.ref;
                                let checkClassRefWasShowed = $('.ref-' + item.ref);
                                if (!checkClassRefWasShowed.length) {
                                    const COUNT_CAN_POPULATE = 3;
                                    if (countRef < COUNT_CAN_POPULATE) {
                                        icon = '<i class="not-check-all-field far fa-star" _collID = "' + item._id + '" style="margin-left: 5px;font-size: 12px;"></i>';
                                        listField += '<div class="list-group-item list-group-item-' + item._id + ' checkbox checkbox-success"> <div class="row"><div class="col-lg-8">';
                                        let input = '<input _nameCollChoice = "' + nameCollChoice + '"  _dataEnum = "' + dataEnum + '" _type = "' + item.type + '"  _countRef ="' + countRef + '" _note="' + name + '" _refFrom = "' + collIsRefFrom + '" _typeColl ="' + type + '" _coll="' + nameColl + '" _ref="' + ref + '" id="' + item._id + '" type="checkbox" class="item-coll-' + nameColl + ' check-field-coll ' + classParent + ' check-field-' + item._id + ' ref-' + ref + '" _value="' + item.name + '"><label class="label-export" for="' + item._id + '">' + name + icon + '</label>'
                                        listField += input + ' </div><div class="col-lg-4"><span class="' + nameColl + "-" + item.name + '-badge badge-' + item.ref + ' badge rounded-pill badge-outline-warning">Chọn</span></div></div></div>'
                                    }
                                }
                            } else {
                                listField += '<div class="list-group-item list-group-item-' + item._id + ' checkbox checkbox-success"> <div class="row"><div class="col-lg-8">';
                                let input = '<input _nameCollChoice = "' + nameCollChoice + '"  _dataEnum = "' + dataEnum + '" _type = "' + item.type + '" _countRef ="' + countRef + '" _note="' + name + '" _refFrom = "' + collIsRefFrom + '" _typeColl ="' + type + '" _coll="' + nameColl + '" _ref="' + ref + '" id="' + item._id + '" type="checkbox" class="item-coll-' + nameColl + ' check-field-coll ' + classParent + ' check-field-' + item._id + ' ref-' + ref + '" _value="' + item.name + '"><label class="label-export" for="' + item._id + '">' + name + icon + '</label>'
                                listField += input + ' </div><div class="col-lg-4"><span class="' + nameColl + "-" + item.name + '-badge badge rounded-pill badge-outline-warning">Chọn</span></div></div></div>'
                                // listField += '<div class="list-group-item checkbox checkbox-success"><input _countRef ="' + countRef + '" _note="' + name + '" _refFrom = "' + collIsRefFrom + '" _typeColl ="' + type + '" _coll="' + nameColl + '" _ref="' + ref + '" id="' + item._id + '" type="checkbox" class="check-field-coll '+ classParent +'" _value="' + item.name + '"><label for="' + item._id + '">' + name + icon + '</label></div>';
                            }
                        });

                        if (type == 'origin') {
                            nameOfParentColl = resp.collChoice.data.description
                            $('.totalItem').text(resp.data.length);
                            $('.list-field-coll-print').empty();
                            $('.list-field-coll-print').append(listField);
                        } else {
                            let dataToAppend = '<ul class= "' + nameColl + ' list-group list-group-flush" style="padding-left: 20px;">' + listField + '</ul>';
                            $(input).parents('.list-group-item-' + fieldID).append(dataToAppend);
                        }
                        if (!clear) {
                            changeCallAjaxGetHistory(arrayChoiced);
                        }
                    }
                }
            }).done(() => {
                dragula([document.querySelector('.list-field-coll-print')])
            });
        }

        $(document).on('click', '.print-checkin_checkout', function() {
            $('.list-field-coll-print').empty();

            ajaxGetFieldColl({
                nameColl: 'checkin_checkout',
                type: 'origin'
            });
            $('.btn-export-excel').removeClass('d-none');
            $('.show-clip-board').addClass('d-none');
            $('.option-choose-export').removeClass('d-none');
        })

        function changeCountItemCheck() {
            let listItemChecked = $('.check-field-coll.checked');
            let listTotalItem = $('.check-field-coll');
            $('.countItemChoice').text(listItemChecked.length);
            $('.totalItem').text(listTotalItem.length);
        }

        function clickShowField(input) {
            let ref = $(input).attr('_ref');
            let refFrom = $(input).attr('_coll');
            let _countRef = $(input).attr('_countRef');
            let value = $(input).attr('_value');
            let fieldID = $(input).attr('id');
            let check = $(input).is(':checked');
            let countRefCanPopulate = Number(_countRef) + 1;

            return {
                ref,
                refFrom,
                _countRef,
                value,
                fieldID,
                check,
                countRefCanPopulate
            }
        }

        function changeCheckField(check, ref, countRefCanPopulate, fieldID, refFrom, input, value) {
            if (check) {
                if (countRefCanPopulate <= 3) {
                    if (ref) {
                        ajaxGetFieldColl({
                            nameColl: ref,
                            type: 'populate',
                            input: input,
                            refFrom: refFrom,
                            countRefBefore: countRefCanPopulate,
                            fieldID: fieldID,
                        });
                    }
                }
                $(input).addClass('checked');
                $('.' + refFrom + '-' + value + '-badge').removeClass('badge-outline-warning');
                $('.' + refFrom + '-' + value + '-badge').addClass('badge-outline-success');
                $('.' + refFrom + '-' + value + '-badge').text('Đã chọn');
            } else {
                $(input).removeClass('checked');

                if (refFrom) {
                    let listItem = $('.item-coll-' + refFrom + '.checked');
                    if (!listItem.length) {
                        $('.ref-' + refFrom).prop('checked', false);
                        $('.' + refFrom).remove();
                        $('.badge-' + refFrom).removeClass('badge-outline-success');
                        $('.badge-' + refFrom).addClass('badge-outline-warning');
                        $('.badge-' + refFrom).text('Chọn');
                    }
                }

                if (ref) {
                    $('.' + ref).remove();
                }
                $('.' + refFrom + '-' + value + '-badge').removeClass('badge-outline-success');
                $('.' + refFrom + '-' + value + '-badge').addClass('badge-outline-warning');
                $('.' + refFrom + '-' + value + '-badge').text('Chọn');
            }
            changeCountItemCheck();
        }

        $(document).on('click', '.check-field-coll', function() {
            let {
                ref,
                refFrom,
                _countRef,
                value,
                fieldID,
                check,
                countRefCanPopulate
            } = clickShowField(this);
            changeCheckField(check, ref, countRefCanPopulate, fieldID, refFrom, this, value);
        });

        $(document).on('click', '.btn-clear-all-field-choice', function() {
            ajaxGetFieldColl({
                nameColl: 'checkin_checkout',
                type: 'origin',
                clear: 'clearAll'
            });
            $('.countItemChoice').text('0');
        })

        $(document).on('click', '.btn-export-excel', function() {
            const CHOOSE_CSV = 1;
            const CHOOSE_XLSX = 2;
            const CHOOSE_VALID = [CHOOSE_CSV, CHOOSE_XLSX]

            let arrayItemChecked = [];
            let checkRecordChecked = $('.check-record.checked');
            if (checkRecordChecked && checkRecordChecked.length) {
                checkRecordChecked.each((index, elem) => {
                    let limit_kpi_configID = $(elem).attr('id');
                    arrayItemChecked = [
                        ...arrayItemChecked,
                        limit_kpi_configID
                    ]
                })
            }

            $('.option-choose-export').addClass('d-none');

            let checkItemChecked = $('.check-field-coll.checked');
            let chooseCSV = $('.chooseCSV:checked').val();

            if (Number.isNaN(Number(chooseCSV)) || !CHOOSE_VALID.includes(Number(chooseCSV))) {
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Loại Xuất không hợp lệ",
                    icon: 'warning'
                });
            }

            if (checkItemChecked.length == 0) {
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: 'Bạn phải chọn ít nhất một thuộc tính',
                    icon: 'warning'
                });
            }

            let listItemID = [];
            $('.check-field-coll.checked').each((index, elem) => {
                let name = $(elem).attr('_value');
                let coll = $(elem).attr('_coll');
                let type = $(elem).attr('_typeColl');
                let ref = $(elem).attr('_ref');
                let refFrom = $(elem).attr('_refFrom');
                let note = $(elem).attr('_note');
                let fieldID = $(elem).attr('id');
                let typeVar = $(elem).attr('_type');
                let nameCollChoice = $(elem).attr('_nameCollChoice');

                let dataEnum = [];
                arrayDataEnum && arrayDataEnum.length && arrayDataEnum.map(item => {
                    if (item._id == fieldID) {
                        dataEnum = item.dataEnum
                    }
                })

                let object = name;
                if (type == 'populate') {
                    object = coll + '.' + name;
                }

                listItemID = [...listItemID, {
                    name,
                    coll,
                    ref,
                    refFrom,
                    note,
                    fieldID: fieldID,
                    typeVar,
                    dataEnum,
                    nameCollChoice
                }]
            })
            // $('.list-field-coll-print').empty();
            // $('.list-field-coll-print').append('<div class="d-flex" style="align-items: center; justify-content: center;"><img src="../../../../../template/admin/assets/images/icon-loading.gif" alt="" style=""></div>')
            $.ajax({
                url: '/checkin_checkout/list-checkin_checkout-excel',
                method: 'POST',
                data: {
                    listItemExport: listItemID,
                    chooseCSV,
                    filter: opts.filter,
                    objFilterStatic: opts.objFilterStatic,
                    condition: opts.condition,
                    nameOfParentColl,
                    ...optSortDataTable,
                    keyword: opts.keyword,
                    arrayItemChecked
                },
                success: resp => {
                    if (resp.error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: resp.message,
                            icon: 'warning'
                        });
                    } else {
                        if (chooseCSV == CHOOSE_CSV) {
                            $('.show-clip-board').removeClass('d-none');
                            $('.show-url-export').val(resp.domain + resp.data);
                            $('.list-field-coll-print').empty();
                            $('.btn-export-excel').addClass('d-none');
                            // $('.list-field-coll-print').append('<h5 style= "overflow-wrap: anywhere;">Copy: ' + resp.domain + resp.data + '</h5>')
                        } else {
                            // window.location.href = resp.data;
                            return AlertCustom({
                                title: 'THÔNG BÁO',
                                message: 'Bạn đã cấu hình EXPORT thành công',
                                icon: 'success'
                            });
                            // $('.list-field-coll-print').empty();
                            // $('.alert-export-success').removeClass('d-none');
                            // $('#exampleModalDefault').modal('hide');
                        }
                    }
                }
            })
        });

        $(document).on('click', '.download-excel-export', function() {

            $('.loading-excel-export').removeClass('d-none');
            let arrayItemChecked = [];
            let checkRecordChecked = $('.check-record.checked');
            if (checkRecordChecked && checkRecordChecked.length) {
                checkRecordChecked.each((index, elem) => {
                    let limit_kpi_configID = $(elem).attr('id');
                    arrayItemChecked = [
                        ...arrayItemChecked,
                        limit_kpi_configID
                    ]
                })
            }

            $.ajax({
                url: '/checkin_checkout/dowload-checkin_checkout-excel-export',
                method: 'POST',
                data: {
                    filter: opts.filter,
                    objFilterStatic: opts.objFilterStatic,
                    condition: opts.condition,
                    ...optSortDataTable,
                    keyword: opts.keyword,
                    arrayItemChecked
                },
                success: resp => {
                    if (resp.error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: resp.message,
                            icon: 'warning'
                        });
                    } else {
                        window.location.href = resp.data;
                    }
                }
            }).done(() => $('.loading-excel-export').addClass('d-none'))
        });

        $('.download-checkin_checkout-excel-export').on('click', function() {
            // let option = JSON.stringify(opts);
            $(".btnConfirmExportCheckinCheckout").attr("download", 1);
            return $("#modalConfigExportExcel").modal("show")
            // $.ajax({
            //     url: '/api/checkin_checkout/download-checkin_checkout-excel?opt=' + option,
            //     method: 'GET',
            //     success: resp => {
                    
            //         if (resp.error) {
            //             return AlertCustom({
            //                 title: 'THÔNG BÁO',
            //                 message: resp.message,
            //                 icon: 'warning'
            //             });
            //         } else {
            //             window.location.href = resp.data;
            //         }
            //     }
            // })
        });

        $('.download-general-checkin_checkout-excel-export').on('click', function() {
            $(".btnConfirmExportCheckinCheckout").attr("download", 2);
            return $("#modalConfigExportExcel").modal("show")
        });

        $('.btnConfirmExportCheckinCheckout').on('click', function() {
            let option = JSON.stringify(opts);
            const monthAndYear = $("#month_year__export").val();
            if(!monthAndYear)
                return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: "Vui lòng nhập tháng/năm download",
                            icon: 'warning'
                        }); 

            let download = $(this).attr("download");
            let url;
            if(download == 1){
                url = `/api/checkin_checkout/download-checkin_checkout-excel?monthAndYear=${monthAndYear}&opt=${option}`;
            }else{
                url = `/api/checkin_checkout/download-general-checkin_checkout-excel?monthAndYear=${monthAndYear}&opt=${option}`;
            };
            $.ajax({
                url,
                method: 'GET',
                success: resp => {
                    $("#modalConfigExportExcel").modal("hide");
                    if (resp.error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: resp.message,
                            icon: 'warning'
                        });
                    } else {
                        window.location.href = resp.data;
                    }
                }
            }).done(() => $('.loading-general-checkin_checkout-excel-export-excel-export').addClass("d-none"))
        })
    })
</script>