<script>
    $(document).ready(function() {
        $("#checkin_checkout__employee").select2({
            width: "100%"
        });
        $("#checkin_checkout__employee").val("<%= infoCheckin_checkout.employee && infoCheckin_checkout.employee._id %>").trigger('change');

        $("#checkin_checkout__store").select2({
            width: "100%"
        });
        $("#checkin_checkout__store").val("<%= infoCheckin_checkout.store && infoCheckin_checkout.store._id %>").trigger('change');

        $("#checkin_checkout__shift").select2({
            width: "100%"
        });
        $("#checkin_checkout__shift").val("<%= infoCheckin_checkout.shift && infoCheckin_checkout.shift._id %>").trigger('change');

        $("#checkin_checkout__error_log").select2({
            width: "100%"
        });
        $("#checkin_checkout__error_log").val("<%= infoCheckin_checkout.error_log %>").trigger('change');

        $("#checkin_checkout__status").select2({
            width: "100%"
        });
        $("#checkin_checkout__status").val("<%= infoCheckin_checkout.status %>").trigger('change');

        initInputMaxLength('#checkin_checkout__location');
        initInputMaxLength('#checkin_checkout__note');
        initInputMaxLength('#checkin_checkout__devicename');
        initInputMaxLength('#checkin_checkout__deviceid');

        // initUploadCustom();

        $(document).on('click', '.btn-remove-image', function() {
            AlertCustom({ title: 'THÔNG BÁO', message: 'Không thể xoá hình ảnh', icon: 'info' });
            // $(this).closest('.box-preview-image').addClass('d-none');
            // $(this).closest('.box-dropzone-file').find('.box-drag-and-drop').removeClass('d-none');
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });

        const getFormUpdate = () => {
            // let employee = $('#checkin_checkout__employee').val();
            // let store = $('#checkin_checkout__store').val();
            // let shift = $('#checkin_checkout__shift').val();
            // let logs = $('#checkin_checkout__logs').val();
            let note = $('#checkin_checkout__note').val();
            // let status = $('#checkin_checkout__status').val();
            // let deviceName = $('#checkin_checkout__devicename').val();
            // let deviceID = $('#checkin_checkout__deviceid').val();
            // let platform = $('#checkin_checkout__platform').val();

            return {
                // employee,
                // store,
                // shift,
                // logs,
                note,
                // status,
                // deviceName,
                // deviceID,
                // platform,
            };
        }

        const checkFormValid = params => {
            let {
                employee,
                store,
                shift,
                logs,
                note,
                status,
                deviceName,
                deviceID,
                platform,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2, 3],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'checkin_checkout__status'];
                enableValidate('#checkin_checkout__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('checkin_checkout__status')) {
                    disableValidate('#checkin_checkout__status');
                }
            }

            if (platform && !["ANDROID", "IOS"].includes(platform)) {
                fieldsError = [...fieldsError, 'checkin_checkout__platform'];
                enableValidate('#checkin_checkout__platform', "nền tảng không hợp lệ");
            } else {
                if (!fieldsError.includes('checkin_checkout__platform')) {
                    disableValidate('#checkin_checkout__platform');
                }
            }

            if (!employee) {
                fieldsError = [...fieldsError, 'checkin_checkout__employee'];
                enableValidate('#checkin_checkout__employee', "Vui lòng chọn nhân viên");
            } else {
                if (!fieldsError.includes('checkin_checkout__employee')) {
                    disableValidate('#checkin_checkout__employee');
                }
            }

            if (!store) {
                fieldsError = [...fieldsError, 'checkin_checkout__store'];
                enableValidate('#checkin_checkout__store', "Vui lòng chọn cửa hàng");
            } else {
                if (!fieldsError.includes('checkin_checkout__store')) {
                    disableValidate('#checkin_checkout__store');
                }
            }

            if (!shift) {
                fieldsError = [...fieldsError, 'checkin_checkout__shift'];
                enableValidate('#checkin_checkout__shift', "Vui lòng chọn ca làm việc");
            } else {
                if (!fieldsError.includes('checkin_checkout__shift')) {
                    disableValidate('#checkin_checkout__shift');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CHECKIN_CHECKOUT.UPDATE_CHECKIN_CHECKOUT_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật lịch sử checkin checkout thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }

        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            // let {
            //     error,
            //     msg
            // } = checkFormValid(dataUpdate);
            // if (error) return AlertCustom({
            //     title: 'THÔNG BÁO',
            //     message: msg,
            //     icon: 'warning'
            // });

            enableButtonLoading(this);
            dataUpdate.checkin_checkoutID = $(this).attr('__checkin_checkoutID');

            // dataUpdate.faceImages = [];
            // $('.box-dropzone-file.dropzone-faceImages .box-drag-and-drop.d-none').each((i, elem) => {
            //     const name = $(elem).attr('name');
            //     const size = $(elem).attr('size');
            //     const path = $(elem).attr('path');

            //     if (name && path) {
            //         dataUpdate.faceImages = [...dataUpdate.faceImages, {
            //             name,
            //             size,
            //             path
            //         }]
            //     }
            // })

            // dataUpdate.storeImages = [];
            // $('.box-dropzone-file.dropzone-storeImages .box-drag-and-drop.d-none').each((i, elem) => {
            //     const name = $(elem).attr('name');
            //     const size = $(elem).attr('size');
            //     const path = $(elem).attr('path');

            //     if (name && path) {
            //         dataUpdate.storeImages = [...dataUpdate.storeImages, {
            //             name,
            //             size,
            //             path
            //         }]
            //     }
            // })

            callAjaxUpdate(dataUpdate);
        });
    })
</script>