<script>
    $(document).ready(function() {

        $("#product__brand").select2({
            width: "100%"
        });
        $("#product__brand").val("<%= infoProduct.brand && infoProduct.brand._id %>").trigger('change');

        $("#product__isselling").select2({
            width: "100%"
        });
        $("#product__isselling").val("<%= infoProduct.isSelling %>").trigger('change');

        $("#product__isgift").select2({
            width: "100%"
        });
        $("#product__isgift").val("<%= infoProduct.isGift %>").trigger('change');

        $("#product__istrialprogram").select2({
            width: "100%"
        });
        $("#product__istrialprogram").val("<%= infoProduct.isTrialProgram %>").trigger('change');

        $("#product__status").select2({
            width: "100%"
        });
        $("#product__status").val("<%= infoProduct.status %>").trigger('change');
        
        $("#product__criteria").select2({
            width: "100%"
        });

        $("#product__variants").select2({
            width: "100%"
        });
        
        let priceCleave = initOneCleave("#product__price");

        initInputMaxLength('#product__productcode');
        initInputMaxLength('#product__name');
        initInputMaxLength('#product__sku');

        $('#product__productcode').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#product__productcode', "Vui lòng nhập mã sản phẩm");
            } else {
                disableValidate('#product__productcode');
            }
        });

        $('#product__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#product__name', "Vui lòng nhập tên sản phẩm");
            } else {
                disableValidate('#product__name');
            }
        });

        $('#product__sku').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#product__sku', "Vui lòng nhập sku");
            } else {
                disableValidate('#product__sku');
            }
        });

        $('#product__price').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#product__price', "Vui lòng nhập đơn giá");
            } else {
                disableValidate('#product__price');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let productCode = $('#product__productcode').val();
            let name = $('#product__name').val();
            let SKU = $('#product__sku').val();
            let price = priceCleave.getRawValue();
            let brand = $('#product__brand').val();
            let isSelling = $('#product__isselling').val();
            let isGift = $('#product__isgift').val();
            let isTrialProgram = $('#product__istrialprogram').val();
            let status = $('#product__status').val();
            let criterias = $('#product__criteria').val();
            let variants = $('#product__variants').val();
            let specifications = $('#product__specifications').val();
            console.log({ variants, specifications });
            return {
                productCode,
                name,
                SKU,
                price,
                brand,
                isSelling,
                isGift,
                isTrialProgram,
                status,
                criterias,
                variants,
                specifications
            };
        }

        const checkFormValid = params => {
            let {
                productCode,
                name,
                SKU,
                price,
                brand,
                isSelling,
                isGift,
                isTrialProgram,
                status,
            } = params;
            let fieldsError = [];

            if (isSelling && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: isSelling
                })) {
                fieldsError = [...fieldsError, 'product__isselling'];
                enableValidate('#product__isselling', "hàng bán không hợp lệ");
            } else {
                if (!fieldsError.includes('product__isselling')) {
                    disableValidate('#product__isselling');
                }
            }

            if (isGift && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: isGift
                })) {
                fieldsError = [...fieldsError, 'product__isgift'];
                enableValidate('#product__isgift', "hàng tặng không hợp lệ");
            } else {
                if (!fieldsError.includes('product__isgift')) {
                    disableValidate('#product__isgift');
                }
            }

            if (isTrialProgram && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: isTrialProgram
                })) {
                fieldsError = [...fieldsError, 'product__istrialprogram'];
                enableValidate('#product__istrialprogram', "hàng dùng thử không hợp lệ");
            } else {
                if (!fieldsError.includes('product__istrialprogram')) {
                    disableValidate('#product__istrialprogram');
                }
            }

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'product__status'];
                enableValidate('#product__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('product__status')) {
                    disableValidate('#product__status');
                }
            }

            if (!productCode.trim()) {
                fieldsError = [...fieldsError, 'product__productcode'];
                enableValidate('#product__productcode', "Vui lòng nhập mã sản phẩm");
            } else {
                if (!fieldsError.includes('product__productcode')) {
                    disableValidate('#product__productcode');
                }
            }

            if (!name.trim()) {
                fieldsError = [...fieldsError, 'product__name'];
                enableValidate('#product__name', "Vui lòng nhập tên sản phẩm");
            } else {
                if (!fieldsError.includes('product__name')) {
                    disableValidate('#product__name');
                }
            }

            if (!SKU.trim()) {
                fieldsError = [...fieldsError, 'product__sku'];
                enableValidate('#product__sku', "Vui lòng nhập sku");
            } else {
                if (!fieldsError.includes('product__sku')) {
                    disableValidate('#product__sku');
                }
            }

            if (!price) {
                fieldsError = [...fieldsError, 'product__price'];
                enableValidate('#product__price', "Vui lòng nhập đơn giá");
            } else {
                if (!fieldsError.includes('product__price')) {
                    disableValidate('#product__price');
                }
            }

            if (!brand) {
                fieldsError = [...fieldsError, 'product__brand'];
                enableValidate('#product__brand', "Vui lòng chọn thương hiệu");
            } else {
                if (!fieldsError.includes('product__brand')) {
                    disableValidate('#product__brand');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật sản phẩm thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.productID = $(this).attr('__productID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>