<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới khách hàng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/customer/list-customer">Quản lý khách hàng</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="customer__code">
                                Mã khách hàng <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="customer__code" placeholder="VD: KH_0001">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__fullname">
                                Họ và tên <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="customer__fullname" placeholder="VD: Nguyễn Văn A">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__email">
                                Email
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="customer__email" placeholder="VD: yensao.thienviet@gmail.com">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__phone">
                                Số điện thoại
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="customer__phone" placeholder="VD: 0981235678">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__password">
                                Mật khẩu <span class="text-danger">(*)</span>
                            </label>

                            <input type="password" class="form-control" maxlength="125" id="customer__password" placeholder="Nhập mật khẩu">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__password">
                                Xác nhận mật khẩu <span class="text-danger">(*)</span>
                            </label>

                            <input type="password" class="form-control" maxlength="125" id="customer__repassword" placeholder="Nhập lại mật khẩu">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__pointranking">
                                Điểm xếp hạng khách hàng
                            </label>
                            <input type="number" class="form-control" id="customer__pointranking" placeholder="" value="0">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__point">
                                Điểm hiện tại
                            </label>
                            <input type="number" class="form-control" id="customer__point" placeholder="" value="0">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                       

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="customer__gender">
                                Giới tính
                            </label>
                            <select class="form-select mt-2" id="customer__gender">
                                <option selected disabled>Chọn Giới tính</option>
                                <option value="0">Nữ</option>
                                <option value="1">Nam</option>
                                <option value="2">Khác</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__distributor">
                                Nhà phân phối
                            </label>
                            <select class="form-select mt-2" id="customer__distributor" data-placeholder="Chọn Nhà phân phối">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__store">
                                Cửa hàng
                            </label>
                            <select class="form-select mt-2" id="customer__store" data-placeholder="Chọn Cửa hàng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__address">
                                Địa chỉ
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="customer__address" placeholder="23 Điện Biên Phủ">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__city">
                                Tỉnh/Thành phố <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="customer__city">
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__district">
                                Quận/Huyện <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="customer__district">
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="customer__ward">
                                Xã/Phường <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="customer__ward">
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="customer__birthday">
                                Ngày sinh
                            </label>
                            <input type="date" class="form-control" id="customer__birthday">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/customer/list-customer" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>