<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="status-customer-choice nav-link active" _key="" _value="" data-bs-toggle="tab" href="#update-customer" role="tab" aria-selected="true">
                    Cập nhật khách hàng
                </a>
            </li>

            <li class="nav-item">
                <a class="status-customer-choice nav-link" _key="status" _value="1" data-bs-toggle="tab" href="#customer-order" role="tab" aria-selected="false">
                    Lịch sử mua hàng
                </a>
            </li>

            <li class="nav-item">
                <a class="status-customer-choice nav-link" _key="status" _value="2" data-bs-toggle="tab" href="#history-point" role="tab" aria-selected="false">
                    Lịch sử tích điểm
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane p-3 active" id="update-customer" role="tabpanel">
                <h4 class="page-title">Cập nhật khách hàng</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/customer/list-customer">Quản lý khách hàng</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
                <div class="row mb-3">
                    <div class="col-12 col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin chính</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__code">
                                        Mã khách hàng <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="customer__code" value="<%= infoCustomer.code %>" placeholder="VD: KH_0001">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__fullname">
                                        Họ và tên <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="customer__fullname" value="<%= infoCustomer.fullname %>" placeholder="VD: Nguyễn Văn A">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__email">
                                        Email
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="customer__email" value="<%= infoCustomer.email %>" placeholder="VD: yensao.thienviet@gmail.com">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__phone">
                                        Số điện thoại
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="customer__phone" value="<%= infoCustomer.phone %>" placeholder="VD: 0981235678">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__password">
                                        Mật khẩu
                                    </label>
        
                                    <input type="password" class="form-control" maxlength="125" id="customer__password" value="" placeholder="Nhập mật khẩu">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__password">
                                        Xác nhận mật khẩu
                                    </label>
        
                                    <input type="password" class="form-control" maxlength="125" id="customer__repassword" placeholder="Nhập lại mật khẩu">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__pointranking">
                                        Điểm xếp hạng khách hàng
                                    </label>
                                    <input type="number" class="form-control" id="customer__pointranking" value="<%= infoCustomer.pointRanking %>" placeholder="">
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__point">
                                        Điểm hiện tại
                                    </label>
                                    <input type="number" class="form-control" id="customer__point" value="<%= infoCustomer.point %>" placeholder="">
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                              
        
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-4">
        
        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin phụ</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__gender">
                                        Giới tính
                                    </label>
                                    <select class="form-select mt-2" id="customer__gender">
                                        <option selected disabled>Chọn Giới tính</option>
                                        <option value="0">Nữ</option>
                                        <option value="1">Nam</option>
                                        <option value="2">Khác</option>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__distributor">
                                        Nhà phân phối
                                    </label>
                                    <select class="form-select mt-2" id="customer__distributor" data-placeholder="Chọn Nhà phân phối">
        
                                        <% if(listDistributors && listDistributors.length){ %>
                                        <% listDistributors.forEach(distributor => { %>
                                        <% let isSelect = (infoCustomer.distributor && infoCustomer.distributor._id.toString()) === distributor._id.toString() %>
        
                                        <option value="<%= distributor._id %>" <%= isSelect && 'selected' %>>
                                            <%= distributor.name %> - <%= distributor.code %>
                                        </option>
                                        <% }) %>
                                        <% } %>
        
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__store">
                                        Cửa hàng
                                    </label>
                                    <select class="form-select mt-2" id="customer__store" data-placeholder="Chọn Cửa hàng">
        
                                        <% if(listStores && listStores.length){ %>
                                        <% listStores.forEach(store => { %>
                                        <% let isSelect = (infoCustomer.store && infoCustomer.store._id.toString()) === store._id.toString() %>
        
                                        <option value="<%= store._id %>" <%= isSelect && 'selected' %>>
                                            <%= store.name %> - <%= store.code %>
                                        </option>
                                        <% }) %>
                                        <% } %>
        
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__address">
                                        Địa chỉ
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="customer__address" value="<%= infoCustomer.address %>" placeholder="23 Điện Biên Phủ">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__city">
                                        Tỉnh/Thành phố <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="customer__city">
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__district">
                                        Quận/Huyện <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="customer__district">
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__ward">
                                        Xã/Phường <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="customer__ward">
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                            </div>
                        </div>
        
        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thời gian</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">
        
                                <div class="form-group">
                                    <label class="form-label" for="customer__birthday">
                                        Ngày sinh
                                    </label>
                                    <input type="date" class="form-control" id="customer__birthday" value="<%= moment(infoCustomer.birthday).format("YYYY-MM-DD") %>">
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                            </div>
                        </div>
        
                    </div>
        
                </div>
            </div>
            <div class="tab-pane p-3" id="customer-order" role="tabpanel">
                <div class="row">
                    <div class="col-12">
                        <table id="tableListOrder" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Order ID</th>
                                    <th>Tên khách hàng</th>
                                    <th>Tổng tiền</th>
                                    <th>Phí giao hàng</th>
                                    <th>Ngày giao hàng dự tính</th>
                                    <th>Địa chỉ</th>
                                    <th>Phương thức thanh toán</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>                                                
            <div class="tab-pane p-3" id="history-point" role="tabpanel">
                <div class="row">
                    <div class="col-12">
                        <table id="tableListSaleout" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th class="text-center" data-orderable="false">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox3" type="checkbox" class="check-all-record">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </th>
                                    <th>STT</th>
                                    <th>Miền</th>
                                    <th>Vùng</th>
                                    <th>Nhà phân phối</th>
                                    <th>Nhân viên</th>
                                    <th>Khách hàng</th>
                                    <th>cửa hàng</th>
                                    <th>Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Điểm</th>
                                    <th>Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __customerID="<%= infoCustomer._id %>">
                    Cập nhật
                </button>
                <a href="/customer/list-customer" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>