<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách quà tặng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/list-reward">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách quà tặng</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btnAddreward">
                                    <i class="fas fa-plus-circle"></i> Tạo quà tặng
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-reward">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Thương hiệu</th>
                                        <th>Hình ảnh</th>
                                        <th>Số điểm</th>
                                        <th>Số lượng</th>
                                        <th>Loại quà</th>
                                        <th>Thời gian bắt đầu</th>
                                        <th>Thời gian kết thúc</th>
                                        <th>Trạng thái</th>
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listReward?.listRewardActive.forEach((reward, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= reward.gift.item?.name%></td>
                                            <td><%= reward.gift.item?.brand?.name%></td>
                                            <td>
												<% if (reward.gift.item?.avatar) { %>
													<img class="img-fluid img-thumbnail rounded" data-src="<%= loadPathImage(reward.gift.item?.avatar.path) %>" src="<%= loadPathImage(reward.gift.item?.avatar.path) %>" alt="">
												<% } %>
                                            </td>
                                            <td><%= reward.point%></td>
                                            <td><%= reward.amount%></td>
                                            <td>
                                                <% if (reward.type == 1) { %>
                                                    Tạo mới
                                                <% }else{%>
                                                    Tạo từ sản phẩm
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= moment(reward.startTime).format("L") %> lúc  <%= moment(reward.startTime).format("LT") %>
                                            </td>
                                            <td>
                                                <%= moment(reward.endTime).format("L") %> lúc  <%= moment(reward.endTime).format("LT") %>
                                            </td>
                                            <td>
                                                <p class="badge badge-pill badge-success">
                                                    Hoạt động
                                                </p>
                                            </td>
                                            <td>
                                                <div class="btn-group mb-2 border-btn-black">
                                                    <button type="button" class="btn btn-secondary btn-sm">
                                                        Thao Tác
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="right-start">
                                                        <a class="dropdown-item btnUpdateReward" href="javascript:void(0)" _rewardID="<%= reward._id%>">
                                                            <i class="fa fa-edit"></i> Chỉnh sửa
                                                        </a>
                                                        <a class="dropdown-item btnBlockUser btnDeleteReward" href="javascript:void(0)" _rewardID="<%= reward._id%>">
                                                            <i class="fa fa-trash"></i> Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   <% }) %>
                                   <% listReward?.listRewardInActive.forEach((reward, index) => { %>
                                    <tr>
                                        <td><%= index + 1%></td>
                                        <td><%= reward.gift.item?.name%></td>
                                        <td><%= reward.gift.item?.brand?.name%></td>
                                        <td>                                                  
                                            <% if (reward.gift.item?.avatar) { %>
                                                <img class="img-fluid img-thumbnail rounded" data-src="<%= loadPathImage(reward.gift.item?.avatar.path) %>" src="<%= loadPathImage(reward.gift.item?.avatar.path) %>" alt="">
                                            <% } %>
                                        </td>
                                        <td><%= reward.point%></td>
                                        <td><%= reward.amount%></td>
                                        <td>
                                            <% if (reward.type == 1) { %>
                                                Tạo mới
                                            <% }else{%>
                                                Tạo từ sản phẩm
                                            <% } %>
                                        </td>
                                        <td>
                                            <%= moment(reward.startTime).format("L") %> lúc  <%= moment(reward.startTime).format("LT") %>
                                        </td>
                                        <td>
                                            <%= moment(reward.endTime).format("L") %> lúc  <%= moment(reward.endTime).format("LT") %>
                                        </td>
                                        <td>
                                            <p class="badge badge-pill badge-danger">
                                               Không hoạt động
                                            </p>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-2 border-btn-black">
                                                <button type="button" class="btn btn-secondary btn-sm">
                                                    Thao Tác
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">...</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="right-start">
                                                    <a class="dropdown-item btnUpdateReward" href="javascript:void(0)" _rewardID="<%= reward._id%>">
                                                        <i class="fa fa-edit"></i> Chỉnh sửa
                                                    </a>
                                                    <a class="dropdown-item btnBlockUser btnDeleteReward" href="javascript:void(0)" _rewardID="<%= reward._id%>">
                                                        <i class="fa fa-trash"></i> Xóa
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                               <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- POPUP TẠO reward -->
<div class="modal fade bs-example-modal-sm model-create-reward" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    +Tạo/cập nhật quà tặng</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label>Chọn loại quà tặng</label>
                    <select class="form-control" name="" id="txtTypeReward">
                        <option value="1">Tạo mới</option>
                        <option value="2">Chọn từ sản phẩm</option>
                    </select>
                </div>
                <div class="form-group form-container-detail-reward3"><label>Tiêu đề quà tặng</label> 
                    <input type="text" class="form-control" id="txtTitleReward" placeholder="Tiêu đề không được bỏ trống">
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Số điểm</label> 
                        <input type="number" class="form-control" id="txtPointReward" min="0" placeholder="VD: 10">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Số lượng</label> 
                        <input type="number" class="form-control" id="txtAmountReward" min="0" placeholder="VD: 2" value="1">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Thời gian bắt đầu</label> 
                        <input type="datetime-local" class="form-control" id="txtStartTimeReward" placeholder="VD: 10">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Thời gian kết thúc</label> 
                        <input type="datetime-local" class="form-control" id="txtEndTimeReward" placeholder="VD: 10">
                    </div>
                </div>


                <div class="form-group form-container-detail-reward1" style="display: none;">
                    <label>Chọn sản phẩm</label>
                    <select class="form-control" name="" id="txtProductReward">
                        <option value="">Vui lòng chọn sản phẩm</option>
                        <% listProduct && listProduct.forEach(product => { %>
                            <option value="<%= product._id%>"><%= product.name%></option>
                        <% }) %>
                    </select>
                </div>

                <div class="row form-container-detail-reward2">
                    <div class="form-group col-md-3">
                        <label>Trọng lượng (gram)</label> 
                        <input type="number" class="form-control" id="txtWeight" min="0" placeholder="VD: 10">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Độ dài (cm)</label> 
                        <input type="number" class="form-control" id="txtLength" min="0" placeholder="VD: 2">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Độ rộng (cm)</label> 
                        <input type="number" class="form-control" id="txtWidth" placeholder="VD: 10">
                    </div>
                    <div class="form-group col-md-3">
                        <label>Chiều cao (cm)</label> 
                        <input type="number" class="form-control" id="txtHeight" placeholder="VD: 10">
                    </div>
                </div>

                <div class="form-container-detail-reward2">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Thương hiệu</label>
                            <select class="form-control" name="" id="txtBrandReward">
                                <% listBrand && listBrand.forEach(brand => { %>
                                    <option value="<%= brand._id%>"><%= brand.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Hình ảnh</label>
                            <input type="file" id="imageReward" class="form-control" accept="image/*">
                        </div>
                    </div>

                    <div class="form-group"><label>Chi tiết ưu đãi</label> 
                        <textarea id="txtContentReward"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddReward border-btn-black">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateReward" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

