<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới cấu hình tiêu chí chiến dịch</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/criteria_campaign_config/list-criteria_campaign_config">Quản lý cấu hình tiêu chí chiến dịch</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="criteria_campaign_config__percent">
                                Phần trăm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="criteria_campaign_config__percent" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="criteria_campaign_config__maxPercent">
                                Giới hạn phần trăm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="criteria_campaign_config__maxPercent" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="criteria_campaign_config__criteria">
                                Tiêu chí <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="criteria_campaign_config__criteria" data-placeholder="Chọn Tiêu chí">

                                <option value="null" selected disabled>Chọn Tiêu chí</option>
                                <% if(listCriterias && listCriterias.length){ %>
                                <% listCriterias.forEach(criteria => { %>
                                <option value="<%= criteria._id %>">
                                    <%= criteria.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="criteria_campaign_config__campaign">
                                Chiến dịch <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="criteria_campaign_config__campaign" data-placeholder="Chọn Chiến dịch">

                                <option value="null" selected disabled>Chọn Chiến dịch</option>
                                <% if(listCampaigns && listCampaigns.length){ %>
                                <% listCampaigns.forEach(campaign => { %>
                                <option value="<%= campaign._id %>">
                                    <%= campaign.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/criteria_campaign_config/list-criteria_campaign_config" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>