<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật tích điểm</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/saleout/list-saleout">Quản lý tích điểm</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="saleout__price">
                                Giá <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="saleout__price" value="<%= infoSaleout.price %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__point">
                                Điểm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="saleout__point" value="<%= infoSaleout.point %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__deviceid">
                                ID thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="saleout__deviceid" value="<%= infoSaleout.deviceID %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__devicename">
                                Tên thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="saleout__devicename" value="<%= infoSaleout.deviceName %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__lat">
                                latitude
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="saleout__lat" value="<%= infoSaleout.lat %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__lng">
                                longtitude
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="saleout__lng" value="<%= infoSaleout.lng %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="saleout__employee">
                                Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="saleout__employee" data-placeholder="Chọn Nhân viên">

                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <% let isSelect = (infoSaleout.employee && infoSaleout.employee._id.toString()) === employee._id.toString() %>

                                <option value="<%= employee._id %>" <%= isSelect && 'selected' %>>
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__customer">
                                Khách hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="saleout__customer" data-placeholder="Chọn Khách hàng">

                                <% if(listCustomers && listCustomers.length){ %>
                                <% listCustomers.forEach(customer => { %>
                                <% let isSelect = (infoSaleout.customer && infoSaleout.customer._id.toString()) === customer._id.toString() %>

                                <option value="<%= customer._id %>" <%= isSelect && 'selected' %>>
                                    <%= customer.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__store">
                                cửa hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="saleout__store" data-placeholder="Chọn cửa hàng">

                                <% if(listStores && listStores.length){ %>
                                <% listStores.forEach(store => { %>
                                <% let isSelect = (infoSaleout.store && infoSaleout.store._id.toString()) === store._id.toString() %>

                                <option value="<%= store._id %>" <%= isSelect && 'selected' %>>
                                    <%= store.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="saleout__product">
                                Sản phẩm <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="saleout__product" data-placeholder="Chọn Sản phẩm">

                                <% if(listProducts && listProducts.length){ %>
                                <% listProducts.forEach(product => { %>
                                <% let isSelect = (infoSaleout.product && infoSaleout.product._id.toString()) === product._id.toString() %>

                                <option value="<%= product._id %>" <%= isSelect && 'selected' %>>
                                    <%= product.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                     

                        <div class="form-group">
                            <label class="form-label" for="saleout__devicetype">
                                Loại thiết bị
                            </label>
                            <select class="form-select mt-2" id="saleout__devicetype">
                                <option selected disabled>Chọn Loại thiết bị</option>
                                <option value="ANDROID">ANDROID</option>
                                <option value="IOS">IOS</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __saleoutID="<%= infoSaleout._id %>">
                    Cập nhật
                </button>
                <a href="/saleout/list-saleout" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>