<style>
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
 </style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Tạo danh mục</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/category/list-category">Admin</a></li>
                         <li class="breadcrumb-item active">Tạo danh mục</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Tiêu đề</b></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="Nhập tên danh mục" id="txtTitle">
                                    </div>
                                </div>
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Trạng thái</b></label> 
                                    <div class="col-sm-10">
                                        <select class="form-control" id="txtStatus">
                                            <option value="0">Không hoạt động</option>
                                            <option value="1" selected>Hoạt động</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Mô Tả</b></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="txtDescription" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label><b>Hình Ảnh</b></label>
                                <br>
                                <div class="container">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type="file" id="categoryImage" accept=".png, .jpg, .jpeg" />
                                            <label for="categoryImage"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label><b>Album ảnh</b></label> 
                                    <input id="btnUploadGallery" type="file" style="width: 100%; height: 100px; margin-bottom: 10px;" class="form-control" accept="image/*" multiple >
                                    <div class="gallery image-gallery" style="display: flex; flex-wrap: wrap;">
                                        
                                    </div>
                                </div>  
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddCategory" >Thêm Mới</button>
                                    <a href="/category/list-category" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
