<style>
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
 </style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Cập nhật danh mục</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Cập nhật danh mục</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Tiêu đề</b></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" value="<%= infoCategoryUpdate ? infoCategoryUpdate.title : ''  %>" placeholder="Nhập tên danh mục" id="txtTitleUpdate">
                                    </div>
                                </div>
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Trạng thái</b></label> 
                                    <div class="col-sm-10">
                                        <select class="form-control" id="txtStatusUpdate">
                                            <% if(infoCategoryUpdate.status) { %>
                                                <option value="0">Không hoạt động</option>
                                                <option value="1" selected>Hoạt động</option>
                                            <% } else { %>
                                                <option value="0" selected>Không hoạt động</option>
                                                <option value="1">Hoạt động</option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Mô Tả</b></label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="txtDescriptionUpdate" rows="5"><%= infoCategoryUpdate ? infoCategoryUpdate.description : ''  %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label><b>Hình Ảnh</b></label>
                                <br>
                                <div class="container">
                                    <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type="file" id="categoryImageUpdate" accept=".png, .jpg, .jpeg" />
                                            <label for="categoryImageUpdate"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <% if (infoCategoryUpdate && infoCategoryUpdate.image) { %>
                                                <div id="imagePreview" style="background-image: url(<%= loadPathImage(infoCategoryUpdate.image.path) %>);"></div>
                                            <% } else { %>
                                                <div id="imagePreview" style="background-image: url(https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg);"></div>
                                            <% } %> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label><b>Album ảnh</b></label> 
                                    <input id="btnUploadGalleryUpdate" type="file" style="width: 100%; height: 100px; margin-bottom: 10px;" class="form-control" accept="image/*" multiple >
                                    <div class="gallery image-gallery-update" style="">
                                        <br>
                                        <p style="font-size:15px; font-style: italic; font-weight: 400; color: rgb(238, 163, 0)">
                                            Lưu ý: Nếu giá trị vị trí của banner giống nhau thì sẽ sắp xếp dựa theo thời gian khởi tạo
                                        </p>
                                        
                                        <% infoCategoryUpdate && infoCategoryUpdate.gallerys.length > 0 && infoCategoryUpdate.gallerys.forEach(gallery => { %>
											<% let imageUri = loadPathImage(gallery.path) %>
                                            <div class="item-banner" style="display: flex; align-items: center;">
                                                <div style="width: 220px"class="img-wraps" _imageID="<%=gallery._id%>" data-src=<%= imageUri %>>
                                                    <span class="close deleteImage" _type="imgGalleryUpdate" _imageID=<%= gallery._id %> _imgName=<%= imageUri %>>&times;</span>
                                                    <a href="<%= imageUri %>" target="_blank" class="effects" style="margin: 5px; max-width: 220px">
                                                        <img src="<%= imageUri %>" width="100%" height="120px  class="img-responsive" alt="Unify Admin">
                                                        <div class="overlay">
                                                        </div>
                                                    </a>
                                                </div>
                                                
                                                <div style="margin-left: 20px;">
                                                    <p>Vị trí</p>
                                                    <input style="height: 35px; border: 1px solid #ced4da; border-radius: .25rem; padding: 0 10px" class="txtOrder" id="txtOrder_<%=gallery._id%>" class="form-control" value="<%=gallery.order%>" type="number">
                                                </div>

                                                <div style="margin-left: 20px; width: 20%">
                                                    <p>Chọn CTA</p>
                                                    <select class="form-control select-type-CTA" id="select-type-CTA_<%=gallery._id%>">
                                                        <% let arrType = [
                                                                { type: 1, value: 'Phân khúc'}, 
                                                                { type: 2, value: 'Thương hiệu'},
                                                                { type: 3, value: 'Trial program'},
                                                            ]   
                                                        %>
                                                        <% arrType.forEach(item => { %>
                                                            <% if (item.type.toString() == gallery.typeCTA && gallery.typeCTA.toString()) { %>
                                                                <option selected="selected" value="<%=item.type%>"><%=item.value%> </option>
                                                            <% }else{%>
                                                                <option value="<%=item.type%>"><%=item.value%> </option>
                                                            <% } %>
                                                        <% }) %>
                                                    </select>
                                                </div>

                                                <div style="margin-left: 20px; width: 20%">
                                                    <p>&nbsp;</p>
                                                    <select class="form-control select-CTA" _valueCTA="<%= gallery.valueCTA && gallery.valueCTA %>" id="select-CTA_<%=gallery._id%>">
                                                        
                                                    </select>
                                                </div>
                                                
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnUpdateCategory" _categoryID=<%= infoCategoryUpdate._id %>>Cập nhật</button>
                                    <a href="/category/list-category" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>