<script>
    $(document).ready(function() {
        let moneyOneCleave = initOneCleave("#money_one");
        let moneySecondCleave = initOneCleave("#money_second");

        $('#money_one').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#money_one', "Vui lòng nhập số tiền 1");
            } else {
                disableValidate('#money_one');
            }
        });

        $('#money_second').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#money_second', "Vui lòng nhập số tiền 2");
            } else {
                disableValidate('#money_second');
            }
        });

        const getFormInsert = () => {
            let moneyOne = moneyOneCleave.getRawValue();
            let moneySecond = moneySecondCleave.getRawValue();

            return {
                moneyOne,
                moneySecond
            };
        }

        const checkFormValid = params => {
            let {
                moneyOne,
                moneySecond
            } = params;
            let fieldsError = [];

            if (!moneyOne) {
                fieldsError = [...fieldsError, 'money_one'];
                enableValidate('#money_one', "Vui lòng nhập số tiền 1");
            } else {
                if (!fieldsError.includes('money_one')) {
                    disableValidate('#money_one');
                }
            }

            if (!moneySecond) {
                fieldsError = [...fieldsError, 'money_second'];
                enableValidate('#money_second', "Vui lòng nhập số tiền 2");
            } else {
                if (!fieldsError.includes('money_second')) {
                    disableValidate('#money_second');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                url: "<%= CF_ROUTINGS_MANAGE_MONEY.ADD_OR_UPDATE_MANAGE_MONEY %>",
                method: 'POST',
                data: dataInsert,
            }).done(resp => {
                const { error, message } = resp;

                if (error) {
                    return AlertCustom({
                        title: 'THÔNG BÁO',
                        message: message,
                        icon: 'warning'
                    });
                }

                AlertCustom({
                    title: 'THÔNG BÁO',
                    message: 'Cập nhật tiền thành công',
                    icon: 'info'
                });
                setTimeout(() => location.reload(), 800);
            })
            .fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
            .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            const dataInsert = getFormInsert();
            const { error, msg } = checkFormValid(dataInsert);

            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            callAjaxInsert(dataInsert);
        });
    })
</script>