<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách QR sản phẩm</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/list-product-qr">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách QR sản phẩm</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <!-- <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btnAddreward">
                                    <i class="fas fa-plus-circle"></i> Tạo quà tặng
                                </a>
                            </div> -->
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-product-qr">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>code</th>
                                        <th>SKU 2</th>
                                        <th>SKU 1</th>
                                        <th>Lô</th>
                                        <th>Khách hàng</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


