<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới tiêu chí</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/criteria/list-criteria">Quản lý tiêu chí</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="criteria__name">
                                Tên <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="criteria__name" placeholder="Ví Dụ: Salein">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="criteria__description">
                                Mô tả
                            </label>

                            <textarea class="form-control" rows="4" maxlength="256" id="criteria__description" placeholder=""></textarea>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/criteria/list-criteria" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>