<script>
    $(document).ready(function() {
        let amountCleave = initOneCleave("#kpi_salein_require__amount");


        $("#kpi_salein_require__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.username,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_salein_require__product").select2({
            width: "100%"
        });






        $('#kpi_salein_require__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__amount', "Vui lòng nhập chỉ tiêu ");
            } else {
                disableValidate('#kpi_salein_require__amount');
            }
        });

        $('#kpi_salein_require__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_salein_require__month');
            }
        });

        $('#kpi_salein_require__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_salein_require__year');
            }
        });



        const getFormInsert = () => {
            let amount = amountCleave.getRawValue();

            let employee = $('#kpi_salein_require__employee').val();

            let month = $('#kpi_salein_require__month').val();

            let year = $('#kpi_salein_require__year').val();

            let product = $('#kpi_salein_require__product').val();

            return {
                amount,
                employee,
                month,
                year,
                product,
            };
        }

        const checkFormValid = params => {
            let {
                amount,
                employee,
                month,
                year,
                product,
            } = params;
            let fieldsError = [];




            if (!amount) {
                fieldsError = [...fieldsError, 'kpi_salein_require__amount'];
                enableValidate('#kpi_salein_require__amount', "Vui lòng nhập chỉ tiêu ");
            } else {
                if (!fieldsError.includes('kpi_salein_require__amount')) {
                    disableValidate('#kpi_salein_require__amount');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_salein_require__month'];
                enableValidate('#kpi_salein_require__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_salein_require__month')) {
                    disableValidate('#kpi_salein_require__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_salein_require__year'];
                enableValidate('#kpi_salein_require__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_salein_require__year')) {
                    disableValidate('#kpi_salein_require__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SALEIN_REQUIRE.ADD_KPI_SALEIN_REQUIRE %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm Cấu Hình Chỉ Tiêu Salein thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>