<script>
    $(document).ready(function() {

        $("#kpi_salein_require__employee").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/employee/list-employees',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.username,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_salein_require__product").select2({
            width: "100%"
        });
        $("#kpi_salein_require__product").val("<%= infoKpi_salein_require.product && infoKpi_salein_require.product._id %>").trigger('change');


        let amountCleave = initOneCleave("#kpi_salein_require__amount");





        $('#kpi_salein_require__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__amount', "Vui lòng nhập chỉ tiêu ");
            } else {
                disableValidate('#kpi_salein_require__amount');
            }
        });

        $('#kpi_salein_require__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_salein_require__month');
            }
        });

        $('#kpi_salein_require__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_salein_require__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_salein_require__year');
            }
        });



        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let amount = amountCleave.getRawValue();
            let employee = $('#kpi_salein_require__employee').val();

            let month = $('#kpi_salein_require__month').val();

            let year = $('#kpi_salein_require__year').val();
            let product = $('#kpi_salein_require__product').val();

            return {
                amount,
                employee,
                month,
                year,
                product,
            };
        }

        const checkFormValid = params => {
            let {
                amount,
                employee,
                month,
                year,
                product,
            } = params;
            let fieldsError = [];




            if (!amount) {
                fieldsError = [...fieldsError, 'kpi_salein_require__amount'];
                enableValidate('#kpi_salein_require__amount', "Vui lòng nhập chỉ tiêu ");
            } else {
                if (!fieldsError.includes('kpi_salein_require__amount')) {
                    disableValidate('#kpi_salein_require__amount');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_salein_require__month'];
                enableValidate('#kpi_salein_require__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_salein_require__month')) {
                    disableValidate('#kpi_salein_require__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_salein_require__year'];
                enableValidate('#kpi_salein_require__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_salein_require__year')) {
                    disableValidate('#kpi_salein_require__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SALEIN_REQUIRE.UPDATE_KPI_SALEIN_REQUIRE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật Cấu Hình Chỉ Tiêu Salein thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.kpi_salein_requireID = $(this).attr('__kpi_salein_requireID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>