<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới lịch sử đổi quà</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/history_exchange_gift/list-history_exchange_gift">Quản lý lịch sử đổi quà</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="history_exchange_gift__point">
                                Điểm <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="history_exchange_gift__point" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="history_exchange_gift__store">
                                Cửa hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_exchange_gift__store" data-placeholder="Chọn Cửa hàng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_exchange_gift__employee">
                                Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_exchange_gift__employee" data-placeholder="Chọn Nhân viên">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_exchange_gift__customer">
                                Khách hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_exchange_gift__customer" data-placeholder="Chọn Khách hàng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_exchange_gift__reward">
                                Quà <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_exchange_gift__reward" data-placeholder="Chọn Quà">

                                <option value="null" selected disabled>Chọn Quà</option>
                                <% if(listRewards && listRewards.length){ %>
                                <% listRewards.forEach(reward => { %>
                                <option value="<%= reward._id %>">
                                    <%= reward.title %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/history_exchange_gift/list-history_exchange_gift" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>