<script>
    $(document).ready(function () {
        $(".table-list-ranking").dataTable({
            ...languageDataTable
        });
        $(".btnAddRanking").on("click", function(){
            $(".model-create-ranking").modal("show");
            $(".container-min-max-point").show();
        })

        function ajaxAddRanking(data, that){
            return $.ajax({
                url: `<%= CF_ROUTINGS_RANKING.ADD_RANKING%>`,
                method: 'POST',
                data: data,
                success: (resp) => {
                    console.log({ resp });
                    if (resp.error){
                        enableAndStopLoading2(that, "Xác nhận");
                        if(resp.message == "from_invalid"){
                            $("#txtMinPoint").val(resp.from);
                            return toastr.warning(`Điểm bắt đầu phải từ ${resp.from}`, 'Thông báo');
                        }

                        if(resp.message == "maxPoint_invalid"){
                            return toastr.warning(`Điểm kết thúc phải lớn hơn điểm bắt đầu`, 'Thông báo');
                        }

                        toastr.error(`Thêm thất bại`, 'Thông báo');
                    }else{
                        toastr.info('Thêm thành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.reload();
                        }, 400);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }

        $(".btnConfirmAddRanking").on("click",async function(){
            let name = $("#txtNameRanking").val();
            let minPoint = $("#txtMinPoint").val();
            let maxPoint = $("#txtMaxPoint").val();
            let color   = $("#txtColorRanking").val();
			let image  = $('#txtLogoRanking')[0].files
            let benefits = [];
            let rules = [];
            $(".container-list-item-benifit").find(".txtBenefits").each((index, item) => {
                if($(item).val()){
                    benefits.push($(item).val());
                }
            })

            $(".container-list-item-rule").find(".txtRules").each((index, item) => {
                if($(item).val()){
                    rules.push($(item).val());
                }
            })
            if(!name)
                return toastr.warning("Vui lòng nhập tên", "Thông Báo");
            if(!color)
                return toastr.warning("Vui lòng nhập mã màu tiến trình", "Thông Báo");
            if(color.length != 6)
                return toastr.warning("Mã màu không hợp lệ", "Thông Báo");
            if(!minPoint)
                return toastr.warning("Vui lòng nhập điểm bắt đầu", "Thông Báo");
            if(!maxPoint)
                return toastr.warning("Vui lòng nhập điểm kết thúc", "Thông Báo");
            if(!image.length)
				return toastr.warning("vui lòng chọn hình ảnh", "Thông Báo");  
            let data =  { name, minPoint, maxPoint, benefits, rules, color };

            disableAndLoading(this);
            let confirmAdd = confirm("Lưu ý, điểm bắt đầu và điểm kết thúc bạn không được chỉnh sửa khi tạo xong, nếu bạn muốn cập nhật bạn có thể xóa để tạo lại!")
            if(!confirmAdd)
                return;

            if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.logo = infoImage;
					ajaxAddRanking(data, this);
				})
			}else{
				ajaxAddRanking(data, this);
			}
        })

        $("body").on("click", ".btnAddItemBenefit", function(){
            $(".container-list-item-benifit").append(`
                <br/>
                <div style="display: flex; align-items: center;">
                    <input type="text" class="form-control txtBenefits" placeholder="Nhập nội dung đặc quyền"> &nbsp; <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                </div>
            `)
        })

        $(".btnAddItemRules").on("click", function(){
            $(".container-list-item-rule").append(`
                <br/>
                <div style="display: flex; align-items: center;">
                    <input type="text" class="form-control txtRules" placeholder="Nhập nội dung điều khoản và điều kiên"> &nbsp; <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                </div>
            `)
        })
        
        $("body").on("click", ".btnRemoveItem", function(){
            $(this).closest("div").remove();
        })

        $("body").on("click", ".btnUpdateRanking", function(){
            let rankingID = $(this).attr("_rankingid");
            $(".model-create-ranking").modal("show");
            $(".container-min-max-point").hide();
            $(".btnConfirmAddRanking").hide();
            $(".btnConfirmUpdateRanking").show();
            $(".btnConfirmUpdateRanking").attr("_rankingid", rankingID);
            $.ajax({
                url: `/ranking/info-ranking/${rankingID}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        let { name, benefits, rules, color } = resp.data;
                        $("#txtNameRanking").val(name);
                        $("#txtColorRanking").val(color);
                        
                        $(".container-list-item-benifit").empty();
                        benefits.forEach(benefit => {
                            $(".container-list-item-benifit").append(`
                                <br/>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control txtBenefits" value="${benefit}"> &nbsp; <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                                </div>
                            `)
                        });
                        $(".container-list-item-rule").empty();
                        rules.forEach(rule => {
                            $(".container-list-item-rule").append(`
                                <br/>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" class="form-control txtRules" value="${rule}"> &nbsp; <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                                </div>
                            `)
                        });
                        // toastr.info('Thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

        function ajaxUpdateRanking(data, that){
            return $.ajax({
                url: `<%= CF_ROUTINGS_RANKING.UPDATE_RANKING%>`,
                method: 'POST',
                data: data,
                success: (resp) => {
                    console.log({ resp });
                    if (resp.error){
                        toastr.error(`Cập nhật thất bại`, 'Thông báo');
                    }else{
                        toastr.info('Cập nhật thành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.reload();
                        }, 400);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        }
        $(".btnConfirmUpdateRanking").on("click",async function(){
            let rankingID = $(this).attr("_rankingID");
            let name = $("#txtNameRanking").val();
			let image  = $('#txtLogoRanking')[0].files;
            let color  = $("#txtColorRanking").val();
            let benefits = [];
            let rules = [];

            if(!name)
                return toastr.warning("Vui lòng nhập tên", "Thông Báo");
            if(!color)
                return toastr.warning("Vui lòng nhập mã màu tiến trình", "Thông Báo");
            if(color.length != 6)
                return toastr.warning("Mã màu không hợp lệ", "Thông Báo");

            $(".container-list-item-benifit").find(".txtBenefits").each((index, item) => {
                if($(item).val()){
                    benefits.push($(item).val());
                }
            })

            $(".container-list-item-rule").find(".txtRules").each((index, item) => {
                if($(item).val()){
                    rules.push($(item).val());
                }
            })
            if(!name)
                return toastr.warning("Vui lòng nhập tên", "Thông Báo");
            let data =  { name, benefits, rules, rankingID, color };

            disableAndLoading(this);
            if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.logo = infoImage;
					ajaxUpdateRanking(data, this);
				})
			}else{
				ajaxUpdateRanking(data, this);
			}
        });
        
        $(".btnDeleteRanking").on("click",async function(){
            let rankingID = $(this).attr("_rankingID");
            let confirmRemove = confirm("Bạn có chắc xóa ranking ko?");
            $.ajax({
                url: `/ranking/remove-ranking/${rankingID}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Xóa thành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.reload();
                        }, 400);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

    })
</script>