<style>
    .error {
         border-color: #ff6565;    
     }
 
     small{
         color: #ff6565;
         position: absolute;
         visibility: hidden;
     }
     .errors {
         visibility: visible;
     }
 
 
     .img-wraps {
       position: relative;
       display: inline-block;
       /* border: 1px red solid; */
       font-size: 0;
    }
    .img-wraps .close {
       position: absolute;
       top: 2px;
       right: 2px;
       z-index: 100;
       /* background-color: #FFF; */
       padding: 5px 2px 2px;
       color: #000;
       font-weight: bold;
       cursor: pointer;
       /* opacity: .2; */
       text-align: center;
       font-size: 30px;
       line-height: 10px;
       border-radius: 50%;
    }
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
 
    .titlePopup{
        padding: 0;
    }
 
    .hr-19 {
       border: none;
       height: 10px;
       background: linear-gradient(-135deg, #333747 5px, transparent 0) 0 5px, linear-gradient(135deg, #333747 5px, #ffffff 0) 0 5px;
       background-color: #333747 ;
       background-position: left bottom;
       background-repeat: repeat-x;
       background-size: 12px 10px;
    }
    
    .select2-selection__rendered{
       line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
       height: 35px !important;
    }
    .select2-container{
       width: 100% !important;
    }
 
    .avatar-upload {
         position: relative;
         max-width: 205px;
         margin: 35px auto;
     }
     .avatar-upload .avatar-edit {
         position: absolute;
         right: 12px;
         z-index: 1;
         top: 10px;
     }
     .avatar-upload .avatar-edit input {
         display: none;
     }
     .avatar-upload .avatar-edit input + label {
         display: inline-block;
         width: 34px;
         height: 34px;
         margin-bottom: 0;
         border-radius: 100%;
         background: #FFFFFF;
         border: 1px solid transparent;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
         cursor: pointer;
         font-weight: normal;
         transition: all 0.2s ease-in-out;
     }
     .avatar-upload .avatar-edit input + label:hover {
         background: #f1f1f1;
         border-color: #d6d6d6;
     }
     .avatar-upload .avatar-edit input + label:after {
         content: "\f040";
         font-family: 'FontAwesome';
         color: #757575;
         position: absolute;
         top: 10px;
         left: 0;
         right: 0;
         text-align: center;
         margin: auto;
     }
     .avatar-upload .avatar-preview {
         width: 192px;
         height: 192px;
         position: relative;
         border-radius: 100%;
         border: 6px solid #F8F8F8;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
     }
     .avatar-upload .avatar-preview > div {
         width: 100%;
         height: 100%;
         border-radius: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
     }
     .qrcode-preview {
         width: 190px;
         height: 190px;
         position: relative;
         border: 6px solid #F8F8F8;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
         margin: 30px auto;
     }
     .qrcode-preview > img {
         width: 100%
     }
 </style>
 <div class="content-page">
     <!-- Start content -->
     <div class="content">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                 <div class="page-title-box">
                    <h4 class="page-title">Cấu hình hệ thống</h4>
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item"><a href="/">Admin</a></li>
                       <li class="breadcrumb-item active">Cấu hình hệ thống</li>
                    </ol>
                    <!-- <div class="state-information d-none d-sm-block">
                       <div class="state-graph">
                          <div id="header-chart-1"></div>
                          <div class="info">Balance $ 2,317</div>
                       </div>
                       <div class="state-graph">
                          <div id="header-chart-2"></div>
                          <div class="info">Item Sold 1230</div>
                       </div>
                    </div> -->
                 </div>
              </div>
           </div>
           <!-- end row -->
           <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <!-- <h2 class="mt-0 header-title"> <b> THÔNG TIN CHI NHÁNH </b> </h2>
                            <p class="text-muted m-b-30"><b>(*)</b> Những thông tin có dấu <b>(*)</b>  là thông tin bắt buộc </p> -->
                            <form class="" action="#">
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label><b>Điểm miễn phí vận chuyển <strong style="color: #ff0000;">(*)</strong></b> </label>
                                        <div>
                                            <input  type="number" class="form-control" id="txtPoint" value="<%= infoDeliveryPointConfigAfterInsert && infoDeliveryPointConfigAfterInsert.point %>" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12">
                                        <label><b>Điểm tặng mã giới thiệu <strong style="color: #ff0000;">(*)</strong></b> </label>
                                        <div>
                                            <input  type="number" class="form-control" id="txtPointReferral" value="<%= infoDeliveryPointConfigAfterInsert && infoDeliveryPointConfigAfterInsert.pointReferral %>" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddDeliveryPointConfig" >Thay đổi</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
              <!-- end col -->
             
              <!-- end col -->
           </div>
           <!-- end row -->
        </div>
        <!-- container-fluid -->
     </div>
     <!-- content -->
     <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
  </div>