<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .dataTables_length,
	.dataTables_filter{
		display: none;
	} */
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
					<div class="page-title-box">
						<h4 class="page-title">Lịch sử cấu hình nhóm đối tượng nhận điểm</h4>
						<!-- <ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">Customer</a></li>
							<li class="breadcrumb-item active">Danh sách lịch sử đổi điểm</li>
						</ol> -->
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
								<label style="cursor: pointer;margin-bottom: 15px;margin-right: 10px;" class="text-left btn btn-outline-success waves-effect waves-light btn-import-customer-receive-point">
									<img src="/template/admin/img/icon-loading.gif" style="width: 20px;" alt="Loading" class="d-none">
									<span>
										<i class="fas fa-file-import me-1"></i> 
									</span>
									Import người dùng nhận điểm
									<input type="file" style="display:none;"/>
								</label>
								<a style="margin-bottom: 15px;" href="/customer-receive-point-config/add-customer-receive-point-config" class="text-left btn btn-outline-success waves-effect waves-light btn-create-merge-order">
									Tạo cấu hình
								</a>
							</div>
                            <table class="content-table" id="tableListHistoryPoint">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên đối tượng</th>
										<th>Điểm</th>
										<th>Ngày tạo</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									<% if (listCustomerReceivePointConfig && listCustomerReceivePointConfig.length) { %>
										<% listCustomerReceivePointConfig.forEach(( customerReceivePointConfig, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<i>
														<%= customerReceivePointConfig.name ? customerReceivePointConfig.name : '' %>
													</i>
												</td>
												<td>
													<i>
														<%= customerReceivePointConfig.point ? customerReceivePointConfig.point: 0 %>
													</i>
												</td>
												<td>
													<i>
														<%= moment(customerReceivePointConfig.createAt).format('L') %> lúc <%= moment(customerReceivePointConfig.createAt).format('LT') %>
													</i>
												</td>
												<td>
													<a href="javascript:void(0)" class="mr-2 btn-import-member" _groupID="<%= customerReceivePointConfig._id %>">
														<label style="cursor: pointer;">
															<i class="fas fa-file-import me-1"></i> Import
															<input type="file" style="display:none;"/>
														</label>
													</a>
													
													<a href="/customer-receive-point-config/update-customer-receive-point-config/<%= customerReceivePointConfig._id %>">
														<span style="cursor: pointer;" class="" _customerReceivePointConfigID="<%= customerReceivePointConfig._id %>">
															<i class="fa fa-edit"></i> Chỉnh sửa
														</span>
													</a>
												</td>
											</tr>
										<% }) %>
									<% } %>
								</tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
