<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .dataTables_length,
	.dataTables_filter{
		display: none;
	} */
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
					<div class="page-title-box">
						<h4 class="page-title">Lịch sử tích điểm, đổi điểm</h4>
						<!-- <ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">Customer</a></li>
							<li class="breadcrumb-item active">Danh sách lịch sử đổi điểm</li>
						</ol> -->
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link <%= !typePoint ? 'active' : '' %>" href="/history-point/list-history-point-gloq">Tất cả</a>
					  	</li>
					  	<li class="nav-item">
						  <a class="nav-link <%= typePoint == 7 && 'active' %>" href="/history-point/list-history-point-gloq?typePoint=7">Nạp điểm</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link <%= typePoint == 5 && 'active' %>" href="/history-point/list-history-point-gloq?typePoint=5">Chuyển điểm</a>
						</li>
					</ul>
                </div>
				
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12">
								<h5>
									Số dư hiện tại: 
									<b>
										<% if (listHistoryPoint && listHistoryPoint.length) { %>
											<%= listHistoryPoint[0].point %> 
										<% } else { %>
											0
										<% } %>
									</b>
								</h5>
							</div>
							<div class="col-lg-12 d-flex justify-content-end">
								<a style="margin-bottom: 15px;" href="#" class="text-left btn btn-outline-success waves-effect waves-light btn-insert-point">
									Nạp điểm
								</a>
								<a style="margin-bottom: 15px; margin-left: 10px;" href="#" class="text-left btn btn-outline-success waves-effect waves-light btn-transfer-point">
									Chuyển điểm
								</a>
							</div>
                            <table class="content-table" id="tableListHistoryPoint">
								<thead>
									<tr>
										<th>STT</th>
										<th>Người tạo</th>
										<th>Hình thức</th>
										<th>Điểm trước</th>
										<th>Điểm thay đổi</th>
										<th>Điểm sau</th>
										<th>Ngày tạo</th>
									</tr>
								</thead>
								<tbody>
									<% if (listHistoryPoint && listHistoryPoint.length) { %>
										<% listHistoryPoint.forEach(( historyPoint, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												
												<td>
													<i>
														<%= historyPoint.customer ? historyPoint.customer.fullname : '' %> <br>
														<%= historyPoint.customer ? historyPoint.customer.phone : '' %>
													</i>
												</td>
												<td>
													<i>
														<% HISTORY_POINT_TYPE.forEach(element => { %>
															<% if (element.value == historyPoint.type) { %>
																<span class="badge-pill <%= element.badge %>" style="
																	padding: 7px;
																	font-size: 12px;
																"><%= element.text %></span>
															<% } %>
														<% }) %>
													</i>
												</td>

												<td>
													<%= historyPoint.beforPoint ? historyPoint.beforPoint : 0 %>
												</td>
												
												<td>
													<i>
														<% 
															let prefix = '';
															let color = '';
															if ([1,3,4,6,7].includes(historyPoint.type)) {
																prefix = '+';
																color =  '#58db83';
															} else {
																prefix = '-';
																color =  '#dc3545';
															}
														%>
														<span style="color: <%= color %>; font-size: 15px;">
															<b>
																<%= historyPoint.currentPoint ? prefix + historyPoint.currentPoint : 0 %>
															</b>
														</span>
													</i>
												</td>
												<td>
													<%= historyPoint.point ? historyPoint.point : 0 %>
												</td>
												<td>
													<i>
														<%= moment(historyPoint.createAt).format('L') %> lúc <%= moment(historyPoint.createAt).format('LT') %>
													</i>
												</td>
											</tr>
										<% }) %>
									<% } %>
								</tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP CREATE USER -->
<div class="modal fade bs-example-modal-sm modal-create-history-point" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title">Nạp điểm</h6>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Điểm</label> 
                    <input type="number" class="form-control" placeholder="Nhập điểm" id="txtPoint">
                </div>

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-success waves-effect waves-light mr-1"  id="btnConfirmCreatePoint">Nạp điểm</button>
					<button class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Hủy</button>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm modal-transfer-history-point" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title">Nạp điểm</h6>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Điểm</label> 
                    <input type="number" class="form-control" placeholder="Nhập điểm" id="txtPointTransfer">
                </div>
				<div class="form-group"><label>Tài khoản chuyển</label> 
                    <select class="form-control" id="slAccountTransfer">
						<!-- <option value="2"> Editer </option> -->
					</select>
                </div>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-success waves-effect waves-light mr-1"  id="btnConfirmTransferPoint">Chuyển điểm</button>
					<button class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Hủy</button>
				</div>
            </div>
        </div>
    </div>
</div>
