<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .dataTables_length,
	.dataTables_filter{
		display: none;
	} */
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
					<div class="page-title-box">
						<h4 class="page-title">Lịch sử tích điểm, đổi điểm</h4>
						<!-- <ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">Customer</a></li>
							<li class="breadcrumb-item active">Danh sách lịch sử đổi điểm</li>
						</ol> -->
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <!-- <li class="nav-item">
                          	<a class="nav-link <%#= !typePoint && 'active' %>" href="/history/list-history-point">Tất cả</a>
                        </li> -->
                        <li class="nav-item">
                          	<a class="nav-link <%= typePoint == 1 && 'active' %>" href="/history/list-history-point?typePoint=1">Tích điểm</a>
                        </li>
                        <li class="nav-item">
                          	<a class="nav-link <%= typePoint == 2 && 'active' %>" href="/history/list-history-point?typePoint=2">Đổi điểm</a>
                        </li>
						<li class="nav-item">
							<a class="nav-link <%= typePoint == 4 && 'active' %>" href="/history/list-history-point?typePoint=4">Nhận điểm</a>
					  	</li>
						<li class="nav-item">
							<a class="nav-link <%= typePoint == 5 && 'active' %>" href="/history/list-history-point?typePoint=5">Chuyển điểm</a>
					  	</li>
						<!-- <li class="nav-item">
                          	<a class="nav-link <%= typePoint == 3 && 'active' %>" href="/history/list-history-point?typePoint=3">
								Đăng ký tài khoản nhận điểm
							</a>
                        </li>
						<li class="nav-item">
							<a class="nav-link <%= typePoint == 4 && 'active' %>" href="/history/list-history-point?typePoint=4">
								Nhận điểm chuyển tới
							</a>
					  	</li>
						<li class="nav-item">
							<a class="nav-link <%= typePoint == 5 && 'active' %>" href="/history/list-history-point?typePoint=5">
								Chuyển điểm
							</a>
					 	</li>
						<li class="nav-item">
							<a class="nav-link <%= typePoint == 6 && 'active' %>" href="/history/list-history-point?typePoint=6">
								Điểm mã giới thiệu
							</a>
					  	</li> -->
					</ul>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <table class="content-table" id="tableListHistoryPoint">
								<% if (typePoint == 2) { %>
									<thead>
										<tr>
											<th>STT</th>
											<th>Ngày đổi quà</th>
											<th>Chương trình đổi quà</th>
											<th>Tên khách hàng</th>
											<th>Số lượng</th>
											<th>Số điểm</th>
										</tr>
									</thead>
									<tbody>
										<% if (listHistoryPoint && listHistoryPoint.length) { %>
											<% listHistoryPoint.forEach(( historyPoint, index ) => { %>
												<tr>
													<th>
														<%= index + 1 %>
													</th>
													<td>
														<i>
															<%= moment(historyPoint.createAt).format('L') %> lúc <%= moment(historyPoint.createAt).format('LT') %>
														</i>
													</td>
													<td>
														<i>
															<%= historyPoint.reward ? historyPoint.reward.title : '' %>
														</i>
													</td>
													<td>
														<i>
															<%= historyPoint.customer ? historyPoint.customer.fullname : '' %> <br>
															<%= historyPoint.customer ? historyPoint.customer.phone : '' %>
														</i>
													</td>

													<td>
														<i>
															<%= historyPoint.amount ? historyPoint.amount : 1 %>
														</i>
													</td>
													
													<td>
														<i>
															<% let prefixPoint = historyPoint.type === 1 ? '+' : '-'; %>
															<%= historyPoint.currentPoint ? prefixPoint + historyPoint.currentPoint : 0 %>
														</i>
													</td>
													<!-- <td>
														<i>
															<%= historyPoint.transaction ? historyPoint.transaction.transactionID : '' %>
														</i>
													</td> -->
												</tr>
											<% }) %>
										<% } %>
									</tbody>
								<% } %>

								<% if (typePoint == 1) { %>
									<thead>
										<tr>
											<th>STT</th>
											<th>Ngày tích điểm</th>
											<th>Mã Đơn hàng</th>
											<th>Hình thức tích điểm</th>
											<th>Tên khách hàng</th>
											<th>Số điểm</th>
										</tr>
									</thead>
									<tbody>
										<% if (listHistoryPoint && listHistoryPoint.length) { %>
											<% listHistoryPoint.forEach(( historyPoint, index ) => { %>
												<tr>
													<th>
														<%= index + 1 %>
													</th>
													<td>
														<i>
															<%= moment(historyPoint.createAt).format('L') %> lúc <%= moment(historyPoint.createAt).format('LT') %>
														</i>
													</td>
													<td>
														<i>
															<%= historyPoint.order ? historyPoint.order.orderID : '' %>
														</i>
													</td>
													<td>
														<% if (historyPoint.buyType == 1) { %>
															Quét mã QR
														<% } %>

														<% if (historyPoint.buyType == 2) { %>
															Mua online
														<% } %>

														<% if (historyPoint.buyType == 3) { %>
															Mua offline
														<% } %>
													</td>
													<td>
														<i>
															<%= historyPoint.customer ? historyPoint.customer.fullname : '' %> <br>
															<%= historyPoint.customer ? historyPoint.customer.phone : '' %>
														</i>
													</td>
													<td>
														<i>
															<% let prefixPoint = historyPoint.type === 1 ? '+' : '-'; %>
															<%= historyPoint.currentPoint ? prefixPoint + historyPoint.currentPoint : 0 %>
														</i>
													</td>
													<!-- <td>
														<i>
															<%= historyPoint.transaction ? historyPoint.transaction.transactionID : '' %>
														</i>
													</td> -->
												</tr>
											<% }) %>
										<% } %>
									</tbody>
								<% } %>

								<% if ([3,4,5,6].includes(typePoint)) { %>
								 
								<% } %>

                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
