<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	/* .dataTables_length,
	.dataTables_filter{
		display: none;
	} */
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
					<div class="page-title-box">
						<h4 class="page-title">Lịch sử biến động điểm</h4>
						<!-- <ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">Customer</a></li>
							<li class="breadcrumb-item active">Danh sách lịch sử đổi điểm</li>
						</ol> -->
					</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                       
					</ul>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <table class="content-table" id="tableListHistoryPointTransfer">
								<thead>
									<tr>
										<th>STT</th>
										<th>Người chuyển</th>
										<th>Số điểm</th>
										<th>Người nhận</th>
										<th>Nội dụng</th>
										<th>Ngày tạo</th>
									</tr>
								</thead>
								<tbody>
									<% if (listHistoryPoint && listHistoryPoint.length) { %>
										<% listHistoryPoint.forEach(( historyPoint, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<i>
														<b>
															<%= historyPoint.sender ? historyPoint.sender.fullname : '' %> <br>
														</b>
														<%= historyPoint.sender ? historyPoint.sender.phone : '' %>
													</i>
												</td>
												<td>
													<i>
														<b style="font-size: 15px;">
															<%= historyPoint.point ? historyPoint.point : 0 %>
														</b>
													</i>
												</td>
												<td>
													<i>
														<b>
															<%= historyPoint.receiver ? historyPoint.receiver.fullname : '' %> <br>
														</b>
														<%= historyPoint.receiver ? historyPoint.receiver.phone : '' %>
													</i>
												</td>
												<td>
													<i>
														<%= historyPoint.content ? historyPoint.content : '' %>
													</i>
												</td>
												<td>
													<i>
														<%= moment(historyPoint.createAt).format('L') %> lúc <%= moment(historyPoint.createAt).format('LT') %>
													</i>
												</td>
											</tr>
										<% }) %>
									<% } %>
								</tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
