<script>
    $(document).ready(function() {



        initInputMaxLength('#shift__name');



        $('#shift__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__name', "Vui lòng nhập tên ca làm việc");
            } else {
                disableValidate('#shift__name');
            }
        });

        $('#shift__starttime').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__starttime', "Vui lòng nhập giờ bắt đầu");
            } else {
                disableValidate('#shift__starttime');
            }
        });

        $('#shift__endtime').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__endtime', "Vui lòng nhập giờ kết thúc");
            } else {
                disableValidate('#shift__endtime');
            }
        });



        const getFormInsert = () => {

            let name = $('#shift__name').val();
            let startTime = $('#shift__starttime').val();
            let endTime = $('#shift__endtime').val();

            return {
                name,
                startTime,
                endTime,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                startTime,
                endTime,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'shift__name'];
                enableValidate('#shift__name', "Vui lòng nhập tên ca làm việc");
            } else {
                if (!fieldsError.includes('shift__name')) {
                    disableValidate('#shift__name');
                }
            }

            if (!startTime) {
                fieldsError = [...fieldsError, 'shift__starttime'];
                enableValidate('#shift__starttime', "Vui lòng nhập giờ bắt đầu");
            } else {
                if (!fieldsError.includes('shift__starttime')) {
                    disableValidate('#shift__starttime');
                }
            }

            if (!endTime) {
                fieldsError = [...fieldsError, 'shift__endtime'];
                enableValidate('#shift__endtime', "Vui lòng nhập giờ kết thúc");
            } else {
                if (!fieldsError.includes('shift__endtime')) {
                    disableValidate('#shift__endtime');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_SHIFT.ADD_SHIFT %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm ca làm việc thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>