<script>
    $(document).ready(function() {

        $("#shift__status").select2({
            width: "100%"
        });
        $("#shift__status").val("<%= infoShift.status %>").trigger('change');



        initInputMaxLength('#shift__name');



        $('#shift__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__name', "Vui lòng nhập tên ca làm việc");
            } else {
                disableValidate('#shift__name');
            }
        });

        $('#shift__starttime').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__starttime', "Vui lòng nhập giờ bắt đầu");
            } else {
                disableValidate('#shift__starttime');
            }
        });

        $('#shift__endtime').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#shift__endtime', "Vui lòng nhập giờ kết thúc");
            } else {
                disableValidate('#shift__endtime');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#shift__name').val();
            let startTime = $('#shift__starttime').val();
            let endTime = $('#shift__endtime').val();
            let status = $('#shift__status').val();

            let order = $('#shift__order').val();

            return {
                name,
                startTime,
                endTime,
                status,
                order,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                startTime,
                endTime,
                status,
                order,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'shift__status'];
                enableValidate('#shift__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('shift__status')) {
                    disableValidate('#shift__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'shift__name'];
                enableValidate('#shift__name', "Vui lòng nhập tên ca làm việc");
            } else {
                if (!fieldsError.includes('shift__name')) {
                    disableValidate('#shift__name');
                }
            }

            if (!startTime) {
                fieldsError = [...fieldsError, 'shift__starttime'];
                enableValidate('#shift__starttime', "Vui lòng nhập giờ bắt đầu");
            } else {
                if (!fieldsError.includes('shift__starttime')) {
                    disableValidate('#shift__starttime');
                }
            }

            if (!endTime) {
                fieldsError = [...fieldsError, 'shift__endtime'];
                enableValidate('#shift__endtime', "Vui lòng nhập giờ kết thúc");
            } else {
                if (!fieldsError.includes('shift__endtime')) {
                    disableValidate('#shift__endtime');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_SHIFT.UPDATE_SHIFT_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật ca làm việc thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.shiftID = $(this).attr('__shiftID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>