<script>
    $(document).ready(function() {



        initInputMaxLength('#campaign__name');



        $('#campaign__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__name', "Vui lòng nhập tên chiến dịch");
            } else {
                disableValidate('#campaign__name');
            }
        });

        $('#campaign__fromdate').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__fromdate', "Vui lòng nhập từ ngày");
            } else {
                disableValidate('#campaign__fromdate');
            }
        });

        $('#campaign__todate').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__todate', "Vui lòng nhập đến ngày");
            } else {
                disableValidate('#campaign__todate');
            }
        });



        const getFormInsert = () => {

            let name = $('#campaign__name').val();
            let fromDate = $('#campaign__fromdate').val();
            let toDate = $('#campaign__todate').val();

            return {
                name,
                fromDate,
                toDate,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                fromDate,
                toDate,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'campaign__name'];
                enableValidate('#campaign__name', "Vui lòng nhập tên chiến dịch");
            } else {
                if (!fieldsError.includes('campaign__name')) {
                    disableValidate('#campaign__name');
                }
            }

            if (!fromDate) {
                fieldsError = [...fieldsError, 'campaign__fromdate'];
                enableValidate('#campaign__fromdate', "Vui lòng nhập từ ngày");
            } else {
                if (!fieldsError.includes('campaign__fromdate')) {
                    disableValidate('#campaign__fromdate');
                }
            }

            if (!toDate) {
                fieldsError = [...fieldsError, 'campaign__todate'];
                enableValidate('#campaign__todate', "Vui lòng nhập đến ngày");
            } else {
                if (!fieldsError.includes('campaign__todate')) {
                    disableValidate('#campaign__todate');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CAMPAIGN.ADD_CAMPAIGN %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm chiến dịch thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>