<script>
    $(document).ready(function() {

        $("#campaign__status").select2({
            width: "100%"
        });
        $("#campaign__status").val("<%= infoCampaign.status %>").trigger('change');



        initInputMaxLength('#campaign__name');



        $('#campaign__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__name', "Vui lòng nhập tên chiến dịch");
            } else {
                disableValidate('#campaign__name');
            }
        });

        $('#campaign__fromdate').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__fromdate', "Vui lòng nhập từ ngày");
            } else {
                disableValidate('#campaign__fromdate');
            }
        });

        $('#campaign__todate').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#campaign__todate', "Vui lòng nhập đến ngày");
            } else {
                disableValidate('#campaign__todate');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#campaign__name').val();
            let fromDate = $('#campaign__fromdate').val();
            let toDate = $('#campaign__todate').val();
            let status = $('#campaign__status').val();

            return {
                name,
                fromDate,
                toDate,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                fromDate,
                toDate,
                status,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'campaign__status'];
                enableValidate('#campaign__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('campaign__status')) {
                    disableValidate('#campaign__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'campaign__name'];
                enableValidate('#campaign__name', "Vui lòng nhập tên chiến dịch");
            } else {
                if (!fieldsError.includes('campaign__name')) {
                    disableValidate('#campaign__name');
                }
            }

            if (!fromDate) {
                fieldsError = [...fieldsError, 'campaign__fromdate'];
                enableValidate('#campaign__fromdate', "Vui lòng nhập từ ngày");
            } else {
                if (!fieldsError.includes('campaign__fromdate')) {
                    disableValidate('#campaign__fromdate');
                }
            }

            if (!toDate) {
                fieldsError = [...fieldsError, 'campaign__todate'];
                enableValidate('#campaign__todate', "Vui lòng nhập đến ngày");
            } else {
                if (!fieldsError.includes('campaign__todate')) {
                    disableValidate('#campaign__todate');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CAMPAIGN.UPDATE_CAMPAIGN_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật chiến dịch thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.campaignID = $(this).attr('__campaignID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>