<style>
    .line-condition:after {
        content: '';
        width: 520px;
        height: 1px;
        background-color: rgba(0, 0, 0, .1);
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .type-condition {
        cursor: pointer;
    }

    .modal-backdrop.unblur {
        backdrop-filter: blur(0);
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .checkbox label {
        display: inline-block;
        /* padding-left: 8px; */
        /* padding-left: 0 !important; */
        padding-left: 0;
        position: relative;
        font-weight: normal;
        margin-bottom: 12px;
    }

    .label-export {
        padding-left: 8px !important;
    }
</style>

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row d-none">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">List Kpi_sbd_require</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">List Kpi_sbd_require</li>
                            </ol>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->


        <!-- <div class="row justify-content-center mt-3">
            <h3 class="col-sm-8 page-title"><b>Danh sách KPI Chỉ Tiêu SBD (Sản Phẩm Nổi Bật)</b> </h3>
            <div class="col-sm-4" style="text-align: right;">
                <a href="/kpi_sbd_require/add-kpi_sbd_require" class="btn btn-primary btn-lg">
                    <i class="ti-pencil-alt"></i>
                    Tạo mới
                </a>
            </div>
        </div> -->

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="status-kpi_sbd_require-choice nav-link active" _key="" _value="" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Tất cả</a>
            </li>

        </ul>

        <div class="row justify-content-center mt-3">

            <div class="col-sm-8">
                <div class="input-group">
                    <!-- <label class="my-2 me-2"></label> -->
                    <input type="text" class="form-control input-search-text" autocomplete="off" placeholder="Tìm kiếm,...">
                    <button class="input-group-text btn-filter">
                        <i class="ti-search"></i>
                    </button>

                </div>
            </div>

            <div class="col-sm-4 d-flex justify-content-end">

                <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="mdi mdi-filter-variant"></i> Bộ lọc
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 800px;">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel" class="m-0">Bộ lọc</h5>
                        <button type="button" class="btn btn-danger text-white" data-bs-dismiss="offcanvas" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="repeater-default">
                            <div data-repeater-list="condition">

                                <div data-repeater-item="" class="d-none">
                                    <div class="row d-flex justify-content-start">

                                        <div class="line-condition position-relative d-none">
                                            <h2 class="type-condition" data-type-condition="AND">
                                                <span class="badge badge-soft-primary">AND</span>
                                            </h2>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-select input-field-name">
                                                <option disabled selected>Chọn trường</option>
                                                <option value="product" data-type="ref">Sản Phẩm</option>
                                                <option value="month_apply" data-type="number">Tháng Thứ Áp Dụng</option>

                                                <option value="month" data-type="number">Tháng</option>

                                                <option value="year" data-type="number">Năm</option>

                                                <option value="rootCreateAt" data-type="date">Ngày tạo</option>
                                            </select>
                                        </div>


                                        <div class="col-sm-8 d-none" data-follow="product">
                                            <select class="col-sm-4 form-select input-field-ref-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="isSelling" data-type="enum">Hàng Bán</option>

                                                <option value="isTrialProgram" data-type="enum">Hàng dùng thử</option>

                                                <option value="status" data-type="enum">Trạng thái</option>

                                                <option value="productCode" data-type="text">Mã sản phẩm</option>

                                                <option value="name" data-type="text">Tên sản phẩm</option>

                                                <option value="SKU" data-type="text">SKU</option>

                                                <option value="price" data-type="number">Đơn giá</option>

                                                <option value="isGift" data-type="enum">Hàng Tặng</option>

                                                <option value="createAt" data-type="date">Ngày tạo</option>
                                            </select>

                                            <div class="col-sm-8 d-none" data-follow="isSelling" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Hàng Bán</option>
                                                    <option value="1">Có</option>
                                                    <option value="2">Không</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="isTrialProgram" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Hàng dùng thử</option>
                                                    <option value="1">Có</option>
                                                    <option value="2">Không</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Không hoạt động</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="productCode" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="SKU" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="price" data-type="number">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="greater-than">Lớn hơn</option>
                                                    <option value="less-than">Bé hơn</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="number" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="isGift" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Hàng Tặng</option>
                                                    <option value="1">Có</option>
                                                    <option value="2">Không</option>
                                                </select>
                                            </div>


                                            <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="month_apply" data-type="number">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="greater-than">Lớn hơn</option>
                                                <option value="less-than">Bé hơn</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="number" class="form-control input-field-value">
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="month" data-type="number">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="greater-than">Lớn hơn</option>
                                                <option value="less-than">Bé hơn</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="number" class="form-control input-field-value">
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="year" data-type="number">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="greater-than">Lớn hơn</option>
                                                <option value="less-than">Bé hơn</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="number" class="form-control input-field-value">
                                        </div>


                                        <div class="col-sm-8 d-none" data-follow="rootCreateAt" data-type="date">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="before">Trước</option>
                                                <option value="after">Sau</option>
                                                <option value="today">Hôm nay</option>
                                                <option value="yesterday">Hôm qua</option>
                                                <option value="before-hours">N tiếng trước</option>
                                                <option value="before-days">N ngày trước</option>
                                                <option value="before-months">N tháng trước</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="date" class="form-control input-field-value">
                                            <input type="number" class="form-control input-field-value d-none">
                                        </div>

                                        <div class="col-sm-1">
                                            <span data-repeater-delete="" class="btn btn-outline-danger">
                                                <span class="far fa-trash-alt"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END REPEATER ITEM -->

                            </div>
                            <!-- END REPEATER LIST -->

                            <div class="form-group mb-0 mt-4 row">
                                <div class="col-12 col-sm-4">
                                    <span class="btn btn-soft-secondary btn-add-filter">
                                        <span class="fas fa-plus"></span> Thêm điều kiện
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END OFFCANVAS-BODY -->
                    <hr class="hr-dashed hr-menu">
                    <div class="form-group mb-0 row" style="padding: 0 1rem 1rem 1rem !important;">
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-primary btn-apply-filter">
                                    <i class="mdi mdi-check-all me-2"></i>
                                    Áp dụng
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-danger btn-discard-filter">
                                    <!-- <i class="mdi mdi-alert-outline me-2"></i> -->
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <button type="button" class="btn btn-outline-secondary download-excel-export me-2">
                    <img class="loading-excel-export d-none" src="/template/admin/assets/images/icon-loading.gif" style="width: 30px;" alt="">
                    <i class="mdi mdi-file-export me-2"></i>Export
                </button> -->

                <% if (ROLE_USER === 'SUPERVISOR') { %>
                <button type="button" class="btn btn-outline-secondary print-kpi_sbd_require me-2" data-bs-toggle="modal" data-bs-target="#exampleModalDefault"><i class="far fa-file-excel me-2"></i>Cấu hình Export</button>
                <% } %>

                <button type="button" class="btn btn-outline-secondary me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Import <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu">

                    <% if (ROLE_USER === 'SUPERVISOR') { %>
                    <a class="dropdown-item setting-excel-preview" data-bs-toggle="modal" data-bs-target="#exampleModalDefault3" href="#">
                        <i class="fas fa-edit me-1"></i>
                        Cấu hình FILE Import
                    </a>
                    <% } %>

                    <a class="dropdown-item download-excel-preview" href="#">
                        <i class="fas fa-download me-1"></i>
                        Tải file mẫu
                    </a>
                    <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalDefault2" href="#">
                        <i class="far fa-file-excel me-1"></i>
                        Import
                    </a>
                </div>

                <button type="button" disabled class="btn btn-outline-secondary  dropdown-toggle action-kpi_sbd_require" data-bs-toggle="dropdown" aria-expanded="false">
                    Tác vụ <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item update-kpi_sbd_require d-none" href="#">
                        <i class="fas fa-edit me-1"></i>
                        Sửa
                    </a>
                    <a class="dropdown-item delete-kpi_sbd_require d-none text-danger" href="#">
                        <i class="mdi mdi-trash-can-outline me-1"></i>
                        Xóa
                    </a>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <table id="tableListKpi_sbd_require" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="text-center" data-orderable="false">
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox3" type="checkbox" class="check-all-record">
                                    <label for="checkbox3"></label>
                                </div>
                            </th>
                            <th>STT</th>
                            <th>Sản Phẩm</th>
                            <th>Tháng Thứ Áp Dụng</th>
                            <th>Tháng</th>
                            <th>Năm</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="exampleModalDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Xuất Excel</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row option-choose-export">
                                <div class="col-lg-4">
                                    <div class="d-flex" style="
                                            justify-content: center;
                                            align-items: center;
                                        ">
                                        <h5>
                                            Chọn thuộc tính
                                        </h5>
                                        <button style="padding: 2px 10px; margin-left: 10px;" type="button" class="btn btn-warning btn-clear-all-field-choice">Bỏ Chọn Tất Cả</button>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <!-- <div class="form-check form-switch form-switch-success">
                                                <input class="form-check-input" type="checkbox" id="chooseCSV" checked="" style="width: 40px;height: 20px;">
                                                <label class="form-check-label mt-1" style="margin-left: 6px;" for="chooseCSV">CSV</label>
                                            </div> -->
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio14" value="2" checked="">
                                        <label for="radio14">
                                            Tải xuống Excel
                                        </label>
                                    </div>
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio15" value="1">
                                        <label for="radio15">
                                            Tải qua GG Sheet
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-3">
                                        
                                    </div> -->
                                <p class="col-lg-3" style="text-align: right;"><span class="countItemChoice">0</span> của <span class="totalItem"></span> được chọn</p>

                            </div>

                            <ul class="list-group list-group-flush mt-3 mb-0 list-field-coll-print">

                            </ul>
                            <div class="input-group show-clip-board d-none">
                                <input type="text" class="form-control show-url-export" id="clipboardInput" value="Welcome to Maxdot!" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-clipboard-action="copy" data-clipboard-target="#clipboardInput"><i class="far fa-copy me-2"></i>Copy</button>
                                <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon3"  data-clipboard-action="cut" data-clipboard-target="#clipboardInput"><i class="fas fa-cut me-2"></i>Cut</button> -->
                            </div>

                        </div>
                        <!--end col-->
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btn-export-excel">Xuất</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
    <div class="modal fade bd-example-modal-lg" id="exampleModalDefault2" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Import Excel</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <!-- <div class="card-header">
                                        <h4 class="card-title">Import Excel</h4>
                                        <p class="text-muted mb-0">You can use custom tabs</p>
                                    </div> -->
                                <div class="card-body">

                                    <!-- Nav tabs -->
                                    <!-- <div class="nav-tabs-custom text-center">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item tab-import">
                                                    <a class="nav-link text-center active" data-bs-toggle="tab" href="#upload_file" role="tab"><i class="mdi mdi-numeric-1-circle"></i>Tải file</a>
                                                </li>
                                                <li class="nav-item tab-import">
                                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#mapping_data" role="tab"><i class="mdi mdi-numeric-2-circle"></i>Mapping dữ liệu</a>
                                                </li>                                                
                                                <li class="nav-item tab-import">
                                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#settings" role="tab"><i class="mdi mdi-numeric-3-circle"></i>Cài đặt</a>
                                                </li>
                                                <li class="nav-item tab-import">
                                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#preview" role="tab"><i class="mdi mdi-numeric-4-circle"></i>Xem trước</a>
                                                </li>
                                                <li class="nav-item tab-import">
                                                    <a class="nav-link text-center" data-bs-toggle="tab" href="#import" role="tab"><i class="mdi mdi-numeric-5-circle"></i>Import</a>
                                                </li>
                                            </ul>
                                        </div> -->


                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active p-3" id="upload_file" role="tabpanel">
                                            <h3 class="text-center">Tải File Excel</h3>

                                            <p class="mb-0 text-muted">
                                            </p>
                                            <div class="loading-file-excel d-none d-flex" style="align-items: center; justify-content: center;">
                                                <img src="/template/admin/assets/images/icon-loading.gif" alt="" style="">
                                            </div>
                                            <div class="form-group file-excel-upload-import">

                                                <input type="file" id="file__excel" data-max-file-size="10M" data-height="200" />
                                            </div>
                                        </div>
                                        <div class="tab-pane p-3" id="mapping_data" role="tabpanel">
                                            <p class="mb-0 text-muted">
                                                Food truck fixie locavore, accusamus mcsweeney's marfa nulla.
                                            </p>
                                        </div>
                                        <div class="tab-pane p-3" id="settings" role="tabpanel">
                                            <p class="text-muted mb-0">
                                                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy.
                                            </p>
                                        </div>
                                        <div class="tab-pane p-3" id="preview" role="tabpanel">
                                            <p class="text-muted mb-0">
                                                preview
                                            </p>
                                        </div>
                                        <div class="tab-pane p-3" id="import" role="tabpanel">
                                            <p class="text-muted mb-0">
                                                import
                                            </p>
                                        </div>
                                    </div>
                                    <!--end tab-content-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->

                        </div>
                        <!--end col-->
                        <!--end col-->
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btn-save-import-excel">Lưu</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
    <div class="modal fade bd-example-modal-xl" id="exampleModalDefault3" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Tải File Excel Mẩu</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="d-flex" style="
                                                justify-content: center;
                                                align-items: center;
                                            ">
                                        <h5>
                                            Chọn thuộc tính
                                        </h5>
                                        <button style="padding: 2px 10px; margin-left: 10px; margin-right: 100px;" type="button" class="btn btn-warning btn-clear-all-field-choice-import">Bỏ Chọn Tất Cả</button>
                                    </div>
                                </div>

                                <p class="col-lg-8" style="text-align: right;"><span class="count-item-choice-import"></span></p>
                                <div class="col-lg-12" style="
                                        padding-left: 15px;
                                    ">
                                    <p style="color: black; margin-bottom: 0px;">
                                        - Những FIELD có dấu <i class="far fa-star" style="margin-left: 5px;font-size: 12px;"></i> là <b>FIELD POPULATE</b>
                                    </p>
                                    <p style="color: black; margin-bottom: 0px;">
                                        - <b>STATIC</b> chọn <b>biến</b> để import || <b>DYNAMIC</b> chọn <b>giá trị</b> của biến để import
                                    </p>
                                    <p style="color: black; margin-bottom: 0px;">
                                        - Bộ lọc <b>DYNAMIC</b> sẽ lọc giống với bộ lọc của trang danh sách
                                    </p>
                                    <p style="color: black; margin-bottom: 0px;">
                                        - Check <b>REQUIRED</b> để bắt buộc nhập các FIELD || <b>*Lưu ý</b>: Có thể coi như <b>PRIMARY KEY</b>
                                    </p>
                                    <p style="color: black; margin-bottom: 0px;">
                                        - Sau khi lọc ở <b>DYNAMIC</b>, chọn FIELD sẽ nhận giá trị IMPORT
                                    </p>
                                </div>
                            </div>

                            <ul class="list-group list-group-flush mt-3 mb-0 list-field-coll-import">

                            </ul>

                            <hr>
                            <div class="row list-type-import">
                                <h5 class="col-lg-12">
                                    Chọn Loại <b>IMPORT</b>
                                </h5>
                                <div class="col-sm-2">
                                    <label class="form-label">Xóa dữ liệu cũ</label>
                                    <select class="form-select input-field-type-delete">
                                        <option value="">Chọn xóa dữ liệu</option>
                                        <option value="YES">Xóa</option>
                                        <option value="NO">Không xóa</option>
                                    </select>
                                </div>

                                <div class="col-sm-10 delete-all-record-old d-none">
                                    <div class="row">
                                        <div class="col-sm-3 ">
                                            <label class="form-label">Xóa tất cả</label>
                                            <select class="form-select input-field-type-delete-all">
                                                <option value="">Chọn xóa dữ liệu</option>
                                                <option value="YES">Xóa</option>
                                                <option value="NO">Xóa với điều kiện</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-9 type-change-data-import d-none">
                                            <div class="row list-type-import">
                                                <div class="col-sm-3">
                                                    <label class="form-label">Chọn điều kiện xóa</label>
                                                    <button class="btn btn-outline-secondary me-2" data-bs-target="#kpi_sbd_requireID" data-bs-toggle="modal" _ref="kpi_sbd_require" type="button">
                                                        <i class="mdi mdi-filter-variant"></i> Bộ lọc
                                                    </button>
                                                    <div style="
                                                            margin-top: 10px;
                                                        ">
                                                        <b class="conditionDelete">

                                                        </b>
                                                        <br>
                                                        <span class="fieldDelete">

                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="form-label">Loại lưu dữ liệu</label>
                                                    <div class="radio">
                                                        <input class="type-change-data type-change-data-delete-all" type="radio" name="radio" id="radio1" value="update">
                                                        <label for="radio1">
                                                            Insert vs Check Exist Update
                                                        </label>
                                                    </div>
                                                    <div class="radio radio-primary">
                                                        <input class="type-change-data type-change-data-delete-all" type="radio" name="radio" id="radio3" value="insert">
                                                        <label for="radio3">
                                                            Insert
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 type-change-data-update d-none">
                                                    <label class="form-label">Chọn <b>PRIMARY KEY</b></label>
                                                    <select class="form-select input-type-change-data-update input-type-change-data-update-delete-all" multiple>
                                                        <option value="">Chọn PRIMARY KEY</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3 download-old-data-with-condition d-none">
                                                    <label class="form-label">Đính kèm dữ liệu</label>
                                                    <div class="checkbox checkbox-success">
                                                        <input class="choice-download-data-old" id="btnDownloadData" type="checkbox">
                                                        <label for="btnDownloadData">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-10  not-delete-record-old d-none">
                                    <div class="row list-type-import">
                                        <div class="col-sm-4 type-change-data-import">
                                            <label class="form-label">Loại lưu dữ liệu</label>
                                            <div class="radio">
                                                <input class="type-change-data type-change-data-not-delete-all" type="radio" name="radio" id="radio4" value="update">
                                                <label for="radio4">
                                                    Insert vs Check Exist Update
                                                </label>
                                            </div>
                                            <div class="radio radio-primary">
                                                <input class="type-change-data type-change-data-not-delete-all" type="radio" name="radio" id="radio5" value="insert">
                                                <label for="radio5">
                                                    Insert
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 type-change-data-update d-none">
                                            <label class="form-label">Chọn <b>PRIMARY KEY</b></label>
                                            <select class="form-select input-type-change-data-update input-type-change-data-update-not-delete-all" multiple>
                                                <option value="">Chọn PRIMARY KEY</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btn-setting-excel-import">Cấu hình</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
    <!-- MODAL CREATE CUSTOM API -->
    <div class="modal fade bs-example-modal-sm modal-get-field-from-coll" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Chọn field tạo</h6>
                </div>
                <div class="card-body">

                    <div class="input-group mb-3 row">
                        <div class="col-12">
                            <label class="form-label"></label>
                            <div class="container-list-field-collection">
                                <ul class="list-group"></ul>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-soft-primary waves-effect waves-light me-1" data-bs-dismiss="modal">
                            Đóng
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="list-filter-import">

    </div>