<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật KPI Chỉ Tiêu SBD (Sản Phẩm Nổi Bật)</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/kpi_sbd_require/list-kpi_sbd_require">Quản lý KPI Chỉ Tiêu SBD (Sản Phẩm Nổi Bật)</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_sbd_require__month_apply">
                                Tháng Thứ Áp Dụng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="kpi_sbd_require__month_apply" value="<%= infoKpi_sbd_require.month_apply %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_sbd_require__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="kpi_sbd_require__month" value="<%= infoKpi_sbd_require.month %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_sbd_require__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="kpi_sbd_require__year" value="<%= infoKpi_sbd_require.year %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_sbd_require__product">
                                Sản Phẩm <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="kpi_sbd_require__product" data-placeholder="Chọn Sản Phẩm">

                                <option value="null" selected disabled>Chọn Sản Phẩm</option>
                                <% if(listProducts && listProducts.length){ %>
                                <% listProducts.forEach(product => { %>
                                <option value="<%= product._id %>">
                                    <%= product.SKU %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __kpi_sbd_requireID="<%= infoKpi_sbd_require._id %>">
                    Cập nhật
                </button>
                <a href="/kpi_sbd_require/list-kpi_sbd_require" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>