<script>
	$(document).ready(function () {

		let getFormSearchAndFilter = () => {
            // let key = $('#txtSearch').val();
            let city          = $("#scCityFilter").val();
            let district      = $("#scDistrictFilter").val();
            let ward          = $("#scWardFilter").val();
			let fromDate      = $('#inputFromDate').val();
			let toDate        = $('#inputToDate').val();
            // let amountItemShow = $('#select_datatable_length').val();
            return { city, district, ward, fromDate, toDate };
        }

		let key   = '<%= key %>';
		let value = '<%= value %>';

		let dataTable_CentralizeOrder = $('#tableListOrder').DataTable({
			'iDisplayLength': 25,
			// "searching": true,
			...languageDataTable,
			"processing": true,
            "serverSide": true,
            "ordering": false,
            'ajax': {
                'url': '/centralize-order/list-centralize-order-server-side',
                type: 'POST',
                'data': function (data) {
					let { city, district, ward, fromDate, toDate } = getFormSearchAndFilter();
                    return {
						...data,
						city, district, ward, fromDate, toDate, [key]: value
					}
                },
                "dataSrc": function (json){
                    return json.data;
                }
            },
            "columns": [
                { "data": "cb", width: '5%' },
                { "data": "index", width: '5%' },
                { "data": "centralizeOrderID",  width: '10%' },
                { "data": "kind", width: '10%' },
                { "data": "fullname", width: '15%' },
                { "data": "address", width: '10%' },
                { "data": "wardText", width: '10%' },
                { "data": "districtText", width: '10%' },
                { "data": "cityText", width: '15%' },
                { "data": "createAt", width: '10%' },
            ],
		});

		$(document).on('change', '.cb-centralize-order', function() {
			let checked = $(this).is(':checked');
			if (!checked) {
				$('.cb-centralize-order-all').prop('checked', false);
			}
		});

		$(document).on('change', '.cb-centralize-order-all', function() {
			let checked = $(this).is(':checked');
			$('.cb-centralize-order').each((i, elem) => {
				if (checked) {
					$(elem).prop('checked', true);
				} else {
					$(elem).prop('checked', false);
				}
			});
		});

		function appendListCentralizeOrder(data) {
			let row = '';
			data && data.length && data.map((item, index) => {
				// <th >
				// 			<input class="cb-centralize-order-choice" name="radio" type="radio" _centralizeOrderID = "${item._id}"> 
				row += `
					<tr>
						<th>
							${index + 1}
						</th>
						<td>
							<i> 
								${item.centralizeOrderID}
							</i>
						</td>
						<td>
							<i>
								${(item.products) ? item.products.length : 0}
							</i>
						</td>
						<td>
							${(item.weight) ? item.weight : 0}
						</td>
						<td>
							${(item.length) ? item.length : 0}
						</td>
						<td>
							${(item.width) ? item.width : 0}
						</td>
						<td>
							${(item.height) ? item.height : 0}
						</td>
						<td>
						</td>
						<td>
						</td>
						<td>
							${item.address ? item.address : ''}
							${item.wardText ? item.wardText : ''}
							${item.districtText ? item.districtText : ''}
							${item.cityText ? item.cityText : ''}
						</td>
					</tr>
				`;
			});

			$('#tableListCentralizeOrder tbody').empty();
			$('#tableListCentralizeOrder tbody').append(row);
		}

		function appendListStore(data) {
			let row = '';
			data && data.length && data.map((item, index) => {
				row += `
					<tr>
						<th >
							<input class="cb-store-choice" name="radio1" type="radio" _ward = "${item.ward_code}" _district = "${item.district_id}" _storeID = "${item._id}"> 
						<th>
							${index + 1}
						</th>
						<td>
							<i> 
								${item._id}
							</i>
						</td>
						<td>
							<b>
								${(item.name && item.name) ? item.name : ''}
							</b>
						</td>
						<td>
							${item.phone ? item.phone : ''}
						</td>
						<td>
							${item.address ? item.address : ''}
						</td>
						
					</tr>
				`;
			});

			$('#tableListStore tbody').empty();
			$('#tableListStore tbody').append(row);
		}

		function loadListCentralizeChoice(arrayCentralizeOrder) {
			$('#tableListCentralizeOrder').DataTable({
				'iDisplayLength': 100,
				// "searching": true,
				...languageDataTable,
				"processing": true,
				"serverSide": true,
				"ordering": false,
				"searching": false,
				"lengthChange": false,
				// "paging": false,
				'ajax': {
					'url': '/centralize-order/list-centralize-order-choice',
					type: 'POST',
					'data': function (data) {
						return {
							...data,
							listCentralizeID: arrayCentralizeOrder,
							// [key]: value
						}
					},
					"dataSrc": function (json){
						console.log({
							json
						});
						return json.data;
					}
				},
				"columns": [
					{ "data": "index", width: '5%' },
					{ "data": "centralizeOrderID", width: '10%' },
					{ "data": "products",  width: '10%' },
					{ "data": "weight", width: '10%' },
					{ "data": "length", width: '10%' },
					{ "data": "width", width: '10%' },
					{ "data": "height", width: '10%' },
					{ "data": "deliveryPrice", width: '10%' },
					{ "data": "agency", width: '10%' },
					{ "data": "address", width: '15%' },
				],
				"initComplete": function(settings, json) {
					console.log({
						settings, json
					});
					// $(".updateSuppiler").select2();
				}
			});
		}

		// FUNCTION: KIỂM TRA XEM GET LIST CÓ BỊ LỖI
		function checkGetListCentralizeOrderChoice(arrayCentralizeOrder) {
			$.ajax({
				url: '/centralize-order/list-centralize-order-choice',
				method: 'POST',
				data: {
					listCentralizeID: arrayCentralizeOrder,
				},
				success: resp => {
					// console.log({
					// 	resp
					// });
					if (resp.error) {
						return toastr.warning(resp.message, 'THÔNG BÁO');
					} else {
						let mark = false;
						resp.data && resp.data.length && resp.data.map(item => {
							if (item.error) {
								mark = true;
								return toastr.warning(item.message, 'THÔNG BÁO');
							}
						});
						if (!mark) {
							// FUNCTION LẤY RA DANH SÁCH CENTRALIZE ORDER ĐÃ CHỌN
							loadListCentralizeChoice(arrayCentralizeOrder);
							$('.modal-create-merge-centralize-user').modal('show');
						}
					}
				}
			});
		}

		$(document).on('click', '.btn-create-merge-order', function(e) {
			e.preventDefault();
			let arrayCentralizeOrder = [];
			$('.cb-centralize-order').each((i, elem) => {
				let checked = $(elem).is(':checked');
				if (checked) {
					let centralizeOrderID = $(elem).attr('_centralizeOrderID');
					arrayCentralizeOrder = [
						...arrayCentralizeOrder,
						centralizeOrderID
					];
				}
			});

			if (!arrayCentralizeOrder.length) {
				return toastr.warning('Mời bạn chọn ít nhất 1 đơn hàng', 'THÔNG BÁO');
			}

			$('.loading-ghn').addClass('d-none');
			$('.show-fee-ghn').addClass('d-none');
			checkGetListCentralizeOrderChoice(arrayCentralizeOrder);
			// loadListCentralizeChoice(arrayCentralizeOrder)
			// $('.modal-create-merge-centralize-user').modal('show');

			// $.ajax({
			// 	url: '/centralize-order/list-centralize-order-choice',
			// 	method: 'POST',
			// 	data: {
			// 		listCentralizeID: arrayCentralizeOrder
			// 	},
			// 	success: resp => {
			// 		if (resp.error) {
			// 			return toastr.error(resp.message, 'THÔNG BÁO');
			// 		} else {
			// 			appendListCentralizeOrder(resp.data.listCentralizeOrder);
			// 			// appendListStore(resp.data.listStoreGHN.shops);
			// 			$('.modal-create-merge-centralize-user').modal('show');
			// 		}
			// 	}
			// });
			// modal-create-merge-centralize-user
		});

		function getData() {
			let weight = $('#txtWeight').val();
			let length = $('#txtLength').val();
			let width  = $('#txtWidth').val();
			let height = $('#txtHeight').val();

			let centralizeOrders = [];
			$('.cb-centralize-order').each((i, elem) => {
				let checked = $(elem).is(':checked');
				if (checked) {
					let centralizeOrderID = $(elem).attr('_centralizeOrderID');
					centralizeOrders = [
						...centralizeOrders,
						centralizeOrderID
					];
				}
			});

			let centralizeOrderGetAddress = $('.cb-centralize-order-choice:checked').attr('_centralizeOrderID');
			let wardStore     = $('.cb-store-choice:checked').attr('_ward');
			let districtStore = $('.cb-store-choice:checked').attr('_district');
			let storeID       = $('.cb-store-choice:checked').attr('_storeID');

			return {
				weight,
				length,
				width,
				height,
				centralizeOrders,
				centralizeOrderGetAddress,
				wardStore,
				districtStore,
				storeID,
			}
		}

		function validationData(data) {
			let {
				weight,
				length,
				width,
				height,
				centralizeOrders,
				centralizeOrderGetAddress,
				storeID,
			} = data;

			if (!weight) {
				return { error: true, msg: 'Mời bạn nhập trọng lượng' };
			}

			if (!length) {
				return { error: true, msg: 'Mời bạn nhập độ dài' };
			}

			if (!width) {
				return { error: true, msg: 'Mời bạn nhập độ rộng' };
			}

			if (!height) {
				return { error: true, msg: 'Mời bạn nhập chiều cao' };
			}

			if (!centralizeOrderGetAddress) {
				return { error: true, msg: 'Mời bạn chọn 1 đơn hàng lấy địa chỉ' };
			}

			if (!centralizeOrders || !centralizeOrders.length) {
				return { error: true, msg: 'Mời bạn chọn ít nhất 1 đơn hàng' };
			}

			if (!storeID) {
				return { error: true, msg: 'Mời bạn nhập cửa hàng để tính phí vận chuyển' };
			}

			return { error: false, msg: 'Done' }
		}

		$(document).on('change', '.cb-centralize-order-choice', function() {
			let data = getData();
			let validation = validationData(data);
			if (validation.error) {
				$(this).prop('checked', false);
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}
			
			$('.loading-ghn').removeClass('d-none');
			$('.show-fee-ghn').addClass('d-none');
			$.ajax({
				url: '/centralize-order/get-delivery-by-centralize-order-id',
				method: 'POST',
				data: data,
				success: resp => {
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						$('#btnConfirmCreateMergeCentralizeOrder').attr('_ward',     resp.data.infoAddressGHN.data.infoWard.WardCode);
						$('#btnConfirmCreateMergeCentralizeOrder').attr('_district', resp.data.infoAddressGHN.data.infoDistrict.DistrictID);
						$('#btnConfirmCreateMergeCentralizeOrder').attr('_city',     resp.data.infoAddressGHN.data.infoCity.ProvinceID);

						$('.fee-ghn').text(formatter.format(resp.data.feeGHN.total));
						$('.loading-ghn').addClass('d-none');
						$('.show-fee-ghn').removeClass('d-none');
					}
				}
			})
		});

		function getDataCentralizeChoice() {
			let centralizeOrders = [];
			$('.cb-centralize-order').each((i, elem) => {
				let checked = $(elem).is(':checked');
				if (checked) {
					let centralizeOrderID = $(elem).attr('_centralizeOrderID');
					let weight = $(`.centralize-weight-${centralizeOrderID}`).val();
					let length = $(`.centralize-length-${centralizeOrderID}`).val();
					let width  = $(`.centralize-width-${centralizeOrderID}`).val();
					let height = $(`.centralize-height-${centralizeOrderID}`).val();
					let agency = $(`.centralize-weight-${centralizeOrderID}`).attr('_agency');
					
					centralizeOrders = [
						...centralizeOrders,
						{
							id: centralizeOrderID,
							weight,
							length,
							width,
							height,
							agency
						}
					];
				}
			});

			return {
				centralizeOrders,
			}
		}

		function validationDataCentralizeOrder(data) {
			let {
				centralizeOrders,
			} = data;

			if (!centralizeOrders || !centralizeOrders.length) {
				return { error: true, msg: 'Mời bạn chọn đơn hàng' };
			}

			let error   = false;
			let message = '';
			centralizeOrders && centralizeOrders.length && centralizeOrders.map(item => {
				if (!item.weight) {
					error   = true;
					message = 'Trọng lượng (gram) không được phép rỗng';
				}
				if (!item.length) {
					error   = true;
					message = 'Độ dài (cm) không được phép rỗng';
				}
				if (!item.width) {
					error   = true;
					message = 'Độ rộng (cm) không được phép rỗng';
				}
				if (!item.height) {
					error   = true;
					message = 'Chiều cao (cm) không được phép rỗng';
				}
			});

			if (error) {
				return { error: true, msg: message };
			}

			return { error: false, msg: 'Done' }
		}

		function getValueInputRow(centralizeOrderID) {
			let weight = $(`.centralize-weight-${centralizeOrderID}`).val();
			let length = $(`.centralize-length-${centralizeOrderID}`).val();
			let width  = $(`.centralize-width-${centralizeOrderID}`).val();
			let height = $(`.centralize-height-${centralizeOrderID}`).val();

			return {
				weight,
				length,
				width,
				height,
			}
		}

		// THAY ĐỔI WEIGHT THEO TỪNG ROW CENTRALIZE ORDER ĐÃ CHỌN
		$(document).on('change', '.centralize-weight', function() {
			let centralizeOrderID = $(this).attr('_centralizeOrderID');
			let data = getValueInputRow(centralizeOrderID);

			console.log({
				data
			});
		});

		$(document).on('click', '#btnConfirmCreateMergeCentralizeOrder', async function() {
			let data       = getDataCentralizeChoice();
			let validation = validationDataCentralizeOrder(data);
			if (validation.error) {
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}

			let { centralizeOrders } = data;
			console.log({
				centralizeOrders
			});
			
			let ajaxAfterInsertCentralizeOrder = centralizeOrders.map(item => {
				return $.ajax({
					url: '/merge-centralize-order/add-merge-centralize-order',
					method: 'POST',
					data: item,
					success: resp => {
						console.log({
							resp
						});
						if (resp.error) {
							return toastr.error(resp.message, 'THÔNG BÁO');
						} else {
							setTimeout(() => window.location.reload(), 1000);
							return toastr.success('Bạn đã gôm đơn thành công', 'THÔNG BÁO');
						}
					}
				}).done(() => $(this).attr("disable", false))
			});

			let result = await Promise.all(ajaxAfterInsertCentralizeOrder);
			// $(this).attr("disable", true);
			
			// $.ajax({
			// 	url: '/merge-centralize-order/add-merge-centralize-order',
			// 	method: 'POST',
			// 	data: {
			// 		...data,
			// 		ward,
			// 		district,
			// 		city,
			// 		cc,
			// 		bcc,
			// 		to
			// 	},
			// 	success: resp => {
			// 		if (resp.error) {
			// 			return toastr.error(resp.message, 'THÔNG BÁO');
			// 		} else {
			// 			setTimeout(() => window.location.reload(), 1000);
			// 			return toastr.success('Bạn đã gôm đơn thành công', 'THÔNG BÁO');
			// 		}
			// 	}
			// }).done(() => $(this).attr("disable", false))
		});

		$("#scCityFilter").select2({ width:"100%" });

		let city = '<%= city %>';
		function loadListCity() {
			$.ajax({
				url: '/list-provinces',
				method: 'GET',
				success: resp => {
					if (!resp.error) {
						let option = '<option value="" >Chọn Tỉnh/Thành phố</option>';
						resp.listProvince && resp.listProvince.length && resp.listProvince.map(item => {
							let selected = '';
							if (city == item[1].code) {
								selected = 'selected';
							}
							option += '<option value="'+ item[1].code +'" '+ selected +'>'+ item[1].name_with_type +'</option>';
						});
						$('#scCityFilter').append(option);
						$('#scCityFilter').trigger('change');
					} 
				}
			});
		}
		loadListCity();

		$("#scDistrictFilter").select2({ width:"100%" });

		let district = '<%= district %>';
		$(document).on('change', '#scCityFilter', function() {
			let value = $(this).val();
			if (value) {
				$.ajax({
					url: '/list-districts/' + value,
					method: 'GET',
					success: resp => {
						if (!resp.error) {
							let respAfterChange = Object.entries(resp.listDistricts);
							let option = '<option value="" selected>Chọn Quận/Huyện</option>';
							respAfterChange && respAfterChange.length && respAfterChange.map(item => {
								let selected = '';
								if (district == item[1].code) {
									selected = 'selected';
								}
								option += '<option value="'+ item[1].code +'" '+ selected +'>'+ item[1].name_with_type +'</option>';
							});
							$('#scDistrictFilter').empty();
							$('#scDistrictFilter').append(option);
							$('#scDistrictFilter').trigger('change');
						} 
					}
				});
			} else {
				$('#scDistrictFilter').empty();
				$('#scDistrictFilter').trigger('change');
			}
		});

		$("#scWardFilter").select2({ width:"100%" });

		let ward = '<%= ward %>';
		$(document).on('change', '#scDistrictFilter', function() {
			let value = $(this).val();
			
			if (value) {
				$.ajax({
					url: '/list-wards/' + value,
					method: 'GET',
					success: resp => {
						if (!resp.error) {
							let respAfterChange = Object.entries(resp.listWards);
							let option = '<option value="" selected>Chọn Xã/Phường</option>';
							respAfterChange && respAfterChange.length && respAfterChange.map(item => {
								let selected = '';
								if (ward == item[1].code) {
									selected = 'selected';
								}
								option += '<option value="'+ item[1].code +'" '+ selected +'>'+ item[1].name_with_type +'</option>';
							});
							$('#scWardFilter').empty();
							$('#scWardFilter').append(option);
						} 
					}
				});
			} else {
				$('#scWardFilter').empty();
			}
		});

		let  buildAndGoURI = function(){
            let { city, district, ward } = getFormSearchAndFilter();
            // if ( ! typeTransaction && !typeStatusTransaction && !fromDay && !toDay ){
            //     return toastr.error("Bạn phải chọn ít nhất 1 thông tin để tìm kiếm", "Thông báo");
            // }
            let uri = `/centralize-order/list-centralize-order?`;
            if(city)                uri += `&city=${city}`;
            if(district)            uri += `&district=${district}`;
            if(ward)                uri += `&ward=${ward}`;
            
            return window.location.href = uri;
        }

		$(document).on("click", "#btnCentralizeOrderFilter", function(e) {
            // buildAndGoURI();
			dataTable_CentralizeOrder.ajax.reload();
        });

		let dataTableMergeCentralizeOrder = $('#tableListMergeCentralizeOrder').DataTable({
			'iDisplayLength': 25,
			...languageDataTable,
			"processing": true,
            "serverSide": true,
            'ajax': {
                'url': '/merge-centralize-order/list-merge-centralize-order',
                type: 'POST',
                'data': function (data) {
                    return {
						...data,
						[key]: value
					}
                },
                "dataSrc": function (json){
                    return json.data;
                }
            },
            "columns": [
                { "data": "index", width: '5%' },
                { "data": "mergeCentralizeOrderID", width: '10%' },
                { "data": "mergeCentralizeOrderIDGHN",  width: '10%' },
                { "data": "deliveryPrice", width: '10%' },
                { "data": "address", width: '15%' },
                { "data": "ward", width: '10%' },
                { "data": "district", width: '10%' },
                { "data": "city", width: '10%' },
                { "data": "status", width: '10%' },
                { "data": "createAt", width: '10%' },
            ],
		});

		$(document).on('click', '.btn-merge-centralize-order', function() {
			dataTableMergeCentralizeOrder.ajax.reload();
		});

		$(document).on('click', '.btn-export-excel', function() {
			$.ajax({
				url: '/merge-centralize-order/export-list-merge-centralize-order',
				method: 'GET',
				success: resp => {
					console.log({
						resp
					});
					if (!resp.error) {
						window.location.href = resp.data;
					}
				}
			});
		});

	});
</script>