<script>
	$(document).ready(function () {

		$('#tableListOrder').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		})

		$('#scOrderStatusFilter').select2({ width: 'resolve' });
		$('#scOrderProductFilter').select2({ width: 'resolve' });
		$('#scOrderCustomerFilter').select2({ width: 'resolve' });
		$('#scOrderPaymentFilter').select2({ width: 'resolve' });

		let urlParams = new URLSearchParams(location.search);
		let statusParam = urlParams.get('status');
		let productParam = urlParams.get('productID');
		let customerParam = urlParams.get('customerID');
		let paymentParam = urlParams.get('payment');
		let fromDateParam = urlParams.get('fromDate');
		let toDateParam = urlParams.get('toDate');

		statusParam && $('#scOrderStatusFilter').val(statusParam).trigger('change');
		productParam && $('#scOrderProductFilter').val(productParam).trigger('change');
		customerParam && $('#scOrderCustomerFilter').val(customerParam).trigger('change');
		paymentParam && $('#scOrderPaymentFilter').val(paymentParam).trigger('change');
		fromDateParam && $('#inputFromDate').val(fromDateParam).trigger('change');
		toDateParam && $('#inputToDate').val(toDateParam).trigger('change');

		if($('#scOrderProductFilter').length){
			$('#scOrderProductFilter').select2({
				minimumInputLength: 3,
				ajax: {
					url: `/api/product/list-product`,
					type: 'GET',
					dataType: 'json',
					delay: 1000,
					// cache: true,
					data: params => ({ keyword: params.term, limit: 100, typeRequest: true }),
					processResults: (data, params) => ({
						results: $.map(data, item => ({
							text: item.name,
							id: item._id
						}))
					})
				}
			});
		}

		if($('#scOrderCustomerFilter').length){
			$('#scOrderCustomerFilter').select2({
				minimumInputLength: 3,
				ajax: {
					url: `/api/customer/list-customer`,
					type: 'GET',
					dataType: 'json',
					delay: 1000,
					// cache: true,
					data: params => ({ keyword: params.term, limit: 100 }),
					processResults: (data, params) => ({
						results: $.map(data.data?.listCustomers, item => ({
							text: `${item.fullname} ${item.code ? `- ${item.code}` : ''}`,
							id: item._id
						}))
					})
				}
			});
		}

		function setRowTableOrder(infoOrder, index) {
			let payment		= '';
			let orderStatus = {};

			switch (infoOrder.status) {
				case 0:
					orderStatus = {
						text: 'Đang xử lý',
						class: 'badge-danger'
					};
					break;
				case 1:
					orderStatus = {
						text: 'Đã nhận đơn',
						class: 'badge-info'
					};
					break;
				case 2:
					orderStatus = {
						text: 'Đang giao hàng',
						class: 'badge-warning'
					};
					break;
				case 3:
					orderStatus = {
						text: 'Đã giao thành công',
						class: 'badge-success'
					};
					break;
				default:
					break;
			}

			switch (infoOrder.payment) {
				case 0:
					payment = 'Thanh toán khi nhận hàng';
					break;
				case 1:
					payment = 'Thẻ tín dụng';
					break;
				case 2:
					payment = 'Chuyển khoản ngân hàng';
					break;
				default:
					break;
			}

			return `
				<tr>
					<th> ${index + 1} </th>
					<td>
						<i> ${infoOrder.orderID} </i>
					</td>
					<td>
						<i> ${infoOrder.customer ? infoOrder.customer.fullname : ''} </i>
					</td>
					<td>
						<i> ${infoOrder.voucher} </i>
					</td>
					<td>
						<i> ${formatter.format(infoOrder.amount)} </i>
					</td>
					<td>
						<i> ${formatter.format(infoOrder.deliveryPrice)} </i>
					</td>
					<td>
						<i> ${moment(infoOrder.deliveryDate).format('L')} </i>
					</td>
					<td>
						<i> ${infoOrder.address ? infoOrder.address.address : ''} </i>
					</td>

					<td>
						<i> ${payment} </i>
					</td>
					<td>
						<span class="badge badge-pill ${orderStatus.class}">
							${orderStatus.text}
						</span>
					</td>
				</tr>
			`;
		}

		function changeQuery(value, query, wait = false) {
			if(!value || +value === -1){
				urlParams.delete(query);
			} else{
				urlParams.set(query, value);
			}
			!wait && location.replace('/order/list-order?' + urlParams.toString());
		}

		$('#btnOrderFilter').on('click', function () {
			const status 		= $('#scOrderStatusFilter').val();
			const productID 	= $('#scOrderProductFilter').val();
			const customerID 	= $('#scOrderCustomerFilter').val();
			const payment 		= $('#scOrderPaymentFilter').val();
			const fromDate 		= $('#inputFromDate').val();
			const toDate 		= $('#inputToDate').val();

			changeQuery(status, 'status', true);
			changeQuery(productID, 'productID', true);
			changeQuery(customerID, 'customerID', true);
			changeQuery(payment, 'payment', true);
			changeQuery(fromDate, 'fromDate', true);
			changeQuery(toDate, 'toDate');
		});

		$('#input-search-order').on('keyup', debounce(function () {
			const keyword = $(this).val().trim();

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_ORDER.API_LIST_ORDER_FILTER %>?keyword=${keyword}`
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					return toastr.warning('Không tìm thấy đơn hàng trùng khớp', 'THÔNG BÁO');
				}

				let htmlRowTableOrder = '';
				data.listOrder.map((order, index) => {
					htmlRowTableOrder += setRowTableOrder(order, index);
				})
				$('#tableListOrder tbody').html(htmlRowTableOrder);

			}).fail(err => console.error(err))
		}, 1000));

		$('.btnConfirmUpdateStatusOrder').on('click', function () {
			const orderID = $('#txtOrderIdUpdateModal').val();
			const status = $('#scOrderStatusUpdateModal').val();

			$.ajax({
				type: "POST",
				url: "/order/update-status-order",
				data: { orderID, status }
			}).done(resp => {
				const { error, message } = resp;

				if(error){
					return toastr.warning(message, 'THÔNG BÁO');
				}

				$('#modalUpdateStatusOrder').modal('hide');
				toastr.success('Cập nhật trạng thái thành công', 'THÔNG BÁO');

				setTimeout(() => location.reload(), 800);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

	});
</script>