<script>
    $(document).ready(function() {

        $("#trial_program__status").select2({
            width: "100%"
        });
        $("#trial_program__status").val("<%= infoTrial_program.status %>").trigger('change');



        initInputMaxLength('#trial_program__title');
        initInputMaxLength('#trial_program__description');
        initInputMaxLength('#trial_program__content');





        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let title = $('#trial_program__title').val();
            let description = $('#trial_program__description').val();
            let content = $('#trial_program__content').val();
            let startTime = $('#trial_program__starttime').val();
            let endTime = $('#trial_program__endtime').val();
            let status = $('#trial_program__status').val();

            let views = $('#trial_program__views').val();

            let registers = $('#trial_program__registers').val();

            return {
                title,
                description,
                content,
                startTime,
                endTime,
                status,
                views,
                registers,
            };
        }

        const checkFormValid = params => {
            let {
                title,
                description,
                content,
                startTime,
                endTime,
                status,
                views,
                registers,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 0, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'trial_program__status'];
                enableValidate('#trial_program__status', "status không hợp lệ");
            } else {
                if (!fieldsError.includes('trial_program__status')) {
                    disableValidate('#trial_program__status');
                }
            }




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_TRIAL_PROGRAM.UPDATE_TRIAL_PROGRAM_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật TRAIAL PROGRAM - CHƯƠNG TRÌNH DÙNG THỬ thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.trial_programID = $(this).attr('__trial_programID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>