<script>
    $(document).ready(function() {
        let amountCleave = initOneCleave("#inventory__amount");


        $("#inventory__distributor").select2({
            width: "100%"
        });

        $("#inventory__sku").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/product/list-products',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.name,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });






        $('#inventory__amount').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#inventory__amount', "Vui lòng nhập số lượng");
            } else {
                disableValidate('#inventory__amount');
            }
        });

        $('#inventory__dateimport').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#inventory__dateimport', "Vui lòng nhập thời gian nhập");
            } else {
                disableValidate('#inventory__dateimport');
            }
        });



        const getFormInsert = () => {

            let distributor = $('#inventory__distributor').val();

            let sku = $('#inventory__sku').val();
            let amount = amountCleave.getRawValue();
            let dateImport = $('#inventory__dateimport').val();

            return {
                distributor,
                sku,
                amount,
                dateImport,
            };
        }

        const checkFormValid = params => {
            let {
                distributor,
                sku,
                amount,
                dateImport,
            } = params;
            let fieldsError = [];




            if (!distributor) {
                fieldsError = [...fieldsError, 'inventory__distributor'];
                enableValidate('#inventory__distributor', "Vui lòng chọn nhà phân phối");
            } else {
                if (!fieldsError.includes('inventory__distributor')) {
                    disableValidate('#inventory__distributor');
                }
            }

            if (!sku) {
                fieldsError = [...fieldsError, 'inventory__sku'];
                enableValidate('#inventory__sku', "Vui lòng chọn sản phẩm");
            } else {
                if (!fieldsError.includes('inventory__sku')) {
                    disableValidate('#inventory__sku');
                }
            }

            if (!amount) {
                fieldsError = [...fieldsError, 'inventory__amount'];
                enableValidate('#inventory__amount', "Vui lòng nhập số lượng");
            } else {
                if (!fieldsError.includes('inventory__amount')) {
                    disableValidate('#inventory__amount');
                }
            }

            if (!dateImport) {
                fieldsError = [...fieldsError, 'inventory__dateimport'];
                enableValidate('#inventory__dateimport', "Vui lòng nhập thời gian nhập");
            } else {
                if (!fieldsError.includes('inventory__dateimport')) {
                    disableValidate('#inventory__dateimport');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_INVENTORY.ADD_INVENTORY %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm tồn đầu thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>