<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
	.container-search-transaction {
        position: relative;
    }
    .container-search-transaction > svg {
        position: absolute;
        top: 10px;
        right: 22px;
        z-index: 7;
    }
    .container-search-transaction > input.form-control {
        /* width: 350px; */
        height: 25px;
        font-size: 12px;
        padding: 15px;
        font-weight: normal;
        position: relative;
        z-index: 5;
        background: none;
    }
	.input-filter{
		height: 31px;
	}
	.dataTables_length,
	.dataTables_filter{
		display: none;
	}
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách giao dịch</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/transaction/list-transaction">Transaction</a></li>
                         <li class="breadcrumb-item active">Danh sách giao dịch</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-between mb-3">
								<div class="container-filter" style="width: 100%">
									<!-- d-flex flex-wrap -->

									<div class="row">
										<div class="form-group input-filter col-3">
											<select id="scTransactionStatusFilter" class="form-control">
												<option value="-1" selected>Trạng thái giao dịch</option>
												<option value="0">Chưa thanh toán</option>
												<option value="1">Đã thanh toán</option>
											</select>
										</div>

										<div class="form-group input-filter col-3 col-xs-12">
											<select id="scTransactionCustomerFilter" class="form-control">
												<option value="-1" selected>Khách hàng</option>
											</select>
										</div>

										<div class="form-group input-filter col-3">
											<select id="scTransactionBankCodeFilter" class="form-control">
												<option value="-1" selected>Code Bank</option>
												<option value="VCB">VCB</option>
												<option value="TPB">TPB</option>
											</select>
										</div>

										<div class="container-search-transaction col-3">
											<input id="input-search-transaction" type="text" class="form-control" placeholder="Tìm kiếm">
											<i class="fas fa-search"></i>
										</div>

									</div>

									<div class="row mb-3">
										<div class="form-group d-flex input-filter col-6">
											<label for="inputFromDate" style="margin-right: 10px;"> Từ ngày
												<input type="date" id="inputFromDate" class="form-control" style="margin-top:5px;">
											</label>
											<label for="inputToDate"> Đến ngày
												<input type="date" id="inputToDate" class="form-control" style="margin-top:5px">
											</label>
										</div>

										<div class="form-group d-flex input-filter col-6">
											<label for="inputFromPrice" style="margin-right: 10px;"> Giá từ
												<input type="text" id="inputFromPrice" class="form-control" placeholder="Giá" style="margin-top:5px;">
											</label>
											<label for="inputToPrice"> Đến
												<input type="text" id="inputToPrice" class="form-control" placeholder="Giá" style="margin-top:5px">
											</label>
											<label>
												<button class="btn btn-outline-info mt-4 ml-2" id="btnTransactionFilter" title="Tìm kiếm">
													<i class="fas fa-search"></i>
													Tìm kiếm
												</button>
											</label>
										</div>
									</div>
 
								</div>
								
                            </div>

							<!-- <div class="col-lg-12 d-flex justify-content-end mb-3">
								<div class="container-search-transaction">
									<input id="input-search-transaction" type="text" class="form-control" placeholder="Tìm kiếm">
									<i class="fas fa-search"></i>
								</div>
							</div> -->
                            <table class="content-table table-list-transaction" id="tableListTransaction">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã giao dịch</th>
                                        <th>Tên khách hàng</th>
										<th>Nội dung thanh toán</th>
                                        <th>Số tiền thanh toán</th>
                                        <th>Bank Code</th>
										<th>Mã đơn hàng</th>
                                        <th>Đơn vị</th>
                                        <th>Địa chỉ IP</th>
                                        <th>Ngày giao dịch</th>
                                        <th>Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listTransaction && listTransaction.length) { %>
                                        <% listTransaction.forEach(( transaction, index ) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
												<td>
													<i> <%= transaction.transactionID %> </i>
												</td>
												<td>
													<i> <%= transaction.customer ? transaction.customer.fullname : '' %> </i>
												</td>
												<td>
													<i>
														<%= transaction.orderInfo %>
													</i>
												</td>
												<td>
													<i>
														<%= formatCurrency('###,###.', transaction.amount) %>
													</i>
												</td>
												<td>
													<i>
														<%= transaction.bankCode %>
													</i>
												</td>
												<td>
													<i>
														<%= transaction.order ? transaction.order.orderID : '' %>
													</i>
												</td>
												<td>
													<i>
														<%= transaction.locale %>
													</i>
												</td>

												<td>
													<i>
														<%= transaction.ipAddr %>
													</i>
												</td>
												<td>
													<i>
														<%= moment(transaction.createAt).format('L') %> 
													</i>
												</td>
												<td>
													<% if (transaction.status === 0) { %>
														<span class="badge badge-pill badge-danger">
															Chưa thanh toán
														</span>
													<% } %>	

													<% if (transaction.status === 1) { %>
														<span class="badge badge-pill badge-success">
															Đã thanh toán
														</span>
													<% } %>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
