<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Chi tiết Flash Sale</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Chi tiết Flash Sale</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                <b>Tiêu đề</b>  
                                            </label>
                                        </div>
                                        <div>
                                            <input disabled class="form-control" type="text" placeholder="Nhập tiêu đề slide" id="txtName" value = "<%= infoFlashSale && infoFlashSale.name %>">
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                <b>Loại khuyến mãi</b>
                                            </label>
                                        </div>
                                        <div>
                                            <input disabled class="form-control" type="text"
                                                <% if(infoFlashSale && infoFlashSale.typeDiscount == 1) { %>
                                                    value = 'Giảm giá theo tiền'
                                                <% } else { %>
                                                    value = 'Giảm giá theo phần trăm'
                                                <% } %>
                                            >
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                <b>Tổng giảm</b>
                                            </label>
                                        </div>
                                        <div>
                                            <input disabled class="form-control" type="text" id="txtAmountDiscount"
                                                <% if(infoFlashSale && infoFlashSale.typeDiscount == 1) { %>
                                                    value=<%= infoFlashSale.amountDiscountByMoney %>
                                                <% } else if(infoFlashSale && infoFlashSale.typeDiscount == 2) { %>
                                                    value=<%= infoFlashSale.amountDiscountByPercent %>
                                                <% } else { %>
                                                    value='0'
                                                <% } %>  
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="example-text-input" class="col-form-label">
                                            <b>Thời gian bắt đầu</b>
                                        </label>
                                        <div>
                                            <input disabled class="form-control" type="text" value = "<%= moment(infoFlashSale && infoFlashSale.startTime).format('LL') %>">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="example-text-input" class="col-form-label">
                                            <b>Thời gian kết thúc</b>
                                        </label>
                                        <div>
                                            <input disabled class="form-control" type="text" value = "<%= moment(infoFlashSale && infoFlashSale.endTime).format('LL') %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="example-text-input" class="col-form-label">
                                        <b>Mô tả</b>
                                    </label>
                                </div>
                                <div>
                                    <textarea class="form-control" name="" id="" cols="30" rows="5" disabled><%= infoFlashSale && infoFlashSale.description %></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="example-text-input" class="col-form-label">
                                        <b>Nội dung chi tiết</b>
                                    </label>
                                </div>
                                <div>
                                    <textarea class="form-control" name="contentBigSale" id="contentFlashSale" cols="30" rows="8" disabled><%= infoFlashSale && infoFlashSale.content %></textarea>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 50px;">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="example-text-input" class="col-form-label">
                                            <b>Hình ảnh</b>
                                        </label>
                                        <div>
                                            <img class="img-fluid img-thumbnail rounded" style="height: 300px; width: 100%; object-fit: contain;" src="<%= infoFlashSale && infoFlashSale.image ? infoFlashSale.image.path : 'https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg' %>">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div>
                                            <label for="example-text-input" class="col-form-label">
                                                <b>Trạng thái hoạt động</b>
                                            </label>
                                        </div>
                                        <div>
                                            <% if(infoFlashSale && infoFlashSale.status) { %>
                                                <h5>
                                                    <span class="badge badge-pill badge-success">
                                                        Hoạt Động 
                                                    </span>
                                                </h5>
                                            <% } else { %>
                                                <h5>
                                                    <span class="badge badge-danger"> 
                                                        Không Hoạt Động 
                                                    </span>
                                                </h5>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 20px;">
                                <label style="margin-bottom: 15px;"><b>Album ảnh</b></label> 
                                <div class="gallery image-gallery">
                                <!-- Xem xét lại cách đặt tên bô sưu tập -->
                                    <div class="img-wraps" style="display: flex; flex-wrap: wrap;">
                                        <% if(infoFlashSale && infoFlashSale.gallerys.length > 0) { %>
                                            <% infoFlashSale.gallerys.forEach(gallery => { %>
                                                <a href="<%= loadPathImage(gallery.path) %>" target="_blank" class="effects" style="margin: 5px;">
                                                    <img src="<%= loadPathImage(gallery.path) %>" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
                                                    <div class="overlay">
                                                    </div>
                                                </a>
                                            <% }) %>
                                        <% } else { %>
                                            <h4><strong>Không có hình ảnh trong Album</strong></h4>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group right">
                                <a href="/promotion/flashsales" class="btn btn-secondary"><i class="fas fa-arrow-alt-circle-left"></i> Quay lại danh sách</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGING (WEB ADMIN) -->
    <%#- include ./utils/paging.ejs%>
    <!--END PAGING (WEB ADMIN) -->
</div>
