<style>
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
 </style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Cập nhật Flash Sale</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Cập nhật Flash Sale</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group">
                                    <label><b>Tiêu đề</b></label> 
                                    <input type="text" class="form-control" id="txtNameUpdate" value="<%= infoFlashSaleUpdate ? infoFlashSaleUpdate.name : '' %>" placeholder="Nhập tên Flash Sale">
                                </div>

                                <div class="form-group">
                                    <label><b>Mô tả</b></label> 
                                    <textarea class="form-control" id="txtDescriptionUpdate" rows="5" placeholder="Nhập mô tả Flash Sale"><%= infoFlashSaleUpdate ? infoFlashSaleUpdate.description : '' %></textarea>
                                </div>

                                <div class="form-group">
                                    <label><b>Nội dung chi tiết</b></label> 
                                    <textarea class="form-control" id="txtContentUpdate"><%= infoFlashSaleUpdate ? infoFlashSaleUpdate.content : '' %></textarea>
                                </div>

                                <div class="form-group">
                                    <label><b>Album ảnh</b></label> 
                                    <input id="btnUploadGalleryUpdate" type="file" style="width: 100%; height: 100px; margin-bottom: 10px;" class="form-control" accept="image/*" multiple >
                                    <div class="gallery image-gallery-update" style="display: flex; flex-wrap: wrap;">
                                        <% infoFlashSaleUpdate && infoFlashSaleUpdate.gallerys.length > 0 && infoFlashSaleUpdate.gallerys.forEach(gallery => { %>
											<% let imageUrl = loadPathImage(gallery.path) %>
                                            <div class="img-wraps" data-src=<%= imageUrl %>>
                                                <span class="close deleteImage" _type="imgGalleryUpdate" _imageID=<%= gallery._id %> _imgName=<%= imageUrl %>>&times;</span>
                                                <a href="<%= imageUrl %>" target="_blank" class="effects" style="margin: 5px;">
                                                    <img src="<%= imageUrl %>" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
                                                    <div class="overlay">
                                                    </div>
                                                </a>
                                            </div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        <b>Loại khuyến mãi</b>
                                    </label> 
                                    <select class="form-control" id="txtTypeDiscountUpdate">
                                        <% if(infoFlashSaleUpdate && infoFlashSaleUpdate.typeDiscount === 1) { %>
                                            <option value="1" selected>Giảm giá theo tiền</option>
                                            <option value="2">Giảm giá theo %</option>
                                        <% } else { %>
                                            <option value="1">Giảm giá theo tiền</option>
                                            <option value="2" selected>Giảm giá theo %</option>
                                        <% } %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Chọn sản phẩm</b>
                                    </label> 
                                    <select class="form-control" id="txtProductsUpdate" multiple>
                                        <% listProduct.forEach(product => { %>
                                            <option value="<%= product._id%>" <% if (infoFlashSaleUpdate.products.includes(product._id.toString())) { %>
                                                selected
                                            <% } %>><%= product.name %></option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Tổng giảm</b>
                                    </label> 
                                    <input class="form-control" type="text" placeholder="VD: giảm 50 nghìn thì nhập 50000 , 5 phần trăm thì nhập 5" id="txtAmountDiscountUpdate"
                                        <% if(infoFlashSaleUpdate && infoFlashSaleUpdate.typeDiscount == 1) { %>
                                            value=<%= infoFlashSaleUpdate.value %>
                                        <% } else if(infoFlashSaleUpdate && infoFlashSaleUpdate.typeDiscount == 2) { %>
                                            value=<%= infoFlashSaleUpdate.value %>
                                        <% } else { %>
                                            value='0'
                                        <% } %>  
                                    >
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>
                                                <b>Thời gian từ ngày</b>
                                            </label> 
                                            <input class="form-control" type="datetime-local" id="txtStartTimeUpdate" value="<%=moment(new Date(infoFlashSaleUpdate && infoFlashSaleUpdate.startTime)).format().substring(0,16)%>">
                                        </div>
                                        <div class="col-6">
                                            <label>
                                                <b>Đến ngày</b>
                                            </label> 
                                            <input class="form-control" type="datetime-local" id="txtEndTimeUpdate" value="<%= moment(new Date(infoFlashSaleUpdate && infoFlashSaleUpdate.endTime)).format().substring(0,16)%>">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Trạng thái</b>
                                    </label> 
                                    <select class="form-control" id="txtStatusUpdate">
                                        <% if(infoFlashSaleUpdate && infoFlashSaleUpdate.status) { %> 
                                            <option value="1" selected>Hoạt động</option>
                                            <option value="0">Không hoạt động</option>
                                        <% } else { %>
                                            <option value="1">Hoạt động</option>
                                            <option value="0" selected>Không hoạt động</option>
                                        <% } %>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <b>Hình Ảnh</b>
                                    </label> 
                                    <div class="container">
                                        <div class="avatar-upload">
                                            <div class="avatar-edit">
                                                <input type="file" id="flashSaleImageUpdate" accept=".png, .jpg, .jpeg" />
                                                <label for="flashSaleImageUpdate"></label>
                                            </div>
                                            <div class="avatar-preview">
                                                <% if (infoFlashSaleUpdate && infoFlashSaleUpdate.image) { %>
                                                    <div id="imagePreview" style="background-image: url(<%= loadPathImage(infoFlashSaleUpdate.image.path) %>);"></div>
                                                <% } else { %>
                                                    <div id="imagePreview" style="background-image: url(https://vitacare.vn/wp-content/themes/vitacare/images/default-image.jpg);"></div>
                                                <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnUpdateFlashSale" _flashSaleID=<%= infoFlashSaleUpdate._id %>>Cập nhật</button>
                                        <a href="/promotion/flashsales" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>