<script>
    $(document).ready(function() {



        initInputMaxLength('#region__name');
        initInputMaxLength('#region__code');



        $('#region__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#region__name', "Vui lòng nhập tên miền");
            } else {
                disableValidate('#region__name');
            }
        });

        $('#region__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#region__code', "Vui lòng nhập mã miền");
            } else {
                disableValidate('#region__code');
            }
        });



        const getFormInsert = () => {

            let name = $('#region__name').val();

            let code = $('#region__code').val();

            return {
                name,
                code,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'region__name'];
                enableValidate('#region__name', "Vui lòng nhập tên miền");
            } else {
                if (!fieldsError.includes('region__name')) {
                    disableValidate('#region__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'region__code'];
                enableValidate('#region__code', "Vui lòng nhập mã miền");
            } else {
                if (!fieldsError.includes('region__code')) {
                    disableValidate('#region__code');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_REGION.ADD_REGION %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm miền thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>