<script>
    $(document).ready(function() {

        $("#region__status").select2({
            width: "100%"
        });
        $("#region__status").val("<%= infoRegion.status %>").trigger('change');



        initInputMaxLength('#region__name');
        initInputMaxLength('#region__code');



        $('#region__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#region__name', "Vui lòng nhập tên miền");
            } else {
                disableValidate('#region__name');
            }
        });

        $('#region__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#region__code', "Vui lòng nhập mã miền");
            } else {
                disableValidate('#region__code');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#region__name').val();
            let code = $('#region__code').val();
            let status = $('#region__status').val();

            let order = $('#region__order').val();

            return {
                name,
                code,
                status,
                order,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
                status,
                order,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'region__status'];
                enableValidate('#region__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('region__status')) {
                    disableValidate('#region__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'region__name'];
                enableValidate('#region__name', "Vui lòng nhập tên miền");
            } else {
                if (!fieldsError.includes('region__name')) {
                    disableValidate('#region__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'region__code'];
                enableValidate('#region__code', "Vui lòng nhập mã miền");
            } else {
                if (!fieldsError.includes('region__code')) {
                    disableValidate('#region__code');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_REGION.UPDATE_REGION_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật miền thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.regionID = $(this).attr('__regionID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>