<style>
    .dataTables_filter {
        display: none;
    }
    .dataTables_length {
        display: none;
    }
</style>

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">

        <div class="row justify-content-center mt-3">
            <h3 class="col-sm-8 page-title"><b>Danh sách admin</b> </h3>
            <div class="col-sm-4" style="text-align: right;">
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modalCreateAdmin">
                    <i class="ti-pencil-alt"></i>
                    Tạo mới
                </button>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="status-region-choice nav-link active" _key="" _value="" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Tất cả</a>
            </li>

        </ul>

        <div class="row justify-content-start mt-3">
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control input-search-text" autocomplete="off" placeholder="Tìm kiếm tên, email...">
                    <button class="input-group-text btn-search-text">
                        <i class="ti-search"></i>
                    </button>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <table id="tableListUser" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="text-left">STT</th>
                            <th class="text-left">Tên</th>
                            <th class="text-left">Username</th>
                            <th class="text-left">Email</th>
                            <th class="text-left">Role</th>
                            <th class="text-left">Trạng thái</th>
                            <th class="text-left">Ngày tạo</th>
                            <th class="text-left">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (listUser && listUser.length) { %>
                            <% listUser.forEach(( user, index ) => { %>
                                <tr>
                                    <td class="text-left">
                                        <%= index + 1 %>
                                    </td>
                                    <td class="text-left">
                                        <i>
                                            <%= user.fullname %>
                                        </i>
                                    </td>
                                    <td class="text-left">
                                        <i>
                                            <%= user.username %>
                                        </i>
                                    </td>
                                    <td class="text-left">
                                        <i>
                                            <%= user.email %>
                                        </i>
                                    </td>
                                    <td class="text-left">
                                        <% if (user.roles && user.roles.length) { %>
                                            <%= user.roles[0].name %> 
                                        <% } %>
                                    </td>
                                    <td class="text-left">
                                        <div class="form-check form-switch form-switch-success">
                                            <input class="form-check-input check-status" value="<%= user._id %>" type="checkbox" <%= user.status === 1 ? 'checked' : '' %> style="width: 40px;height: 20px;">
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <%= moment(user.createAt).format('L') %> 
                                    </td>
                                    <td class="text-left">
                                        <a href="javascript:void(0)" class="btn-icon-custom btn-show-modal-update-user" _userID="<%= user._id %>">
                                            <i class="la la-eyedropper" style="font-size: 1.5rem;"></i>
                                        </a>
                                        <a href="javascript:void(0)" class="btn-icon-custom btn-remove-user" _userID="<%= user._id %>">
                                            <i class="la la-trash" style="font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } %>
                    </tbody>

                </table>
            </div>
        </div>
    </div>


    <!-- POPUP CREATE USER -->
<div class="modal fade" id="modalCreateAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header white">
				<h5 class="modal-title">Tạo admin</h5>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Tên hiển thị</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên hiển thị" id="inputFullname">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
                <div class="form-group"><label>Tên đăng nhập</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" id="inputUsername" minlength="3">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
				<div class="form-group"><label>Email</label> 
                    <input type="email" class="form-control" placeholder="Nhập Email" id="inputEmail">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
				<div class="form-group"><label>Mật khẩu</label> 
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="inputPassword">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
                <div class="form-group"><label>Xác nhận mật khẩu</label> 
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id="inputRePassword">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>

				<div class="row">
					<div class="col-6">
						<div class="mb-2">
							<div>
								<label class="col-form-label">
									Phân quyền
								</label>
							</div>
							<div>
								<select class="form-control" id="scUserRole">
                                    <% listRoles.forEach(role => { %>
                                        <option value="<%= role._id %>" _name="<%= role.name %>"> <%= role.name %>(<%= role.description %>)</option>
                                    <% }) %>
								</select>
							</div>
						</div>
                        <div class="form-group form-select-region d-none">
							<div>
								<label class="col-form-label">
									Chọn vùng
								</label>
							</div>
							<div>
								<select class="form-control" id="scUserRegion">
                                    <% listRegion.forEach(region => { %>
                                        <option value="<%= region._id %>"> <%= region.name %> </option>
                                    <% }) %>
								</select>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-2">
							<label>Trạng Thái</label>
                            <div class="form-check form-switch form-switch-success">
                                <input type="checkbox" class="form-check-input" id="cbStatusUser" style="width: 40px;height: 20px;">
                            </div>
						</div>
					</div>
				</div>

				<hr>

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary btn-min-width" id="btnConfirmCreateUser">Tạo</button>
				</div>
            </div>
        </div>
    </div>
</div>

<!-- POPUP UPDATE USER -->
<div class="modal fade modal-update-user" id="modalUpdateAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel12"
aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header white">
				<h5 class="modal-title">Cập nhật admin</h5>
			</div>
            <div class="card-body">
				<div class="form-group"><label>Tên hiển thị</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên hiển thị" id="inputFullnameUpdate">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
                <div class="form-group"><label>Tên đăng nhập</label> 
                    <input type="text" class="form-control" placeholder="Nhập tên đăng nhập" id="inputUsernameUpdate" minlength="3">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
				<div class="form-group"><label>Email</label> 
                    <input type="email" class="form-control disabled" disabled placeholder="Nhập Email" id="inputEmailUpdate">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>
				<div class="form-group"><label>Mật khẩu</label> 
                    <input type="password" class="form-control" placeholder="Nhập mật khẩu" id="inputPasswordUpdate">
                    <ul class="parsley-errors-list">
                        <li class="parsley-required">This value is required.</li>
                    </ul>
                </div>

				<div class="row">
					<div class="col-6">
						<div class="mb-2">
							<div>
								<label class="col-form-label">
									Phân quyền
								</label>
							</div>
							<div>
								<select class="form-control" id="scUserRoleUpdate">
                                    <% listRoles.forEach(role => { %>
                                        <option value="<%= role._id %>" _name="<%= role.name %>"> <%= role.name %> (<%= role.description %>)</option>
                                    <% }) %>
								</select>
							</div>
						</div>
                        <div class="form-group form-select-region d-none">
							<div>
								<label class="col-form-label">
									Chọn miền
								</label>
							</div>
							<div>
								<select class="form-control" id="scUserRegionUpdate">
                                    <% listRegion.forEach(region => { %>
                                        <option value="<%= region._id %>"> <%= region.name %> </option>
                                    <% }) %>
								</select>
							</div>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group mt-2">
							<label>Trạng Thái</label>
                            <div class="form-check form-switch form-switch-success">
                                <input type="checkbox" class="form-check-input" id="cbStatusUserUpdate" style="width: 40px;height: 20px;">
                            </div>
						</div>
					</div>
				</div>

				<hr>

				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary btn-min-width" id="btnConfirmUpdateUser">Cập nhật</button>
				</div>
            </div>
        </div>
    </div>
</div>

