<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật tồn đầu</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/inventory/list-inventory">Quản lý tồn đầu</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory__amount">
                                Số lượng <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="inventory__amount" value="<%= infoInventory.amount %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory__distributor">
                                Nhà phân phối <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="inventory__distributor" data-placeholder="Chọn Nhà phân phối">

                                <option value="null" selected disabled>Chọn Nhà phân phối</option>
                                <% if(listDistributors && listDistributors.length){ %>
                                <% listDistributors.forEach(distributor => { %>
                                <option value="<%= distributor._id %>">
                                    <%= distributor.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory__sku">
                                Sản phẩm <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="inventory__sku" data-placeholder="Chọn Sản phẩm">

                                <% if(listSkus && listSkus.length){ %>
                                <% listSkus.forEach(product => { %>
                                <% let isSelect = (infoInventory.sku && infoInventory.sku._id.toString()) === product._id.toString() %>

                                <option value="<%= product._id %>" <%= isSelect && 'selected' %>>
                                    <%= product.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory__dateimport">
                                Thời gian nhập <span class="text-danger">(*)</span>
                            </label>
                            <input type="date" class="form-control" id="inventory__dateimport" value="<%= moment(infoInventory.dateImport).format("YYYY-MM-DD") %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __inventoryID="<%= infoInventory._id %>">
                    Cập nhật
                </button>
                <a href="/inventory/list-inventory" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>