<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách cấu hình thông báo</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/notification/list-config-notification">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách cấu hình thông báo</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="/notification/add-config-notification" class="btn btn-outline-info waves-effect waves-light btnAddStore">
                                    <i class="fas fa-plus-circle"></i> Tạo cấu hình thông báo
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-agency">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tiêu đề</th>
                                        <th>Mô tả</th>
                                        <th>Loại thông báo</th>
                                        <th>Loại thời gian</th>
                                        <!-- <th>Tùy chỉnh</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listConfigNotification && listConfigNotification.length && listConfigNotification.forEach((noti, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= noti.title%></td>
                                            <td>
                                                <%= noti.description%>
                                            </td>
                                            <td>
                                                <% TYPE_NOTIFICATION.forEach(element => { %>
                                                   <% if (element.value == noti.type) { %>
                                                      <%= element.text%>
                                                   <% } %>
                                                <% }) %>
                                             </td>
                                            <td>
                                               <% if (noti.type_expression == 1) { %>
                                                   Ngay bây giờ
                                               <% } else { %>
                                                   Lên lịch
                                                <% } %>
                                             </td>
                                            <!-- <td>
                                                <a href="/noti/update-noti/">
                                                    <span style="cursor: pointer;" class="btnUpdateStore" _agencyID="">
                                                        <i class="fa fa-edit"></i> Chỉnh sửa
                                                    </span>
                                                </a>
                                            </td> -->
                                        </tr>
                                   <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- POPUP TẠO agency -->


