<script>
    $(document).ready(function() {
        // SET CLEAVEJS
        runCleave("#txtPriceProductAdd");
        initEditor("#txtContent", {
            height: 500
        });

        initEditor("#txtSourceMaterialProductAdd", {
            height: 300
        });

        // SET SELCET 2
        $("#txtCategoryProductAdd").select2();
        $("#txtBrandProductAdd").select2();
        $("#txtSegmentProductAdd").select2();
        // FUNCTION: KIỂM TRA GIÁ SẢN PHẨM
        $(document).on("keyup", "#txtPriceProductAdd", function() {
            let priceProduct = $(this).val();
            priceProduct     = replaceAll(priceProduct, ",", "");
            priceProduct     = Number(priceProduct);

            // 1// KIỂM TRA GIÁ SẢN PHẨM ÂM
            if(priceProduct < 0) {
                $(this).val("");
                return setError(this, "Giá sản phẩm không được phép âm");
            }

            // 2// KIỂM TRA GIÁ SẢN PHẨM == 0
            if(priceProduct == 0) {
                $(this).val("");
                return setError(this, "Giá sản phẩm không được phép bằng 0");
            }

            // 3// SET INPUT THÀNH CÔNG
            setSuccess(this);
        });

        // FUNCTION: SET INPUT TÊN SẢN PHẨM THÀNH CÔNG
        $(document).on("keyup", "#txtNameProductAdd", function() {
            setSuccess(this);
        });
        
        let arrImageGallry      = [];
        let arrImageCertifiedImages      = [];
        let arrImageCustomerNew = {};
        let pathAvatar          = "";
        let lightGalleryAvatar;
        let lightGallery;
        
        //FUNTION: THÊM HÌNH ẢNH AVATAR
        $(document).on("change", "#txtAvatarProductAdd", async function() {
            let arrImgCus        = $("#txtAvatarProductAdd")[0].files;

            let generalNameImage = randomStringFixLengthCode(12);
            let nameOfImage      = `${generalNameImage}.jpg`;
            let fileAvatar       = [];

            for( let i = 0; i < arrImgCus.length; i++){
                fileAvatar[fileAvatar.length] = arrImgCus[i];
            }
            let size = fileAvatar[0].size;
            let name = fileAvatar[0].name;
            arrImageCustomerNew = {
                size, name
            }
            let urlAvatar = readURLAvatar(this);

            $("#imagePreview").attr("style", `background-image: url(${urlAvatar});`)
            $("#imagePreview").attr("data-src", `${urlAvatar}`);
            
            if (lightGalleryAvatar) {
                $('.imageAvatar').data('lightGallery').destroy(true);
            }
            lightGalleryAvatar = $('.imageAvatar').lightGallery({
                thumbnail:true,
            });
            $(this).val("");
            /*
                UPLOAD s3
            */
            await addFileToUpload(fileAvatar, links => {
                links.forEach( item => {
                    arrImageCustomerNew = {
                        size, name, pathAvatar: item.uri
                    }
                })
            });
        });

        /*
            FUNCTION: XÓA HÌNH ẢNH
        */
        // $(document).on("click", ".deleteImage", function(e){
        //     e.preventDefault(); 

        //     let imgName = $(this).attr("_imgName");
        //     let type    = $(this).attr("_type");
        //     // let imgID   = $(this).attr("_imageID");
        //     let imgPath = $(this).find("imgReader").val();

        //     if ( type == "imageGallery" ){
        //         arrImageGallry.forEach( ( imgNew, index ) => {
        //             if ( imgNew.name == imgName ){
        //                 arrImageGallry.splice(index, 1);
        //                 $(this).parent().remove();
        //             }
        //         });
        //         console.log({ arrImageGallry });
        //         changeLightGallery({ lightGallery: lightGallery1, input: ".txtGalleryProductAdd" })
        //     }
        //     // console.log({ customerImages, KYCImages, receiptImages, formVerificationImages });
        // }); 
        /*
            SET CLASS GALLERY THÀNH FILE POND
        */
        let gallery = document.querySelector('.filepond');
        let certifiedImage = document.querySelector('.filepond-certified-images');
        FilePond.create(gallery, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh sản phẩm </span>`,
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallry[arrImageGallry.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        arrImageGallry[arrImageGallry.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
                // console.log({ fileItem })
                // $(".txtGalleryProductAdd").append(`
				// 	<div class="img-wraps" data-src="${img.src}">
				// 		<span class="close deleteImage" _type="imageGallery" _imgName="${fileItem.filename}" _imageID = "">&times;</span>

				// 		<a data-src="${img.src}" href="${img.src}" class="effects khongtrung">
				// 			<img style="object-fit: contain;" src="${img.src}" value="${fileItem.filename}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
				// 			<div class="overlay">
				// 			</div>
				// 		</a>
				// 	</div>
				// `);
                // if (lightGallery) {
                //     $('.txtGalleryProductAdd').data('lightGallery').destroy(true);
                // }
                // lightGallery = $('.txtGalleryProductAdd').lightGallery({
                //     thumbnail:true,
                // });
            },

            onremovefile: (error, file) => {
                arrImageGallry = arrImageGallry.filter( image => image.name != file.filename );
                // $(`.${file.filename}`).closest('.col-2').remove();
            }
        });

        FilePond.create(certifiedImage, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh chứng nhận </span>`,
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallry[arrImageGallry.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        arrImageCertifiedImages[arrImageCertifiedImages.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
                // console.log({ fileItem })
                // $(".txtGalleryProductAdd").append(`
				// 	<div class="img-wraps" data-src="${img.src}">
				// 		<span class="close deleteImage" _type="imageGallery" _imgName="${fileItem.filename}" _imageID = "">&times;</span>

				// 		<a data-src="${img.src}" href="${img.src}" class="effects khongtrung">
				// 			<img style="object-fit: contain;" src="${img.src}" value="${fileItem.filename}" width="120px" height="120px  class="img-responsive" alt="Unify Admin">
				// 			<div class="overlay">
				// 			</div>
				// 		</a>
				// 	</div>
				// `);
                // if (lightGallery) {
                //     $('.txtGalleryProductAdd').data('lightGallery').destroy(true);
                // }
                // lightGallery = $('.txtGalleryProductAdd').lightGallery({
                //     thumbnail:true,
                // });
            },

            onremovefile: (error, file) => {
                arrImageCertifiedImages = arrImageCertifiedImages.filter( image => image.name != file.filename );
                // $(`.${file.filename}`).closest('.col-2').remove();
            }
        });

        $(document).on("change", "#txtCategoryProductAdd, #txtBrandProductAdd", function() {
            setSuccess(this);
        });

        $(document).on("keyup", "#txtNameProductAdd, #txSKUProductAdd", function() {
            setSuccess(this);
        });

        $(document).on("change", "#txtNameProductAdd", function() {
            // , #txSKUProductAdd
            let name    = $(this).val();
            name        = titleCase(name);
            let newDate = getDateNow();
            newDate     = replaceAll(newDate, "-", "");
            
            name        += newDate;
            name        = removeVietnameseTones(name);
            $("#txSKUProductAdd").val(name);
        });

        $(document).on("change", "#txtSegmentProductAdd", function() {
            setSuccess(this);
        });

        //FUNCTION: TẠO SẢN PHẨM
        $(document).on("click", "#btnAddProduct", async function(e) {
            e.preventDefault();
            let name        = $("#txtNameProductAdd").val();
            let SKU         = $("#txSKUProductAdd").val();
            let price       = $("#txtPriceProductAdd").val();
            let category    = $("#txtCategoryProductAdd").val();
            let brand       = $("#txtBrandProductAdd").val();
            let segments     = $("#txtSegmentProductAdd").val();
            let description = $("#txtDescriptionProductAdd").val();
            let content     = tinyMCE.get('txtContent').getContent();
            let sourceMaterial     = tinyMCE.get('txtSourceMaterialProductAdd').getContent();
            let importedBy  = $("#txtImportedByProductAdd").val();
            let madeBy      = $("#txtMadeByProductAdd").val();
            let distributor = $("#txtDistributorByProductAdd").val();
             
            !name            ? setError("#txtNameProductAdd", "Bạn phải nhập Tên Sản Phẩm")            : setSuccess("#txtNameProductAdd");
            !price           ? setError("#txtPriceProductAdd", "Bạn phải nhập Giá Sản Phẩm")           : setSuccess("#txtPriceProductAdd");
            !category        ? setError("#txtCategoryProductAdd", "Bạn phải chọn Danh Mục Sản Phẩm")   : setSuccess("#txtCategoryProductAdd");
            !brand           ? setError("#txtBrandProductAdd", "Bạn phải chọn Thương Hiệu")            : setSuccess("#txtBrandProductAdd");
            !SKU             ? setError("#txSKUProductAdd", "Bạn phải nhập SKU")                       : setSuccess("#txSKUProductAdd");
            !segments.length  ? setError("#txtSegmentProductAdd", "Bạn phải chọn Segment")             : setSuccess("#txtSegmentProductAdd");

            if (!name || !price || !category || !brand || !SKU || !segments.length) {
                return;
            }

            if (!arrImageCustomerNew.name) {
                return toastr.warning("Mời bạn chọn hình ảnh đại diện", "THÔNG BÁO");
            }   
            price = replaceAll(price, ",", "");
            price = Number(price);
            disableAndLoading(this);
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT.ADD_PRODUCT %>`,
                method: "POST",
                data: {
                    name, 
                    description, 
                    price, 
                    category, 
                    brand, 
                    SKU, 
                    avatar: arrImageCustomerNew, 
                    images: arrImageGallry,
                    certifiedImages: arrImageCertifiedImages,
                    segments,
                    content,
                    sourceMaterial,
                    importedBy,
                    madeBy,
                    distributor
                },
                success: resp => {
                    if (resp.error == false && resp.data) {
                        toastr.success("Bạn đã thêm thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.reload();
                        }, 700);
                        enableAndStopLoading2(this, "Thêm Mới");
                    } else {
                        enableAndStopLoading2(this, "Thêm Mới");
                        if( resp.message == "SKU_existed" ){
                            return toastr.error("SKU đã tồn tại, Mời bạn nhập mã khác", "THÔNG BÁO");
                        }
                        if( resp.message == "create_product_failed" ){
                            return toastr.error("Xảy ra lỗi khi thêm sản phẩm", "THÔNG BÁO");
                        }
                    }
                }
            })
        })  

    })
</script>