<script>
    $(document).ready(function() {

        let getFormSearchAndFilter = () => {
            // let key = $('#txtSearch').val();
            let txtCategorySort          = $("#txtCategorySort").val();
            let txtBrandSort             = $("#txtBrandSort").val();
            let txtPriceSort             = $("#txtPriceSort").val();
            txtPriceSort                 = replaceAll(txtPriceSort,",", "")
            let fromDay                  = $("#txtStartDateSort").val();
            let toDay                    = $("#txtEndDateSort").val();
            let status                   = $("#txtStatusSort").val();
            // let amountItemShow = $('#select_datatable_length').val();
            return { txtCategorySort, txtBrandSort, txtPriceSort, fromDay, toDay, status };
        }

        $('#tableListProduct').DataTable({
            "scrollY": "1000px",
            // "scrollX": true,
            // "scrollCollapse": true,
			'iDisplayLength': 25,
			...languageDataTable,
            "processing": true,
            "serverSide": true,
            'ajax': {
                'url': '<%= CF_ROUTINGS_PRODUCT.LIST_PRODUCT_PAGINATION %>',
                type: 'POST',
                'data': function (data) {
                    // $('#tableListProduct tbody').append(`<img src="../../../../template//admin/img/icon-loading.gif" width="100px" height="100px" alt="">`)
                    let dataFilter = getFormSearchAndFilter();
                    dataFilter.txtCategorySort && (
                        data = {
                            ...data,
                            category: dataFilter.txtCategorySort
                        }
                    )
                    dataFilter.txtBrandSort && (
                        data = {
                            ...data,
                            brand: dataFilter.txtBrandSort
                        }
                    )
                    dataFilter.txtPriceSort && (
                        data = {
                            ...data,
                            price: dataFilter.txtPriceSort
                        }
                    )
                    dataFilter.fromDay && (
                        data = {
                            ...data,
                            fromDay: dataFilter.fromDay
                        }
                    )
                    dataFilter.toDay && (
                        data = {
                            ...data,
                            toDay: dataFilter.toDay
                        }
                    )
                    dataFilter.isTrialProgram && (
                        data = {
                            ...data,
                            isTrialProgram: dataFilter.isTrialProgram
                        }
                    )

                    dataFilter.isGift && (
                        data = {
                            ...data,
                            isGift: dataFilter.isGift
                        }
                    )

                    dataFilter.status && (
                        data = {
                            ...data,
                            status: dataFilter.status
                        }
                    )
                    return data
                },
                "dataSrc": function (json){
                    return json.data;
                }
            },
            "columns": [
                { "data": "index", width: '5%' },
                { "data": "image", width: '5%' },
                { "data": "name",  width: '10%' },
                { "data": "stt", width: '10%' },
                { "data": "price" },
                { "data": "sku" },
                { "data": "skuv2" },
                { "data": "category" },
                { "data": "brand" },
                { "data": "segment" },
                { "data": "isTrialProgram" },
                { "data": "isGift" },
                { "data": "show_qr" },
                { "data": "status" },
                { "data": "action" },
            ],
            "initComplete": function(settings, json) {
                // $(".updateSuppiler").select2();
            }
        });

        $("#txtCategorySort").select2();
        $("#txtBrandSort").select2();
        $("#txtStatusSort").select2();
        runCleave("#txtPriceSort");
        
        // console.log(Date(2021-02-05));
        let  buildAndGoURI = function(){
            let { txtCategorySort, txtBrandSort, txtPriceSort, fromDay, toDay, status } = getFormSearchAndFilter();
            // if ( ! typeTransaction && !typeStatusTransaction && !fromDay && !toDay ){
            //     return toastr.error("Bạn phải chọn ít nhất 1 thông tin để tìm kiếm", "Thông báo");
            // }
            let uri = `/product/list-product?`;
            if(txtCategorySort)         uri += `&category=${txtCategorySort}`;
            if(txtBrandSort)            uri += `&brand=${txtBrandSort}`;
            if(txtPriceSort)            uri += `&price=${txtPriceSort}`;
            if(fromDay)                 uri += `&fromDay=${fromDay}`;
            if(toDay)                   uri += `&toDay=${toDay}`;
            if(status)                  uri += `&status=${status}`;
            
            return window.location.href = uri;
        }

        $(document).on("click", ".btnFilter", function(e){
            e.preventDefault();
            buildAndGoURI();
        })
    
        $(document).on("click", ".btnDeleteProduct", function() {
            let productID = $(this).attr("_productID");

            $.ajax({
                url: `/product/delete-product/${productID}`,
                method: "GET",
                success: resp => {
                    if (resp.error == false && resp.data) {
                        toastr.success("Bạn đã xóa sản phẩm thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.href = "<%= CF_ROUTINGS_PRODUCT.LIST_PRODUCT %>";
                        }, 700);
                    }else {
                        return toastr.error("Bạn đã xóa thất bại", "THÔNG BÁO");
                    }
                }
            })
        });
               
        $(document).on("click", ".btnUpdatePointProduct", function() {
            let product_id = $(this).attr("product_id");
            $(".popup-update-point-product").modal("show");
            $(".btnConfirmUpdatePointProduct").attr("product_id", product_id);
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT_POINT.API_INFO_PRODUCT_POINT%>`,
                method: 'POST',
                data: { product_id },
                success: function(resp) {
                    if (resp.error){
                    }else{
                        let { point } = resp.data;
                        $("#txtPointProduct").val(point);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
            console.log({ product_point });
        });

        $(document).on("click", ".btnConfirmUpdatePointProduct", function() {
            let product_id = $(this).attr("product_id");
            let point = $("#txtPointProduct").val();
            $(".popup-update-point-product").modal("hide");

            if( !product_id )
                return toastr.warning("Đây là sản phẩm demo, nên không thể cập nhật điểm", "Thông Báo")
            if( !point )
                return toastr.error("Vui lòng nhập điểm", "Thông Báo");
            
            $.ajax({
                url: `<%= CF_ROUTINGS_PRODUCT_POINT.API_UPDATE_PRODUCT_POINT%>`,
                method: 'POST',
                data: { product_id, point },
                success: function(resp) {
                    if (resp.error){
                        // toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Cập nhật thành công', 'Thông báo');
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        });

        $(document).on('change', '.status', function() {
            let productID = $(this).attr('_productID');
            let isCheck   = $(this).is(":checked");
            let status;
            if (isCheck) {
                status = 1;
            }else {
                status = 0;
            }
            let confirmAdd = confirm("Bạn có chắc chắn đổi trạng thái sản phẩm");
            if(!confirmAdd) {
                if (isCheck) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            } else {
                $.ajax({
                    url: '<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_STATUS_API %>',
                    method: 'POST',
                    data: {
                        status, productID
                    }, 
                    success: resp => {
                        // console.log({ resp});
                        if (resp.error) {
                            return toastr.error(resp.message, 'THÔNG BÁO');
                        } else {
                            return toastr.success('Bạn đã thay đổi trạng thái thành công', 'THÔNG BÁO');
                        }
                    }
                })
            }
        });

        $(document).on('change', '.show-qr', function() {
            let productID = $(this).attr('_productID');
            let isCheck   = $(this).is(":checked");
            let SKUV2     = $(this).attr('_SKUV2');

            let show_qr;
            if (isCheck) {
                show_qr = 1;
            }else {
                show_qr = 2;
            }
            let confirmAdd = confirm("Bạn có chắc chắn thay đổi");
            if(!confirmAdd) {
                if (isCheck) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            } else {
                $.ajax({
                    url: '<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_SHOW_QR_API %>',
                    method: 'POST',
                    data: {
                        show_qr, productID, SKUV2
                    }, 
                    success: resp => {
                        // console.log({ resp});
                        if (resp.error) {
                            return toastr.error(resp.message, 'THÔNG BÁO');
                        } else {
                            setTimeout(() => window.location.reload(), 700)
                            return toastr.success('Bạn đã thay đổi thành công', 'THÔNG BÁO');
                        }
                    }
                })
            }
        });

        $(document).on('change', '.isTrialProgram', function() {
            let productID = $(this).attr('_productID');
            let isCheck   = $(this).is(":checked");
            let isTrialProgram = 2;
            if (isCheck) {
                isTrialProgram = 1;
            }
            $.ajax({
                url: '<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_IS_TRIAL_PROGRAM_API %>',
                method: 'POST',
                data: {
                    isTrialProgram, productID
                }, 
                success: resp => {
                    console.log({ resp });
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Cập nhật thành công', 'THÔNG BÁO');
                    }
                }
            })
        });

        $(document).on('change', '.isGift', function() {
            let productID = $(this).attr('_productID');
            let isCheck   = $(this).is(":checked");
            let isGift = 2;
            if (isCheck) {
                isGift = 1;
            }
            $.ajax({
                url: '<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_IS_GIFT_API %>',
                method: 'POST',
                data: {
                    isGift, productID
                }, 
                success: resp => {
                    console.log({ resp });
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Cập nhật thành công', 'THÔNG BÁO');
                    }
                }
            })
        });

        function ajaxUpdateSTTProduct(productID, value) {
            $.ajax({
                url: '<%= CF_ROUTINGS_PRODUCT.UPDATE_PRODUCT_STT_API %>',
                method: 'POST',
                data: {
                    stt: value, productID
                }, 
                success: resp => {
                    // console.log({ resp});
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thứ tự thành công', 'THÔNG BÁO');
                    }
                }
            })
        }

        const processChange = debounce((productID, value) => ajaxUpdateSTTProduct(productID, value), 300);
        $(document).on('keyup', '#txtSTT', function() {
            let productID = $(this).attr('_productID');
            let value     = $(this).val();
            console.log({
                productID,
                value
            });
            processChange(productID, value)
        });

    });
</script>