<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $("#txtCategoryProductUpdate").select2();
        $("#txtBrandProductUpdate").select2();
        $("#txtSegmentProductUpdate").select2();
        $("#txSKUProductUpdateV2").select2();
        // SET CLEAVEJS
        runCleave("#txtPriceProductAdd");
        initEditor("#txtContent", {
            height: 500
        });
        initEditor("#txtSourceMaterialProductUpdate", {
            height: 300
        });
        let lightGallery   = $(".txtGalleryProductUpdate").lightGallery();
        let lightCertified = $(".txtCertifiedImagesProductUpdate").lightGallery();
        let lightGalleryAvatar;
        /*
            SET CLASS GALLERY THÀNH FILE POND
        */
        let gallery             = document.querySelector('.filepond');
        let certifiedImage      = document.querySelector('.filepond-certified-images');
        let arrImageGallryNew   = [];
        let arrImageGallryOld   = [];

        let arrImageCertifiedImagesNew   = [];
        let arrImageCertifiedImagesOld   = [];

        let arrImageCustomerNew = {};
        let avatarIDDelete;
        
        FilePond.create(gallery, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh sản phẩm </span>`,
            oninitfile: (file) => {
                console.log({ file });
            },
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallry[arrImageGallry.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        console.log({ item });
                        arrImageGallryNew[arrImageGallryNew.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
            },

            onremovefile: (error, file) => {
                arrImageGallryNew = arrImageGallryNew.filter( image => image.name != file.filename );
            }
        });

        FilePond.create(certifiedImage, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh chứng nhận </span>`,
            oninitfile: (file) => {
                console.log({ file });
            },
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallry[arrImageGallry.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        console.log({ item });
                        arrImageCertifiedImagesNew[arrImageCertifiedImagesNew.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
            },

            onremovefile: (error, file) => {
                arrImageCertifiedImagesNew = arrImageCertifiedImagesNew.filter( image => image.name != file.filename );
            }
        });

        $('.txtGalleryProductUpdate').sortable({
            axis: "x",
            stop: function(e, ui){
                let sortTableArray = [];
                $(".img-wraps").each(function(index) {
                    let imageID = $(this).attr("_imageID");
                    sortTableArray.push({ _id: imageID, index: Number(index+1) });
                });

                $.ajax({
                    url: `/product/update-order-image-product`,
                    method: 'POST',
                    data: {arrayObject: sortTableArray},
                    success: function(resp){
                        if(!resp.error){
                            toastr.info('Thông báo','Cập nhật thành công');
                            // setTimeout(() => {
                            //     location.reload();
                            // }, 300);
                        }else{
                            toastr.warning('Thông báo','Có lỗi trong quá trình cập nhật');
                        }
                    },
                    error: function(){
                        toastr.warning('Thông báo','Có lỗi trong quá trình cập nhật');
                    }
                })
            }
        });

        // FUNCTION: XÓA HÌNH ẢNH
        $(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if (type == "imgGallery") {
                if (imgID) {
                    arrImageGallryOld.push(imgID);
                    $(this).parent().remove();
                }
                changeLightGallery({ lightGallery: lightGallery, input: ".txtGalleryProductUpdate" })
            }

            if (type == "imgCertifiedImages") {
                if (imgID) {
                    arrImageCertifiedImagesOld.push(imgID);
                    $(this).parent().remove();
                }
                changeLightGallery({ lightGallery: lightCertified, input: ".txtCertifiedImagesProductUpdate" })
            }
        }); 

        // FUNCTION: KIỂM TRA GIÁ SẢN PHẨM
        $(document).on("keyup", "#txtPriceProductUpdate", function() {
            let priceProduct = $(this).val();
            priceProduct     = replaceAll(priceProduct, ",", "");
            priceProduct     = Number(priceProduct);

            // 1// KIỂM TRA GIÁ SẢN PHẨM ÂM
            if(priceProduct < 0) {
                $(this).val("");
                return setError(this, "Giá sản phẩm không được phép âm");
            }

            // 2// KIỂM TRA GIÁ SẢN PHẨM == 0
            if(priceProduct == 0) {
                $(this).val("");
                return setError(this, "Giá sản phẩm không được phép bằng 0");
            }

            // 3// SET INPUT THÀNH CÔNG
            setSuccess(this);
        });

        // FUNCTION: SET INPUT TÊN SẢN PHẨM THÀNH CÔNG
        $(document).on("keyup", "#txtNameProductUpdate", function() {
            setSuccess(this);
        });

        //FUNTION: THÊM HÌNH ẢNH AVATAR
        $(document).on("change", "#txtAvatarProductUpdate", async function() {
            let arrImgCus        = $(this)[0].files;
            let avatarID         = $(this).attr("_avatarID");
            avatarIDDelete       = avatarID;
            let generalNameImage = randomStringFixLengthCode(12);
            let nameOfImage      = `${generalNameImage}.jpg`;
            let fileAvatar       = [];

            for( let i = 0; i < arrImgCus.length; i++){
                fileAvatar[fileAvatar.length] = arrImgCus[i];
            }
            let size = fileAvatar[0].size;
            let name = fileAvatar[0].name;
            arrImageCustomerNew = {
                size, name
            }
            let urlAvatar = readURLAvatar(this);

            $("#imagePreview").attr("style", `background-image: url(${urlAvatar});`)
            $("#imagePreview").attr("data-src", `${urlAvatar}`);
            
            if (lightGalleryAvatar) {
                $('.imageAvatar').data('lightGallery').destroy(true);
            }
            lightGalleryAvatar = $('.imageAvatar').lightGallery({
                thumbnail:true,
            });
            $(this).val("");
            /*
                UPLOAD s3
            */
            await addFileToUpload(fileAvatar, links => {
                links.forEach( item => {
                    arrImageCustomerNew = {
                        size, name, pathAvatar: item.uri
                    }
                })
            });
        });
        
        $(document).on("change", "#txtCategoryProductUpdate, #txtBrandProductUpdate, #txtSegmentProductAdd", function() {
            setSuccess(this);
        });

        $(document).on("keyup", "#txtNameProductUpdate, #txSKUProductUpdate", function() {
            setSuccess(this);
        });

        $(document).on("change", "#txtNameProductAdd", function() {
            // , #txSKUProductAdd
            // let name    = $(this).val();
            // name        = titleCase(name);
            // let newDate = getDateNow();
            // newDate     = replaceAll(newDate, "-", "");
            
            // name        += newDate;
            // name        = removeVietnameseTones(name);
            // $("#txSKUProductAdd").val(name);
        });

        //FUNCTION: TẠO SẢN PHẨM
        $(document).on("click", "#btnUpdateProduct", async function(e) {
            e.preventDefault();
            let name        = $("#txtNameProductUpdate").val();
            let SKU         = $("#txSKUProductUpdate").val();
            let SKUV2       = $("#txSKUProductUpdateV2").val();
            let price       = $("#txtPriceProductUpdate").val();
            let category    = $("#txtCategoryProductUpdate").val();
            let brand       = $("#txtBrandProductUpdate").val();
            let segment     = $("#txtSegmentProductUpdate").val();
            let description = $("#txtDescriptionProductUpdate").val();

            let weight      = $("#txtWeightUpdate").val();
            let length      = $("#txtLengthUpdate").val();
            let width       = $("#txtWidthUpdate").val();
            let height      = $("#txtHeightUpdate").val();
            
            let productID   = $(this).attr("_productID");
            let content            = tinyMCE.get('txtContent').getContent();
            let sourceMaterial     = tinyMCE.get('txtSourceMaterialProductUpdate').getContent();
            
            // let status      = $(".status").val();
            let isCheck      = $(`.status`).is(":checked");
            let importedBy = $("#txtImportedByProductUpdate").val();
            let madeBy = $("#txtMadeByProductUpdate").val();
            let distributor = $("#txtDistributorByProductUpdate").val();
            let status;
            if (isCheck) {
                status = 1;
            }else {
                status = 0;
            }
            !name            ? setError("#txtNameProductUpdate", "Bạn phải nhập Tên Sản Phẩm")            : setSuccess("#txtNameProductUpdate");
            !price           ? setError("#txtPriceProductUpdate", "Bạn phải nhập Giá Sản Phẩm")           : setSuccess("#txtPriceProductUpdate");
            !category        ? setError("#txtCategoryProductUpdate", "Bạn phải chọn Danh Mục Sản Phẩm")   : setSuccess("#txtCategoryProductUpdate");
            !brand           ? setError("#txtBrandProductUpdate", "Bạn phải chọn Thương Hiệu")            : setSuccess("#txtBrandProductUpdate");
            !SKU             ? setError("#txSKUProductUpdate", "Bạn phải nhập SKU")                       : setSuccess("#txSKUProductUpdate");
            !segment.length  ? setError("#txtSegmentProductUpdate", "Bạn phải chọn Segment")              : setSuccess("#txtSegmentProductUpdate");

            if (!name || !price || !category || !brand || !SKU || !segment.length) {
                return toastr.warning('Có lỗi trong quá trình cập nhật', 'Thông báo');
            }
            price = replaceAll(price, ",", "");
            price = Number(price);
            disableAndLoading(this);
            let url = `/api/product/update-product/${productID}`;
            $.ajax({
                url: url,
                method: "POST",
                data: {
                    name, 
                    description, 
                    price, 
                    category, 
                    brand, 
                    SKU, 
                    segment,
                    content,
                    status,
                    avatar: arrImageCustomerNew, 
                    images: arrImageGallryNew,
                    imageDelete: arrImageGallryOld,
                    avatarDelete: avatarIDDelete,
                    listCertifiedImagesNew:    arrImageCertifiedImagesNew,
                    listCertifiedImagesDelete: arrImageCertifiedImagesOld,
                    SKUV2,
                    sourceMaterial,
                    madeBy,
                    importedBy,
                    distributor,
                    weight,
                    length,
                    width,
                    height,
                },
                success: resp => {
                    console.log({
                        resp
                    });
                    if (resp.error == false && resp.data) {
                        toastr.success("Bạn đã chỉnh sửa thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.reload();
                        }, 700);
                        enableAndStopLoading2(this, "Chỉnh Sửa");
                    } else {
                        enableAndStopLoading2(this, "Chỉnh Sửa");
                        if( resp.message == "SKU_existed" ){
                            return toastr.error("SKU đã tồn tại, Mời bạn nhập mã khác", "THÔNG BÁO");
                        }
                        if( resp.message == "create_product_failed" ){
                            return toastr.error("Xảy ra lỗi khi thêm sản phẩm", "THÔNG BÁO");
                        }

                        return toastr.error(resp.message, "THÔNG BÁO");
                    }
                }
            })
        })
    });
</script>