<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới tiêu chí sản phẩm</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/products_criteria/list-products_criteria">Quản lý tiêu chí sản phẩm</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="products_criteria__product">
                                Sản phẩm <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="products_criteria__product" data-placeholder="Chọn Sản phẩm">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="products_criteria__criteria">
                                Tiêu chí <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="products_criteria__criteria" data-placeholder="Chọn Tiêu chí">

                                <option value="null" selected disabled>Chọn Tiêu chí</option>
                                <% if(listCriterias && listCriterias.length){ %>
                                <% listCriterias.forEach(criteria => { %>
                                <option value="<%= criteria._id %>">
                                    <%= criteria.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="products_criteria__status">
                                Trạng thái
                            </label>
                            <select class="form-select mt-2" id="products_criteria__status">
                                <option selected disabled>Chọn Trạng thái</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/products_criteria/list-products_criteria" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>