<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                       
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                                    <div class="col">
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    <b>Trial program </b>  
                                                </label>
                                            </div>
                                            <div>
                                                <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.trialProgram.title%>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin: 0;">
                                        <div class="col">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Tên khách hàng </b>  
                                                    </label>
                                                </div>
                                                <div>
                                                    <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.fullname%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Email</b>  
                                                    </label>
                                                </div>
                                                <div>
                                                    <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.email%>">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <div class="form-group">
                                                <div>
                                                    <label for="example-text-input" class="col-form-label">
                                                        <b>Số điện thoại</b>  
                                                    </label>
                                                </div>
                                                <div>
                                                    <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.phone%>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    <b>Địa chỉ chi tiết</b>  
                                                </label>
                                            </div>
                                            <div>
                                                <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.address%>, <%= infoUserRegistertrialProgram.wardText%>, <%= infoUserRegistertrialProgram.districtText%>, <%= infoUserRegistertrialProgram.cityText%>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    <b>Sản phẩm đăng ký dùng thử</b>  
                                                </label>
                                            </div>
                                            <div>
                                                <input disabled="" class="form-control" type="text" value="<%= infoUserRegistertrialProgram.product.name%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <div>
                                                <label for="example-text-input" class="col-form-label">
                                                    <b>Ghi chú</b>  
                                                </label>
                                            </div>
                                            <div>
                                                <textarea class="form-control" rows="4" disabled><%= infoUserRegistertrialProgram.note%></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <% if (infoUserRegistertrialProgram.fields.length) { %>
                                        <%infoUserRegistertrialProgram.fields.forEach(field => { %>
                                            <div class="col">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="example-text-input" class="col-form-label">
                                                            <b><%= field.field && field.field.title%></b>  
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <input disabled="" class="form-control" type="text" value="<%= field.value%>">
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 