<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title" style="text-transform: uppercase;">
                            <marquee><%= infoTrialProgram.title %> </marquee>
                        </h4>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-primary">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-select-all float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Số lượng khách đã gửi</h6>
                                                <h4 class="mb-4"><%= amountCustomerReceiver%></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-success">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-eye float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Số lượng khách đã xem</h6>
                                                <h4 class="mb-4"><%= amountCustomerSeen%></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card mini-stat bg-danger">
                                        <div class="card-body mini-stat-img">
                                            <div class="mini-stat-icon">
                                                <i class="mdi mdi-eye-off float-right"></i>
                                            </div>
                                            <div class="text-white">
                                                <h6 class="text-uppercase mb-3">Số lượng khách chưa xem</h6>
                                                <h4 class="mb-4"><%= amountCustomerNotSeen%></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Cấu hình thêm trường khi đăng ký dùng thử sản phẩm</label>
                                    <i class="caret-icon fa fa-caret-down" style="font-size: 16;"></i>

                                    <div class="container-list-fields-plus-when-register-trialprogram d-none" >
                                        <% listFields.forEach(field => { %>
                                            <div class="item-fields row">
                                                <div class="form-group col-md-4"><label>Câu hỏi</label> 
                                                    <input type="text" class="form-control" placeholder="Giới tính của bạn?" value="<%= field.title %>" disabled>
                                                </div>
                                                <div class="form-group col-md-2"><label>Loại câu hỏi</label> 
                                                    <input type="text" class="form-control" placeholder="Giới tính của bạn?" value="<% if (field.type == 1) { %>Text <% }else{ %>Dropdown<% } %>" disabled>
                                                </div>
                                                <% if (field.type == 2) { %>
                                                    <div class="form-group col-md-4"><label>Câu trả lời(Loại Dropdown)</label> 
                                                        <input type="text" class="form-control" value="<%= field.values%>" disabled>
                                                    </div>
                                                <% } %>
                                                <div class="form-group col-md-2"><label>Thao tác</label> 
                                                    <div>
                                                        <span class="btnUpdateFieldConfigRegisterTrialprogram" _fieldID = <%= field._id%> >
                                                            <i class="fas fa-edit"></i>
                                                        </span>
                                                        <span class="btnRemoveFieldConfigRegisterTrialprogram" _fieldID = <%= field._id%>>
                                                            <i class="fas fa-trash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                       
                                        <div class="item-fields row">
                                            <div class="form-group col-md-12">
                                                <button class="btn btnAddFieldRegisterTrialprogram"><i class="fas fa-plus"></i> Thêm mới</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Từ ngày: </label> <b><%= moment(infoTrialProgram.startTime).format("L") %> </b>
                                    <label>Đến ngày: </label>  <b><%= moment(infoTrialProgram.endTime).format("L") %> </b> <br>
                                    <label>Trạng thái:  </label> <b>
                                        <%
                                            let currentTime = new Date().getTime();
                                            let startTime =infoTrialProgram.startTime.getTime();
                                            let endTime = infoTrialProgram.endTime.getTime();
                                            let isRunning = false;
                                            if(currentTime >= startTime &&  currentTime <= endTime){
                                                isRunning = true;
                                            }
                                        %>
                                        <% if (isRunning && infoTrialProgram.status == 1) { %>
                                            Đang chạy
                                        <% }else{%>
                                           Tạm đóng
                                        <%  } %>
                                    </b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Danh sách sản phẩm dùng thử:</label> <br>
                                    <% infoTrialProgram.products.forEach(product => { %>
                                        <a target="_blank" href="/product/info-product/<%= product._id%>">
                                            <button type="button" class="btn btn-outline-secondary waves-effect" style="margin: 2px;"><%= product.name%></button>
                                        </a>
                                    <% }) %>
                                </div>
                                <div class="col-md-6">
                                    <% if (infoTrialProgram.segments.length) { %>
                                    <label>Danh sách segment:</label> <br>
                                    <% } %>
                                    <% infoTrialProgram.segments.forEach(segment => { %>
                                            <a target="_blank" href="/segment/info-segment/<%= segment._id%>">
                                                <button type="button" class="btn btn-outline-secondary waves-effect" style="margin: 2px"><%= segment.name%></button>
                                            </a>
                                    <% }) %>
                                 </div>
                            </div>
                            <br>
                            <table class="content-table table-list-trial-program">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên khách hàng</th>
                                        <th>SĐT khách hàng</th>
                                        <th>Email Khách hàng</th>
                                        <th>Địa chỉ khách hàng</th>
                                        <th>Sản phẩm đăng ký</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Trạng thái</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% listRegisterTrialProgram.forEach((registerTrialProgram , index)=> { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td>
                                            <a href="/admin/user-register-trial-program-admin/<%= registerTrialProgram._id%>">
                                                <%= registerTrialProgram.fullname %>
                                            </a>
                                        </td>
                                        <td><%= registerTrialProgram.phone %></td>
                                        <td><%= registerTrialProgram.email %></td>
                                        <td><%= registerTrialProgram.address %></td>
                                        <td>
                                            <a href="/product/info-product/613a60e0592bc362f5cc4789" target="_blank" >
                                                <%= registerTrialProgram.product.name %>
                                            </a>
                                        </td>
                                        <td><%= moment(registerTrialProgram.createAt).format("L") %> lúc <%= moment(registerTrialProgram.createAt).format("LT") %> </td>
                                        <td>
                                            <span class="badge badge-pill" style="background-color: <%= REGISTER_TRIAL_PROGRAM_STATUS[registerTrialProgram.status].color %>; color: White; padding: 10px; font-size: 12px;">
                                                <%= REGISTER_TRIAL_PROGRAM_STATUS[registerTrialProgram.status].text %>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-2">
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                                    Thao Tác
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">...</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                    <a class="dropdown-item btnUpdateRegisterTrialProgram" _registerTrialProgramID="<%= registerTrialProgram._id%>" href="javascript:void(0)">
                                                        <i class="fa fa-edit"></i>
                                                        Cập nhật
                                                    </a>
                                                    <!-- <a class="dropdown-item btnRemoveRegisterTrialProgram" _registerTrialProgramID="<%= registerTrialProgram._id%>" href="javascript:void(0)">
                                                        <i class="fa fa-trash"></i>
                                                        Xóa
                                                    </a> -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                  <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- POPUP CHỈNH SỬA NGƯỜI ĐĂNG KÝ TRIAL PROGRAM -->
<div class="modal fade bs-example-modal-sm model-update-register-trial-program" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    Cập nhật thông tin</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-8"><label>Tên khách hàng</label> 
                        <input type="text" class="form-control" id="txtFullnameCustomer" placeholder="Tên khách hàng không được bỏ trống">
                    </div>
                    <div class="form-group col-md-4"><label>SĐT</label> 
                        <input type="text" class="form-control" id="txtPhoneCustomer" placeholder="SĐT khách hàng không được bỏ trống">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12"><label>Email</label> 
                        <input type="text" class="form-control" id="txtEmailCustomer" placeholder="Email khách hàng không được bỏ trống">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12"><label>Địa chỉ khách hàng</label> 
                        <input type="text" class="form-control" id="txtAddressCustomer" placeholder="Địa chỉ khách hàng không được bỏ trống">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4"><label>Tỉnh/Thành phố</label> 
                        <select class="form-control"id="txtCity">
                            <option selected value="">Chọn tỉnh/thành phố</option>
                            <% listProvince.forEach(province => { %>
                                <option value="<%= province[1].code %>"><%= province[1].name %></option>
                            <% }) %> 
                        </select>
                    </div>

                    <div class="form-group col-md-4"><label>Quận/Huyện</label> 
                        <select class="form-control"id="txtDistrict">
                            <option value="">Chọn quận huyện</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4"><label>Xã/Phường</label> 
                        <select class="form-control"id="txtWard">
                            <option value="">Chọn xã phường</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12"><label>Trạng thái đơn hàng</label> 
                        <select name="" id="txtStatus" class="form-control"> 
                            <% REGISTER_TRIAL_PROGRAM_STATUS.forEach(status => { %>
                                <option value="<%= status.value%>"><%= status.text %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12"><label>Ghi chú</label> 
                        <textarea class="form-control" id="txtNote"  rows="3" placeholder="Nhập ghi chú ở đây"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateRegisterTrialProgram border-btn-black">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


<!-- POPUP THÊM FIELD ĐĂNG KÝ TRIAL PROGRAM -->
<div class="modal fade bs-example-modal-sm model-add-fields-register-trial-program" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    Thông tin trường mới</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12"><label>Câu hỏi</label> 
                        <input type="text" class="form-control" id="txtTitleField" placeholder="Giới tính của bạn?">
                    </div>
                    <div class="form-group col-md-12"><label>Loại câu hỏi</label> 
                        <select class="form-control" id="txtTypeField">
                            <option value="1">Text</option>
                            <option value="2">Dropdown</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12 container-values-field d-none"><label>Câu trả lời(Loại Dropdown)</label> 
                        <input type="text" class="form-control" id="txtValuesField" placeholder="Lưu ý giá trị phải cách nhau bởi dấu phẩy, VD: Nam, Nữ">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddFieldsRegisterTrialProgram border-btn-black" _trialProgram="<%= infoTrialProgram._id%>">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateFieldsRegisterTrialProgram border-btn-black" _trialProgram="<%= infoTrialProgram._id%>" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

 