<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách chương trình thử nghiệm</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/list-trial-program">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách chương trình thử nghiệm</li>
                        </ol>
                   </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btnAddTrialProgram">
                                    <i class="fas fa-plus-circle"></i> Tạo trial program
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-trial-program">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Hình ảnh</th>
                                        <th>Hình ảnh banner</th>
                                        <th>Tiêu đề</th>
                                        <th>Tổng lượt xem</th>
                                        <th>Tổng lượt đăng ký dùng thử</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th>Thời gian tạo</th>
                                        <th>Tình trạng</th>
                                        <th>Trạng thái</th>
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% listTrialProgram.forEach((trialProgram , index)=> { %>
                                    <tr>
                                        <td><%= index+1 %></td>
                                        <td>
                                            <% if (trialProgram && trialProgram.image) { %>
                                                <a href="<%= loadPathImage(trialProgram.image.path) %>" target="_blank" rel="noopener noreferrer">
                                                    <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(trialProgram.image.path) %>">
                                                </a>
                                            <% } else{ %>
                                                <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="/template/admin/img/75x75.png">
                                            <% } %>
                                        </td>

                                        <td>
                                            <% if (trialProgram && trialProgram.banner) { %>
                                                <a href="<%= loadPathImage(trialProgram.banner.path) %>" target="_blank" rel="noopener noreferrer">
                                                    <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(trialProgram.banner.path) %>">
                                                </a>
                                            <% } else{ %>
                                                <img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="/template/admin/img/75x75.png">
                                            <% } %>
                                        </td>

                                        <td>
                                            <a href="/admin/trial-program/<%= trialProgram._id%>">
                                                <%= trialProgram.title %>
                                            </a>
                                         </td>
                                        <td><%= trialProgram.views %></td>
                                        <td><%= trialProgram.registers %></td>
                                        <td><%= moment(trialProgram.startTime).format("L") %> lúc <%= moment(trialProgram.startTime).format("LT") %> </td>
                                        <td><%= moment(trialProgram.endTime).format("L") %> lúc <%= moment(trialProgram.endTime).format("LT") %> </td>
                                        <td><%= moment(trialProgram.createAt).format("L") %> lúc <%= moment(trialProgram.createAt).format("LT") %> </td>
                                        <td>
                                            <span class="badge badge-pill" style="color: white; padding: 10px; font-size: 10px; background-color: <%= checkValidStartTimeVsEndTime(trialProgram.startTime, trialProgram.endTime, new Date()).color%>;">
                                                <%= checkValidStartTimeVsEndTime(trialProgram.startTime, trialProgram.endTime, new Date()).text%>
                                            </span>
                                        </td>
                                        <td>
                                            <div style="float: left;">
                                                <input class="txtStatusTrialProgram" type="checkbox" id="<%= trialProgram._id %>" switch="none" <% if (trialProgram.status == 1) { %>
                                                    checked
                                                <% } %> > 
                                                <label for="<%= trialProgram._id %>" data-on-label="On" data-off-label="Off"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group mb-2">
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                                                    Thao Tác
                                                </button>
                                                <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">...</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
                                                    <a class="dropdown-item btnUpdateTrialProgram" _trialProgramID="<%= trialProgram._id%>"  href="javascript:void(0)">
                                                        <i class="fa fa-edit"></i>
                                                        Sửa Thông Tin
                                                    </a>
                                                    <a class="dropdown-item btnRemoveTrialProgram" _trialProgramID="<%= trialProgram._id%>" href="javascript:void(0)">
                                                        <i class="fa fa-trash"></i>
                                                        Xóa
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                  <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<!-- POPUP TẠO SLIDE -->
<div class="modal fade bs-example-modal-sm model-create-trial-program" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    +Tạo/cập nhật trial program</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12"><label>Tiêu đề</label> 
                        <input type="text" class="form-control" id="txtTitleTrialProgram" placeholder="Tiêu đề không được bỏ trống">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Mô tả</label> 
                       <textarea name="" class="form-control" id="txtDescriptionTrialProgram" cols="30" rows="3" placeholder="Nhập mô tả"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"><label>Thời gian bắt đầu</label> 
                        <input class="form-control" type="datetime-local" id="txtStartTimeTrialProgram" value="<%= moment().format('YYYY-MM-DD')%>">
                    </div>
                    <div class="form-group col-md-6"><label>Thời gian kết thúc</label> 
                        <input class="form-control" type="datetime-local" id="txtEndTimeTrialProgram" value="<%= moment().format('YYYY-MM-DD')%>">
                    </div>
                </div>

                <div class="row" style="display: none;">
                    <div class="form-group col-md-12">
                        <label>Segment(Phân khúc)</label>

                        <select class="form-control" name="" id="txtSegmentTrialProgram" multiple>
                            <% listSegment.forEach(segment => { %>
                                <option value="<%= segment._id%>"><%= segment.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Sản phẩm</label>
                        <select class="form-control" name="" id="txtProductsTrialProgram" multiple>
                            <% listProductTrialProgram.forEach(product => { %>
                                <option value="<%= product._id%>"><%= product.name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <input type="file" id="imageTrialProgram" class="form-control" accept="image/*">
                </div>

                <div class="form-group">
                    <label>Hình ảnh Banner</label>
                    <input type="file" id="banrerTrialProgram" class="form-control" accept="image/*">
                </div>

                <div class="form-group"><label>Nội dung</label> 
                    <textarea id="txtContentTrialProgram"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddTrialProgram border-btn-black">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateTrialProgram" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

