<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới vùng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/area/list-area">Quản lý vùng</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="area__name">
                                Tên vùng <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="area__name" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="area__code">
                                Mã vùng <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="area__code" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="area__region">
                                Miền <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="area__region" data-placeholder="Chọn Miền">

                                <option value="null" selected disabled>Chọn Miền</option>
                                <% if(listRegions && listRegions.length){ %>
                                    <% listRegions.forEach(region => { %>
                                        <option value="<%= region._id %>">
                                            <%= region.name %>
                                        </option>
                                    <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/area/list-area" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>