<style>
    .line-condition:after {
        content: '';
        width: 520px;
        height: 1px;
        background-color: rgba(0, 0, 0, .1);
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .type-condition {
        cursor: pointer;
    }

    .modal-backdrop.unblur {
        backdrop-filter: blur(0);
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .checkbox label {
        display: inline-block;
        /* padding-left: 8px; */
        padding-left: 0 !important;
        position: relative;
        font-weight: normal;
        margin-bottom: 12px;
    }
</style>

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row d-none">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">List Area</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">List Area</li>
                            </ol>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->


        <div class="row justify-content-center mt-3">
            <h3 class="col-sm-8 page-title"><b>Danh sách vùng</b> </h3>
            <div class="col-sm-4" style="text-align: right;">
                <a href="/area/add-area" class="btn btn-primary btn-lg">
                    <i class="ti-pencil-alt"></i>
                    Tạo mới
                </a>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="status-area-choice nav-link active" _key="" _value="" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Tất cả</a>
            </li>

            <li class="nav-item">
                <a class="status-area-choice nav-link" _key="status" _value="1" data-bs-toggle="tab" href="#profile" role="tab" aria-selected="false">Trạng thái Hoạt động</a>
            </li>

            <li class="nav-item">
                <a class="status-area-choice nav-link" _key="status" _value="2" data-bs-toggle="tab" href="#profile" role="tab" aria-selected="false">Trạng thái Không hoạt động</a>
            </li>

        </ul>

        <div class="row justify-content-center mt-3">

            <div class="col-sm-8">
                <div class="input-group">
                    <!-- <label class="my-2 me-2"></label> -->
                    <input type="text" class="form-control input-search-text" autocomplete="off" placeholder="Tìm kiếm tên vùng, mã vùng,...">
                    <button class="input-group-text btn-filter">
                        <i class="ti-search"></i>
                    </button>

                </div>
            </div>

            <div class="col-sm-4 d-flex justify-content-end">

                <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="mdi mdi-filter-variant"></i> Bộ lọc
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 800px;">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel" class="m-0">Bộ lọc</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="repeater-default">
                            <div data-repeater-list="condition">

                                <div data-repeater-item="" class="d-none">
                                    <div class="row d-flex justify-content-start">

                                        <div class="line-condition position-relative d-none">
                                            <h2 class="type-condition" data-type-condition="AND">
                                                <span class="badge badge-soft-primary">AND</span>
                                            </h2>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-select input-field-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="name" data-type="text">Tên vùng</option>

                                                <option value="code" data-type="text">Mã vùng</option>
                                                <option value="parent" data-type="ref">Miền</option>
                                                <option value="status" data-type="enum">Trạng thái</option>

                                                <option value="order" data-type="number">Thứ tự</option>

                                                <option value="rootCreateAt" data-type="date">Ngày tạo</option>
                                            </select>
                                        </div>


                                        <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                            <select class="form-select input-field-compare">
                                                <option value="equal">Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="start-with">Bắt đầu với</option>
                                                <option value="end-with">Kết thúc với</option>
                                                <option value="is-contains" selected>Có chứa</option>
                                                <option value="not-contains">Không chứa</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="text" class="form-control input-field-value">
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                            <select class="form-select input-field-compare">
                                                <option value="equal">Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="start-with">Bắt đầu với</option>
                                                <option value="end-with">Kết thúc với</option>
                                                <option value="is-contains" selected>Có chứa</option>
                                                <option value="not-contains">Không chứa</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="text" class="form-control input-field-value">
                                        </div>

                                        <div class="col-sm-8 d-none" data-follow="parent">
                                            <select class="col-sm-4 form-select input-field-ref-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="name" data-type="text">Tên miền</option>

                                                <option value="code" data-type="text">Mã miền</option>

                                                <option value="order" data-type="number">Thứ tự</option>

                                                <option value="status" data-type="enum">Trạng thái</option>

                                                <option value="createAt" data-type="date">Ngày tạo</option>
                                            </select>

                                            <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="greater-than">Lớn hơn</option>
                                                    <option value="less-than">Bé hơn</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="number" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Không hoạt động</option>
                                                </select>
                                            </div>


                                            <div class="col-sm-8 d-none" data-follow="createAt" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>
                                        </div>

                                        <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <select class="form-select input-select-value">
                                                <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                <option value="1">Hoạt động</option>
                                                <option value="2">Không hoạt động</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="greater-than">Lớn hơn</option>
                                                <option value="less-than">Bé hơn</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="number" class="form-control input-field-value">
                                        </div>


                                        <div class="col-sm-8 d-none" data-follow="rootCreateAt" data-type="date">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="before">Trước</option>
                                                <option value="after">Sau</option>
                                                <option value="today">Hôm nay</option>
                                                <option value="yesterday">Hôm qua</option>
                                                <option value="before-hours">N tiếng trước</option>
                                                <option value="before-days">N ngày trước</option>
                                                <option value="before-months">N tháng trước</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="date" class="form-control input-field-value">
                                            <input type="number" class="form-control input-field-value d-none">
                                        </div>

                                        <div class="col-sm-1">
                                            <span data-repeater-delete="" class="btn btn-outline-danger">
                                                <span class="far fa-trash-alt"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END REPEATER ITEM -->

                            </div>
                            <!-- END REPEATER LIST -->

                            <div class="form-group mb-0 mt-4 row">
                                <div class="col-12 col-sm-4">
                                    <span class="btn btn-soft-secondary btn-add-filter">
                                        <span class="fas fa-plus"></span> Thêm điều kiện
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END OFFCANVAS-BODY -->
                    <hr class="hr-dashed hr-menu">
                    <div class="form-group mb-0 row" style="padding: 0 1rem 1rem 1rem !important;">
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-primary btn-apply-filter">
                                    <i class="mdi mdi-check-all me-2"></i>
                                    Áp dụng
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-danger btn-discard-filter">
                                    <!-- <i class="mdi mdi-alert-outline me-2"></i> -->
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <button type="button" class="btn btn-outline-secondary print-area me-2" data-bs-toggle="modal" data-bs-target="#exampleModalDefault"><i class="mdi mdi-file-export me-2"></i>Export</button> -->

                <button type="button" disabled class="btn btn-outline-secondary  dropdown-toggle action-area" data-bs-toggle="dropdown" aria-expanded="false">
                    Tác vụ <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item update-area d-none" href="#">
                        <i class="fas fa-edit me-1"></i>
                        Sửa
                    </a>
                    <a class="dropdown-item delete-area d-none text-danger" href="#">
                        <i class="mdi mdi-trash-can-outline me-1"></i>
                        Xóa
                    </a>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <table id="tableListArea" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="text-center" data-orderable="false">
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox3" type="checkbox" class="check-all-record">
                                    <label for="checkbox3"></label>
                                </div>
                            </th>
                            <th>Tên vùng</th>
                            <th>Mã vùng</th>
                            <th>Miền</th>
                            <th>Trạng thái</th>
                            <th>Thứ tự</th>
                            <th>Ngày tạo</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="exampleModalDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Xuất Excel</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row option-choose-export">
                                <div class="col-lg-4">
                                    <div class="d-flex" style="
                                            justify-content: center;
                                            align-items: center;
                                        ">
                                        <h5>
                                            Chọn thuộc tính
                                        </h5>
                                        <button style="padding: 2px 10px; margin-left: 10px;" type="button" class="btn btn-warning btn-clear-all-field-choice">Bỏ Chọn Tất Cả</button>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <!-- <div class="form-check form-switch form-switch-success">
                                                <input class="form-check-input" type="checkbox" id="chooseCSV" checked="" style="width: 40px;height: 20px;">
                                                <label class="form-check-label mt-1" style="margin-left: 6px;" for="chooseCSV">CSV</label>
                                            </div> -->
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio14" value="2" checked="">
                                        <label for="radio14">
                                            Tải xuống Excel
                                        </label>
                                    </div>
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio15" value="1">
                                        <label for="radio15">
                                            Tải qua GG Sheet
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-3">
                                        
                                    </div> -->
                                <p class="col-lg-3" style="text-align: right;"><span class="countItemChoice">0</span> của <span class="totalItem"></span> được chọn</p>

                            </div>

                            <ul class="list-group list-group-flush mt-3 mb-0 list-field-coll-print">

                            </ul>
                            <div class="input-group show-clip-board d-none">
                                <input type="text" class="form-control show-url-export" id="clipboardInput" value="Welcome to Maxdot!" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-clipboard-action="copy" data-clipboard-target="#clipboardInput"><i class="far fa-copy me-2"></i>Copy</button>
                                <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon3"  data-clipboard-action="cut" data-clipboard-target="#clipboardInput"><i class="fas fa-cut me-2"></i>Cut</button> -->
                            </div>

                        </div>
                        <!--end col-->
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btn-export-excel">Xuất</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>