<style>
    
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách SKU 2</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/sku-2/list-sku-2">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách SKU 2</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
                                <a style="margin-bottom: 15px;" href="/sku-2/add-sku-2" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-category">
                                    <i class="fas fa-plus-circle"></i> Tạo SKU 2
                                </a>
							</div>
                            <table class="content-table" id="tableList">
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên</th>
										<th>Biến thể</th>
										<th>Thương hiệu</th>
										<th>Hàng bán</th>
										<th>Hàng tặng</th>
										<th>Thao tác</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listData && listData.length) { %>
                                        <% listData.forEach((sku, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td><a href="/sku-2/update-sku-2/<%= sku._id %>"><%= sku.name %></a></td>
                                               
                                                <td>
                                                    <%= sku.variant || '' %> 
                                                </td>
                                                <td>
                                                    <%= sku.brand && sku.brand.name || '' %> 
                                                </td>
                                                <td>
                                                    <div style="float: left;">
                                                    <input class="class-isGoodBuy" type="checkbox" _sku ="<%= sku._id %>" id="isGoodBuy<%= sku._id  %>" switch="none" 
                                                        <% if (sku.isGoodBuy) { %>
                                                            checked="checked"
                                                        <% } %>
                                                    > 
                                                    <label  for="isGoodBuy<%= sku._id  %>" data-on-label="On" data-off-label="Off"></div>
                                                </td>
                                                <td>
                                                    <div style="float: left;">
                                                    <input class="class-isGoodReward" type="checkbox" _sku ="<%= sku._id %>" id="isGoodReward<%= sku._id  %>" switch="none" 
                                                        <% if (sku.isGoodReward) { %>
                                                            checked="checked"
                                                        <% } %>
                                                    > 
                                                    <label  for="isGoodReward<%= sku._id  %>" data-on-label="On" data-off-label="Off"></div>
                                                </td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item" href="/sku-2/update-sku-2/<%= sku._id %>">
                                                                <i class="fa fa-edit"></i>
                                                                Sửa Thông Tin
                                                            </a>
															<!-- <a class="dropdown-item btnDeleteCategory" href="javascript:void(0)" _categoryID="<%= sku._id %>">Xóa</a> -->
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- POPUP CẬP NHẬT CATEGORY -->
<!-- <div class="modal fade bs-example-modal-sm popup-update-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" placeholder="Title" id="txtTitleUpdate">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtDescriptionUpdate" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdate">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col mx-auto">
                        <label>Hình Ảnh</label>
                        <br>
                        <div class="container">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type="file" id="categoryImageUpdate" accept=".png, .jpg, .jpeg" />
                                    <label for="categoryImageUpdate"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div class="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateCategory" _categoryID>Cập nhật</button>
            </div>
        </div>
    </div>
</div> -->