<script>
    $(document).ready(function() {


        $("#detail_type_employee__parent").select2({
            width: "100%"
        });


        initInputMaxLength('#detail_type_employee__name');
        initInputMaxLength('#detail_type_employee__description');



        $('#detail_type_employee__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#detail_type_employee__name', "Vui lòng nhập tên loại");
            } else {
                disableValidate('#detail_type_employee__name');
            }
        });



        const getFormInsert = () => {

            let name = $('#detail_type_employee__name').val();

            let parent = $('#detail_type_employee__parent').val();

            let description = $('#detail_type_employee__description').val();

            return {
                name,
                parent,
                description,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                parent,
                description,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'detail_type_employee__name'];
                enableValidate('#detail_type_employee__name', "Vui lòng nhập tên loại");
            } else {
                if (!fieldsError.includes('detail_type_employee__name')) {
                    disableValidate('#detail_type_employee__name');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_DETAIL_TYPE_EMPLOYEE.ADD_DETAIL_TYPE_EMPLOYEE %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm chi tiết loại nhân viên thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>