<script>
    $(document).ready(function() {

        $("#detail_type_employee__parent").select2({
            width: "100%"
        });
        $("#detail_type_employee__parent").val("<%= infoDetail_type_employee.parent && infoDetail_type_employee.parent._id %>").trigger('change');

        $("#detail_type_employee__status").select2({
            width: "100%"
        });
        $("#detail_type_employee__status").val("<%= infoDetail_type_employee.status %>").trigger('change');



        initInputMaxLength('#detail_type_employee__name');
        initInputMaxLength('#detail_type_employee__description');



        $('#detail_type_employee__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#detail_type_employee__name', "Vui lòng nhập tên loại");
            } else {
                disableValidate('#detail_type_employee__name');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#detail_type_employee__name').val();
            let parent = $('#detail_type_employee__parent').val();

            let order = $('#detail_type_employee__order').val();
            let status = $('#detail_type_employee__status').val();
            let description = $('#detail_type_employee__description').val();

            return {
                name,
                parent,
                order,
                status,
                description,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                parent,
                order,
                status,
                description,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'detail_type_employee__status'];
                enableValidate('#detail_type_employee__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('detail_type_employee__status')) {
                    disableValidate('#detail_type_employee__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'detail_type_employee__name'];
                enableValidate('#detail_type_employee__name', "Vui lòng nhập tên loại");
            } else {
                if (!fieldsError.includes('detail_type_employee__name')) {
                    disableValidate('#detail_type_employee__name');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_DETAIL_TYPE_EMPLOYEE.UPDATE_DETAIL_TYPE_EMPLOYEE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật chi tiết loại nhân viên thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.detail_type_employeeID = $(this).attr('__detail_type_employeeID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>