<style>
    .line-condition:after {
        content: '';
        width: 520px;
        height: 1px;
        background-color: rgba(0, 0, 0, .1);
        position: absolute;
        top: 35px;
        left: 50px;
    }

    .type-condition {
        cursor: pointer;
    }

    .modal-backdrop.unblur {
        backdrop-filter: blur(0);
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_length {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .checkbox label {
        display: inline-block;
        /* padding-left: 8px; */
        /* padding-left: 0 !important; */
        padding-left: 0 ;
        position: relative;
        font-weight: normal;
        margin-bottom: 12px;
    }
    .label-export {
        padding-left: 8px !important;
    }
</style>

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row d-none">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">List chấm công</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                                <li class="breadcrumb-item active">List chấm công</li>
                            </ol>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <!--end row-->


        <!-- <div class="row justify-content-center mt-3">
            <h3 class="col-sm-8 page-title"><b>Danh sách lịch sử checkin checkout</b> </h3>
            <div class="col-sm-4" style="text-align: right;">
                <a href="/checkin_checkout/add-checkin_checkout" class="btn btn-primary btn-lg">
                    <i class="ti-pencil-alt"></i>
                    Tạo mới
                </a>
            </div>
        </div> -->

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="status-checkin_checkout-choice nav-link active" _key="" _value="" data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">Tất cả</a>
            </li>

        </ul>

        <div class="row justify-content-center mt-3">

            <div class="col-sm-8">
                <div class="input-group">
                    <!-- <label class="my-2 me-2"></label> -->
                    <input type="text" class="form-control input-search-text" autocomplete="off" placeholder="Tìm kiếm vị trí, ghi chú,...">
                    <button class="input-group-text btn-filter">
                        <i class="ti-search"></i>
                    </button>

                </div>
            </div>

            <div class="col-sm-4 d-flex justify-content-end">

                <button class="btn btn-outline-secondary me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    <i class="mdi mdi-filter-variant"></i> Bộ lọc
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 800px;">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel" class="m-0">Bộ lọc</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <div class="repeater-default">
                            <div data-repeater-list="condition">

                                <div data-repeater-item="" class="d-none">
                                    <div class="row d-flex justify-content-start">

                                        <div class="line-condition position-relative d-none">
                                            <h2 class="type-condition" data-type-condition="AND">
                                                <span class="badge badge-soft-primary">AND</span>
                                            </h2>
                                        </div>

                                        <div class="col-sm-3">
                                            <select class="form-select input-field-name">
                                                <option disabled selected>Chọn trường</option>
                                                <option value="employee" data-type="ref">Nhân viên</option>
                                                <option value="store" data-type="ref">Cửa hàng</option>
                                                <option value="shift" data-type="ref">Ca làm việc</option>
                                                <option value="location" data-type="text">Vị trí</option>
                                                <option value="rootCreateAt" data-type="date">Ngày tạo</option>
                                            </select>
                                        </div>


                                        <div class="col-sm-8 d-none" data-follow="employee">
                                            <select class="col-sm-4 form-select input-field-ref-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="fullname" data-type="text">Họ và tên</option>

                                                <option value="code" data-type="text">Mã nhân viên</option>

                                                <option value="username" data-type="text">Tên đăng nhập</option>

                                                <option value="email" data-type="text">Email</option>

                                                <option value="password" data-type="text">Mật khẩu</option>

                                                <option value="numberK" data-type="number">Hệ số K (Chỉ có hiệu lực cho PGS)</option>

                                                <option value="status" data-type="enum">Trạng thái</option>
                                            </select>

                                            <div class="col-sm-8 d-flex d-none" data-follow="fullname" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="username" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="email" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="password" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="numberK" data-type="number">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="greater-than">Lớn hơn</option>
                                                    <option value="less-than">Bé hơn</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="number" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Không hoạt động</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="col-sm-8 d-none" data-follow="store">
                                            <select class="col-sm-4 form-select input-field-ref-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="phone" data-type="text">Điện thoại</option>

                                                <option value="code" data-type="text">Mã cửa hàng</option>

                                                <option value="name" data-type="text">Tên cửa hàng</option>

                                                <option value="lat" data-type="text">latitude</option>

                                                <option value="lng" data-type="text">longtitude</option>

                                                <option value="address" data-type="text">Địa chỉ</option>

                                                <option value="city" data-type="text">Tỉnh/Thành phố</option>

                                                <option value="cityName" data-type="text">cityName</option>

                                                <option value="district" data-type="text">Quận/huyện</option>

                                                <option value="districtName" data-type="text">districtName</option>

                                                <option value="ward" data-type="text">Xã phường</option>

                                                <option value="wardName" data-type="text">wardName</option>

                                                <option value="openTime" data-type="date">Giờ mở cửa</option>

                                                <option value="closeTime" data-type="date">Giờ đóng cửa</option>

                                                <option value="status" data-type="enum">Trạng thái</option>
                                            </select>

                                            <div class="col-sm-8 d-flex d-none" data-follow="phone" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="code" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="lat" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="lng" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="address" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="city" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="cityName" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="district" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="districtName" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="ward" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="wardName" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="openTime" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="closeTime" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Không hoạt động</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 d-none" data-follow="shift">
                                            <select class="col-sm-4 form-select input-field-ref-name">
                                                <option disabled selected>Chọn trường</option>

                                                <option value="name" data-type="text">Tên ca làm việc</option>

                                                <option value="startTime" data-type="date">Giờ bắt đầu</option>

                                                <option value="endTime" data-type="date">Giờ kết thúc</option>

                                                <option value="order" data-type="number">Thứ tự</option>

                                                <option value="status" data-type="enum">Trạng thái</option>
                                            </select>

                                            <div class="col-sm-8 d-flex d-none" data-follow="name" data-type="text">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal">Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="start-with">Bắt đầu với</option>
                                                    <option value="end-with">Kết thúc với</option>
                                                    <option value="is-contains" selected>Có chứa</option>
                                                    <option value="not-contains">Không chứa</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="text" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="startTime" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="endTime" data-type="date">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="before">Trước</option>
                                                    <option value="after">Sau</option>
                                                    <option value="today">Hôm nay</option>
                                                    <option value="yesterday">Hôm qua</option>
                                                    <option value="before-hours">N tiếng trước</option>
                                                    <option value="before-days">N ngày trước</option>
                                                    <option value="before-months">N tháng trước</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="date" class="form-control input-field-value">
                                                <input type="number" class="form-control input-field-value d-none">
                                            </div>

                                            <div class="col-sm-8 d-flex d-none" data-follow="order" data-type="number">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="greater-than">Lớn hơn</option>
                                                    <option value="less-than">Bé hơn</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <input type="number" class="form-control input-field-value">
                                            </div>

                                            <div class="col-sm-8 d-none" data-follow="status" data-type="enum">
                                                <select class="form-select input-field-compare">
                                                    <option value="equal" selected>Bằng</option>
                                                    <option value="not-equal">Không bằng</option>
                                                    <option value="null">Trống</option>
                                                </select>

                                                <select class="form-select input-select-value">
                                                    <option value="-1" disabled selected>Chọn Trạng thái</option>
                                                    <option value="1">Hoạt động</option>
                                                    <option value="2">Không hoạt động</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-8 d-flex d-none" data-follow="location" data-type="text">
                                            <select class="form-select input-field-compare">
                                                <option value="equal">Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="start-with">Bắt đầu với</option>
                                                <option value="end-with">Kết thúc với</option>
                                                <option value="is-contains" selected>Có chứa</option>
                                                <option value="not-contains">Không chứa</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="text" class="form-control input-field-value">
                                        </div>

                                        <div class="col-sm-8 d-none" data-follow="rootCreateAt" data-type="date">
                                            <select class="form-select input-field-compare">
                                                <option value="equal" selected>Bằng</option>
                                                <option value="not-equal">Không bằng</option>
                                                <option value="before">Trước</option>
                                                <option value="after">Sau</option>
                                                <option value="today">Hôm nay</option>
                                                <option value="yesterday">Hôm qua</option>
                                                <option value="before-hours">N tiếng trước</option>
                                                <option value="before-days">N ngày trước</option>
                                                <option value="before-months">N tháng trước</option>
                                                <option value="null">Trống</option>
                                            </select>

                                            <input type="date" class="form-control input-field-value">
                                            <input type="number" class="form-control input-field-value d-none">
                                        </div>

                                        <div class="col-sm-1">
                                            <span data-repeater-delete="" class="btn btn-outline-danger">
                                                <span class="far fa-trash-alt"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- END REPEATER ITEM -->

                            </div>
                            <!-- END REPEATER LIST -->

                            <div class="form-group mb-0 mt-4 row">
                                <div class="col-12 col-sm-4">
                                    <span class="btn btn-soft-secondary btn-add-filter">
                                        <span class="fas fa-plus"></span> Thêm điều kiện
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END OFFCANVAS-BODY -->
                    <hr class="hr-dashed hr-menu">
                    <div class="form-group mb-0 row" style="padding: 0 1rem 1rem 1rem !important;">
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-primary btn-apply-filter">
                                    <i class="mdi mdi-check-all me-2"></i>
                                    Áp dụng
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-grid gap-2">
                                <button class="btn btn-lg btn-soft-danger btn-discard-filter">
                                    <!-- <i class="mdi mdi-alert-outline me-2"></i> -->
                                    Xóa bộ lọc
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn btn-outline-secondary download-checkin_checkout-excel-export me-2">
                    <img class="loading-excel-export d-none" src="/template/admin/assets/images/icon-loading.gif" style="width: 25px;" alt="">
                    <i class="mdi mdi-file-export me-2"></i>Export
                </button>
                
                <button type="button" class="btn btn-outline-secondary download-general-checkin_checkout-excel-export me-2">
                    <img class="loading-general-checkin_checkout-excel-export-excel-export d-none" src="/template/admin/assets/images/icon-loading.gif" style="width: 25px;" alt="">
                    <i class="mdi mdi-file-export me-2"></i>Export Tổng hợp nhân viên
                </button>
                <!-- <button type="button" class="btn btn-outline-secondary download-excel-export me-2">
                    <img class="loading-excel-export d-none" src="/template/admin/assets/images/icon-loading.gif" style="width: 25px;" alt="">
                    <i class="mdi mdi-file-export me-2"></i>Export
                </button> -->

                <% if (ROLE_USER === 'SUPERVISOR') { %>
                    <button type="button" class="btn btn-outline-secondary print-checkin_checkout me-2" data-bs-toggle="modal" data-bs-target="#exampleModalDefault"><i class="mdi mdi-file-export me-2"></i>Export</button>
                <% } %>

                <button type="button" disabled class="btn btn-outline-secondary  dropdown-toggle action-checkin_checkout" data-bs-toggle="dropdown" aria-expanded="false">
                    Tác vụ <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item update-checkin_checkout d-none" href="#">
                        <i class="fas fa-edit me-1"></i>
                        Sửa
                    </a>
                    <a class="dropdown-item delete-checkin_checkout d-none text-danger" href="#">
                        <i class="mdi mdi-trash-can-outline me-1"></i>
                        Xóa
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table id="tableListCheckin_checkout" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th class="text-center" data-orderable="false">
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox3" type="checkbox" class="check-all-record">
                                    <label for="checkbox3"></label>
                                </div>
                            </th>
                            <th>Thời gian</th>
                            <th>Nhân viên</th>
                            <th>Cửa hàng</th>
                            <th>Ca làm việc</th>
                            <th>Trạng thái</th>
                            <th>Check in - out</th>
                            <!-- <th>Error log</th> -->
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="exampleModalDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Xuất Excel</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row option-choose-export">
                                <div class="col-lg-4">
                                    <div class="d-flex" style="
                                            justify-content: center;
                                            align-items: center;
                                        ">
                                        <h5>
                                            Chọn thuộc tính
                                        </h5>
                                        <button style="padding: 2px 10px; margin-left: 10px;" type="button" class="btn btn-warning btn-clear-all-field-choice">Bỏ Chọn Tất Cả</button>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio14" value="2" checked="">
                                        <label for="radio14">
                                            Tải xuống Excel
                                        </label>
                                    </div>
                                    <div class="radio radio-success">
                                        <input type="radio" class="chooseCSV" name="radio4" id="radio15" value="1">
                                        <label for="radio15">
                                            Tải qua GG Sheet
                                        </label>
                                    </div>
                                </div>

                                <p class="col-lg-3" style="text-align: right;"><span class="countItemChoice">0</span> của <span class="totalItem"></span> được chọn</p>
                            </div>

                            <ul class="list-group list-group-flush mt-3 mb-0 list-field-coll-print"></ul>
                            <div class="input-group show-clip-board d-none">
                                <input type="text" class="form-control show-url-export" id="clipboardInput" value="Welcome to Maxdot!" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-clipboard-action="copy" data-clipboard-target="#clipboardInput"><i class="far fa-copy me-2"></i>Copy</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btn-export-excel">Xuất</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>

    <div class="modal fade bd-example-modal-lg" id="modalConfigExportExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Cấu hình xuất Excel</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--end modal-header-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label" for="month_year__export">
                                            Chọn tháng <span class="text-danger">(*)</span>
                                        </label>
                                        <input type="month" class="form-control" id="month_year__export">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal-body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-soft-primary btn-sm btnConfirmExportCheckinCheckout">Xuất</button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
                </div>
                <!--end modal-footer-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
