<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật lịch sử chấm công</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/checkin_checkout/list-checkin_checkout">Quản lý lịch sử chấm công</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label">
                                Hình ảnh khuôn mặt
                            </label>
                            <div class="box-order-line d-flex flex-wrap">
                                <% for(let i = 0; i < 8; i++) { %>
                                <% 
                                    let image = false;
                                    let path  = '';

                                    if(infoCheckin_checkout.faceImages[i]){
                                        image = infoCheckin_checkout.faceImages[i]; 
                                        path  = lodash.get(image, 'path', '');
                                    }
                                %>

                                <div class="box-dropzone-file dropzone-faceImages no-file d-flex justify-content-center">
                                    <div class="box-drag-and-drop d-flex justify-content-center align-items-center p-2 <%= image && 'd-none' %>" id="boxDropzoneFile-<%= i + 1 %>" data-index="<%= i + 1 %>" name="<%= lodash.get(image, 'name', '') %>" path="<%= lodash.get(image, 'path', '') %>" size="<%= lodash.get(image, 'size', '') %>">
                                        <span> <i class="fas fa-plus"></i> </span>
                                    </div>

                                    <div class="box-preview-image <%= !image && 'd-none' %>">
                                        <img src="<%= path %>" alt="File" class="img-fluid me-3">

                                        <div class="edit-image">
                                            <a href="javascript:void(0)" class="btn-edit-image">
                                                <i class="fas fa-tools"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn-remove-image">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="box-processing-upload-file align-items-center justify-content-center p-2 d-none">
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                                <% } %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                Hình ảnh cửa hàng
                            </label>
                            <div class="box-order-line d-flex flex-wrap">
                                <% for(let i = 9, index = 0; i < 17; i++, index++) { %>
                                <% 
                                    let image = false;
                                    let path  = '';

                                    if(infoCheckin_checkout.storeImages[index]){
                                        image = infoCheckin_checkout.storeImages[index]; 
                                        path  = lodash.get(image, 'path', '');
                                    }
                                %>

                                <div class="box-dropzone-file dropzone-storeImages no-file d-flex justify-content-center">
                                    <div class="box-drag-and-drop d-flex justify-content-center align-items-center p-2 <%= image && 'd-none' %>" id="boxDropzoneFile-<%= i + 1 %>" data-index="<%= i + 1 %>" name="<%= lodash.get(image, 'name', '') %>" path="<%= lodash.get(image, 'path', '') %>" size="<%= lodash.get(image, 'size', '') %>">
                                        <span> <i class="fas fa-plus"></i> </span>
                                    </div>

                                    <div class="box-preview-image <%= !image && 'd-none' %>">
                                        <img src="<%= path %>" alt="File" class="img-fluid me-3">

                                        <div class="edit-image">
                                            <a href="javascript:void(0)" class="btn-edit-image">
                                                <i class="fas fa-tools"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn-remove-image">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="box-processing-upload-file align-items-center justify-content-center p-2 d-none">
                                        <div class="progress">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                                <% } %>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label class="form-label" for="checkin_checkout__location">
                                Vị trí
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="checkin_checkout__location" value="<%= infoCheckin_checkout.location %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div> -->

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__note">
                                Ghi chú
                            </label>

                            <textarea class="form-control" rows="4" maxlength="256" id="checkin_checkout__note" placeholder=""><%= infoCheckin_checkout.note %></textarea>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__devicename">
                                Tên thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="checkin_checkout__devicename" value="<%= infoCheckin_checkout.deviceName %>" placeholder="" disabled>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__deviceid">
                                ID thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="checkin_checkout__deviceid" value="<%= infoCheckin_checkout.deviceID %>" placeholder="" disabled>
                            
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__employee">
                                Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__employee" data-placeholder="Chọn Nhân viên" disabled>
                                <option value="null" selected disabled>Chọn Nhân viên</option>
                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <option value="<%= employee._id %>">
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__store">
                                Cửa hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__store" data-placeholder="Chọn Cửa hàng" disabled>
                                <option value="null" selected disabled>Chọn Cửa hàng</option>
                                <% if(listStores && listStores.length){ %>
                                <% listStores.forEach(store => { %>
                                <option value="<%= store._id %>">
                                    <%= store.name %>
                                </option>
                                <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__shift">
                                Ca làm việc <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__shift" data-placeholder="Chọn Ca làm việc" disabled>
                                <option value="null" selected disabled>Chọn Ca làm việc</option>
                                <% if(listShifts && listShifts.length){ %>
                                <% listShifts.forEach(shift => { %>
                                <option value="<%= shift._id %>">
                                    <%= shift.name %>
                                </option>
                                <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__error_log">
                                Lỗi ghi nhận
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__error_log" disabled>
                                <option selected disabled>Chọn Lỗi ghi nhận</option>
                                <option value="ERROR_LOCATION">Lỗi vị trí > 800m</option>
                                <option value="ERROR_FACE_RECOGNITION">Lỗi nhận diện khuôn mặt</option>
                                <option value="ERROR_STORE">Lỗi hình ảnh cửa hàng</option>
                                <option value="ERROR_TIME">Lỗi thời gian check in - out</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__status">
                                Trạng thái
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__status" disabled>
                                <option selected disabled>Chọn Trạng thái</option>
                                <option value="1">Chưa hoàn thành checkin</option>
                                <option value="2">Đã hoàn thành checkin</option>
                                <option value="3">Đã hoàn thành checkout</option>
                                <option value="4">Checkout thất bại</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="checkin_checkout__platform">
                                Nền tảng
                            </label>
                            <select class="form-select mt-2" id="checkin_checkout__platform" disabled>
                                <option disabled>Chọn Nền tảng</option>
                                <option value="ANDROID" <%= infoCheckin_checkout.platform === 'ANDROID' && 'selected' %>>ANDROID</option>
                                <option value="IOS" <%= infoCheckin_checkout.platform === 'IOS' && 'selected' %>>IOS</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __checkin_checkoutID="<%= infoCheckin_checkout._id %>">
                    Cập nhật
                </button>
                <a href="/checkin_checkout/list-checkin_checkout" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>