<script>
    $(document).ready(function() {


        $("#trial_program_history_contact__status").select2({
            width: "100%"
        });

        $("#trial_program_history_contact__user_register_trial_program").select2({
            width: "100%"
        });


        initInputMaxLength('#trial_program_history_contact__note');





        const getFormInsert = () => {
            let status = $('#trial_program_history_contact__status').val();
            let reminderTime = $('#trial_program_history_contact__remindertime').val();

            let note = $('#trial_program_history_contact__note').val();

            let user_register_trial_program = $('#trial_program_history_contact__user_register_trial_program').val();

            return {
                status,
                reminderTime,
                note,
                user_register_trial_program,
            };
        }

        const checkFormValid = params => {
            let {
                status,
                reminderTime,
                note,
                user_register_trial_program,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2, 3, 4, 5],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'trial_program_history_contact__status'];
                enableValidate('#trial_program_history_contact__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('trial_program_history_contact__status')) {
                    disableValidate('#trial_program_history_contact__status');
                }
            }




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_TRIAL_PROGRAM_HISTORY_CONTACT.ADD_TRIAL_PROGRAM_HISTORY_CONTACT %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm Lịch sử các lần NA call cho Customer thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>