<script>
    $(document).ready(function() {

        $("#trial_program_history_contact__status").select2({
            width: "100%"
        });
        $("#trial_program_history_contact__status").val("<%= infoTrial_program_history_contact.status %>").trigger('change');

        $("#trial_program_history_contact__user_register_trial_program").select2({
            width: "100%"
        });
        $("#trial_program_history_contact__user_register_trial_program").val("<%= infoTrial_program_history_contact.user_register_trial_program && infoTrial_program_history_contact.user_register_trial_program._id %>").trigger('change');



        initInputMaxLength('#trial_program_history_contact__note');





        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let status = $('#trial_program_history_contact__status').val();
            let reminderTime = $('#trial_program_history_contact__remindertime').val();
            let note = $('#trial_program_history_contact__note').val();
            let user_register_trial_program = $('#trial_program_history_contact__user_register_trial_program').val();

            return {
                status,
                reminderTime,
                note,
                user_register_trial_program,
            };
        }

        const checkFormValid = params => {
            let {
                status,
                reminderTime,
                note,
                user_register_trial_program,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2, 3, 4, 5],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'trial_program_history_contact__status'];
                enableValidate('#trial_program_history_contact__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('trial_program_history_contact__status')) {
                    disableValidate('#trial_program_history_contact__status');
                }
            }




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_TRIAL_PROGRAM_HISTORY_CONTACT.UPDATE_TRIAL_PROGRAM_HISTORY_CONTACT_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật Lịch sử các lần NA call cho Customer thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.trial_program_history_contactID = $(this).attr('__trial_program_history_contactID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>