<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật lịch sử khởi tạo khách hàng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/history_init_customer/list-history_init_customer">Quản lý lịch sử khởi tạo khách hàng</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__deviceid">
                                ID thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="history_init_customer__deviceid" value="<%= infoHistory_init_customer.deviceID %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__devicename">
                                Tên thiết bị
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="history_init_customer__devicename" value="<%= infoHistory_init_customer.deviceName %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__lat">
                                latitude
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="history_init_customer__lat" value="<%= infoHistory_init_customer.lat %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__lng">
                                longtitude
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="history_init_customer__lng" value="<%= infoHistory_init_customer.lng %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__store">
                                Cửa hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_init_customer__store" data-placeholder="Chọn Cửa hàng">

                                <% if(listStores && listStores.length){ %>
                                <% listStores.forEach(store => { %>
                                <% let isSelect = (infoHistory_init_customer.store && infoHistory_init_customer.store._id.toString()) === store._id.toString() %>

                                <option value="<%= store._id %>" <%= isSelect && 'selected' %>>
                                    <%= store.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__employee">
                                Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_init_customer__employee" data-placeholder="Chọn Nhân viên">

                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <% let isSelect = (infoHistory_init_customer.employee && infoHistory_init_customer.employee._id.toString()) === employee._id.toString() %>

                                <option value="<%= employee._id %>" <%= isSelect && 'selected' %>>
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__customer">
                                Khách hàng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="history_init_customer__customer" data-placeholder="Chọn Khách hàng">

                                <% if(listCustomers && listCustomers.length){ %>
                                <% listCustomers.forEach(customer => { %>
                                <% let isSelect = (infoHistory_init_customer.customer && infoHistory_init_customer.customer._id.toString()) === customer._id.toString() %>

                                <option value="<%= customer._id %>" <%= isSelect && 'selected' %>>
                                    <%= customer.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="history_init_customer__devicetype">
                                Loại thết bị
                            </label>
                            <select class="form-select mt-2" id="history_init_customer__devicetype">
                                <option selected disabled>Chọn Loại thết bị</option>
                                <option value="ANDROID">ANDROID</option>
                                <option value="IOS">IOS</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __history_init_customerID="<%= infoHistory_init_customer._id %>">
                    Cập nhật
                </button>
                <a href="/history_init_customer/list-history_init_customer" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>