<script>
    $(document).ready(function() {



        initInputMaxLength('#brand__name');
        initInputMaxLength('#brand__brandcode');
        initInputMaxLength('#brand__description');
        initInputMaxLength('#brand__linkwebsite');
        initDropify('#brand__image');

        initUploadCustom();

        $(document).on('click', '.btn-remove-image', function() {
            $(this).closest('.box-preview-image').addClass('d-none');
            $(this).closest('.box-dropzone-file').find('.box-drag-and-drop').removeClass('d-none');
        });


        $('#brand__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#brand__name', "Vui lòng nhập tên thương hiệu");
            } else {
                disableValidate('#brand__name');
            }
        });

        $('#brand__brandcode').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#brand__brandcode', "Vui lòng nhập mã thương hiệu");
            } else {
                disableValidate('#brand__brandcode');
            }
        });



        const getFormInsert = () => {

            let name = $('#brand__name').val();

            let brandCode = $('#brand__brandcode').val();

            let description = $('#brand__description').val();

            let linkWebsite = $('#brand__linkwebsite').val();

            return {
                name,
                brandCode,
                description,
                linkWebsite,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                brandCode,
                description,
                linkWebsite,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'brand__name'];
                enableValidate('#brand__name', "Vui lòng nhập tên thương hiệu");
            } else {
                if (!fieldsError.includes('brand__name')) {
                    disableValidate('#brand__name');
                }
            }

            if (!brandCode.trim()) {
                fieldsError = [...fieldsError, 'brand__brandcode'];
                enableValidate('#brand__brandcode', "Vui lòng nhập mã thương hiệu");
            } else {
                if (!fieldsError.includes('brand__brandcode')) {
                    disableValidate('#brand__brandcode');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_BRAND.ADD_BRAND %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm thương hiệu thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);

            dataInsert.gallerys = [];
            $('.box-dropzone-file.dropzone-gallerys .box-drag-and-drop.d-none').each((i, elem) => {
                const name = $(elem).attr('name');
                const size = $(elem).attr('size');
                const path = $(elem).attr('path');

                if (name && path) {
                    dataInsert.gallerys = [...dataInsert.gallerys, {
                        name,
                        size,
                        path
                    }]
                }
            })


            let imageInputFiles = $("#brand__image").prop('files');

            if (imageInputFiles && imageInputFiles.length) {
                const links = await getLinksUpload(imageInputFiles);

                dataInsert.image = {
                    name: links[0].fileName,
                    path: links[0].uri,
                    size: imageInputFiles[0].size,
                }
            }

            callAjaxInsert(dataInsert);
        });
    })
</script>