<script>
    $(document).ready(function() {

        $("#brand__status").select2({
            width: "100%"
        });
        $("#brand__status").val("<%= infoBrand.status %>").trigger('change');



        initInputMaxLength('#brand__name');
        initInputMaxLength('#brand__brandcode');
        initInputMaxLength('#brand__description');
        initInputMaxLength('#brand__linkwebsite');
        initDropify('#brand__image');

        initUploadCustom();

        $(document).on('click', '.btn-remove-image', function() {
            $(this).closest('.box-preview-image').addClass('d-none');
            $(this).closest('.box-dropzone-file').find('.box-drag-and-drop').removeClass('d-none');
        });


        $('#brand__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#brand__name', "Vui lòng nhập tên thương hiệu");
            } else {
                disableValidate('#brand__name');
            }
        });

        $('#brand__brandcode').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#brand__brandcode', "Vui lòng nhập mã thương hiệu");
            } else {
                disableValidate('#brand__brandcode');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#brand__name').val();
            let brandCode = $('#brand__brandcode').val();
            let description = $('#brand__description').val();
            let status = $('#brand__status').val();
            let linkWebsite = $('#brand__linkwebsite').val();

            let stt = $('#brand__stt').val();

            return {
                name,
                brandCode,
                description,
                status,
                linkWebsite,
                stt,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                brandCode,
                description,
                status,
                linkWebsite,
                stt,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'brand__status'];
                enableValidate('#brand__status', "trang thái không hợp lệ");
            } else {
                if (!fieldsError.includes('brand__status')) {
                    disableValidate('#brand__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'brand__name'];
                enableValidate('#brand__name', "Vui lòng nhập tên thương hiệu");
            } else {
                if (!fieldsError.includes('brand__name')) {
                    disableValidate('#brand__name');
                }
            }

            if (!brandCode.trim()) {
                fieldsError = [...fieldsError, 'brand__brandcode'];
                enableValidate('#brand__brandcode', "Vui lòng nhập mã thương hiệu");
            } else {
                if (!fieldsError.includes('brand__brandcode')) {
                    disableValidate('#brand__brandcode');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_BRAND.UPDATE_BRAND_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật thương hiệu thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.brandID = $(this).attr('__brandID');


            dataUpdate.gallerys = [];
            $('.box-dropzone-file.dropzone-gallerys .box-drag-and-drop.d-none').each((i, elem) => {
                const name = $(elem).attr('name');
                const size = $(elem).attr('size');
                const path = $(elem).attr('path');

                if (name && path) {
                    dataUpdate.gallerys = [...dataUpdate.gallerys, {
                        name,
                        size,
                        path
                    }]
                }
            })


            let imageInputFiles = $("#brand__image").prop('files');

            if (imageInputFiles && imageInputFiles.length) {
                const links = await getLinksUpload(imageInputFiles);

                dataUpdate.image = {
                    name: links[0].fileName,
                    path: links[0].uri,
                    size: imageInputFiles[0].size,
                }
            }

            callAjaxUpdate(dataUpdate);
        });
    })
</script>