<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật Lịch sử các lần NA call cho Customer</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/trial_program_history_contact/list-trial_program_history_contact">Quản lý Lịch sử các lần NA call cho Customer</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="trial_program_history_contact__note">
                                Note
                            </label>

                            <textarea class="form-control" rows="4" maxlength="256" id="trial_program_history_contact__note" placeholder=""><%= infoTrial_program_history_contact.note %></textarea>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="trial_program_history_contact__status">
                                Trạng Thái
                            </label>
                            <select class="form-select mt-2" id="trial_program_history_contact__status">
                                <option selected disabled>Chọn Trạng Thái</option>
                                <option value="1">Liên Hệ Thất Bại</option>
                                <option value="2">Liên Hệ Đặt Lịch Thành Công</option>
                                <option value="3">Yêu Cầu Huỷ Đơn</option>
                                <option value="4">Đổi Quà Thất Bại</option>
                                <option value="5">Đổi Quà Thành Công</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="trial_program_history_contact__user_register_trial_program">
                                user_register_trial_program
                            </label>
                            <select class="form-select mt-2" id="trial_program_history_contact__user_register_trial_program" data-placeholder="Chọn user_register_trial_program">

                                <option value="null" selected disabled>Chọn user_register_trial_program</option>
                                <% if(listUser_register_trial_programs && listUser_register_trial_programs.length){ %>
                                <% listUser_register_trial_programs.forEach(user_register_trial_program => { %>
                                <option value="<%= user_register_trial_program._id %>">
                                    <%= user_register_trial_program.phone %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="trial_program_history_contact__remindertime">
                                Thời Gian Hẹn
                            </label>
                            <input type="date" class="form-control" id="trial_program_history_contact__remindertime" value="<%= moment(infoTrial_program_history_contact.reminderTime).format("YYYY-MM-DD") %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __trial_program_history_contactID="<%= infoTrial_program_history_contact._id %>">
                    Cập nhật
                </button>
                <a href="/trial_program_history_contact/list-trial_program_history_contact" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>