<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script>
	$(document).ready(function(){

		$("#txtCity").select2();
		$("#txtDistrict").select2();
		$("#txtWard").select2();
		
		$('#txtCity').on('change', function () {
            $("#txtDistrict").empty();
            let value = $(this).val();

            // setSuccess("#txtCity");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        console.log({ resp,value });
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtDistrict").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            $("#txtDistrict").append(dataAppend);
                            $("#txtWard").empty();
                            $("#txtWard").append(`
                                <option id="emptyWard" value="">Chọn Phường</option>
                            `);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtDistrict").append(`
                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrict").attr("selected", true);

                $("#txtWard").empty();
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });

		//Xã, phường
        $('#txtDistrict').on('change', function () {
            $("#txtWard").empty();
            let value = $(this).val();
            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#txtWard").append(`<option id="emptyWard" value="" selected>Chọn Phường</option>`);
                            $("#txtWard").append(dataAppend);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#txtWard").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });

		$(".table-list-trial-program").dataTable({
			...languageDataTable
		});

		$("body").on("click", ".btnUpdateRegisterTrialProgram", function(){
			let registerTrialProgramID = $(this).attr("_registerTrialProgramID");
			$(".btnConfirmUpdateRegisterTrialProgram").attr("_registerTrialProgramID",registerTrialProgramID );
			$(".model-update-register-trial-program").modal("show");

			$.ajax({
				url: `/trial-program/info-user-register-trial-program/${registerTrialProgramID}`,
				method: 'GET',
				success: function(resp) {
					console.log({ resp });
					if (resp.error){
						toastr.error('Lấy thông tin thất bại', 'Thông báo');
					}else{
						let {fullname, phone, address, email, status, cityNumber, districtNumber, wardNumber, note } = resp.data;
						$("#txtFullnameCustomer").val(fullname);
						$("#txtPhoneCustomer").val(phone);
						$("#txtEmailCustomer").val(email);
						$("#txtAddressCustomer").val(address);
						$("#txtStatus").val(status);
						$("#txtCity").val(cityNumber);
						$("#txtCity").select2().change();
						$("#txtNote").val(note);
						
						setTimeout(() => {
							$("#txtDistrict").val(districtNumber);
							$("#txtDistrict").select2().change();
						}, 700);

						setTimeout(() => {
							$("#txtWard").val(wardNumber);
							$("#txtWard").select2()
						}, 1500);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})
		$("body").on("click", ".btnConfirmUpdateRegisterTrialProgram", function(){
			let registerTrialProgramID = $(this).attr("_registerTrialProgramID");
			let fullname = $("#txtFullnameCustomer").val();
			let phone    = $("#txtPhoneCustomer").val();
			let email	 = $("#txtEmailCustomer").val();
			let address  = $("#txtAddressCustomer").val();
			let status   = $("#txtStatus").val();
			let note     = $("#txtNote").val();
			let cityNumber   = $("#txtCity").val();
			let districtNumber   = $("#txtDistrict").val();
			let wardNumber   = $("#txtWard").val();
			let cityText   = $("#txtCity option:selected").text();
			let districtText   = $("#txtDistrict option:selected").text();
			let wardText   = $("#txtWard option:selected").text();

			let fullAddress = ``;
			if(wardNumber){
				fullAddress +=  `${wardText}`
			}
			if(districtNumber){
				fullAddress +=  `, ${districtText}`
			}

			if(cityText){
				fullAddress +=  `, ${cityText}`
			}
			
			$.ajax({
				url: `<%= CF_ROUTINGS_TRIAL_PROGRAM.UPDATE_USER_REGISTER_TRIAL_PROGRAM%>`,
				method: 'POST',
				data: { registerTrialProgramID, fullname, email, phone, address, status, cityNumber, districtNumber, wardNumber, cityText, districtText, wardText, fullAddress, note },
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						toastr.info('Cập nhật thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 500);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})

		$(document).on('click', '.caret-icon', function() {
			$(this).toggleClass('fa-caret-up fa-caret-down');
			$(".container-list-fields-plus-when-register-trialprogram").toggleClass('d-none d-block');
		})

		$(document).on('click', '.btnAddFieldRegisterTrialprogram', function() {
			$(".model-add-fields-register-trial-program").modal("show");
		})

		$(document).on('change', '#txtTypeField', function() {
			let type = $(this).val();
			if(type == 2){
				$(".container-values-field").removeClass('d-none');
			}else{
				$(".container-values-field").addClass('d-none');
			}
		})

		$(document).on('click', '.btnConfirmAddFieldsRegisterTrialProgram', function() {

			let title = $("#txtTitleField").val(); 
			let type = $("#txtTypeField").val(); 
			let values = $("#txtValuesField").val();
			let trialProgramID = $(this).attr("_trialprogram");
			if(!title)
				return toastr.warning("Vui lòng nhập tiêu đề");
			$(".model-add-fields-register-trial-program").modal("hide");

			$.ajax({
				url: `<%= CF_ROUTINGS_TRIAL_PROGRAM.ADD_FIELDS_CONFIG_REGISTER_TRIAL_PROGRAM%>`,
				method: 'POST',
				data: { trialProgramID, title, type, values }, 
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						toastr.info('Thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 500);
					}
				},
				error: function(error){
					console.log({ error })
				}
			}); 
		})

		$(document).on('click', '.btnUpdateFieldConfigRegisterTrialprogram', function() {
			$(".model-add-fields-register-trial-program").modal("show");
			$(".btnConfirmUpdateFieldsRegisterTrialProgram").show();
			$(".btnConfirmAddFieldsRegisterTrialProgram").hide();
			let fieldID = $(this).attr("_fieldid");
			$(".btnConfirmUpdateFieldsRegisterTrialProgram").attr("_fieldID", fieldID);

			$.ajax({
				url: `/trial-program/info-field-config-register-trial-program/${fieldID}`,
				method: 'GET',
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						let { title, type, values } =  resp.data;
						$("#txtTitleField").val(title);
						$("#txtTypeField").val(type);
						$("#txtValuesField").val(values);
						if(type == 2){
							$(".container-values-field").removeClass("d-none");
						}else{
							$(".container-values-field").addClass("d-none");
						}
					}
				},
				error: function(error){
					console.log({ error })
				}
			});

		})

		$(document).on('click', '.btnConfirmUpdateFieldsRegisterTrialProgram', function() {
			let title = $("#txtTitleField").val(); 
			let type = $("#txtTypeField").val(); 
			let values = $("#txtValuesField").val();
			let fieldID = $(this).attr("_fieldid");
			if(!title)
				return toastr.warning("Vui lòng nhập tiêu đề");
			$.ajax({
				url: `<%= CF_ROUTINGS_TRIAL_PROGRAM.UPDATE_FIELDS_CONFIG_REGISTER_TRIAL_PROGRAM%>`,
				method: 'POST',
				data: { fieldID,title, type, values },
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						toastr.info('Cập nhật thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 500);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})
		
		$(document).on('click', '.btnRemoveFieldConfigRegisterTrialprogram', function() {
			let fieldID = $(this).attr("_fieldid");
			if(!confirm("Bạn có chắc chắn không?"))
				return;
			$.ajax({
				url: `/trial-program/remove-fields-config-register-trial-program/${fieldID}`,
				method: 'GET',
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						toastr.info('Xóa thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 500);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})
		
	})
</script>