<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script>
	$(document).ready(function(){
		$(".table-list-trial-program").dataTable({
			...languageDataTable
		});
		initEditor("#txtContentTrialProgram", {
            height: 280
        });

		$("#txtProductsTrialProgram").select2();
		$("#txtSegmentTrialProgram").select2();

		$(".btnAddTrialProgram").on("click", function(){
			$(".model-create-trial-program").modal("show");
		})

		function ajaxAddTrialProgram(data, that){
			return $.ajax({
				url : '<%= CF_ROUTINGS_TRIAL_PROGRAM.ADD_TRIAL_PROGRAM %>',
				method : 'post',
				data: data,
				success : (resp)=>{
					enableAndStopLoading2(that, "Xác nhận")
					let result = resp;
					if(result.error){
						return toastr.error(result.message, 'Thông báo');
					}else{
						toastr.success('Thêm thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					return  toastr.warning('Thêm thất bại', 'Thông báo')
				}
			}).done(function(){
				// setTimeout(() => {
				// 	window.location.reload();
				// }, 1000);
			});
		}

		$('.btnConfirmAddTrialProgram').on('click', async function () {
			let title = $("#txtTitleTrialProgram").val();
			let description = $("#txtDescriptionTrialProgram").val();
			let startTime = $("#txtStartTimeTrialProgram").val();
			let endTime = $("#txtEndTimeTrialProgram").val();
			let segments = $("#txtSegmentTrialProgram").val();
			let products = $("#txtProductsTrialProgram").val();
			let content = tinyMCE.get('txtContentTrialProgram').getContent();
			let image  = $('#imageTrialProgram')[0].files;
			let banner  = $('#banrerTrialProgram')[0].files;

			if(!title)
				return toastr.warning("Vui lòng nhập tiêu đề", "Thông Báo");
			if(!startTime)
				return toastr.warning("Vui lòng nhập thời gian bắt đầu", "Thông Báo");
			if(!endTime)
				return toastr.warning("Vui lòng nhập thời gian kết thúc", "Thông Báo");
			if(!products)
				return toastr.warning("Vui lòng chọn sản phẩm", "Thông Báo");
			if(!image.length)
				return toastr.warning("Vui lòng chọn hình ảnh", "Thông Báo");
			if(!banner.length)
				return toastr.warning("Vui lòng chọn hình ảnh banner", "Thông Báo");
			disableAndLoading(this);
			// $(".model-create-trial-program").modal("hide");
			var infoImage;
			var infoBanner;
			let data = { title, description, startTime, endTime, segments, products, content };
			if(image && image.length && banner && banner.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}

				infoBanner = {
					name: banner[0].name,
					size: banner[0].size
				}

				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.image = infoImage;
				})

				await addFileToUpload(banner, links => {
					infoBanner.path = links[0].uri;
					data.banner = infoBanner;
					ajaxAddTrialProgram(data, this);
				})
			}else{
				ajaxAddTrialProgram(data, this);
			}
		});

		$('body').on('click', ".btnUpdateTrialProgram", function () {
			$(".model-create-trial-program").modal("show");
			$(".btnConfirmAddTrialProgram").hide();
			$(".btnConfirmUpdateTrialProgram").show();

			let trialProgramID = $(this).attr("_trialProgramID");
			$(".btnConfirmUpdateTrialProgram").attr("_trialProgramID",trialProgramID );
			$.ajax({
				url: `/trial-program/info-trial-program-for-admin/${trialProgramID}`,
				method: 'GET',
				success: function(resp) {
					if (resp.error){
						toastr.error('Thất Bại', 'Thông báo');
					}else{
						let { title, description, content, startTime, endTime, segments, products } = resp.data;
						segments = segments.map(item => item._id)
						products = products.map(item => item._id)
						$("#txtTitleTrialProgram").val(title);
						$("#txtDescriptionTrialProgram").val(description);
						$("#txtStartTimeTrialProgram").val(startTime.substring(0, 16));
						$("#txtEndTimeTrialProgram").val(endTime.substring(0, 16));
						$("#txtSegmentTrialProgram").val(segments);
						$("#txtSegmentTrialProgram").select2();
						$("#txtProductsTrialProgram").val(products);
						$("#txtProductsTrialProgram").select2();
						tinyMCE.get('txtContentTrialProgram').setContent(content);
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})

		function ajaxUpdateTrialProgram(data){
			return $.ajax({
				url : '<%= CF_ROUTINGS_TRIAL_PROGRAM.UPDATE_TRIAL_PROGRAM %>',
				method : 'post',
				data: data,
				success : function(resp){
					console.log({ resp });
					let result = resp;
					if(result.error){
						return  toastr.error('Cập nhật thất bại', 'Thông báo');
					}else{
						toastr.success('Cập nhật thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					console.log({error})
					return  toastr.warning('Cập nhật thất bại', 'Thông báo')
				}
			});
		}

		$('.btnConfirmUpdateTrialProgram').on('click', async function () {
			let trialProgramID = $(this).attr("_trialprogramid");
			let title = $("#txtTitleTrialProgram").val();
			let description = $("#txtDescriptionTrialProgram").val();
			let startTime = $("#txtStartTimeTrialProgram").val();
			let endTime = $("#txtEndTimeTrialProgram").val();
			let segments = $("#txtSegmentTrialProgram").val();
			let products = $("#txtProductsTrialProgram").val();
			let content = tinyMCE.get('txtContentTrialProgram').getContent();
			let image  = $('#imageTrialProgram')[0].files;
			let banner  = $('#banrerTrialProgram')[0].files;

			if(!title)
				return toastr.warning("Vui lòng nhập tiêu đề", "Thông Báo");
			if(!startTime)
				return toastr.warning("Vui lòng nhập thời gian bắt đầu", "Thông Báo");
			if(!endTime)
				return toastr.warning("Vui lòng nhập thời gian kết thúc", "Thông Báo");
			if(!products)
				return toastr.warning("Vui lòng chọn sản phẩm", "Thông Báo");

			$(".model-create-trial-program").modal("hide");
			var infoImage;
			var infoBanner;
			let data = { trialProgramID, title, description, startTime, endTime, segments, products, content };
			if(image && image.length || banner && banner.length ){
				if(image.length){
					infoImage = {
						name: image[0].name,
						size: image[0].size
					}
					await addFileToUpload(image, links => {
						infoImage.path = links[0].uri;
						data.image = infoImage;
						ajaxUpdateTrialProgram(data);
					})
				}
				
				if(banner.length){
					infoBanner = {
						name: banner[0].name,
						size: banner[0].size
					}
					await addFileToUpload(banner, links => {
						infoBanner.path = links[0].uri;
						data.banner = infoBanner;
						ajaxUpdateTrialProgram(data);
					})
				}

			}else{
				ajaxUpdateTrialProgram(data);
			}
		})

		$('.btnRemoveTrialProgram').on('click', async function () {
			let trialProgramID = $(this).attr("_trialprogramid");
			if(!confirm("Bạn có chắc chắn xóa không?"))
				return;
			$.ajax({
				url: `/trial-program/remove-trial-program/${trialProgramID}`,
				method: 'GET',
				success: (resp) => {
					if (resp.error){
						toastr.error(resp.message, 'Thông báo');
					}else{
						toastr.info('Xóa thành công', 'Thông báo');
						$(this).closest('tr').remove();
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})

		$('.txtStatusTrialProgram').on('change', async function () {
			let trialProgramID = $(this).attr("id");
			let status = 0;
			if($(this).is(":checked")){
				status = 1;
			}
			$.ajax({
				url: `<%= CF_ROUTINGS_TRIAL_PROGRAM.UPDATE_TRIAL_PROGRAM_STATUS%>`,
				method: 'POST',
				data: { trialProgramID, status },
				success: (resp) => {
					if (resp.error){
						toastr.error(resp.message, 'Thông báo');
						$(this).prop('checked', false); 
					}else{
						toastr.info('Cập nhật thành công', 'Thông báo');
					}
				},
				error: function(error){
					console.log({ error })
				}
			});
		})
		
	})
</script>