<script>
    $(document).ready(function () {
        $(".table-list-reward").dataTable({
            ...languageDataTable
        });

        initEditor("#txtContentReward", {
            height: 300
        });

		$(".btnAddreward").on("click", function(){
            $(".model-create-reward").modal("show");
        })

        function ajaxAddReward(data){
			return $.ajax({
				url : '<%= CF_ROUTINGS_REWARD.ADD_REWARD %>',
				method : 'post',
				data: data,
				success : function(resp){
					console.log({ resp });
					let result = resp;
					if(result.error){
						return  toastr.warning('Thêm thất bại, có thể bạn chưa điền thiếu một thông tin nào đó', 'Thông báo');
					}else{
						toastr.success('Thêm thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					console.log({error})
					return  toastr.warning('Thêm thất bại', 'Thông báo')
				}
			});
		}

        $(".btnConfirmAddReward").on("click", async function(){
            let title = $("#txtTitleReward").val();
            let point = $("#txtPointReward").val();
            let startTime = $("#txtStartTimeReward").val();
            let endTime = $("#txtEndTimeReward").val();
            let image = $("#imageReward").prop('files');
            let brand = $("#txtBrandReward").val();
            let product = $("#txtProductReward").val();
            let content = tinyMCE.get('txtContentReward').getContent(); 
            let typeReward = $('#txtTypeReward').val(); 
            let amount = $('#txtAmountReward').val(); 
            let productID = $('#txtProductReward').val(); 

            let weight = $("#txtWeight").val();
            let length = $("#txtLength").val();
            let width  = $("#txtWidth").val();
            let height = $("#txtHeight").val();

            if(typeReward == 1 && !title)
				return toastr.warning("Vui lòng nhập tiêu đề", "Thông Báo");
            if(!point)
				return toastr.warning("Vui lòng nhập điểm quà tặng", "Thông Báo");
            if(!startTime)
				return toastr.warning("Vui lòng nhập thời gian bắt đầu", "Thông Báo");
            if(!endTime)
				return toastr.warning("Vui lòng nhập thời gian kết thúc", "Thông Báo");

            if(typeReward == 1 && !image.length)
				return toastr.warning("Vui lòng chọn hình ảnh", "Thông Báo");

            if(typeReward == 2 && !productID)
				return toastr.warning("Vui lòng chọn sản phẩm", "Thông Báo");

            if(!productID) {
                if (!weight) {
				    return toastr.warning("Vui lòng nhập Trọng lượng (gram)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(weight)) || Number(weight) < 0) {
				        return toastr.warning("Trọng lượng (gram) không hợp lệ", "Thông Báo");
                    }
                }

                if (!length) {
				    return toastr.warning("Vui lòng nhập Độ dài (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(length)) || Number(length) < 0) {
				        return toastr.warning("Độ dài (cm) không hợp lệ", "Thông Báo");
                    }
                }

                if (!width) {
				    return toastr.warning("Vui lòng nhập Độ rộng (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(width)) || Number(width) < 0) {
				        return toastr.warning("Độ rộng (cm) không hợp lệ", "Thông Báo");
                    }
                }

                if (!height) {
				    return toastr.warning("Vui lòng nhập Chiều cao (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(height)) || Number(height) < 0) {
				        return toastr.warning("Chiều cao (cm) không hợp lệ", "Thông Báo");
                    }
                }
            }

            $(".model-create-reward").modal("hide");

			let data = { title, point, startTime, endTime, content, brand, typeReward, productID, amount, weight, length, width, height };
            var infoImage;
			if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.image = infoImage;
					ajaxAddReward(data);
				})
			}else{
				ajaxAddReward(data);
			}
        })

        $(".btnUpdateReward").on("click", function(){
            $(".model-create-reward").modal("show");
            $(".btnConfirmAddReward").hide();
            $(".btnConfirmUpdateReward").show();
            let rewardID = $(this).attr("_rewardID");
            $(".btnConfirmUpdateReward").attr("_rewardID", rewardID);
            $.ajax({
                url: `/reward/info-reward/${rewardID}`,
                method: 'GET',
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        let { title, point, startTime, endTime, content, brand, type, gift, weight, length, width, height } = resp.data;
                        $("#txtTitleReward").val(title);
                        $("#txtPointReward").val(point);
                        $("#txtBrandReward").val(brand);
                        $("#txtStartTimeReward").val(moment(startTime).format().substr(0, 16));
                        $("#txtEndTimeReward").val(moment(endTime).format().substr(0, 16));
                        $("#txtTypeReward").val(type).trigger("change");
                        
                        $("#txtWeight").val(gift.item.weight);
                        $("#txtLength").val(gift.item.length);
                        $("#txtWidth").val(gift.item.width);
                        $("#txtHeight").val(gift.item.height);

                        if (content) {
                            tinyMCE.get('txtContentReward').setContent(content);
                        }

                        if(type == 2){
                            $("#txtProductReward").val(gift.item._id).trigger("change");
                        }
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

        function ajaxUpdateReward(data){
			return $.ajax({
				url : '<%= CF_ROUTINGS_REWARD.UPDATE_REWARD %>',
				method : 'post',
				data: data,
				success : function(resp){
                    console.log({ resp });
					let result = resp;
					if(result.error){
						return  toastr.warning('Cập nhật thất bại, có thể bạn chưa điền thiếu một thông tin nào đó', 'Thông báo');
					}else{
						toastr.success('Cập nhật thành công', 'Thông báo');
						setTimeout(() => {
							window.location.reload();
						}, 700);
					}
				},
				error : function(error){
					console.log({error})
					return  toastr.warning('Thêm thất bại', 'Thông báo')
				}
			});
		}

        $(".btnConfirmUpdateReward").on("click", async function(){
            let title = $("#txtTitleReward").val();
            let point = $("#txtPointReward").val();
            let startTime = $("#txtStartTimeReward").val();
            let endTime = $("#txtEndTimeReward").val();
            let image = $("#imageReward").prop('files');
            let brand = $("#txtBrandReward").val();
            let content = tinyMCE.get('txtContentReward').getContent();
            let rewardID = $(this).attr("_rewardID");
            let typeReward = $('#txtTypeReward').val(); 
            let amount = $('#txtAmountReward').val(); 
            let productID = $('#txtProductReward').val(); 

            let weight = $("#txtWeight").val();
            let length = $("#txtLength").val();
            let width  = $("#txtWidth").val();
            let height = $("#txtHeight").val();

            if(typeReward == 1 && !title)
				return toastr.warning("Vui lòng nhập tiêu đề", "Thông Báo");
            if(!point)
				return toastr.warning("Vui lòng nhập điểm quà tặng", "Thông Báo");
            if(!startTime)
				return toastr.warning("Vui lòng nhập thời gian bắt đầu", "Thông Báo");
            if(!endTime)
				return toastr.warning("Vui lòng nhập thời gian kết thúc", "Thông Báo");

            if(typeReward == 2 && !productID)
				return toastr.warning("Vui lòng chọn sản phẩm", "Thông Báo");

            if(!productID) {
                if (!weight) {
				    return toastr.warning("Vui lòng nhập Trọng lượng (gram)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(weight)) || Number(weight) < 0) {
				        return toastr.warning("Trọng lượng (gram) không hợp lệ", "Thông Báo");
                    }
                }

                if (!length) {
				    return toastr.warning("Vui lòng nhập Độ dài (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(length)) || Number(length) < 0) {
				        return toastr.warning("Độ dài (cm) không hợp lệ", "Thông Báo");
                    }
                }

                if (!width) {
				    return toastr.warning("Vui lòng nhập Độ rộng (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(width)) || Number(width) < 0) {
				        return toastr.warning("Độ rộng (cm) không hợp lệ", "Thông Báo");
                    }
                }

                if (!height) {
				    return toastr.warning("Vui lòng nhập Chiều cao (cm)", "Thông Báo");
                } else {
                    if (Number.isNaN(Number(height)) || Number(height) < 0) {
				        return toastr.warning("Chiều cao (cm) không hợp lệ", "Thông Báo");
                    }
                }
            }

            $(".model-create-reward").modal("hide");
            let data = { title, point, brand, startTime, endTime, content, rewardID, typeReward, productID, amount, weight, length, width, height };
            var infoImage;
			if(image && image.length){
				infoImage = {
					name: image[0].name,
					size: image[0].size
				}
				await addFileToUpload(image, links => {
					infoImage.path = links[0].uri;
					data.image = infoImage;
					ajaxUpdateReward(data);
				})
			}else{
				ajaxUpdateReward(data);
			}
        })

        // Xóa reward
        $(".btnDeleteReward").on("click", async function(){
            let rewardID = $(this).attr("_rewardID");
            let confirmRemove = confirm("Bạn có chắc chắn xóa không?");
            if(!confirmRemove)
                return;
            $.ajax({
                url: `/reward/update-stage-reward`,
                method: 'POST',
                data: { rewardID },
                success: function(resp) {
                    if (resp.error){
                        toastr.error('Thất Bại', 'Thông báo');
                    }else{
                        toastr.info('Xóa thành công', 'Thông báo');
                        setTimeout(() => {
                            window.location.reload();
                        }, 500);
                    }
                },
                error: function(error){
                    console.log({ error })
                }
            });
        })

        $("#txtProductReward").select2()
        $("#txtTypeReward").on("change", async function(){
            let typeValue = $(this).val();
            if(typeValue == 1){
                $(".form-container-detail-reward1").hide()
                $(".form-container-detail-reward2").show()
                $(".form-container-detail-reward3").show()
            }else{
                $(".form-container-detail-reward1").show()
                $(".form-container-detail-reward2").hide()
                $(".form-container-detail-reward3").hide()
            }
        })
    })
</script>