<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới thông báo của nhân viên</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/receiver_notification/list-receiver_notification">Quản lý thông báo của nhân viên</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="receiver_notification__order">
                                Thứ tự(Lấy từ noti cha)
                            </label>
                            <input type="number" class="form-control" id="receiver_notification__order" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="receiver_notification__receiver">
                                Nhân viên
                            </label>
                            <select class="form-select mt-2" id="receiver_notification__receiver" data-placeholder="Chọn Nhân viên">

                                <option value="null" selected disabled>Chọn Nhân viên</option>
                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <option value="<%= employee._id %>">
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="receiver_notification__notification">
                                Thông báo
                            </label>
                            <select class="form-select mt-2" id="receiver_notification__notification" data-placeholder="Chọn Thông báo">

                                <option value="null" selected disabled>Chọn Thông báo</option>
                                <% if(listNotifications && listNotifications.length){ %>
                                <% listNotifications.forEach(notification => { %>
                                <option value="<%= notification._id %>">
                                    <%= notification.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/receiver_notification/list-receiver_notification" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>