<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật Cấu hình danh sách sản phẩm thuộc MHTT của Tháng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/kpi_mhtt_config_products/list-kpi_mhtt_config_products">Quản lý Cấu hình danh sách sản phẩm thuộc MHTT của Tháng</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_mhtt_config_products__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="kpi_mhtt_config_products__month" value="<%= infoKpi_mhtt_config_products.month %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_mhtt_config_products__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="kpi_mhtt_config_products__year" value="<%= infoKpi_mhtt_config_products.year %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_mhtt_config_products__product">
                                Sản Phẩm <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="kpi_mhtt_config_products__product" data-placeholder="Chọn Sản Phẩm">

                                <% if(listProducts && listProducts.length){ %>
                                <% listProducts.forEach(product => { %>
                                <% let isSelect = (infoKpi_mhtt_config_products.product && infoKpi_mhtt_config_products.product._id.toString()) === product._id.toString() %>

                                <option value="<%= product._id %>" <%= isSelect && 'selected' %>>
                                    <%= product.productCode %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __kpi_mhtt_config_productsID="<%= infoKpi_mhtt_config_products._id %>">
                    Cập nhật
                </button>
                <a href="/kpi_mhtt_config_products/list-kpi_mhtt_config_products" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>