<script>
    $(document).ready(function() {

        $("#store__region").select2({
            width: "100%"
        });
        $("#store__region").val("<%= infoStore.region && infoStore.region._id %>").trigger('change');

        $("#store__area").select2({
            width: "100%"
        });
        $("#store__area").val("<%= infoStore.area && infoStore.area._id %>").trigger('change');

        $("#store__distributor").select2({
            width: "100%"
        });
        $("#store__distributor").val("<%= infoStore.distributor && infoStore.distributor._id %>").trigger('change');

        $("#store__status").select2({
            width: "100%"
        });
        $("#store__status").val("<%= infoStore.status %>").trigger('change');

        $("#store__brands").select2({
            width: "100%"
        });
        const listBrands = `<%= infoStore.brands && infoStore.brands.map(item => item._id) %>`.split(',');
        $("#store__brands").val(listBrands).trigger('change');

        $('#tableListCheckin_checkout').DataTable({
            'iDisplayLength': 100,
            "aaSorting": [],
            ...languageDataTable,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/checkin_checkout/list-checkin_checkout-server-side',
                "dataType": "json",
                data: d => ({
                    ...d,
                    showIndex: true,
                    store: `<%= infoStore._id %>`
                })
            },
            "columns": [
                {
                    "data": "index",
                },
                {
                    "data": "createAt"
                },
                {
                    "data": "employee"
                },
                {
                    "data": "store"
                },
                {
                    "data": "shift"
                }, 
                {
                    "data": "status"
                },
                {
                    "data": "checkin_checkout"
                },
            ],
        });

        initInputMaxLength('#store__code');
        initInputMaxLength('#store__name');
        initInputMaxLength('#store__phone');
        initInputMaxLength('#store__lat');
        initInputMaxLength('#store__lng');
        initInputMaxLength('#store__address');
        initInputMaxLength('#store__city');
        initInputMaxLength('#store__district');
        initInputMaxLength('#store__ward');
        initDropify('#store__avatar');

        $('#store__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#store__code', "Vui lòng nhập mã cửa hàng");
            } else {
                disableValidate('#store__code');
            }
        });

        $('#store__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#store__name', "Vui lòng nhập tên cửa hàng");
            } else {
                disableValidate('#store__name');
            }
        });

        // $('#store__phone').on('input', function() {
        //     const value = $(this).val();
        //     if (!value) {
        //         enableValidate('#store__phone', "Vui lòng nhập số điện thoại");
        //     } else {
        //         disableValidate('#store__phone');
        //     }
        // });

        $('#store__lat').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#store__lat', "Vui lòng nhập latitude");
            } else {
                disableValidate('#store__lat');
            }
        });

        $('#store__lng').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#store__lng', "Vui lòng nhập longtitude");
            } else {
                disableValidate('#store__lng');
            }
        });


        $('#store__region').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/store/list-area-by-parent?parent=" + value,
            }).done(resp => {
                $('#store__area').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#store__area').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        $('#store__area').on('change', function() {
            const value = $(this).val();
            $.ajax({
                type: "GET",
                url: "/employee/list-distributor-by-parent?area=" + value,
            }).done(resp => {
                $('#store__distributor').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#store__distributor').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let code = $('#store__code').val();
            let name = $('#store__name').val();
            let phone = $('#store__phone').val();
            let region = $('#store__region').val();
            let area = $('#store__area').val();
            let distributor = $('#store__distributor').val();
            let lat = $('#store__lat').val();
            let lng = $('#store__lng').val();
            let address = $('#store__address').val();
            let city = $('#store__city').val();
            let district = $('#store__district').val();
            let ward = $('#store__ward').val();
            let status = $('#store__status').val();
            let brands = $('#store__brands').val();
            let openTime = $('#store__opentime').val();
            let closeTime = $('#store__closetime').val();

            let cityName = $('#store__city option:selected').text();
            let districtName = $('#store__district option:selected').text();
            let wardName = $('#store__ward option:selected').text();

            return {
                code,
                name,
                phone,
                region,
                area,
                distributor,
                lat,
                lng,
                address,
                city,
                district,
                ward,
                cityName, districtName, wardName,
                status,
                brands,
                openTime,
                closeTime,
            };
        }

        const checkFormValid = params => {
            let {
                code,
                name,
                phone,
                region,
                area,
                distributor,
                lat,
                lng,
                address,
                city,
                district,
                ward,
                cityName, districtName, wardName,
                status,
                brands,
                openTime,
                closeTime,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'store__status'];
                enableValidate('#store__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('store__status')) {
                    disableValidate('#store__status');
                }
            }



            // if (!validPhoneNumber(phone)) {
            //     fieldsError = [...fieldsError, 'store__phone'];
            //     enableValidate('#store__phone', "Số điện thoại không đúng định dạng");
            // } else {
            //     if (!fieldsError.includes('store__phone')) {
            //         disableValidate('#store__phone');
            //     }
            // }


            if (!code.trim()) {
                fieldsError = [...fieldsError, 'store__code'];
                enableValidate('#store__code', "Vui lòng nhập mã cửa hàng");
            } else {
                if (!fieldsError.includes('store__code')) {
                    disableValidate('#store__code');
                }
            }

            if (!name.trim()) {
                fieldsError = [...fieldsError, 'store__name'];
                enableValidate('#store__name', "Vui lòng nhập tên cửa hàng");
            } else {
                if (!fieldsError.includes('store__name')) {
                    disableValidate('#store__name');
                }
            }

            // if (!phone.trim()) {
            //     fieldsError = [...fieldsError, 'store__phone'];
            //     enableValidate('#store__phone', "Vui lòng nhập điện thoại");
            // } else {
            //     if (!fieldsError.includes('store__phone')) {
            //         disableValidate('#store__phone');
            //     }
            // }

            if (!lat.trim()) {
                fieldsError = [...fieldsError, 'store__lat'];
                enableValidate('#store__lat', "Vui lòng nhập latitude");
            } else {
                if (!fieldsError.includes('store__lat')) {
                    disableValidate('#store__lat');
                }
            }

            if (!lng.trim()) {
                fieldsError = [...fieldsError, 'store__lng'];
                enableValidate('#store__lng', "Vui lòng nhập longtitude");
            } else {
                if (!fieldsError.includes('store__lng')) {
                    disableValidate('#store__lng');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_STORE.UPDATE_STORE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật cửa hàng thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.storeID = $(this).attr('__storeID');



            let avatarInputFiles = $("#store__avatar").prop('files');

            if (avatarInputFiles && avatarInputFiles.length) {
                const links = await getLinksUpload(avatarInputFiles);

                dataUpdate.avatar = {
                    name: links[0].fileName,
                    path: links[0].uri,
                    size: avatarInputFiles[0].size,
                }
            }

            callAjaxUpdate(dataUpdate);
        });


        //--------------------------------------------------------- Code thêm-------------------------------------------------------
        // Tạo sellect2 cho tỉnh thành quận huyện 
        $('#store__city').select2();
        $('#store__district').select2();
        $('#store__ward').select2();

        $('#store__city').on('change', function () {
            $("#store__district").empty();
            let value = $(this).val();

            // setSuccess("#store__city");
            if ( value && value != ""){
                $.ajax({
                    url: `/list-districts/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listDistricts } = resp;
                        let listDistrict = Object.entries(listDistricts);
                        let dataAppend = "";
                        listDistrict.forEach(district => {
                            dataAppend += `<option value="${district[1].code}">${district[1].name_with_type}</option>`
                        })
                        if (!resp.error){
                            $("#store__district").append(`<option id="emptyDistrict" value="" selected>Chọn Quận/Huyện</option>`);
                            $("#store__district").append(dataAppend);
                            $("#store__ward").empty();
                            $("#store__ward").append(`
                                <option id="emptyWard" value="">Chọn Phường</option>
                            `);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#store__district").append(`
                    <option id="emptyDistrict" value="">Chọn Quận/Huyện</option>
                `);
                $("#emptyDistrict").attr("selected", true);

                $("#store__ward").empty();
                $("#store__ward").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
            
        });

		//Xã, phường
        $('#store__district').on('change', function () {

            $("#store__ward").empty();
            let value = $(this).val();
            if ( value && value != ""){
                $.ajax({
                    url: `/list-wards/${value}`,
                    method: 'get',
                    success: resp => {
                        let { listWards } = resp;
                        let listWard = Object.entries(listWards);
                        let dataAppend = "";
                        listWard.forEach(ward => {
                            dataAppend += `<option value="${ward[1].code}">${ward[1].name_with_type}</option>`
                        })


                        if (!resp.error){
                            $("#store__ward").append(`<option id="emptyWard" value="" selected>Chọn Phường</option>`);
                            $("#store__ward").append(dataAppend);
                        }else{
                            return toastrError(`Thất bại`);
                        }
                    },
                    error: function(err) {
                        return toastrError(`Xóa thất bại`);
                    }
                });
            }else{
                $("#store__ward").append(`
                    <option id="emptyWard" value="">Chọn Phường</option>
                `);
                $("#emptyWard").attr("selected", true);
            }
        });
    })
</script>