<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới sản phẩm</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/product/list-product">Quản lý sản phẩm</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="product__productcode">
                                Mã sản phẩm <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__productcode" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__name">
                                Tên sản phẩm <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__name" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__sku">
                                SKU <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__sku" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__price">
                                Đơn giá <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="product__price" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="product__brand">
                                Thương hiệu <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="product__brand" data-placeholder="Chọn Thương hiệu">

                                <option value="null" selected disabled>Chọn Thương hiệu</option>
                                <% if(listBrands && listBrands.length){ %>
                                <% listBrands.forEach(brand => { %>
                                <option value="<%= brand._id %>">
                                    <%= brand.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__isselling">
                                Hàng Bán
                            </label>
                            <select class="form-select mt-2" id="product__isselling">
                                <option selected disabled>Chọn Hàng Bán</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__isgift">
                                Hàng Tặng
                            </label>
                            <select class="form-select mt-2" id="product__isgift">
                                <option selected disabled>Chọn Hàng Tặng</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__istrialprogram">
                                Hàng dùng thử
                            </label>
                            <select class="form-select mt-2" id="product__istrialprogram">
                                <option selected disabled>Chọn Hàng dùng thử</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/product/list-product" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>