<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>

<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật sản phẩm</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/product/list-product">Quản lý sản phẩm</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="product__productcode">
                                Mã sản phẩm <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__productcode" value="<%= infoProduct.productCode %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__name">
                                Tên sản phẩm <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__name" value="<%= infoProduct.name %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__sku">
                                SKU <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="product__sku" value="<%= infoProduct.SKU %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__price">
                                Đơn giá <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="product__price" value="<%= infoProduct.price %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__criteria">
                                Tiêu chí áp dụng
                            </label>
                            <select class="form-select mt-2" id="product__criteria" data-placeholder="Chọn tiêu chí" multiple>
                                <% if(listCriterias && listCriterias.length){ %>
                                    <% listCriterias.forEach(criteria => { %>
                                        <option value="<%= criteria._id %>" <% if (listProductCriterias.includes(criteria._id.toString())) { %>
                                            selected
                                        <% } %>>
                                            <%= criteria.name %>
                                        </option>
                                    <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__variants">
                                Variant
                            </label>
                            <select class="form-select mt-2" id="product__variants" data-placeholder="Chọn tiêu chí" multiple>
                                    <% variants.forEach(variant => { %>
                                        <option value="<%= variant.value %>" <% if (infoProduct?.variants?.includes( variant.value)) { %>
                                            selected
                                        <% } %>>
                                            <%= variant.text %>
                                        </option>
                                    <% }) %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label" for="product__brand">
                                Thương hiệu <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="product__brand" data-placeholder="Chọn Thương hiệu">

                                <option value="null" selected disabled>Chọn Thương hiệu</option>
                                <% if(listBrands && listBrands.length){ %>
                                    <% listBrands.forEach(brand => { %>
                                        <option value="<%= brand._id %>" <% if (infoProduct.brand == brand._id) { %>
                                            selected
                                        <% } %>>
                                            <%= brand.name %>
                                        </option>
                                    <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__isselling">
                                Hàng Bán
                            </label>
                            <select class="form-select mt-2" id="product__isselling">
                                <option selected disabled>Chọn Hàng Bán</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__isgift">
                                Hàng Tặng
                            </label>
                            <select class="form-select mt-2" id="product__isgift">
                                <option selected disabled>Chọn Hàng Tặng</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__istrialprogram">
                                Hàng dùng thử
                            </label>
                            <select class="form-select mt-2" id="product__istrialprogram">
                                <option selected disabled>Chọn Hàng dùng thử</option>
                                <option value="1">Có</option>
                                <option value="2">Không</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__status">
                                Trạng thái
                            </label>
                            <select class="form-select mt-2" id="product__status">
                                <option selected disabled>Chọn Trạng thái</option>
                                <option value="1">Hoạt động</option>
                                <option value="2">Không hoạt động</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="product__specifications">
                                Quy cách
                            </label>
                            <select class="form-select mt-2" id="product__specifications">
                                <option selected disabled>Chọn quy cách</option>
                                <% specifications.forEach(specification => { %>
                                    <option value="<%= specification.value %>" <% if (specification.value == infoProduct.specification ) { %>
                                        selected
                                    <% } %>>
                                        <%= specification.text %>
                                    </option>
                                <% }) %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __productID="<%= infoProduct._id %>">
                    Cập nhật
                </button>
                <a href="/product/list-product" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>