<script>
    $(document).ready(function() {

        $("#receiver_notification__receiver").select2({
            width: "100%"
        });
        $("#receiver_notification__receiver").val("<%= infoReceiver_notification.receiver && infoReceiver_notification.receiver._id %>").trigger('change');

        $("#receiver_notification__notification").select2({
            width: "100%"
        });
        $("#receiver_notification__notification").val("<%= infoReceiver_notification.notification && infoReceiver_notification.notification._id %>").trigger('change');

        $("#receiver_notification__status").select2({
            width: "100%"
        });
        $("#receiver_notification__status").val("<%= infoReceiver_notification.status %>").trigger('change');








        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let receiver = $('#receiver_notification__receiver').val();
            let notification = $('#receiver_notification__notification').val();
            let status = $('#receiver_notification__status').val();

            let order = $('#receiver_notification__order').val();

            return {
                receiver,
                notification,
                status,
                order,
            };
        }

        const checkFormValid = params => {
            let {
                receiver,
                notification,
                status,
                order,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'receiver_notification__status'];
                enableValidate('#receiver_notification__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('receiver_notification__status')) {
                    disableValidate('#receiver_notification__status');
                }
            }




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_RECEIVER_NOTIFICATION.UPDATE_RECEIVER_NOTIFICATION_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật thông báo của nhân viên thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.receiver_notificationID = $(this).attr('__receiver_notificationID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>