<script>
	$(document).ready(function () {

		$('#tableListTransaction').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		});

		$('#scTransactionCustomerFilter').select2({
            minimumInputLength: 3,
            ajax: {
                url: `/api/customer/list-customer`,
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({ keyword: params.term, page: params.page || 1 }),
                processResults: (data, params) => ({
					results: $.map(data.data?.listCustomers, item => ({
						text: `${item.fullname} - ${item.phone}`,
						id: item._id
					})),
					pagination: {
						more: true
					}
				})
            }
        });

		$('#scTransactionStatusFilter').select2({ width: 'resolve' });
		$('#scTransactionBankCodeFilter').select2({ width: 'resolve' });

		let urlParams = new URLSearchParams(location.search);
		let statusParam = urlParams.get('status');
		let customerParam = urlParams.get('customerID');
		let bankCodeParam = urlParams.get('bankCode');
		let fromPriceParam = urlParams.get('fromPrice');
		let toPriceParam = urlParams.get('toPrice');
		let fromDateParam = urlParams.get('fromDate');
		let toDateParam = urlParams.get('toDate');

		statusParam 	&& $('#scTransactionStatusFilter').val(statusParam).trigger('change');
		customerParam 	&& $('#scTransactionCustomerFilter').val(customerParam).trigger('change');
		bankCodeParam 	&& $('#scTransactionBankCodeFilter').val(bankCodeParam).trigger('change');
		fromPriceParam 	&& $('#inputFromPrice').val(fromPriceParam).trigger('change');
		toPriceParam 	&& $('#inputToPrice').val(toPriceParam).trigger('change');
		fromDateParam 	&& $('#inputFromDate').val(fromDateParam).trigger('change');
		toDateParam 	&& $('#inputToDate').val(toDateParam).trigger('change');

		let cleaveFromPrice = new Cleave('#inputFromPrice', {
            numeral: true,
            numeralDecimalMark: ',',
            delimiter: '.'
        })
		let cleaveToPrice = new Cleave('#inputToPrice', {
            numeral: true,
            numeralDecimalMark: ',',
            delimiter: '.'
        })
		
		function setRowTableTransaction(infoTransaction, index) {
			let transactionStatus = {};
			switch (infoTransaction.status) {
				case 0:
					transactionStatus = {
						text: 'Chưa thanh toán',
						class: 'badge-danger'
					};
					break;
				case 1:
					transactionStatus = {
						text: 'Đã thanh toán',
						class: 'badge-success'
					};
					break;
				default:
					break;
			}

			return `
				<tr>
					<th> ${index + 1} </th>
					<td>
						<i> ${infoTransaction.transactionID} </i>
					</td>
					<td>
						<i> ${infoTransaction.customer ? infoTransaction.customer.fullname : ''} </i>
					</td>
					<td>
						<i> ${infoTransaction.orderInfo} </i>
					</td>
					<td>
						<i> ${formatter.format(infoTransaction.amount)} </i>
					</td>
					<td>
						<i> ${infoTransaction.bankCode} </i>
					</td>
					<td>
						<i> ${infoTransaction.order ? infoTransaction.order.orderID : ''} </i>
					</td>
					<td>
						<i> ${infoTransaction.locale ? infoTransaction.locale : ''} </i>
					</td>
					<td>
						<i> ${infoTransaction.ipAddr} </i>
					</td>
					<td>
						<i> ${moment(infoTransaction.createAt).format('L')} </i>
					</td>
					<td>
						<span class="badge badge-pill ${transactionStatus.class}">
							${transactionStatus.text}
						</span>
					</td>
				</tr>
			`;
		}

		function changeQuery(value, query, wait = false) {
			if(!value || +value === -1){
				urlParams.delete(query);
			} else{
				urlParams.set(query, value);
			}
			!wait && location.replace('/transaction/list-transaction?' + urlParams.toString());
		}

		$('#btnTransactionFilter').on('click', function () {
			const status	 = $('#scTransactionStatusFilter').val();
			const customerID = $('#scTransactionCustomerFilter').val();
			const bankCode	 = $('#scTransactionBankCodeFilter').val();
			const fromDate   = $('#inputFromDate').val();
			const toDate 	 = $('#inputToDate').val();
			const fromPrice	 = cleaveFromPrice.getRawValue();
			const toPrice 	 = cleaveToPrice.getRawValue();

			changeQuery(fromDate, 'fromDate', true);
			changeQuery(toDate, 'toDate', true);
			changeQuery(fromPrice, 'fromPrice', true);
			changeQuery(toPrice, 'toPrice', true);
			changeQuery(status, 'status', true);
			changeQuery(customerID, 'customerID', true);
			changeQuery(bankCode, 'bankCode');
		});

		$('#input-search-transaction').on('keyup', debounce(function () {
			const keyword = $(this).val().trim();

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_TRANSACTION.API_LIST_TRANSACTION_FILTER %>?keyword=${keyword}`
			}).done(resp => {
				const { error, message, data } = resp;

				if(error){
					return toastr.warning('Không tìm thấy giao dịch trùng khớp', 'THÔNG BÁO');
				}

				let htmlRowTableTransaction = '';
				data.listTransaction.map((order, index) => {
					htmlRowTableTransaction += setRowTableTransaction(order, index);
				})
				$('#tableListTransaction tbody').html(htmlRowTableTransaction);

			}).fail(err => console.error(err))
		}, 1000));

	});
</script>