<script>
	$(document).ready(function() {
		$('#tableListCategory').DataTable({
			'iDisplayLength': 100,
			...languageDataTable,
			"columns": [
				{ "width": "5%" },
				{ "width": "15%" },
				{ "width": "10%" },
				{ "width": "10%"  },
				{ "width": "25%" },
				{ "width": "10%" },
				{ "width": "10%" },
			]
		});

		$('.select-type-CTA').on('change', function(){
			let type = $(this).val();
			if(Number(type) == 1){
				//List segemnt
				let valueCTA = $(this).parents('.item-banner').find(".select-CTA").attr("_valueCTA");
				$.ajax({
					url: `/segment/list-segment?type=api`,
					method: 'GET',
					success: (resp) => {
						console.log({ resp });
						if(!resp.error){
							let listSegment = resp.data;
							let dataAppend = '';
							if(listSegment && listSegment.length){
								listSegment.forEach(segment => {
									if(valueCTA.toString().trim() == segment._id.toString().trim()){
										dataAppend += `<option selected value="${segment._id}">${segment.name}</option>`;
									}else{
										dataAppend += `<option value="${segment._id}">${segment.name}</option>`;
									}
								})
							}else{
								dataAppend += `<option value="">Không có segment nào</option>`;
							}
							$(this).parents('.item-banner').find(".select-CTA").empty();
							$(this).parents('.item-banner').find(".select-CTA").append(dataAppend);
						}else{
							toastr.warning('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
						}
					},
					error: function(){
						toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
					}
				})
			}

			if(Number(type) == 2){
				//List brand
				let valueCTA = $(this).parents('.item-banner').find(".select-CTA").attr("_valueCTA");
				$.ajax({
					url: `/brand/list-brand-enduser`,
					method: 'GET',
					success: (resp) => {
						console.log({ resp });
						if(!resp.error){
							let listBrand = resp.data && resp.data.listBrand;
							let dataAppend = '';
							if(listBrand && listBrand.length){
								listBrand.forEach(brand => {
									if(valueCTA.toString().trim() == brand._id.toString().trim()){
										dataAppend += `<option selected value="${brand._id}">${brand.name}</option>`;
									}else{
										dataAppend += `<option value="${brand._id}">${brand.name}</option>`;
									}
								})
							}else{
								dataAppend += `<option value="">Không có danh mục nào</option>`;
							}
							$(this).parents('.item-banner').find(".select-CTA").empty();
							$(this).parents('.item-banner').find(".select-CTA").append(dataAppend);
						}else{
							toastr.warning('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
						}
					},
					error: function(){
						toastr.error('Có lỗi sảy ra vui lòng thử lại', 'Thông báo');
					}
				})
			}
			
			if(Number(type) == 3){
				$(this).parents('.item-banner').find(".select-CTA").empty();
				$.ajax({
					url: `/trial-program/info-trial-program-current-for-admin`,
					method: 'GET',
					success: (resp) =>{
						if (resp.error){
							toastr.error('Hiện tại không có trial program nào đang chạy', 'Thông báo');
						}else{
							let { title, _id } = resp.data;
							$(this).parents('.item-banner').find(".select-CTA").append(`
								<option value="${_id}">${title}</option>
							`);
						}
					},
					error: function(error){
						console.log({ error })
					}
				});
			}
			
		}).change()

		function checkProductExisted(categoryID) {
			return new Promise(resolve => {
				$.ajax({
					url: `/api/product/list-product-category/${categoryID}`,
					method: 'GET',
					success: resp => {
						return resolve(resp)
					}
				})
			})
		}

		$('.btnDeleteCategory').on('click', async function(){	
			const categoryID = $(this).attr('_categoryID');
			let dataCheck = await checkProductExisted(categoryID);
			
			let text = 'Bạn có thực sự muốn xóa danh mục không?';

			if (!dataCheck.error && dataCheck.data.length) {
				text = 'Danh mục này có chứa sản phẩm, Bạn có chắc chắn muốn xóa?'
			}

			if(confirm(text)) {
				$.ajax({
					url: `/category/remove-category/${categoryID}`,
					type: 'GET'
				}).done(resp => {
					let { error, message } = resp;

					if(error){
						return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
					}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO'))
			}
		});
		
		$("#categoryImage, #categoryImageUpdate").on('change', changePreviewImage);

		function ajaxAddCategory({ dataCategoryInsert, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataCategoryInsert));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `/category/add-category`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
				success: function(resp) {
					if(resp.error)
						return toastr.warning(`Thêm danh mục thất bại: ${resp.message}`, 'THÔNG BÁO');
					else {
						toastr.success('Thêm danh mục thành công', 'THÔNG BÁO');
						setTimeout(() => location.href = '/category/list-category', 1000)
					}
				}
            })
			// .done(resp => {
            //     let { error, message } = resp;

			// 	if(error)
			// 		return toastr.error(`Thêm danh mục thất bại: ${message}`, 'THÔNG BÁO');

            //     toastr.success("Thêm danh mục thành công", "THÔNG BÁO");
            //     setTimeout(() => location.href = '/category/list-category', 1000)
            // }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

		// xác nhận tạo danh mục
		$('#btnAddCategory').on('click', async function(){
			const title       = $('#txtTitle').val();
			const description = $('#txtDescription').val();
			const status      = $('#txtStatus').val();

			if(!title)
				return toastr.warning('Vui lòng nhập tên danh mục', 'THÔNG BÁO');
			
			if(!description)
				return toastr.warning('Vui lòng nhập mô tả', 'THÔNG BÁO');

			let dataCategoryInsert = { title, description, status };
			let image = $('#categoryImage').prop('files');
			dataCategoryInsert.pathImage = [];
			dataCategoryInsert.pathGallerys = [];

			let gallery = [];
			let singleImg = [];

			if(imgGalleryInsert && imgGalleryInsert.length){
				let multiInput = imgGalleryInsert;
				let arr_img_category = await addFileToUpload(multiInput, links => {
					links.forEach((item, index) => {
						gallery[index] = item.uri;
					})
				});
				gallery = arr_img_category().map(item => item.uri);
				dataCategoryInsert.pathGallerys = gallery;
			}

			if(image && image.length){
				let single_img_category = await addFileToUpload(image);
				singleImg = single_img_category().map(item => item.uri);
				dataCategoryInsert.pathImage = singleImg;
			}

			console.log({ dataCategoryInsert, image })

			ajaxAddCategory({ dataCategoryInsert, image });
		});

		function ajaxUpdateCategory({ dataCategoryUpdate, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataCategoryUpdate));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `/category/update-category?categoryID=${dataCategoryUpdate.categoryID}`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
				success: function(resp) {
					if(resp.error)
						return toastr.warning(`Cập nhật danh mục thất bại: ${resp.message}`, 'THÔNG BÁO');
					else {
						toastr.success("Cập nhật danh mục thành công", "THÔNG BÁO");
						setTimeout(() => {
							location.reload();
						}, 500);
					}
				}
            })
		}

		// xác nhận cập nhật
		$('#btnUpdateCategory').on('click', async function(){
			const categoryID = $(this).attr('_categoryID');
			const title = $('#txtTitleUpdate').val();
			const description = $('#txtDescriptionUpdate').val();
			const status = $('#txtStatusUpdate').val();

			let arrObjectImageCTA = [];
			$(".img-wraps").each(function(index) {
				let imageID = $(this).attr("_imageID");
				let order = $(`#txtOrder_${imageID}`).val();
				let typeCTA = $(`#select-type-CTA_${imageID}`).val();
				let valueCTA = $(`#select-CTA_${imageID}`).val();
				arrObjectImageCTA.push({ imageID, order, typeCTA, valueCTA })
			});
			
			if(!title)
				return toastr.warning('Vui lòng nhập tên danh mục', 'THÔNG BÁO');
			
			if(!description)
				return toastr.warning('Vui lòng nhập mô tả', 'THÔNG BÁO');

			const dataCategoryUpdate = { title, description, status, arrObjectImageCTA };

			let image = $('#categoryImageUpdate').prop('files');
			dataCategoryUpdate.categoryID = categoryID;
			dataCategoryUpdate.pathImage = [];
			dataCategoryUpdate.pathGallerysUpdate = [];
			dataCategoryUpdate.imgGalleryOldIsDeleted = imgGalleryOldIsDeleted;

			let galleryUpdate = [];
			let singleImgUpdate = [];

			if(imgGalleryUpdate && imgGalleryUpdate.length){
				let multiInput = imgGalleryUpdate;
				let arr_img_brand_update = await addFileToUpload(multiInput, links => {
					links.forEach((item, index) => {
						galleryUpdate[index] = item.uri;
					})
				});
				galleryUpdate = arr_img_brand_update().map(item => item.uri);
				dataCategoryUpdate.pathGallerysUpdate = galleryUpdate;
			}

			if(image && image.length){
				let single_img_brand_update = await addFileToUpload(image);
				singleImgUpdate = single_img_brand_update().map(item => item.uri);
				dataCategoryUpdate.pathImage = singleImgUpdate;
			}

			ajaxUpdateCategory({ dataCategoryUpdate, image });
		});

		let imgGalleryInsert = [];
        let imgGalleryOldDelete = [];
        let imgGalleryOldIsDeleted = [];
		let imgGalleryUpdate = [];

		$(document).on("change", "#btnUploadGallery", function(){
			let idImage     = '.image-gallery';
			let idImageUpdate = '.image-gallery-update';

			let arrImgCus = $("#btnUploadGallery")[0].files;
			for( let i = 0; i < arrImgCus.length; i++){
				imgGalleryInsert[imgGalleryInsert.length] = arrImgCus[i];
			}
			let type = "imgGalleryInsert";

			readURLGallery(this, idImage, type);
		});

		$(document).on("change", "#btnUploadGalleryUpdate", function(){
			let idImageUpdate = '.image-gallery-update';

			let arrImgGallery = $("#btnUploadGalleryUpdate")[0].files;
			for( let i = 0; i < arrImgGallery.length; i++){
				imgGalleryUpdate.push(arrImgGallery[i]);
			}
			let type = "imgGalleryUpdate";
			readURLGallery(this, idImageUpdate, type);
		});

		$(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if(type == "imgGalleryInsert"){
                imgGalleryInsert.forEach( ( imgNew, index ) => {
                    if ( imgNew.name == imgName ){
                        imgGalleryInsert.splice(index, 1);
                        $(this).parent().remove();
                    }
                })
            }

            if (type == "imgGalleryUpdate"){
                if( imgID && imgID.length ){
					let obj = {
						id: imgID,
						name: imgName
					}
					imgGalleryOldIsDeleted[imgGalleryOldIsDeleted.length] = obj;
					$(this).parents('.item-banner').remove();
                }else{
                    imgGalleryUpdate.forEach((imgUpdate, index) => {
                        if (imgUpdate.name == imgName){
                            imgGalleryUpdate.splice(index, 1);
                            $(this).parent().remove();
                        }
                    })
                }
            }
        }); 

		$(document).on('keyup', '#txtSTT', function() {
            let categoryID = $(this).attr('_categoryID');
            let value     = $(this).val();
            $.ajax({
                url: '<%= CF_ROUTINGS_CATEGORY.UPDATE_CATEGORY_STATUS %>',
                method: 'POST',
                data: {
                    stt: value, categoryID
                }, 
                success: resp => {
                    // console.log({ resp});
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thứ tự thành công', 'THÔNG BÁO');
                    }
                }
            })
        });

	});
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">