<script>
    $(document).ready(function() {

        $("#kpi_sbd_require__product").select2({
            width: "100%"
        });
        $("#kpi_sbd_require__product").val("<%= infoKpi_sbd_require.product && infoKpi_sbd_require.product._id %>").trigger('change');







        $('#kpi_sbd_require__month_apply').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_require__month_apply', "Vui lòng nhập tháng thứ áp dụng");
            } else {
                disableValidate('#kpi_sbd_require__month_apply');
            }
        });

        $('#kpi_sbd_require__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_require__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#kpi_sbd_require__month');
            }
        });

        $('#kpi_sbd_require__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#kpi_sbd_require__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#kpi_sbd_require__year');
            }
        });



        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let product = $('#kpi_sbd_require__product').val();

            let month_apply = $('#kpi_sbd_require__month_apply').val();

            let month = $('#kpi_sbd_require__month').val();

            let year = $('#kpi_sbd_require__year').val();

            return {
                product,
                month_apply,
                month,
                year,
            };
        }

        const checkFormValid = params => {
            let {
                product,
                month_apply,
                month,
                year,
            } = params;
            let fieldsError = [];




            if (!product) {
                fieldsError = [...fieldsError, 'kpi_sbd_require__product'];
                enableValidate('#kpi_sbd_require__product', "Vui lòng chọn sản phẩm");
            } else {
                if (!fieldsError.includes('kpi_sbd_require__product')) {
                    disableValidate('#kpi_sbd_require__product');
                }
            }

            if (!month_apply) {
                fieldsError = [...fieldsError, 'kpi_sbd_require__month_apply'];
                enableValidate('#kpi_sbd_require__month_apply', "Vui lòng nhập tháng thứ áp dụng");
            } else {
                if (!fieldsError.includes('kpi_sbd_require__month_apply')) {
                    disableValidate('#kpi_sbd_require__month_apply');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'kpi_sbd_require__month'];
                enableValidate('#kpi_sbd_require__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('kpi_sbd_require__month')) {
                    disableValidate('#kpi_sbd_require__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'kpi_sbd_require__year'];
                enableValidate('#kpi_sbd_require__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('kpi_sbd_require__year')) {
                    disableValidate('#kpi_sbd_require__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SBD_REQUIRE.UPDATE_KPI_SBD_REQUIRE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật KPI Chỉ Tiêu SBD (Sản Phẩm Nổi Bật) thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.kpi_sbd_requireID = $(this).attr('__kpi_sbd_requireID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>