<script>
    $(document).ready(function() {

        $('#calendar_task_na__employee').select2({ width: "100%" });
        $('#calendar_task_na__employee').val("<%= infoCalendar_task_NA.employee && infoCalendar_task_NA.employee._id %>").trigger('change')

        $('#calendar_task_na__store').select2({
            minimumInputLength: 3,
            ajax: {
                url: `/api/store/list-stores`,
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({ search: params.term }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: `${item.name} - ${item.code}`,
                        id: item._id
                    }))
                })
            }
        });

        $('#calendar_task_na__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#calendar_task_na__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#calendar_task_na__month');
            }
        });

        $('#calendar_task_na__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#calendar_task_na__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#calendar_task_na__year');
            }
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });

        const getFormUpdate = () => {
            let store = $('#calendar_task_na__store').val();
            let employee = $('#calendar_task_na__employee').val();
            let month = $('#calendar_task_na__month').val();
            let year = $('#calendar_task_na__year').val();

            return {
                store,
                employee,
                month,
                year,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                month,
                year,
            } = params;
            let fieldsError = [];

            if (!month) {
                fieldsError = [...fieldsError, 'calendar_task_na__month'];
                enableValidate('#calendar_task_na__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('calendar_task_na__month')) {
                    disableValidate('#calendar_task_na__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'calendar_task_na__year'];
                enableValidate('#calendar_task_na__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('calendar_task_na__year')) {
                    disableValidate('#calendar_task_na__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                url: "<%= CF_ROUTINGS_CALENDAR_TASK_NA.UPDATE_CALENDAR_TASK_NA_BY_ID %>",
                method: 'PUT',
                data: dataUpdate,
            }).done(resp => {
                const {
                    error,
                    message
                } = resp;

                if (error) {
                    return AlertCustom({
                        title: 'THÔNG BÁO',
                        message: message,
                        icon: 'warning'
                    });
                }

                AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Cập nhật lịch làm việc NA thành công",
                    icon: 'info'
                });
            })
            .fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
            .always(() => {
                disableButtonLoading('#btnConfirmUpdate');
                $('#btnConfirmUpdate').attr('disabled', true);
            })
        }

        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.calendar_task_naID = $(this).attr('__calendar_task_naID');
            callAjaxUpdate(dataUpdate);
        });
    })
</script>