<script>
    $(document).ready(function() {


        $("#products_criteria__product").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/product/list-products',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.name,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#products_criteria__criteria").select2({
            width: "100%"
        });

        $("#products_criteria__status").select2({
            width: "100%"
        });








        const getFormInsert = () => {

            let product = $('#products_criteria__product').val();

            let criteria = $('#products_criteria__criteria').val();
            let status = $('#products_criteria__status').val();

            return {
                product,
                criteria,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                product,
                criteria,
                status,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'products_criteria__status'];
                enableValidate('#products_criteria__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('products_criteria__status')) {
                    disableValidate('#products_criteria__status');
                }
            }




            if (!product) {
                fieldsError = [...fieldsError, 'products_criteria__product'];
                enableValidate('#products_criteria__product', "Vui lòng chọn sản phẩm");
            } else {
                if (!fieldsError.includes('products_criteria__product')) {
                    disableValidate('#products_criteria__product');
                }
            }

            if (!criteria) {
                fieldsError = [...fieldsError, 'products_criteria__criteria'];
                enableValidate('#products_criteria__criteria', "Vui lòng chọn tiêu chí");
            } else {
                if (!fieldsError.includes('products_criteria__criteria')) {
                    disableValidate('#products_criteria__criteria');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_PRODUCTS_CRITERIA.ADD_PRODUCTS_CRITERIA %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm tiêu chí sản phẩm thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>