<script>
    $(document).ready(function() {


        $("#user_fields_register_trial_program__field").select2({
            width: "100%"
        });


        initInputMaxLength('#user_fields_register_trial_program__value');





        const getFormInsert = () => {

            let field = $('#user_fields_register_trial_program__field').val();

            let value = $('#user_fields_register_trial_program__value').val();

            return {
                field,
                value,
            };
        }

        const checkFormValid = params => {
            let {
                field,
                value,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_USER_FIELDS_REGISTER_TRIAL_PROGRAM.ADD_USER_FIELDS_REGISTER_TRIAL_PROGRAM %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm Bảng lưu những giá trị mà khách hàng nhập hoặc chọn những trường cấu hình thêm khi đăng ký dùng thử trialprogram thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>