<script>
    $(document).ready(function() {

        $("#user_fields_register_trial_program__field").select2({
            width: "100%"
        });
        $("#user_fields_register_trial_program__field").val("<%= infoUser_fields_register_trial_program.field && infoUser_fields_register_trial_program.field._id %>").trigger('change');



        initInputMaxLength('#user_fields_register_trial_program__value');





        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let field = $('#user_fields_register_trial_program__field').val();
            let value = $('#user_fields_register_trial_program__value').val();

            return {
                field,
                value,
            };
        }

        const checkFormValid = params => {
            let {
                field,
                value,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_USER_FIELDS_REGISTER_TRIAL_PROGRAM.UPDATE_USER_FIELDS_REGISTER_TRIAL_PROGRAM_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật Bảng lưu những giá trị mà khách hàng nhập hoặc chọn những trường cấu hình thêm khi đăng ký dùng thử trialprogram thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.user_fields_register_trial_programID = $(this).attr('__user_fields_register_trial_programID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>