<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách danh mục</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/category/list-category">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách danh mục</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
                                <a style="margin-bottom: 15px;" href="#" class="btn btn-outline-success waves-effect waves-light btnCreateCategoryBlog">
                                    <i class="fas fa-plus-circle"></i> Tạo danh mục bài viết
                                </a>
							</div>
                            <table class="content-table" id="tableListCategoryBlog">
								<thead>
									<tr>
										<th>STT</th>
                                        <th>Hình ảnh</th>
										<th>Tên danh mục</th>
										<th>Mô tả</th>
										<th>Trạng thái</th>
										<th>Tùy chọn</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listCategoryBlog && listCategoryBlog.length) { %>
                                        <% listCategoryBlog.forEach((category, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                                <td>
													<% if (category && category.image) { %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="<%= loadPathImage(category.image.path) %>">
													<% } else{ %>
														<img class="img-fluid img-thumbnail rounded" style="height: 75px; width: 75px;" src="/template/admin/img/75x75.png">
													<% } %>
												</td>
                                                <td><a href="/category/info-detail-category/<%= category._id %>"><%= category.title %></a></td>
                                                <td><%= category.description.length > 75 ? category.description.substr(0, 75).concat('...') : category.description %></td>
												<td>
                                                    <% if(category.status) { %>
                                                        <span class="badge badge-pill badge-success" style="padding: 10px; font-size: 10px;">
                                                            Hoạt Động 
                                                        </span> 
                                                    <% } else { %>
                                                        <span class="badge badge-danger" style="padding: 10px; font-size: 10px;"> 
                                                            Không Hoạt Động 
                                                        </span>
                                                    <% } %>
												</td>
												<td>
													<div class="btn-group mb-2">
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
															Thao Tác
														</button>
														<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<span class="sr-only">...</span>
														</button>
														<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
															<a class="dropdown-item btnUpdateCategory" _categoryID="<%= category._id %>" href="#">
                                                                <i class="fa fa-edit"></i>
                                                                Sửa Thông Tin
                                                            </a>
															<a class="dropdown-item btnDeleteCategory" href="javascript:void(0)" _categoryID="<%= category._id %>">
                                                                <i class="fa fa-trash"></i>
                                                                Xóa
                                                            </a>
														</div>
													</div>
												</td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="formCreateCategoryBlog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tạo danh mục bài viết</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card m-b-20">
                                <div class="card-body">
                                    <div class="col">
                                        <div class="form-group row pt-3">
                                            <label for="example-text-input" class="col-sm-2 col-form-label"><b>Tiêu đề</b></label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" placeholder="Nhập tên danh mục" id="txtTitle">
                                            </div>
                                        </div>
                                        <div class="form-group row pt-3 select-status">
                                            <label for="example-text-input" class="col-sm-2 col-form-label"><b>Trạng thái</b></label> 
                                            <div class="col-sm-10">
                                                <select class="form-control" id="txtStatus">
                                                    <option value="1" selected>Hoạt động</option>
                                                    <option value="0">Không hoạt động</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row pt-3">
                                            <label for="example-text-input" class="col-sm-2 col-form-label"><b>Mô Tả</b></label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="txtDescription" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label><b>Hình Ảnh</b></label>
                                        <br>
                                        <div class="container">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type="file" id="categoryImage" accept=".png, .jpg, .jpeg" />
                                                    <label for="categoryImage"></label>
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddCategoryBlog" >Thêm Mới</button>
                                            <a href="" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Đóng</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
  </div>