<script>
    $(document).ready(function() {
        let QUANTITYCleave = initOneCleave("#kpi_salein_actually__quantity");


        $("#kpi_salein_actually__store").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/store/list-stores',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.code,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_salein_actually__employee").select2({
            width: "100%"
        });

        $("#kpi_salein_actually__product").select2({
            width: "100%"
        });


        initInputMaxLength('#kpi_salein_actually__sale_order_id');
        initInputMaxLength('#kpi_salein_actually__order_number');





        const getFormInsert = () => {

            let store = $('#kpi_salein_actually__store').val();

            let employee = $('#kpi_salein_actually__employee').val();

            let SALE_ORDER_ID = $('#kpi_salein_actually__sale_order_id').val();

            let ORDER_NUMBER = $('#kpi_salein_actually__order_number').val();
            let ORDER_DATE = $('#kpi_salein_actually__order_date').val();

            let product = $('#kpi_salein_actually__product').val();
            let QUANTITY = QUANTITYCleave.getRawValue();

            let IS_FREE_ITEM = $('#kpi_salein_actually__is_free_item').val();

            return {
                store,
                employee,
                SALE_ORDER_ID,
                ORDER_NUMBER,
                ORDER_DATE,
                product,
                QUANTITY,
                IS_FREE_ITEM,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                SALE_ORDER_ID,
                ORDER_NUMBER,
                ORDER_DATE,
                product,
                QUANTITY,
                IS_FREE_ITEM,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SALEIN_ACTUALLY.ADD_KPI_SALEIN_ACTUALLY %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm KPI Salein Thực Đạt thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>