<script>
    $(document).ready(function() {

        $("#kpi_salein_actually__store").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/store/list-stores',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: item.code,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#kpi_salein_actually__employee").select2({
            width: "100%"
        });
        $("#kpi_salein_actually__employee").val("<%= infoKpi_salein_actually.employee && infoKpi_salein_actually.employee._id %>").trigger('change');

        $("#kpi_salein_actually__product").select2({
            width: "100%"
        });
        $("#kpi_salein_actually__product").val("<%= infoKpi_salein_actually.product && infoKpi_salein_actually.product._id %>").trigger('change');


        let QUANTITYCleave = initOneCleave("#kpi_salein_actually__quantity");

        initInputMaxLength('#kpi_salein_actually__sale_order_id');
        initInputMaxLength('#kpi_salein_actually__order_number');





        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let store = $('#kpi_salein_actually__store').val();
            let employee = $('#kpi_salein_actually__employee').val();
            let SALE_ORDER_ID = $('#kpi_salein_actually__sale_order_id').val();
            let ORDER_NUMBER = $('#kpi_salein_actually__order_number').val();
            let ORDER_DATE = $('#kpi_salein_actually__order_date').val();
            let product = $('#kpi_salein_actually__product').val();
            let QUANTITY = QUANTITYCleave.getRawValue();

            let IS_FREE_ITEM = $('#kpi_salein_actually__is_free_item').val();

            return {
                store,
                employee,
                SALE_ORDER_ID,
                ORDER_NUMBER,
                ORDER_DATE,
                product,
                QUANTITY,
                IS_FREE_ITEM,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                SALE_ORDER_ID,
                ORDER_NUMBER,
                ORDER_DATE,
                product,
                QUANTITY,
                IS_FREE_ITEM,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_KPI_SALEIN_ACTUALLY.UPDATE_KPI_SALEIN_ACTUALLY_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật KPI Salein Thực Đạt thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.kpi_salein_actuallyID = $(this).attr('__kpi_salein_actuallyID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>