<script>
    $(document).ready(function() {

        $("#criteria_campaign_config__criteria").select2({
            width: "100%"
        });
        $("#criteria_campaign_config__criteria").val("<%= infoCriteria_campaign_config.criteria && infoCriteria_campaign_config.criteria._id %>").trigger('change');

        $("#criteria_campaign_config__campaign").select2({
            width: "100%"
        });
        $("#criteria_campaign_config__campaign").val("<%= infoCriteria_campaign_config.campaign && infoCriteria_campaign_config.campaign._id %>").trigger('change');


        $('#criteria_campaign_config__percent').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#criteria_campaign_config__percent', "Vui lòng nhập phần trăm");
            } else {
                disableValidate('#criteria_campaign_config__percent');
            }
        });
        
        $('#criteria_campaign_config__maxPercent').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#criteria_campaign_config__maxPercent', "Vui lòng nhập giới hạn phần trăm");
            } else {
                disableValidate('#criteria_campaign_config__maxPercent');
            }
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });

        const getFormUpdate = () => {
            let criteria = $('#criteria_campaign_config__criteria').val();
            let campaign = $('#criteria_campaign_config__campaign').val();
            let percent = $('#criteria_campaign_config__percent').val();
            let maxPercent = $('#criteria_campaign_config__maxPercent').val();

            return {
                criteria,
                campaign,
                percent,
                maxPercent
            };
        }

        const checkFormValid = params => {
            let {
                criteria,
                campaign,
                percent,
                maxPercent
            } = params;
            let fieldsError = [];


            if (!criteria) {
                fieldsError = [...fieldsError, 'criteria_campaign_config__criteria'];
                enableValidate('#criteria_campaign_config__criteria', "Vui lòng chọn tiêu chí");
            } else {
                if (!fieldsError.includes('criteria_campaign_config__criteria')) {
                    disableValidate('#criteria_campaign_config__criteria');
                }
            }

            if (!campaign) {
                fieldsError = [...fieldsError, 'criteria_campaign_config__campaign'];
                enableValidate('#criteria_campaign_config__campaign', "Vui lòng chọn chiến dịch");
            } else {
                if (!fieldsError.includes('criteria_campaign_config__campaign')) {
                    disableValidate('#criteria_campaign_config__campaign');
                }
            }

            if (!percent) {
                fieldsError = [...fieldsError, 'criteria_campaign_config__percent'];
                enableValidate('#criteria_campaign_config__percent', "Vui lòng nhập phần trăm");
            } else {
                if (!fieldsError.includes('criteria_campaign_config__percent')) {
                    disableValidate('#criteria_campaign_config__percent');
                }
            }

            if (!maxPercent) {
                fieldsError = [...fieldsError, 'criteria_campaign_config__maxPercent'];
                enableValidate('#criteria_campaign_config__maxPercent', "Vui lòng nhập giới hạn phần trăm");
            } else {
                if (!fieldsError.includes('criteria_campaign_config__maxPercent')) {
                    disableValidate('#criteria_campaign_config__maxPercent');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                url: "<%= CF_ROUTINGS_CRITERIA_CAMPAIGN_CONFIG.UPDATE_CRITERIA_CAMPAIGN_CONFIG_BY_ID %>",
                method: 'PUT',
                data: dataUpdate,
            }).done(resp => {
                const {
                    error,
                    message
                } = resp;

                if (error) {
                    return AlertCustom({
                        title: 'THÔNG BÁO',
                        message: message,
                        icon: 'warning'
                    });
                }

                AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Cập nhật cấu hình tiêu chí chiến dịch thành công",
                    icon: 'info'
                });
            })
            .fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
            .always(() => {
                disableButtonLoading('#btnConfirmUpdate');
                $('#btnConfirmUpdate').attr('disabled', true);
            })
        }

        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.criteria_campaign_configID = $(this).attr('__criteria_campaign_configID');
            callAjaxUpdate(dataUpdate);
        });
    })
</script>