<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới xuất nhập quà tặng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/inventory_begin_month/list-inventory_begin_month">Quản lý xuất nhập quà tặng</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__title">
                                Tiêu đề
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="inventory_begin_month__title" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="inventory_begin_month__month" placeholder="VD: 12">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="inventory_begin_month__year" placeholder="VD: 2021">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__amount">
                                Số lượng <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="inventory_begin_month__amount" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__sku">
                                Sản phẩm quà tặng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="inventory_begin_month__sku" data-placeholder="Chọn Sản phẩm quà tặng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__employee">
                                Nhân viên
                            </label>
                            <select class="form-select mt-2" id="inventory_begin_month__employee" data-placeholder="Chọn Nhân viên">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/inventory_begin_month/list-inventory_begin_month" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>