<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật xuất nhập quà tặng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/inventory_begin_month/list-inventory_begin_month">Quản lý xuất nhập quà tặng</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__title">
                                Tiêu đề
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="inventory_begin_month__title" value="<%= infoInventory_begin_month.title %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="inventory_begin_month__month" value="<%= infoInventory_begin_month.month %>" placeholder="VD: 12">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="inventory_begin_month__year" value="<%= infoInventory_begin_month.year %>" placeholder="VD: 2021">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__amount">
                                Số lượng <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="inventory_begin_month__amount" value="<%= infoInventory_begin_month.amount %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__sku">
                                Sản phẩm quà tặng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="inventory_begin_month__sku" data-placeholder="Chọn Sản phẩm quà tặng">

                                <% if(listSkus && listSkus.length){ %>
                                <% listSkus.forEach(product => { %>
                                <% let isSelect = (infoInventory_begin_month.sku && infoInventory_begin_month.sku._id.toString()) === product._id.toString() %>

                                <option value="<%= product._id %>" <%= isSelect && 'selected' %>>
                                    <%= product.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="inventory_begin_month__employee">
                                Nhân viên
                            </label>
                            <select class="form-select mt-2" id="inventory_begin_month__employee" data-placeholder="Chọn Nhân viên">

                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <% let isSelect = (infoInventory_begin_month.employee && infoInventory_begin_month.employee._id.toString()) === employee._id.toString() %>

                                <option value="<%= employee._id %>" <%= isSelect && 'selected' %>>
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __inventory_begin_monthID="<%= infoInventory_begin_month._id %>">
                    Cập nhật
                </button>
                <a href="/inventory_begin_month/list-inventory_begin_month" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>