<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới cửa hàng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/store/list-store">Quản lý cửa hàng</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="store__code">
                                Mã cửa hàng <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__code" placeholder="VD: S0001">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__name">
                                Tên cửa hàng <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__name" placeholder="VD: Cửa hàng yến sào thiên việt">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__phone">
                                Điện thoại <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__phone" placeholder="VD: 0981489635">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__lat">
                                latitude <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__lat" placeholder="16.0539995636991">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__lng">
                                longtitude <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__lng" placeholder="108.208790127482">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__address">
                                Địa chỉ
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="store__address" placeholder="VD: Số 23 Điện Biên Phủ">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__city">
                                Tỉnh/Thành phố
                            </label>

                            <select class="form-control"id="store__city">
                                <option selected value="">Chọn tỉnh/thành phố</option>
                                <% listProvince.forEach(province => { %>
                                    <option value="<%= province[1].code %>"><%= province[1].name %></option>
                                <% }) %> 
                            </select>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__district">
                                Quận/huyện
                            </label>

                            <select class="form-control"id="store__district">
                              
                            </select>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__ward">
                                Xã phường
                            </label>

                            <select class="form-control"id="store__ward">
                              
                            </select>

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Hình ảnh</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="store__avatar">
                                Ảnh đại diện
                            </label>
                            <input type="file" id="store__avatar" data-max-file-size="10M" data-height="100" data-allowed-file-extensions="png jpg" />
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="store__region">
                                Miền
                            </label>
                            <select class="form-select mt-2" id="store__region" data-placeholder="Chọn Miền">

                                <option value="null" selected disabled>Chọn Miền</option>
                                <% if(listRegions && listRegions.length){ %>
                                <% listRegions.forEach(region => { %>
                                <option value="<%= region._id %>">
                                    <%= region.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__area">
                                Vùng
                            </label>
                            <select class="form-select mt-2" id="store__area" data-placeholder="Chọn Vùng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__distributor">
                                Nhà phân phối
                            </label>
                            <select class="form-select mt-2" id="store__distributor" data-placeholder="Chọn Nhà phân phối">
                                <option value="null" selected disabled>Chọn Nhà phân phối</option>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__brands">
                                Danh sách thương hiệu
                            </label>
                            <select class="form-select mt-2 select2-multiple" id="store__brands" multiple="multiple" data-placeholder="Chọn Danh sách thương hiệu">
                                <% if(listBrands && listBrands.length){ %>
                                <% listBrands.forEach(brand => { %>
                                <option value="<%= brand._id %>">
                                    <%= brand.name %>
                                </option>
                                <% }) %>
                                <% } %>
                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="store__opentime">
                                Giờ mở cửa
                            </label>
                            <input type="time" class="form-control" id="store__opentime">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="store__closetime">
                                Giờ đóng cửa
                            </label>
                            <input type="time" class="form-control" id="store__closetime">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/store/list-store" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>