<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật cửa hàng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/store/list-store">Quản lý cửa hàng</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#update" href="#update" role="tab" aria-selected="true">Cập nhật</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#list-checkinout" href="#list-checkinout" role="tab" aria-selected="false">Danh sách chấm công</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="update" role="tabpanel" aria-labelledby="update-tab">
                <div class="row mb-3">
                    <div class="col-12 col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin chính</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="form-label" for="store__code">
                                        Mã cửa hàng <span class="text-danger">(*)</span>
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__code" value="<%= infoStore.code %>" placeholder="VD: S0001" disabled>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__name">
                                        Tên cửa hàng <span class="text-danger">(*)</span>
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__name" value="<%= infoStore.name %>" placeholder="VD: Cửa hàng yến sào thiên việt" disabled>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__phone">
                                        Điện thoại <span class="text-danger"></span>
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__phone" value="<%= infoStore.phone %>" placeholder="VD: 0981489635" disabled>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__lat">
                                        latitude <span class="text-danger">(*)</span>
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__lat" value="<%= infoStore.location && infoStore.location.coordinates[1] %>" placeholder="16.0539995636991">

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__lng">
                                        longtitude <span class="text-danger">(*)</span>
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__lng" value="<%= infoStore.location && infoStore.location.coordinates[0] %>" placeholder="108.208790127482">

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__address">
                                        Địa chỉ
                                    </label>

                                    <input type="text" class="form-control" maxlength="125" id="store__address" value="<%= infoStore.address %>" placeholder="VD: Số 23 Điện Biên Phủ" disabled>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__city">
                                        Tỉnh/Thành phố
                                    </label>

                                    <select class="form-control"id="store__city" disabled>
                                        <option selected value="">Chọn tỉnh/thành phố</option>
                                        <% listProvince.forEach(province => { %>
                                            <option value="<%= province[1].code %>" <% if (province[1].code == infoStore.city) { %>
                                                selected
                                            <% } %>><%= province[1].name %></option>
                                        <% }) %>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__district">
                                        Quận/huyện
                                    </label>

                                    <select class="form-control"id="store__district" disabled>
                                        <% for (let district in listDistrict) { %>
                                            <%# console.log({ district: infoStore.district, code: listDistrict[district].code }) %>

                                           <option value="<%= listDistrict[district].code %>" <%= (listDistrict[district].code == infoStore.district) && 'selected' %>>
                                                <%= listDistrict[district].name_with_type %>
                                            </option>
                                        <% } %>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__ward">
                                        Xã phường
                                    </label>

                                    <select class="form-control"id="store__ward" disabled>
                                        <%for (let ward in listWard) { %>
                                            <option value="<%= listWard[ward].code %>" <% if (listWard[ward].code == infoStore.ward) { %>
                                                 selected
                                             <% } %>><%= listWard[ward].name_with_type %></option>
                                         <% } %>
                                    </select>

                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-4">

                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Hình ảnh</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="form-label" for="store__avatar">
                                        Ảnh đại diện
                                    </label>
                                    <input type="file" id="store__avatar" data-default-file="<%= lodash.get(infoStore.avatar, 'path') %>" data-max-file-size="10M" data-height="100" data-allowed-file-extensions="png jpg" disabled />
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin phụ</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="form-label" for="store__region">
                                        Miền
                                    </label>
                                    <select class="form-select mt-2" id="store__region" data-placeholder="Chọn Miền" disabled>
                                        <option value="null" selected disabled>Chọn Miền</option>
                                        <% if(listRegions && listRegions.length){ %>
                                        <% listRegions.forEach(region => { %>
                                        <option value="<%= region._id %>">
                                            <%= region.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__area">
                                        Vùng
                                    </label>
                                    <select class="form-select mt-2" id="store__area" data-placeholder="Chọn Vùng" disabled>
                                        <option value="null" selected disabled>Chọn Vùng</option>
                                        <% if(listAreas && listAreas.length){ %>
                                        <% listAreas.forEach(area => { %>
                                        <option value="<%= area._id %>">
                                            <%= area.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__distributor">
                                        Nhà phân phối
                                    </label>
                                    <select class="form-select mt-2" id="store__distributor" data-placeholder="Chọn Nhà phân phối" disabled>
                                        <option value="null" selected disabled>Chọn Nhà phân phối</option>
                                        <% if(listDistributors && listDistributors.length){ %>
                                        <% listDistributors.forEach(distributor => { %>
                                        <option value="<%= distributor._id %>">
                                            <%= distributor.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__status">
                                        Trạng thái
                                    </label>
                                    <select class="form-select mt-2" id="store__status" disabled>
                                        <option selected disabled>Chọn Trạng thái</option>
                                        <option value="1">Hoạt động</option>
                                        <option value="2">Không hoạt động</option>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__brands">
                                        Danh sách thương hiệu
                                    </label>
                                    <select class="form-select mt-2 select2-multiple" id="store__brands" multiple="multiple" data-placeholder="Chọn Danh sách thương hiệu" disabled>
                                        <% if(listBrands && listBrands.length){ %>
                                        <% listBrands.forEach(brand => { %>
                                        <option value="<%= brand._id %>">
                                            <%= brand.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thời gian</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="form-label" for="store__opentime">
                                        Giờ mở cửa
                                    </label>
                                    <input type="time" class="form-control" id="store__opentime" value="<%= moment(infoStore.openTime).format("HH:mm") %>" disabled>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="store__closetime">
                                        Giờ đóng cửa
                                    </label>
                                    <input type="time" class="form-control" id="store__closetime" value="<%= moment(infoStore.closeTime).format("HH:mm") %>" disabled>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="list-checkinout" role="tabpanel" aria-labelledby="list-tab">
                <div class="row">
                    <div class="col-12">
                        <table id="tableListCheckin_checkout" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thời gian</th>
                                    <th>Nhân viên</th>
                                    <th>Cửa hàng</th>
                                    <th>Ca làm việc</th>
                                    <th>Trạng thái</th>
                                    <th>Check in - out</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __storeID="<%= infoStore._id %>">
                    Cập nhật
                </button>
                <a href="/store/list-store" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>
