<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
    .img-wraps {
      position: relative;
      display: inline-block;
      /* border: 1px red solid; */
      font-size: 0;
   }
   .img-wraps .close {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;
      /* background-color: #FFF; */
      padding: 5px 2px 2px;
      color: #000;
      font-weight: bold;
      cursor: pointer;
      /* opacity: .2; */
      text-align: center;
      font-size: 30px;
      line-height: 10px;
      border-radius: 50%;
   }
   .img-wraps:hover .close {
      opacity: 1;
      color: #ff0000 ;
   }
   .lg-outer.lg-visible{
        background: black;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách ranking</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/admin/list-ranking">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách ranking</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12 d-flex justify-content-end">
                                <a href="javascript:void(0)" class="btn btn-outline-info waves-effect waves-light btnAddRanking">
                                    <i class="fas fa-plus-circle"></i> Tạo ranking
                                </a>
                            </div>
                            <br>
                            <!-- table-striped table-bordered -->
                            <table class="content-table table-list-ranking">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên</th>
                                        <th>Logo</th>
                                        <th>Điểm bắt đầu</th>
                                        <th>Điểm kết thúc</th>
                                        <th>Tùy chỉnh</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   <% listData.forEach((ranking, index) => { %>
                                        <tr>
                                            <td><%= index + 1%></td>
                                            <td><%= ranking.name%></td>
                                            <td>
                                                <a href="<%= ranking.logo && loadPathImage(ranking.logo.path) %>" target="_blank">
                                                    <img class="img-fluid img-thumbnail rounded" src="<%= ranking.logo && loadPathImage(ranking.logo.path) %>" alt="">
                                                </a>
                                            </td>
                                            <td><%= ranking.minPoint%></td>
                                            <td><%= ranking.maxPoint%></td>
                                            <td>
                                                <div class="btn-group mb-2 border-btn-black">
                                                    <button type="button" class="btn btn-secondary btn-sm">
                                                        Thao Tác
                                                    </button>
                                                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">...</span>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="right-start">
                                                        <a class="dropdown-item btnUpdateRanking" href="javascript:void(0)" _rankingID="<%= ranking._id%>">
                                                            <i class="fa fa-edit"></i> Chỉnh sửa
                                                        </a>
                                                        <a class="dropdown-item btnBlockUser btnDeleteRanking" href="javascript:void(0)" _rankingID="<%= ranking._id%>">
                                                            <i class="fa fa-trash"></i> Xóa
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   <% }) %>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<!-- POPUP TẠO ranking -->
<div class="modal fade bs-example-modal-sm model-create-ranking" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">
                    +Tạo/cập nhật ranking</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12"><label>Tiêu đề ranking</label> 
                        <input type="text" class="form-control" id="txtNameRanking" placeholder="VD: Vàng">
                    </div>
                </div>
                <div class="row container-min-max-point">
                    <div class="form-group col-md-6"><label>Điểm bắt đầu</label> 
                        <input type="text" class="form-control" id="txtMinPoint" placeholder="VD: 1">
                    </div>
                    <div class="form-group col-md-6"><label>Điểm kết thúc</label> 
                        <input type="text" class="form-control" id="txtMaxPoint" placeholder="VD: 500">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Mã màu</label> 
                        <input type="text" class="form-control" id="txtColorRanking" placeholder="VD: F55555" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Logo</label> 
                        <input type="file" class="form-control" id="txtLogoRanking" >
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Đặc quyền </label> &nbsp;	 <a href="javascript: void(0)"><i class="fas fa-plus-square btnAddItemBenefit"></i></a>
                        <div class="container-list-item-benifit">
                            <div style="display: flex; align-items: center;">
                                <input type="text" class="form-control txtBenefits" placeholder="Nhập nội dung đặc quyền"> &nbsp;	 <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Điều khoản và điều kiện</label> &nbsp; 
                        <a href="javascript: void(0)"><i class="fas fa-plus-square btnAddItemRules"></i></a>
                        <div class="container-list-item-rule">
                            <div style="display: flex; align-items: center;">
                                <input type="text" class="form-control txtRules" placeholder="Nhập nội dung điều khoản và điều kiên"> &nbsp; <a href="javascript: void(0)"><i class="fas fa-trash btnRemoveItem"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmAddRanking border-btn-black">Xác nhận</button>
                <button class="btn btn-info btnConfirmUpdateRanking" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

