<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <button class="btn btn-outline-secondary" id="btnDowloadKPI">Download KPI</button>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="modalConfigExportExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalDefaultLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title m-0" id="exampleModalDefaultLabel">Cấu hình xuất Excel</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--end modal-header-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label" for="month_year__export">
                                        Chọn tháng <span class="text-danger">(*)</span>
                                    </label>
                                    <input type="month" class="form-control" id="month_year__export">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end modal-body-->
            <div class="modal-footer">
                <button type="button" class="btn btn-soft-primary btn-sm btnConfirmExportKPI">Xuất</button>
                <button type="button" class="btn btn-soft-secondary btn-sm" data-bs-dismiss="modal">Đóng</button>
            </div>
            <!--end modal-footer-->
        </div>
        <!--end modal-content-->
    </div>
    <!--end modal-dialog-->
</div>
<script src="../../../template/admin/dastone/default/assets/js/jquery.min.js"></script>
<script>
    
    $(document).ready(function() {
        $('#btnDowloadKPI').on('click', function() {
            return $("#modalConfigExportExcel").modal("show")
        });

        $('.btnConfirmExportKPI').on('click', function() {
            const monthAndYear = $("#month_year__export").val();
            if(!monthAndYear)
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Vui lòng nhập tháng/năm download",
                    icon: 'warning'
                }); 
            $("#modalConfigExportExcel").modal("hide")
            return window.location.href = `/api/limit_kpi_config/report-kpi-new?monthAndYear=${monthAndYear}`  
        })

    })
</script>