<style>
    .select2-selection__rendered{
        line-height: 33px !important;
    }
    .select2-container .select2-selection--single {
        height: 35px !important;
    }
    .select2-selection__arrow {
        height: 33px !important;
    }
    @media (min-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
   
    @media (max-width: 1750px){
        .select2-container{
            width: 100% !important;
        }
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách Lô</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/parcel/list-parcel">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách Lô</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="row">
                                    <!-- selected -->
                                    <div class="form-group col-xl-4 ">
                                        <label>Loại SKU 2</label> 
                                        <select id="txtSKU2Sort" class="form-control">
                                            <option value=""> Chọn SKU 2</option>
                                            <% listSKU2 && listSKU2.length && listSKU2.forEach( sku => { %> 
                                                <option value="<%= sku._id %>"
                                                    <% if (sku_2 && sku_2 == sku._id) { %>
                                                        selected
                                                    <% } %>
                                                ><%= sku.name %></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-4 ">
                                        <label>Loại Hàng</label> 
                                        <select id="txtisGoodSort" class="form-control">
                                            <option value=""> Chọn Loại Hàng</option>
                                            <option value="1"
                                                <% if (isGood == 1) { %>
                                                    selected
                                                <% } %>
                                            >Hàng bán</option>
                                            <option value="2"
                                                <% if (isGood == 2) { %>
                                                    selected
                                                <% } %>
                                            >Hàng tặng</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-4 ">
                                        <label>Loại Thương Hiệu</label> 
                                        <select id="txtBrandSort" class="form-control">
                                            <option value=""> Chọn Thương hiệu</option>
                                            <% listBrand && listBrand.length && listBrand.forEach( item => { %> 
                                                <option value="<%= item._id %>"
                                                    <% if (brand && brand == item._id) { %>
                                                        selected
                                                    <% } %>
                                                ><%= item.name %></option>
                                            <% }) %> 
                                        </select>
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <label>Từ ngày</label> 
                                        <input  type="date" class="form-control" id="txtStartDateSort"
                                            <% if (fromDay) { %>
                                                value= "<%= fromDay %>"
                                            <% } %>
                                        >
                                    </div>
                                    <div class="form-group col-xl-3 ">
                                        <label>Đến ngày</label> 
                                        <input  type="date" class="form-control" id="txtEndDateSort"
                                            <% if (toDay) { %>
                                                value= "<%= toDay %>"
                                            <% } %>
                                        >
                                    </div>
                                    
                                    <div class="form-group col-xl-3 ">
                                        <button style="margin-top: 28px;" type="button" class="btn btn-secondary waves-effect btnFilter"><i class="fa fa-search"></i> Tìm Kiếm</button>
                                    </div>
                                </div>
							</div>
							<div class="col-lg-12 d-flex justify-content-end">
                                <!-- <label for="inputFileImport" class="dropdown-item mr-2" style="cursor: pointer;width: 80px;"> -->
                                <!-- <label style="margin-bottom: 15px;" for="inputFileImport" class="mr-2 btn btn-outline-success waves-effect waves-light">
                                    <i class="fas fa-file-import me-1"></i> Import
                                    <input id="inputFileImport" type="file" style="display:none;"/>
                                </label> -->
                                    
                                <!-- </label> -->
                                <a style="margin-bottom: 15px;" href="/parcel/add-parcel" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-category">
                                    <i class="fas fa-plus-circle"></i> Tạo Lô
                                </a>
							</div>
                            <table class="content-table" id="tableList">
								<thead>
									<tr>
										<th>STT</th>
										<th>SKU 2</th>
										<th>Biến thể</th>
										<th>Thương hiệu</th>
										<th>Hàng bán</th>
										<th>Hàng tặng</th>
										<th>Số lô</th>
										<th>Điểm</th>
										<!-- <th>Tổng QR</th> -->
										<th>NSX</th>
										<th>HSD</th>
										<th>TG đồng bộ</th>
										<th>Thao tác</th>
									</tr>
								</thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- POPUP CẬP NHẬT CATEGORY -->
<!-- <div class="modal fade bs-example-modal-sm popup-update-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" placeholder="Title" id="txtTitleUpdate">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtDescriptionUpdate" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdate">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col mx-auto">
                        <label>Hình Ảnh</label>
                        <br>
                        <div class="container">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type="file" id="categoryImageUpdate" accept=".png, .jpg, .jpeg" />
                                    <label for="categoryImageUpdate"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div class="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateCategory" _categoryID>Cập nhật</button>
            </div>
        </div>
    </div>
</div> -->