<%- include('layout/header') %>
<%- include(render.inc) %>
<%- include('layout/footer') %>

<% if (render.code === 'MANAGE_ROLE') { %>
	<%- include('../packages/auth/views/role/scripts/manage_role-script.ejs') %>
<% } %>

<% if (render.code === 'MANAGE_API') { %>
	<%- include('../packages/auth/views/api/scripts/manage_api-script.ejs') %>
<% } %>

<% if (render.code === 'MANAGE_USER') { %>
	<%- include('../packages/auth/views/user/scripts/manage_user-script.ejs') %>
<% } %>



<%- include('./inc/supervisor/scripts/tools-script.ejs') %>
<%- include('./inc/supervisor/scripts/main-script.ejs') %>

<% if (render.code === '/admin/list-admin') { %>
	<%- include('../packages/users/views/scripts/manage_user-script.ejs') %>
<% } %>
<!-- ---------------------------------------------------------------------------------- -->

<% if(render.code === '/manage_money') { %>
    <%- include('../packages/manage_money/views/manage_money/scripts/add_update_manage_money-script.ejs') %>
<% } %>

<% if (render.code === "/region/list-region") { %>
    <%- include('../packages/region_area/views/region/scripts/list_regions-script.ejs') %>
<% } %>

<% if (render.code === "/region/list-region/:field/:value") { %>
    <%- include('../packages/region_area/views/region/scripts/list_regions-script.ejs') %>
<% } %>

<% if (render.code === "/region/add-region") { %>
    <%- include('../packages/region_area/views/region/scripts/add_region-script.ejs') %>
<% } %>

<% if (render.code === "/region/update-region-by-id") { %>
    <%- include('../packages/region_area/views/region/scripts/update_region-script.ejs') %>
<% } %>

<% if (render.code === "/area/list-area") { %>
    <%- include('../packages/region_area/views/area/scripts/list_areas-script.ejs') %>
<% } %>

<% if (render.code === "/area/list-area/:field/:value") { %>
    <%- include('../packages/region_area/views/area/scripts/list_areas-script.ejs') %>
<% } %>

<% if (render.code === "/area/add-area") { %>
    <%- include('../packages/region_area/views/area/scripts/add_area-script.ejs') %>
<% } %>

<% if (render.code === "/area/update-area-by-id") { %>
    <%- include('../packages/region_area/views/area/scripts/update_area-script.ejs') %>
<% } %>

<% if (render.code === "/distributor/list-distributor") { %>
    <%- include('../packages/distributor/views/distributor/scripts/list_distributors-script.ejs') %>
<% } %>

<% if (render.code === "/distributor/list-distributor/:field/:value") { %>
    <%- include('../packages/distributor/views/distributor/scripts/list_distributors-script.ejs') %>
<% } %>

<% if (render.code === "/distributor/add-distributor") { %>
    <%- include('../packages/distributor/views/distributor/scripts/add_distributor-script.ejs') %>
<% } %>

<% if (render.code === "/distributor/update-distributor-by-id") { %>
    <%- include('../packages/distributor/views/distributor/scripts/update_distributor-script.ejs') %>
<% } %>

<% if (render.code === "/type_employee/list-type_employee") { %>
    <%- include('../packages/employee/views/type_employee/scripts/list_type_employees-script.ejs') %>
<% } %>

<% if (render.code === "/type_employee/list-type_employee/:field/:value") { %>
    <%- include('../packages/employee/views/type_employee/scripts/list_type_employees-script.ejs') %>
<% } %>

<% if (render.code === "/type_employee/add-type_employee") { %>
    <%- include('../packages/employee/views/type_employee/scripts/add_type_employee-script.ejs') %>
<% } %>

<% if (render.code === "/type_employee/update-type_employee-by-id") { %>
    <%- include('../packages/employee/views/type_employee/scripts/update_type_employee-script.ejs') %>
<% } %>

<% if (render.code === "/detail_type_employee/list-detail_type_employee") { %>
    <%- include('../packages/employee/views/detail_type_employee/scripts/list_detail_type_employees-script.ejs') %>
<% } %>

<% if (render.code === "/detail_type_employee/list-detail_type_employee/:field/:value") { %>
    <%- include('../packages/employee/views/detail_type_employee/scripts/list_detail_type_employees-script.ejs') %>
<% } %>

<% if (render.code === "/detail_type_employee/add-detail_type_employee") { %>
    <%- include('../packages/employee/views/detail_type_employee/scripts/add_detail_type_employee-script.ejs') %>
<% } %>

<% if (render.code === "/detail_type_employee/update-detail_type_employee-by-id") { %>
    <%- include('../packages/employee/views/detail_type_employee/scripts/update_detail_type_employee-script.ejs') %>
<% } %>

<% if (render.code === "/employee/list-employee") { %>
    <%- include('../packages/employee/views/employee/scripts/list_employees-script.ejs') %>
<% } %>

<% if (render.code === "/employee/list-employee/:field/:value") { %>
    <%- include('../packages/employee/views/employee/scripts/list_employees-script.ejs') %>
<% } %>

<% if (render.code === "/employee/add-employee") { %>
    <%- include('../packages/employee/views/employee/scripts/add_employee-script.ejs') %>
<% } %>

<% if (render.code === "/employee/update-employee-by-id") { %>
    <%- include('../packages/employee/views/employee/scripts/update_employee-script.ejs') %>
<% } %>

<% if (render.code === "/employee_hr/list-employee_hr") { %>
    <%- include('../packages/employee/views/employee_hr/scripts/list_employee_hrs-script.ejs') %>
<% } %>

<% if (render.code === "/employee_hr/list-employee_hr/:field/:value") { %>
    <%- include('../packages/employee/views/employee_hr/scripts/list_employee_hrs-script.ejs') %>
<% } %>

<% if (render.code === "/employee_hr/add-employee_hr") { %>
    <%- include('../packages/employee/views/employee_hr/scripts/add_employee_hr-script.ejs') %>
<% } %>

<% if (render.code === "/employee_hr/update-employee_hr-by-id") { %>
    <%- include('../packages/employee/views/employee_hr/scripts/update_employee_hr-script.ejs') %>
<% } %>

<% if (render.code === "/notification/list-notification") { %>
    <%- include('../packages/notification/views/notification/scripts/list_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/notification/list-notification/:field/:value") { %>
    <%- include('../packages/notification/views/notification/scripts/list_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/notification/add-notification") { %>
    <%- include('../packages/notification/views/notification/scripts/add_notification-script.ejs') %>
<% } %>

<% if (render.code === "/notification/update-notification-by-id") { %>
    <%- include('../packages/notification/views/notification/scripts/update_notification-script.ejs') %>
<% } %>

<% if (render.code === "/employee_notification/list-employee_notification") { %>
    <%- include('../packages/notification/views/employee_notification/scripts/list_employee_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/employee_notification/list-employee_notification/:field/:value") { %>
    <%- include('../packages/notification/views/employee_notification/scripts/list_employee_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/employee_notification/add-employee_notification") { %>
    <%- include('../packages/notification/views/employee_notification/scripts/add_employee_notification-script.ejs') %>
<% } %>

<% if (render.code === "/employee_notification/update-employee_notification-by-id") { %>
    <%- include('../packages/notification/views/employee_notification/scripts/update_employee_notification-script.ejs') %>
<% } %>

<% if (render.code === "/receiver_notification/list-receiver_notification") { %>
    <%- include('../packages/notification/views/receiver_notification/scripts/list_receiver_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/receiver_notification/list-receiver_notification/:field/:value") { %>
    <%- include('../packages/notification/views/receiver_notification/scripts/list_receiver_notifications-script.ejs') %>
<% } %>

<% if (render.code === "/receiver_notification/add-receiver_notification") { %>
    <%- include('../packages/notification/views/receiver_notification/scripts/add_receiver_notification-script.ejs') %>
<% } %>

<% if (render.code === "/receiver_notification/update-receiver_notification-by-id") { %>
    <%- include('../packages/notification/views/receiver_notification/scripts/update_receiver_notification-script.ejs') %>
<% } %>

<% if (render.code === "/store/list-store") { %>
    <%- include('../packages/store/views/store/scripts/list_stores-script.ejs') %>
<% } %>

<% if (render.code === "/store/list-store/:field/:value") { %>
    <%- include('../packages/store/views/store/scripts/list_stores-script.ejs') %>
<% } %>

<% if (render.code === "/store/add-store") { %>
    <%- include('../packages/store/views/store/scripts/add_store-script.ejs') %>
<% } %>

<% if (render.code === "/store/update-store-by-id") { %>
    <%- include('../packages/store/views/store/scripts/update_store-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_na/list-calendar_task_na") { %>
    <%- include('../packages/calendar_task/views/calendar_task_na/scripts/list_calendar_task_nas-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_na/list-calendar_task_na/:field/:value") { %>
    <%- include('../packages/calendar_task/views/calendar_task_na/scripts/list_calendar_task_nas-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_na/add-calendar_task_na") { %>
    <%- include('../packages/calendar_task/views/calendar_task_na/scripts/add_calendar_task_na-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_na/update-calendar_task_na-by-id") { %>
    <%- include('../packages/calendar_task/views/calendar_task_na/scripts/update_calendar_task_na-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_pg/list-calendar_task_pg") { %>
    <%- include('../packages/calendar_task/views/calendar_task_pg/scripts/list_calendar_task_pgs-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_pg/list-calendar_task_pg/:field/:value") { %>
    <%- include('../packages/calendar_task/views/calendar_task_pg/scripts/list_calendar_task_pgs-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_pg/add-calendar_task_pg") { %>
    <%- include('../packages/calendar_task/views/calendar_task_pg/scripts/add_calendar_task_pg-script.ejs') %>
<% } %>

<% if (render.code === "/calendar_task_pg/update-calendar_task_pg-by-id") { %>
    <%- include('../packages/calendar_task/views/calendar_task_pg/scripts/update_calendar_task_pg-script.ejs') %>
<% } %>

<% if (render.code === "/brand/list-brand") { %>
    <%- include('../packages/brand/views/brand/scripts/list_brands-script.ejs') %>
<% } %>

<% if (render.code === "/brand/list-brand/:field/:value") { %>
    <%- include('../packages/brand/views/brand/scripts/list_brands-script.ejs') %>
<% } %>

<% if (render.code === "/brand/add-brand") { %>
    <%- include('../packages/brand/views/brand/scripts/add_brand-script.ejs') %>
<% } %>

<% if (render.code === "/brand/update-brand-by-id") { %>
    <%- include('../packages/brand/views/brand/scripts/update_brand-script.ejs') %>
<% } %>


<% if (render.code === "/shift/list-shift") { %>
    <%- include('../packages/core/views/shift/scripts/list_shifts-script.ejs') %>
<% } %>

<% if (render.code === "/shift/list-shift/:field/:value") { %>
    <%- include('../packages/core/views/shift/scripts/list_shifts-script.ejs') %>
<% } %>

<% if (render.code === "/shift/add-shift") { %>
    <%- include('../packages/core/views/shift/scripts/add_shift-script.ejs') %>
<% } %>

<% if (render.code === "/shift/update-shift-by-id") { %>
    <%- include('../packages/core/views/shift/scripts/update_shift-script.ejs') %>
<% } %>

<% if (render.code === "/checkin_checkout/list-checkin_checkout") { %>
    <%- include('../packages/checkin_checkout/views/checkin_checkout/scripts/list_checkin_checkouts-script.ejs') %>
<% } %>

<% if (render.code === "/checkin_checkout/list-checkin_checkout/:field/:value") { %>
    <%- include('../packages/checkin_checkout/views/checkin_checkout/scripts/list_checkin_checkouts-script.ejs') %>
<% } %>

<% if (render.code === "/checkin_checkout/add-checkin_checkout") { %>
    <%- include('../packages/checkin_checkout/views/checkin_checkout/scripts/add_checkin_checkout-script.ejs') %>
<% } %>

<% if (render.code === "/checkin_checkout/update-checkin_checkout-by-id") { %>
    <%- include('../packages/checkin_checkout/views/checkin_checkout/scripts/update_checkin_checkout-script.ejs') %>
<% } %>

<% if (render.code === "/customer/list-customer") { %>
    <%- include('../packages/customer/views/customer/scripts/list_customers-script.ejs') %>
<% } %>

<% if (render.code === "/customer/list-customer/:field/:value") { %>
    <%- include('../packages/customer/views/customer/scripts/list_customers-script.ejs') %>
<% } %>

<% if (render.code === "/customer/add-customer") { %>
    <%- include('../packages/customer/views/customer/scripts/add_customer-script.ejs') %>
<% } %>

<% if (render.code === "/customer/update-customer-by-id") { %>
    <%- include('../packages/customer/views/customer/scripts/update_customer-script.ejs') %>
<% } %>

<% if (render.code === "/category/list-category") { %>
    <%- include('../packages/product/views/category/scripts/list_categorys-script.ejs') %>
<% } %>

<% if (render.code === "/category/list-category/:field/:value") { %>
    <%- include('../packages/product/views/category/scripts/list_categorys-script.ejs') %>
<% } %>

<% if (render.code === "/category/add-category") { %>
    <%- include('../packages/product/views/category/scripts/add_category-script.ejs') %>
<% } %>

<% if (render.code === "/category/update-category-by-id") { %>
    <%- include('../packages/product/views/category/scripts/update_category-script.ejs') %>
<% } %>

<% if (render.code === "/store_product/list-store_product") { %>
    <%- include('../packages/product/views/store_product/scripts/list_store_products-script.ejs') %>
<% } %>

<% if (render.code === "/store_product/list-store_product/:field/:value") { %>
    <%- include('../packages/product/views/store_product/scripts/list_store_products-script.ejs') %>
<% } %>

<% if (render.code === "/store_product/add-store_product") { %>
    <%- include('../packages/product/views/store_product/scripts/add_store_product-script.ejs') %>
<% } %>

<% if (render.code === "/store_product/update-store_product-by-id") { %>
    <%- include('../packages/product/views/store_product/scripts/update_store_product-script.ejs') %>
<% } %>

<% if (render.code === "/criteria/list-criteria") { %>
    <%- include('../packages/campaign_criteria/views/criteria/scripts/list_criterias-script.ejs') %>
<% } %>

<% if (render.code === "/criteria/list-criteria/:field/:value") { %>
    <%- include('../packages/campaign_criteria/views/criteria/scripts/list_criterias-script.ejs') %>
<% } %>

<% if (render.code === "/criteria/add-criteria") { %>
    <%- include('../packages/campaign_criteria/views/criteria/scripts/add_criteria-script.ejs') %>
<% } %>

<% if (render.code === "/criteria/update-criteria-by-id") { %>
    <%- include('../packages/campaign_criteria/views/criteria/scripts/update_criteria-script.ejs') %>
<% } %>

<% if (render.code === "/campaign/list-campaign") { %>
    <%- include('../packages/campaign_criteria/views/campaign/scripts/list_campaigns-script.ejs') %>
<% } %>

<% if (render.code === "/campaign/list-campaign/:field/:value") { %>
    <%- include('../packages/campaign_criteria/views/campaign/scripts/list_campaigns-script.ejs') %>
<% } %>

<% if (render.code === "/campaign/add-campaign") { %>
    <%- include('../packages/campaign_criteria/views/campaign/scripts/add_campaign-script.ejs') %>
<% } %>

<% if (render.code === "/campaign/update-campaign-by-id") { %>
    <%- include('../packages/campaign_criteria/views/campaign/scripts/update_campaign-script.ejs') %>
<% } %>

<% if (render.code === "/products_criteria/list-products_criteria") { %>
    <%- include('../packages/campaign_criteria/views/products_criteria/scripts/list_products_criterias-script.ejs') %>
<% } %>

<% if (render.code === "/products_criteria/list-products_criteria/:field/:value") { %>
    <%- include('../packages/campaign_criteria/views/products_criteria/scripts/list_products_criterias-script.ejs') %>
<% } %>

<% if (render.code === "/products_criteria/add-products_criteria") { %>
    <%- include('../packages/campaign_criteria/views/products_criteria/scripts/add_products_criteria-script.ejs') %>
<% } %>

<% if (render.code === "/products_criteria/update-products_criteria-by-id") { %>
    <%- include('../packages/campaign_criteria/views/products_criteria/scripts/update_products_criteria-script.ejs') %>
<% } %>

<% if (render.code === "/limit_kpi_config/list-limit_kpi_config") { %>
    <%- include('../packages/config/views/limit_kpi_config/scripts/list_limit_kpi_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_kpi_config/list-limit_kpi_config/:field/:value") { %>
    <%- include('../packages/config/views/limit_kpi_config/scripts/list_limit_kpi_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_kpi_config/add-limit_kpi_config") { %>
    <%- include('../packages/config/views/limit_kpi_config/scripts/add_limit_kpi_config-script.ejs') %>
<% } %>

<% if (render.code === "/limit_kpi_config/update-limit_kpi_config-by-id") { %>
    <%- include('../packages/config/views/limit_kpi_config/scripts/update_limit_kpi_config-script.ejs') %>
<% } %>

<% if (render.code === "/limit_gift_config/list-limit_gift_config") { %>
    <%- include('../packages/config/views/limit_gift_config/scripts/list_limit_gift_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_gift_config/list-limit_gift_config/:field/:value") { %>
    <%- include('../packages/config/views/limit_gift_config/scripts/list_limit_gift_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_gift_config/add-limit_gift_config") { %>
    <%- include('../packages/config/views/limit_gift_config/scripts/add_limit_gift_config-script.ejs') %>
<% } %>

<% if (render.code === "/limit_gift_config/update-limit_gift_config-by-id") { %>
    <%- include('../packages/config/views/limit_gift_config/scripts/update_limit_gift_config-script.ejs') %>
<% } %>

<% if (render.code === "/limit_sampling_config/list-limit_sampling_config") { %>
    <%- include('../packages/config/views/limit_sampling_config/scripts/list_limit_sampling_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_sampling_config/list-limit_sampling_config/:field/:value") { %>
    <%- include('../packages/config/views/limit_sampling_config/scripts/list_limit_sampling_configs-script.ejs') %>
<% } %>

<% if (render.code === "/limit_sampling_config/add-limit_sampling_config") { %>
    <%- include('../packages/config/views/limit_sampling_config/scripts/add_limit_sampling_config-script.ejs') %>
<% } %>

<% if (render.code === "/limit_sampling_config/update-limit_sampling_config-by-id") { %>
    <%- include('../packages/config/views/limit_sampling_config/scripts/update_limit_sampling_config-script.ejs') %>
<% } %>

<% if (render.code === "/system_config/list-system_config") { %>
    <%- include('../packages/config/views/system_config/scripts/list_system_configs-script.ejs') %>
<% } %>

<% if (render.code === "/system_config/list-system_config/:field/:value") { %>
    <%- include('../packages/config/views/system_config/scripts/list_system_configs-script.ejs') %>
<% } %>

<% if (render.code === "/system_config/add-system_config") { %>
    <%- include('../packages/config/views/system_config/scripts/add_system_config-script.ejs') %>
<% } %>

<% if (render.code === "/system_config/update-system_config-by-id") { %>
    <%- include('../packages/config/views/system_config/scripts/update_system_config-script.ejs') %>
<% } %>

<% if (render.code === "/saleout/list-saleout") { %>
    <%- include('../packages/history/views/saleout/scripts/list_saleouts-script.ejs') %>
<% } %>

<% if (render.code === "/saleout/list-saleout/:field/:value") { %>
    <%- include('../packages/history/views/saleout/scripts/list_saleouts-script.ejs') %>
<% } %>

<% if (render.code === "/saleout/add-saleout") { %>
    <%- include('../packages/history/views/saleout/scripts/add_saleout-script.ejs') %>
<% } %>

<% if (render.code === "/saleout/update-saleout-by-id") { %>
    <%- include('../packages/history/views/saleout/scripts/update_saleout-script.ejs') %>
<% } %>

<% if (render.code === "/history_init_customer/list-history_init_customer") { %>
    <%- include('../packages/history/views/history_init_customer/scripts/list_history_init_customers-script.ejs') %>
<% } %>

<% if (render.code === "/history_init_customer/list-history_init_customer/:field/:value") { %>
    <%- include('../packages/history/views/history_init_customer/scripts/list_history_init_customers-script.ejs') %>
<% } %>

<% if (render.code === "/history_init_customer/add-history_init_customer") { %>
    <%- include('../packages/history/views/history_init_customer/scripts/add_history_init_customer-script.ejs') %>
<% } %>

<% if (render.code === "/history_init_customer/update-history_init_customer-by-id") { %>
    <%- include('../packages/history/views/history_init_customer/scripts/update_history_init_customer-script.ejs') %>
<% } %>

<% if (render.code === "/exchange_sampling/list-exchange_sampling") { %>
    <%- include('../packages/history/views/exchange_sampling/scripts/list_exchange_samplings-script.ejs') %>
<% } %>

<% if (render.code === "/exchange_sampling/list-exchange_sampling/:field/:value") { %>
    <%- include('../packages/history/views/exchange_sampling/scripts/list_exchange_samplings-script.ejs') %>
<% } %>

<% if (render.code === "/exchange_sampling/add-exchange_sampling") { %>
    <%- include('../packages/history/views/exchange_sampling/scripts/add_exchange_sampling-script.ejs') %>
<% } %>

<% if (render.code === "/exchange_sampling/update-exchange_sampling-by-id") { %>
    <%- include('../packages/history/views/exchange_sampling/scripts/update_exchange_sampling-script.ejs') %>
<% } %>

<% if (render.code === "/product/list-product") { %>
    <%- include('../packages/product/views/product/scripts/list_products-script.ejs') %>
<% } %>

<% if (render.code === "/product/list-product/:field/:value") { %>
    <%- include('../packages/product/views/product/scripts/list_products-script.ejs') %>
<% } %>

<% if (render.code === "/product/add-product") { %>
    <%- include('../packages/product/views/product/scripts/add_product-script.ejs') %>
<% } %>

<% if (render.code === "/product/update-product-by-id") { %>
    <%- include('../packages/product/views/product/scripts/update_product-script.ejs') %>
<% } %>

<% if (render.code === "/criteria_campaign_config/list-criteria_campaign_config") { %>
    <%- include('../packages/config/views/criteria_campaign_config/scripts/list_criteria_campaign_configs-script.ejs') %>
<% } %>

<% if (render.code === "/criteria_campaign_config/list-criteria_campaign_config/:field/:value") { %>
    <%- include('../packages/config/views/criteria_campaign_config/scripts/list_criteria_campaign_configs-script.ejs') %>
<% } %>

<% if (render.code === "/criteria_campaign_config/add-criteria_campaign_config") { %>
    <%- include('../packages/config/views/criteria_campaign_config/scripts/add_criteria_campaign_config-script.ejs') %>
<% } %>

<% if (render.code === "/criteria_campaign_config/update-criteria_campaign_config-by-id") { %>
    <%- include('../packages/config/views/criteria_campaign_config/scripts/update_criteria_campaign_config-script.ejs') %>
<% } %>

<% if (render.code === "/management_import_export_gift/list-management_import_export_gift") { %>
    <%- include('../packages/management/views/management_import_export_gift/scripts/list_management_import_export_gifts-script.ejs') %>
<% } %>

<% if (render.code === "/management_import_export_gift/list-management_import_export_gift/:field/:value") { %>
    <%- include('../packages/management/views/management_import_export_gift/scripts/list_management_import_export_gifts-script.ejs') %>
<% } %>

<% if (render.code === "/management_import_export_gift/add-management_import_export_gift") { %>
    <%- include('../packages/management/views/management_import_export_gift/scripts/add_management_import_export_gift-script.ejs') %>
<% } %>

<% if (render.code === "/management_import_export_gift/update-management_import_export_gift-by-id") { %>
    <%- include('../packages/management/views/management_import_export_gift/scripts/update_management_import_export_gift-script.ejs') %>
<% } %>

<% if (render.code === "/inventory_begin_month/list-inventory_begin_month") { %>
    <%- include('../packages/inventory_begin_month/views/inventory_begin_month/scripts/list_inventory_begin_months-script.ejs') %>
<% } %>

<% if (render.code === "/inventory_begin_month/list-inventory_begin_month/:field/:value") { %>
    <%- include('../packages/inventory_begin_month/views/inventory_begin_month/scripts/list_inventory_begin_months-script.ejs') %>
<% } %>

<% if (render.code === "/inventory_begin_month/add-inventory_begin_month") { %>
    <%- include('../packages/inventory_begin_month/views/inventory_begin_month/scripts/add_inventory_begin_month-script.ejs') %>
<% } %>

<% if (render.code === "/inventory_begin_month/update-inventory_begin_month-by-id") { %>
    <%- include('../packages/inventory_begin_month/views/inventory_begin_month/scripts/update_inventory_begin_month-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_gift/list-history_exchange_gift") { %>
    <%- include('../packages/history/views/history_exchange_gift/scripts/list_history_exchange_gifts-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_gift/list-history_exchange_gift/:field/:value") { %>
    <%- include('../packages/history/views/history_exchange_gift/scripts/list_history_exchange_gifts-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_gift/add-history_exchange_gift") { %>
    <%- include('../packages/history/views/history_exchange_gift/scripts/add_history_exchange_gift-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_gift/update-history_exchange_gift-by-id") { %>
    <%- include('../packages/history/views/history_exchange_gift/scripts/update_history_exchange_gift-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_sampling/list-history_exchange_sampling") { %>
    <%- include('../packages/history/views/history_exchange_sampling/scripts/list_history_exchange_samplings-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_sampling/list-history_exchange_sampling/:field/:value") { %>
    <%- include('../packages/history/views/history_exchange_sampling/scripts/list_history_exchange_samplings-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_sampling/add-history_exchange_sampling") { %>
    <%- include('../packages/history/views/history_exchange_sampling/scripts/add_history_exchange_sampling-script.ejs') %>
<% } %>

<% if (render.code === "/history_exchange_sampling/update-history_exchange_sampling-by-id") { %>
    <%- include('../packages/history/views/history_exchange_sampling/scripts/update_history_exchange_sampling-script.ejs') %>
<% } %>

<% if (render.code === "/employee_store/list-employee_store") { %>
    <%- include('../packages/employee_store/views/employee_store/scripts/list_employee_stores-script.ejs') %>
<% } %>

<% if (render.code === "/employee_store/list-employee_store/:field/:value") { %>
    <%- include('../packages/employee_store/views/employee_store/scripts/list_employee_stores-script.ejs') %>
<% } %>

<% if (render.code === "/employee_store/add-employee_store") { %>
    <%- include('../packages/employee_store/views/employee_store/scripts/add_employee_store-script.ejs') %>
<% } %>

<% if (render.code === "/employee_store/update-employee_store-by-id") { %>
    <%- include('../packages/employee_store/views/employee_store/scripts/update_employee_store-script.ejs') %>
<% } %>

<% if (render.code === "/inventory/list-inventory") { %>
    <%- include('../packages/inventory/views/inventory/scripts/list_inventorys-script.ejs') %>
<% } %>

<% if (render.code === "/inventory/list-inventory/:field/:value") { %>
    <%- include('../packages/inventory/views/inventory/scripts/list_inventorys-script.ejs') %>
<% } %>

<% if (render.code === "/inventory/add-inventory") { %>
    <%- include('../packages/inventory/views/inventory/scripts/add_inventory-script.ejs') %>
<% } %>

<% if (render.code === "/inventory/update-inventory-by-id") { %>
    <%- include('../packages/inventory/views/inventory/scripts/update_inventory-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_require/list-kpi_salein_require") { %>
    <%- include('../packages/kpi/views/kpi_salein_require/scripts/list_kpi_salein_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_require/list-kpi_salein_require/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_salein_require/scripts/list_kpi_salein_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_require/add-kpi_salein_require") { %>
    <%- include('../packages/kpi/views/kpi_salein_require/scripts/add_kpi_salein_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_require/update-kpi_salein_require-by-id") { %>
    <%- include('../packages/kpi/views/kpi_salein_require/scripts/update_kpi_salein_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_actually/list-kpi_salein_actually") { %>
    <%- include('../packages/kpi/views/kpi_salein_actually/scripts/list_kpi_salein_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_actually/list-kpi_salein_actually/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_salein_actually/scripts/list_kpi_salein_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_actually/add-kpi_salein_actually") { %>
    <%- include('../packages/kpi/views/kpi_salein_actually/scripts/add_kpi_salein_actually-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_salein_actually/update-kpi_salein_actually-by-id") { %>
    <%- include('../packages/kpi/views/kpi_salein_actually/scripts/update_kpi_salein_actually-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_require/list-kpi_present_require") { %>
    <%- include('../packages/kpi/views/kpi_present_require/scripts/list_kpi_present_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_require/list-kpi_present_require/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_present_require/scripts/list_kpi_present_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_require/add-kpi_present_require") { %>
    <%- include('../packages/kpi/views/kpi_present_require/scripts/add_kpi_present_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_require/update-kpi_present_require-by-id") { %>
    <%- include('../packages/kpi/views/kpi_present_require/scripts/update_kpi_present_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_actually/list-kpi_present_actually") { %>
    <%- include('../packages/kpi/views/kpi_present_actually/scripts/list_kpi_present_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_actually/list-kpi_present_actually/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_present_actually/scripts/list_kpi_present_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_actually/add-kpi_present_actually") { %>
    <%- include('../packages/kpi/views/kpi_present_actually/scripts/add_kpi_present_actually-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_present_actually/update-kpi_present_actually-by-id") { %>
    <%- include('../packages/kpi/views/kpi_present_actually/scripts/update_kpi_present_actually-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_require/list-kpi_sbd_require") { %>
    <%- include('../packages/kpi/views/kpi_sbd_require/scripts/list_kpi_sbd_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_require/list-kpi_sbd_require/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_sbd_require/scripts/list_kpi_sbd_requires-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_require/add-kpi_sbd_require") { %>
    <%- include('../packages/kpi/views/kpi_sbd_require/scripts/add_kpi_sbd_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_require/update-kpi_sbd_require-by-id") { %>
    <%- include('../packages/kpi/views/kpi_sbd_require/scripts/update_kpi_sbd_require-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_actually/list-kpi_sbd_actually") { %>
    <%- include('../packages/kpi/views/kpi_sbd_actually/scripts/list_kpi_sbd_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_actually/list-kpi_sbd_actually/:field/:value") { %>
    <%- include('../packages/kpi/views/kpi_sbd_actually/scripts/list_kpi_sbd_actuallys-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_actually/add-kpi_sbd_actually") { %>
    <%- include('../packages/kpi/views/kpi_sbd_actually/scripts/add_kpi_sbd_actually-script.ejs') %>
<% } %>

<% if (render.code === "/kpi_sbd_actually/update-kpi_sbd_actually-by-id") { %>
    <%- include('../packages/kpi/views/kpi_sbd_actually/scripts/update_kpi_sbd_actually-script.ejs') %>
<% } %>

                                <% if (render.code === "/kpi_mhtt_require/list-kpi_mhtt_require") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_require/scripts/list_kpi_mhtt_requires-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_require/list-kpi_mhtt_require/:field/:value") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_require/scripts/list_kpi_mhtt_requires-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_require/add-kpi_mhtt_require") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_require/scripts/add_kpi_mhtt_require-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_require/update-kpi_mhtt_require-by-id") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_require/scripts/update_kpi_mhtt_require-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_config_products/list-kpi_mhtt_config_products") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_config_products/scripts/list_kpi_mhtt_config_productss-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_config_products/list-kpi_mhtt_config_products/:field/:value") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_config_products/scripts/list_kpi_mhtt_config_productss-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_config_products/add-kpi_mhtt_config_products") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_config_products/scripts/add_kpi_mhtt_config_products-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/kpi_mhtt_config_products/update-kpi_mhtt_config_products-by-id") { %>
                                    <%- include('../packages/kpi/views/kpi_mhtt_config_products/scripts/update_kpi_mhtt_config_products-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program/list-trial_program") { %>
                                    <%- include('../packages/trial_program/views/trial_program/scripts/list_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program/list-trial_program/:field/:value") { %>
                                    <%- include('../packages/trial_program/views/trial_program/scripts/list_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program/add-trial_program") { %>
                                    <%- include('../packages/trial_program/views/trial_program/scripts/add_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program/update-trial_program-by-id") { %>
                                    <%- include('../packages/trial_program/views/trial_program/scripts/update_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/user_fields_register_trial_program/list-user_fields_register_trial_program") { %>
                                    <%- include('../packages/trial_program/views/user_fields_register_trial_program/scripts/list_user_fields_register_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/user_fields_register_trial_program/list-user_fields_register_trial_program/:field/:value") { %>
                                    <%- include('../packages/trial_program/views/user_fields_register_trial_program/scripts/list_user_fields_register_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/user_fields_register_trial_program/add-user_fields_register_trial_program") { %>
                                    <%- include('../packages/trial_program/views/user_fields_register_trial_program/scripts/add_user_fields_register_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/user_fields_register_trial_program/update-user_fields_register_trial_program-by-id") { %>
                                    <%- include('../packages/trial_program/views/user_fields_register_trial_program/scripts/update_user_fields_register_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/field_config_register_trial_program/list-field_config_register_trial_program") { %>
                                    <%- include('../packages/trial_program/views/field_config_register_trial_program/scripts/list_field_config_register_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/field_config_register_trial_program/list-field_config_register_trial_program/:field/:value") { %>
                                    <%- include('../packages/trial_program/views/field_config_register_trial_program/scripts/list_field_config_register_trial_programs-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/field_config_register_trial_program/add-field_config_register_trial_program") { %>
                                    <%- include('../packages/trial_program/views/field_config_register_trial_program/scripts/add_field_config_register_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/field_config_register_trial_program/update-field_config_register_trial_program-by-id") { %>
                                    <%- include('../packages/trial_program/views/field_config_register_trial_program/scripts/update_field_config_register_trial_program-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program_history_contact/list-trial_program_history_contact") { %>
                                    <%- include('../packages/trial_program/views/trial_program_history_contact/scripts/list_trial_program_history_contacts-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program_history_contact/list-trial_program_history_contact/:field/:value") { %>
                                    <%- include('../packages/trial_program/views/trial_program_history_contact/scripts/list_trial_program_history_contacts-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program_history_contact/add-trial_program_history_contact") { %>
                                    <%- include('../packages/trial_program/views/trial_program_history_contact/scripts/add_trial_program_history_contact-script.ejs') %>
                                <% } %>
                            
                                <% if (render.code === "/trial_program_history_contact/update-trial_program_history_contact-by-id") { %>
                                    <%- include('../packages/trial_program/views/trial_program_history_contact/scripts/update_trial_program_history_contact-script.ejs') %>
                                <% } %>
                            