<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách khách hàng</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/wallet/list-wallet">Ví khách hàng</a></li>
                         <li class="breadcrumb-item active">Danh sách ví khách hàng</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link <%= kind ? '' : 'active' %>" href="/wallet/list-wallet">Tất cả</a>
                        </li>
                        <li class="nav-item">
                          	<a class="nav-link <%= kind == 1 && 'active' %>" href="/wallet/list-wallet?kind=1">Ví GloQ</a>
                        </li>
                        <li class="nav-item">
                          	<a class="nav-link <%= kind == 2 && 'active' %>" href="/wallet/list-wallet?kind=2">Ví Nandio</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link <%= kind == 3 && 'active' %>" href="/wallet/list-wallet?kind=3">Ví Nhân viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <%= kind == 4 && 'active' %>" href="/wallet/list-wallet?kind=4">Ví Người tiêu dùng</a>
                        </li>
					</ul>
                </div>
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <table class="content-table" id="tableListWalletCustomer">
								<thead>
									<tr>
										<th>STT</th>
										<th>Địa chỉ ví</th>
										<th>Tên khách hàng</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Giới tính</th>
										<th>Điểm</th>
										<th>Ngày tạo</th>
									</tr>
								</thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm model-update-point-customer" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật điểm</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>

            <div class="modal-body">
				<div class="row">
                    <div class="form-group col-md-12">
						<label>Tên khách hàng: </label> <b id="txtFullnameCustomerUpdate"></b>
                    </div>
					<div class="form-group col-md-12">
						<label>Số điện thoại: </label> <b id="txtPhoneCustomerUpdate"></b>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Điểm xếp hạng</label> 
                        <input type="number" class="form-control" id="txtPointRankingUpdate" placeholder="VD: 200">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12"><label>Điểm có thể sử dụng</label> 
                        <input type="number" class="form-control" id="txtPointUpdate" placeholder="VD: 100">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdatePoint">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
