<% moment.locale('vi') %>
<style>
    img.img-thumbnail{
        width: 100px;
    }
</style>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Danh sách bình luận</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                         <li class="breadcrumb-item active">Danh sách bình luận</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                           
                            <table class="content-table" id="tableListComment">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ Tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Nội dung</th>
                                        <th>Ngày tạo</th>
                                        <th>Hiển thị</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (listComment && listComment.length) { %>
										<% listComment.forEach((comment, index) => { %>
											<% if (comment.author) { %>
												<tr>
													<td><%= index + 1 %></td>
													<td>
														<%= comment.author.fullname %>
													</td>
													<td>
														<%= comment.author.email %>
													</td>
													<td>
														<%= comment.author.phone %>
													</td>
													<td>
														<%= comment.content%>
													</td>
													<td>
														<%= moment(comment.createAt).format('L') %> 
													</td>
													<td>
														<input type="checkbox" <% if (comment.status == 1) { %>
															checked
														<% } %> class="checkboxUpdateStatusComment" _commentID="<%= comment._id%>">
													</td>
													<td>
														<div class="btn-group mb-2">
															<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
																Thao Tác
															</button>
															<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<span class="sr-only">...</span>
															</button>
															<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
																<a class="dropdown-item btnRemovecomment" href="javascript:void(0)" _commentID="<%= comment._id %>" >Xóa</a>
															</div>
														</div>
													</td>
												</tr>
											<% } %>
										<% }) %>
									<% } %>
                                </tbody>
                            </table>
                            <!-- PAGING (WEB ADMIN) -->
                            <%#- include ./utils/paging.ejs%>
                            <!--END PAGING (WEB ADMIN) -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
