/* body.dark-sidenav .left-sidenav{
    background-color: #0c213a;
} */


.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 35px auto;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit label{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

/* .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
} */

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    /* border-radius: 100%; */
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    /* border-radius: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    object-fit: cover;
}

.btn-add-more-upload{
    width: 100%;
    height: 100%;
    font-size: 50px;
}

.btn-soft-secondary{
    color: #73757c;
}

.container-button-bottom{
    bottom: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid #e4e6e9 !important;
    /* background-color: #0c213a; */
    z-index: 1;
}

.custom-alert{
    width: 400px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 100000000;
}

.alert.icon-custom-alert{
    padding: 15px !important;
}

.fade:not(.show){
    position: absolute;
    visibility: hidden;
}

.custom-alert.top-right{
    top: 15px;
    right: 15px;
}

.custom-alert.top-left{
    top: 15px;
    left: 15px;
}

.custom-alert.bottom-left{
    bottom: 0;
    left: 15px;
}

.custom-alert.bottom-right{
    bottom: 0;
    right: 15px;
}

.box-order-line .box-dropzone-file{
	width: 120px;
	height: 100px;
	border-radius: 8px;
	border: 1px dashed #1791f2;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 10px;
	position: relative;
	margin-bottom: 35px;
}

.box-preview-image{
	position: relative;
	width: 100%;
}

.box-preview-image img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.edit-image{
	width: 100%;
	bottom: 0;
	background: rgb(0,0,0, .5);
	position: absolute;
	height: 30px;
	display: flex;
	justify-content: space-evenly;
	padding-top: 5px;
	visibility: hidden;
}

.edit-image a i{
	color: white;
}

.box-preview-image:hover .edit-image{
	visibility: visible;
}

.box-order-line .box-dropzone-file:hover{
	background-color: aliceblue;
}

.box-processing-upload-file{
	margin-top: 40px;
	width: 100%;
}

.box-drag-and-drop{
	width: 100%;
}

.box-drag-and-drop span{
	font-size: 15px;
	border: 1px solid #1791f2;
	color: #1791f2;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	text-align: center;
}

.label-bottom{
    position: absolute;
    bottom: -25px
}

.btn-edit-image{
	display: none;
}

.icon-demo-content > div{
    cursor: pointer;
}

.btn-soft-secondary,
.btn-soft-primary,
.btn-soft-warning,
.btn-soft-danger{
    transition: 1ms !important;
}

#global-loader{
    position: fixed;
    z-index: 50000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center
}

#global-loader img{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 37%;
    margin: 0 auto
}


#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        /* background: #222222; */
        background: #fff;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  