<script>
    $(document).ready(function() {



        initInputMaxLength('#system_config__limitexchangesampling');



        $('#system_config__timebeforecheckin').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#system_config__timebeforecheckin', "Vui lòng nhập thời gian trước khi checkin");
            } else {
                disableValidate('#system_config__timebeforecheckin');
            }
        });

        $('#system_config__timeaftercheckout').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#system_config__timeaftercheckout', "Vui lòng nhập thời gian sau khi checkout");
            } else {
                disableValidate('#system_config__timeaftercheckout');
            }
        });

        $('#system_config__limitexchangegift').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#system_config__limitexchangegift', "Vui lòng nhập giới hạn đổi quà/ngày");
            } else {
                disableValidate('#system_config__limitexchangegift');
            }
        });

        $('#system_config__limitexchangesampling').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#system_config__limitexchangesampling', "Vui lòng nhập giới hạn hàng dùng thử/ngày");
            } else {
                disableValidate('#system_config__limitexchangesampling');
            }
        });



        const getFormInsert = () => {

            let timeBeforeCheckin = $('#system_config__timebeforecheckin').val();

            let timeAfterCheckout = $('#system_config__timeaftercheckout').val();

            let limitExchangeGift = $('#system_config__limitexchangegift').val();

            let limitExchangeSampling = $('#system_config__limitexchangesampling').val();

            return {
                timeBeforeCheckin,
                timeAfterCheckout,
                limitExchangeGift,
                limitExchangeSampling,
            };
        }

        const checkFormValid = params => {
            let {
                timeBeforeCheckin,
                timeAfterCheckout,
                limitExchangeGift,
                limitExchangeSampling,
            } = params;
            let fieldsError = [];




            if (!timeBeforeCheckin) {
                fieldsError = [...fieldsError, 'system_config__timebeforecheckin'];
                enableValidate('#system_config__timebeforecheckin', "Vui lòng nhập thời gian trước khi checkin");
            } else {
                if (!fieldsError.includes('system_config__timebeforecheckin')) {
                    disableValidate('#system_config__timebeforecheckin');
                }
            }

            if (!timeAfterCheckout) {
                fieldsError = [...fieldsError, 'system_config__timeaftercheckout'];
                enableValidate('#system_config__timeaftercheckout', "Vui lòng nhập thời gian sau khi checkout");
            } else {
                if (!fieldsError.includes('system_config__timeaftercheckout')) {
                    disableValidate('#system_config__timeaftercheckout');
                }
            }

            if (!limitExchangeGift) {
                fieldsError = [...fieldsError, 'system_config__limitexchangegift'];
                enableValidate('#system_config__limitexchangegift', "Vui lòng nhập giới hạn đổi quà/ngày");
            } else {
                if (!fieldsError.includes('system_config__limitexchangegift')) {
                    disableValidate('#system_config__limitexchangegift');
                }
            }

            if (!limitExchangeSampling.trim()) {
                fieldsError = [...fieldsError, 'system_config__limitexchangesampling'];
                enableValidate('#system_config__limitexchangesampling', "Vui lòng nhập giới hạn hàng dùng thử/ngày");
            } else {
                if (!fieldsError.includes('system_config__limitexchangesampling')) {
                    disableValidate('#system_config__limitexchangesampling');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_SYSTEM_CONFIG.ADD_SYSTEM_CONFIG %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm cấu hình hệ thống thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>