<script>
    $(document).ready(function() {

        $("#notification__status").select2({
            width: "100%"
        });
        $("#notification__status").val("<%= infoNotification.status %>").trigger('change');

        initEditor("#notification__content");


        initInputMaxLength('#notification__name');
        initInputMaxLength('#notification__description');

        $('#modalFilterEmployee').on('hidden.bs.modal', function () {
            $('#btnConfirmUpdate').attr('disabled', false);
        })

        $('#notification__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#notification__name', "Vui lòng nhập tiêu đề");
            } else {
                disableValidate('#notification__name');
            }
        });

        $('#notification__from').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#notification__from', "Vui lòng nhập ngày bắt đầu");
            } else {
                disableValidate('#notification__from');
            }
        });

        $('#notification__to').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#notification__to', "Vui lòng nhập ngày kết thúc");
            } else {
                disableValidate('#notification__to');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        let optsEmployee = {};
        let dataTableEmployee = {};

        let listemployeeSelected = `<%= listReceiver_notification && listReceiver_notification.map(item => item.receiver) %>`.split(',').filter(Boolean);
        let employeeSelected = listemployeeSelected || [];
        optsEmployee.idsSelected = employeeSelected;


        $('input[type="radio"][name="rdOptionsEmployee"]').on('change', function() {
            const value = $(this).val()

            if (value === 'specify') {
                $('[data-bs-target="#modalFilterEmployee"]').removeClass('d-none');
            } else {
                $('[data-bs-target="#modalFilterEmployee"]').addClass('d-none');
            }
        });

        $('[data-bs-target="#modalFilterEmployee"]').on('click', function() {
            if (!Object.keys(dataTableEmployee).length) {
                dataTableEmployee = $('#modalFilterEmployee .table-list').DataTable({
                    'iDisplayLength': 5,
                    ...languageDataTable,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "type": "POST",
                        "url": '/notification/list-employee-table-sub',
                        "dataType": "json",
                        data: d => ({
                            ...d,
                            ...optsEmployee
                        })
                    },
                    "columns": [{
                            "data": "fullname"
                        }, {
                            "data": "code"
                        }, {
                            "data": "username"
                        }, {
                            "data": "email"
                        }, {
                            "data": "region"
                        }, {
                            "data": "area"
                        }, {
                            "data": "distributor"
                        }, {
                            "data": "type_employee"
                        }, {
                            "data": "status"
                        },
                        {
                            "data": "createAt"
                        },
                        {
                            "data": "action"
                        }
                    ],
                });
            }
        });

        $(document).on('click', '#modalFilterEmployee .btn-select', function() {
            let {
                page
            } = dataTableEmployee.page.info();
            let htmlRow = $(this).closest('tr').clone();
            let rowID = htmlRow.find('.btn-select').data('id');

            if (employeeSelected.includes(rowID)) {
                return AlertCustom({
                    title: 'THÔNG BÁO',
                    message: 'Bạn đã chọn nhân viên này',
                    icon: 'warning'
                });
            }

            employeeSelected[employeeSelected.length] = rowID;
            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();
            dataTableEmployee.page(page).draw('page');

            let totalCurrent = +$('#modalFilterEmployee .total-selected').text();
            $('#modalFilterEmployee .total-selected').text(totalCurrent + 1);
        });

        $(document).on('click', '#modalFilterEmployee .btn-unselect', function() {
            let {
                page
            } = dataTableEmployee.page.info();
            let rowID = $(this).data('id');

            employeeSelected = employeeSelected.filter(id => id !== rowID);
            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();
            dataTableEmployee.page(page).draw('page');

            let totalCurrent = +$('#modalFilterEmployee .total-selected').text();
            $('#modalFilterEmployee .total-selected').text(totalCurrent >= 1 ? totalCurrent - 1 : 0);
        });

        $('#modalFilterEmployee .btn-select-all').on('click', function() {
            let {
                page
            } = dataTableEmployee.page.info();
            let totalSelect = 0;
            let bodyTable = $('#modalFilterEmployee .table-list tbody').clone();

            bodyTable.find('tr button').map((i, elem) => {
                const rowID = $(elem).data('id');

                if (!employeeSelected.includes(rowID)) {
                    totalSelect++;
                    employeeSelected[employeeSelected.length] = rowID;
                }
            })

            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();
            dataTableEmployee.page(page).draw('page');

            let totalCurrent = +$('#modalFilterEmployee .total-selected').text();
            $('#modalFilterEmployee .total-selected').text(totalCurrent + totalSelect);
        });

        $('#modalFilterEmployee .btn-unselect-current-page').on('click', function() {
            let {
                page
            } = dataTableEmployee.page.info();
            let totalSelect = 0;

            $('#modalFilterEmployee .table-list tbody tr button').each((i, elem) => {
                const rowID = $(elem).data('id');
                if (employeeSelected.includes(rowID)) {
                    totalSelect++;
                }
                employeeSelected = employeeSelected.filter(id => id !== rowID);
                totalSelect++;
            })

            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();
            dataTableEmployee.page(page).draw('page');

            let totalCurrent = +$('#modalFilterEmployee .total-selected').text();
            $('#modalFilterEmployee .total-selected').text(totalCurrent >= totalSelect ? totalCurrent - totalSelect : 0);
        });

        $('#modalFilterEmployee .btn-unselect-all').on('click', function() {
            employeeSelected = [];
            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();

            $('#modalFilterEmployee .total-selected').text(0);
        });

        $('#modalFilterEmployee .input-search-select').on('keypress', function(e) {
            if (e.which == 13) {
                optsEmployee.keyword = $(this).val();
                dataTableEmployee.ajax.reload();
            }
        });

        $('#modalFilterEmployee .btn-search-select').on('click', function() {
            optsEmployee.keyword = $('#modalFilterEmployee .input-search-select').val().trim();
            dataTableEmployee.ajax.reload();
        });

        $('#modalFilterEmployee .btn-reset-filter').on('click', function() {
            optsEmployee.filter = [];
            dataTableEmployee.ajax.reload();
        });

        $('#offcanvasConditionEmployee').on('hide.bs.offcanvas', function() {
            $('.modal-backdrop').removeClass('unblur');
        });

        $('#modalFilterEmployee .btn-cancel-select').on('click', function() {
            employeeSelected = [];
            optsEmployee.idsSelected = employeeSelected;
            dataTableEmployee.ajax.reload();

            $('#btnOpenModalSelectEmployee').text('Chọn nhân viên');
            $('#modalFilterEmployee .total-selected').text(0);
        });

        $('#modalFilterEmployee .btn-save-select').on('click', function() {
            const totalSelected = employeeSelected.length;
            if (totalSelected) {
                $('#btnOpenModalSelectEmployee').text(`Đã chọn ${totalSelected} nhân viên`);
            } else {
                $('#btnOpenModalSelectEmployee').text('Chọn nhân viên');
            }
        });

        $('#modalFilterEmployee .btn-discard-filter').on('click', function() {
            optsEmployee.filter = [];
            dataTableEmployee.ajax.reload();
            $('.modal-backdrop').addClass('unblur');
            $('#modalFilterEmployee [data-repeater-item]:not(.d-none)').remove();
            $('#modalFilterEmployee .btn-add-filter').trigger('click');
        });

        $('#modalFilterEmployee .btn-add-filter').on('click', function() {
            const tid = randomStringFixLengthCode(15);
            const template = $('#modalFilterEmployee [data-repeater-item].d-none')
                .clone()
                .removeClass('d-none')
                .attr('__tid', tid);

            // Append condition field
            $('#modalFilterEmployee [data-repeater-list="condition"]').append(template);

            // Set select 2
            template.find('.input-field-compare, .input-select-value').each((i, elem) => {
                $(elem).select2({
                    dropdownParent: template,
                    width: '100%'
                });
            })

            template.find('.input-field-name, .input-field-ref-name').select2({
                dropdownParent: template,
                width: "100%"
            });

            if ($('#modalFilterEmployee [data-repeater-item]:not(.d-none)').length > 1) {
                template.find('.line-condition').removeClass('d-none');
            }
        });
        $('#modalFilterEmployee .btn-add-filter').trigger('click');

        $('#modalFilterEmployee .btn-apply-filter').on('click', function() {
            const conditions = $('#modalFilterEmployee [data-repeater-item]:not(.d-none)');
            optsEmployee.filter = [];

            conditions.each((i, condition) => {
                let fieldName = $(condition).find('.input-field-name').val();
                let type = $(condition).find('.input-field-name').find(":selected").data('type');
                let fieldCondition = $(condition).find(`[data-follow=${fieldName}]`);

                if (type && fieldName) {
                    if (type === 'ref') {
                        let fieldRefName = fieldCondition.find('.input-field-ref-name').val();
                        let typeFieldRef = fieldCondition.find('.input-field-ref-name').find(":selected").data('type');
                        let fieldRefCondition = fieldCondition.find(`[data-follow=${fieldRefName}]`);
                        let cond = fieldRefCondition.find('.input-field-compare').val();
                        let value = fieldRefCondition.find('.input-field-value:not(.d-none), .input-select-value').val();

                        optsEmployee.filter = [...optsEmployee.filter, {
                            type,
                            fieldRefName: fieldName,
                            ref: {
                                type: typeFieldRef,
                                fieldName: fieldRefName,
                                cond,
                                value
                            }
                        }]
                    } else {
                        let cond = fieldCondition.find('.input-field-compare').val();
                        let value = fieldCondition.find('.input-field-value:not(.d-none), .input-select-value').val();

                        optsEmployee.filter = [...optsEmployee.filter, {
                            type,
                            fieldName,
                            cond,
                            value
                        }]
                    }
                }

            })

            $('.modal-backdrop').addClass('unblur');
            optsEmployee.condition = $('#modalFilterEmployee [data-repeater-item]:not(.d-none) .type-condition').attr('data-type-condition');
            dataTableEmployee.ajax.reload();
        });

        // END SCRIPT MODAL SELECT EMPLOYEE


        $(document).on('click', '.type-condition', function() {
            const typeCondition = $(this).attr('data-type-condition');
            const template = $('[data-repeater-item] .type-condition');

            if (typeCondition === 'OR') {
                template
                    .attr('data-type-condition', 'AND')
                    .children()
                    .text('AND')
                    .addClass('badge-soft-primary')
                    .removeClass('badge-soft-warning')
            } else {
                template
                    .attr('data-type-condition', 'OR')
                    .children()
                    .text('OR')
                    .addClass('badge-soft-warning')
                    .removeClass('badge-soft-primary')
            }
        });

        $(document).on('change', '.input-field-compare', function() {
            const template = $(this).closest('[data-repeater-item]');
            const parentType = $(this).parent().data('type');
            const value = $(this).val();

            switch (value) {
                case 'equal':
                case 'not-equal':
                case 'greater-than':
                case 'less-than':
                case 'start-with':
                case 'end-with':
                case 'is-contains':
                case 'not-contains':
                case 'before':
                case 'after':
                    if (parentType === 'date') {
                        $(this).parent().find('input[type="date"]').removeClass('d-none');
                        $(this).parent().find('input[type="number"]').addClass('d-none');
                    } else {
                        $(this).parent().find('.input-field-value').removeClass('d-none');
                        $(this).parent().find('.input-select-value').next().removeClass('d-none');
                    }
                    break;
                case 'before-hours':
                case 'before-days':
                case 'before-months':
                    $(this).parent().find('input[type="date"]').addClass('d-none');
                    $(this).parent().find('input[type="number"]').removeClass('d-none');
                    break;
                default:
                    $(this).parent().find('.input-field-value').addClass('d-none');
                    $(this).parent().find('.input-select-value').next().addClass('d-none');
                    break;
            }
        });

        $(document).on('change', '.input-field-name', function() {
            const template = $(this).closest('[data-repeater-item]');
            const value = $(this).val();

            template.find('[data-follow]').addClass('d-none').removeClass('d-flex');
            template.find(`[data-follow=${value}]`).removeClass('d-none').addClass('d-flex');
        });

        $(document).on('change', '.input-field-ref-name', function() {
            const template = $(this).closest('[data-repeater-item]');
            const parent = $(this).parent();
            const value = $(this).val();

            parent.find('[data-follow]').addClass('d-none').removeClass('d-flex');
            parent.find(`[data-follow=${value}]`).removeClass('d-none').addClass('d-flex');
        });


        const getFormUpdate = () => {
            let name = $('#notification__name').val();
            let description = $('#notification__description').val();
            let content = tinyMCE.get("notification__content").getContent();

            let cbEmployee = $('input[type="radio"][name="rdOptionsEmployee"]:checked').val();
            let receivers = [];

            if (cbEmployee === 'specify') {
                receivers = [...employeeSelected];
            } else {
                receivers = ['all'];
            }
            let status = $('#notification__status').val();
            let from = $('#notification__from').val();
            let to = $('#notification__to').val();
            let order = $('#notification__order').val();

            return {
                name,
                description,
                content,
                receivers,
                status,
                from,
                to,
                order,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                description,
                content,
                receivers,
                status,
                from,
                to,
                order,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'notification__status'];
                enableValidate('#notification__status', "trang thái không hợp lệ");
            } else {
                if (!fieldsError.includes('notification__status')) {
                    disableValidate('#notification__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'notification__name'];
                enableValidate('#notification__name', "Vui lòng nhập tiêu đề");
            } else {
                if (!fieldsError.includes('notification__name')) {
                    disableValidate('#notification__name');
                }
            }

            if (!from) {
                fieldsError = [...fieldsError, 'notification__from'];
                enableValidate('#notification__from', "Vui lòng nhập ngày bắt đầu");
            } else {
                if (!fieldsError.includes('notification__from')) {
                    disableValidate('#notification__from');
                }
            }

            if (!to) {
                fieldsError = [...fieldsError, 'notification__to'];
                enableValidate('#notification__to', "Vui lòng nhập ngày kết thúc");
            } else {
                if (!fieldsError.includes('notification__to')) {
                    disableValidate('#notification__to');
                }
            }

            if (new Date(from) > new Date(to)) {
                fieldsError = [...fieldsError, 'notification__from'];
                enableValidate('#notification__from', "Ngày bắt đầu không hợp lệ");
            } else {
                if (!fieldsError.includes('notification__from')) {
                    disableValidate('#notification__from');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_NOTIFICATION.UPDATE_NOTIFICATION_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật thông báo thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.notificationID = $(this).attr('__notificationID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>
