<script>
    $(document).ready(function(){
		$('#tableListTagging').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		});

		$("#categoryImage").on('change', changePreviewImage);

		$(".btnCreateTagging").on("click", function(e) {
			e.preventDefault();
			$("#formCreateTagging").modal("show");
			$("#exampleModalLabel").text("Tạo tagging");
			$("#btnAddTagging").text("Tạo mới");
			$("#btnAddTagging").removeAttr('_taggingID');
			$("#txtTitle").val("");
			$("#txtDescription").val("");
		});

		$(".btnUpdateTagging").on("click", function(e) {
			e.preventDefault();
			let taggingID = $(this).attr("_taggingID");
			
			$("#btnAddTagging").text("Cập nhật");
			$("#exampleModalLabel").text("Cập nhật tagging");
			$("#formCreateTagging").modal("show");
			$("#btnAddTagging").attr("_taggingID", taggingID);

			$.ajax({
                url: `/tagging/info-tagging/${taggingID}`,
                method: 'GET',
				success: function(resp) {
					if(resp.error)
						return toastr.warning(`Có lỗi trong quá trình thực hiện`, 'THÔNG BÁO');
					else {
						let infoTagging = resp.data
						console.log({ infoTagging });
						$("#txtTitle").val(infoTagging.title);
						$("#txtDescription").val(infoTagging.description);
						$("#txtStatus").empty();
						if(infoTagging.status == 1){
							$("#txtStatus").append(`
								<option value="1" selected>Hoạt động</option>
                                <option value="0">Không hoạt động</option>
							`);
						}else{
							$("#txtStatus").append(`
								<option value="1">Hoạt động</option>
                                <option value="0" selected>Không hoạt động</option>
							`);
						}
					}
				}
            })

		});

		$("#btnAddTagging").on("click", async function(e) {
			e.preventDefault();

			const title       = $('#txtTitle').val().trim();
			const description = $('#txtDescription').val().trim();
			const status = $('#txtStatus').val();
			let taggingID = $(this).attr('_taggingID');

			if(!title)
				return toastr.warning('Vui lòng nhập tên tagging', 'THÔNG BÁO');

			let dataTagging = { title, description, status };

			if(!taggingID){
				ajaxAddTagging({ dataTagging });
			}else{
				ajaxUpdateTagging({ dataTagging, taggingID });
			}
		});

		$('.btnDeleteTagging').on('click', async function(){	
			const taggingID = $(this).attr('_taggingID');
			
			let text = 'Bạn có thực sự muốn xóa tagging này không?';

			if(confirm(text)) {
				$.ajax({
					url: `/tagging/delete-tagging/${taggingID}`,
					type: 'GET'
				}).done(resp => {
					let { error, message } = resp;
					if(error){
						return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
					}
                	toastr.success('Xóa thành công', 'THÔNG BÁO');
					$(this).closest('tr').remove();

				}).fail(err => toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO'))
			}
		});

		function ajaxAddTagging({ dataTagging }) {
            $.ajax({
                url: `/tagging/add-tagging`,
                method: 'POST',
                data: dataTagging,
				success: function(resp) {
					if(resp.error){
						if(resp.message == "param_invalid")
							return toastr.warning(`Vui lòng điền đầy đủ trường`, 'THÔNG BÁO');
							
						if(resp.message == "tagging_is_existed")
							return toastr.warning(`Đã tồn tại tagging này`, 'THÔNG BÁO');
					}else {
						toastr.success('Thêm tagging thành công', 'THÔNG BÁO');
						setTimeout(() => {
							location.reload()
						}, 500)
					}
				}
            })
		}

		function ajaxUpdateTagging({ dataTagging, taggingID }) {
            $.ajax({
                url: `/tagging/update-tagging/${taggingID}`,
                method: 'POST',
                data: dataTagging,
				success: function(resp) {
					if(resp.error){
						if(resp.message == "tagging_is_existed")
							return toastr.warning(`Đã tồn tại tagging này`, 'THÔNG BÁO');
						return toastr.warning(`Có lỗi trong quá trình thực hiện`, 'THÔNG BÁO');
					}
					else {
						toastr.success('Cập nhật thành công', 'THÔNG BÁO');
						setTimeout(() => {
							location.reload()
						}, 500)
					}
				}
            })
		}

    });
</script>
