<script>
    $(document).ready(function(){
		$('#tableListCategoryBlog').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		});

		$("#categoryImage").on('change', changePreviewImage);

		$(".btnCreateCategoryBlog").on("click", function(e) {
			e.preventDefault();
			$("#formCreateCategoryBlog").modal("show");
			$("#exampleModalLabel").text("Tạo danh mục bài viết");
			$("#btnAddCategoryBlog").text("Tạo mới");
			$("#btnAddCategoryBlog").removeAttr('_categoryID');
			$("#txtTitle").val("");
			$("#txtDescription").val("");
		});

		$(".btnUpdateCategory").on("click", function(e) {
			e.preventDefault();
			let categoryBlogID = $(this).attr("_categoryID");
			
			$("#btnAddCategoryBlog").text("Cập nhật");
			$("#exampleModalLabel").text("Cập nhật danh mục bài viết");
			$("#formCreateCategoryBlog").modal("show");
			$("#btnAddCategoryBlog").attr("_categoryID", categoryBlogID);

			$.ajax({
                url: `/category-blog/info-category-blog/${categoryBlogID}`,
                method: 'GET',
				success: function(resp) {
					if(resp.error)
						return toastr.warning(`Có lỗi trong quá trình thực hiện`, 'THÔNG BÁO');
					else {
						let infoCategory = resp.data
						$("#txtTitle").val(infoCategory.title);
						$("#txtDescription").val(infoCategory.description);
						$("#txtStatus").empty();
						if(infoCategory.status == 1){
							$("#txtStatus").append(`
								<option value="1" selected>Hoạt động</option>
                                <option value="0">Không hoạt động</option>
							`);
						}else{
							$("#txtStatus").append(`
								<option value="1">Hoạt động</option>
                                <option value="0" selected>Không hoạt động</option>
							`);
						}

						$(".avatar-preview").empty();
						$(".avatar-preview").append(`
							<div id="imagePreview" style="background-image: url(https://s3-ap-southeast-1.amazonaws.com/ldk-software.nandio/root/${infoCategory.image.path});"></div>
						`)
					}
				}
            })

		});

		$("#btnAddCategoryBlog").on("click", async function(e) {
			e.preventDefault();

			const title       = $('#txtTitle').val().trim();
			const description = $('#txtDescription').val().trim();
			const status = $('#txtStatus').val();
			let categoryBlogID = $(this).attr('_categoryID');

			if(!title)
				return toastr.warning('Vui lòng nhập tên danh mục', 'THÔNG BÁO');

			let dataCategoryInsert = { title, description, status };

			let image = $('#categoryImage').prop('files');

			dataCategoryInsert.pathImage = [];

			let singleImg = [];

			if(image && image.length){
				let single_img_category = await addFileToUpload(image);
				console.log({single_img_category});
				singleImg = single_img_category().map(item => item.uri);

				dataCategoryInsert.image = {
					path: singleImg[0],
					size: image[0].size,
					name: image[0].name
				}
			}

			if(!categoryBlogID){
				ajaxAddCategoryBlog({ dataCategoryInsert });
			}else{
				ajaxUpdateCategoryBlog({ dataCategoryInsert, categoryBlogID });
			}
		});

		$('.btnDeleteCategory').on('click', async function(){	
			const categoryID = $(this).attr('_categoryID');
			
			let text = 'Bạn có thực sự muốn xóa danh mục không?';

			if(confirm(text)) {
				$.ajax({
					url: `/category-blog/delete-category-blog/${categoryID}`,
					type: 'GET'
				}).done(resp => {
					let { error, message } = resp;
					if(error){
						return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
					}
                	toastr.success('Xóa thành công', 'THÔNG BÁO');
					$(this).closest('tr').remove();

				}).fail(err => toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO'))
			}
		});

		function ajaxAddCategoryBlog({ dataCategoryInsert }) {
            $.ajax({
                url: `/category-blog/add-category-blog`,
                method: 'POST',
                data: dataCategoryInsert,
				success: function(resp) {
					if(resp.error){
						if(resp.message == "param_invalid")
							return toastr.warning(`Vui lòng điền đầy đủ trường`, 'THÔNG BÁO');
							
						if(resp.message == "category_is_existed")
							return toastr.warning(`Đã tồn tại danh mục này`, 'THÔNG BÁO');
					}else {
						toastr.success('Thêm danh mục thành công', 'THÔNG BÁO');
						setTimeout(() => {
							location.reload()
						}, 500)
					}
				}
            })
		}

		function ajaxUpdateCategoryBlog({ dataCategoryInsert, categoryBlogID }) {
            $.ajax({
                url: `/category-blog/update-category-blog/${categoryBlogID}`,
                method: 'POST',
                data: dataCategoryInsert,
				success: function(resp) {
					if(resp.error){
						if(resp.message == "category_is_existed")
							return toastr.warning(`Đã tồn tại tagging này`, 'THÔNG BÁO');
						return toastr.warning(`Có lỗi trong quá trình thực hiện`, 'THÔNG BÁO');
					}else {
						toastr.success('Cập nhật thành công', 'THÔNG BÁO');
						setTimeout(() => {
							location.reload()
						}, 500)
					}
				}
            })
		}

    });
</script>
