<script>
    $(document).ready(function(){
		$('#tableListPost').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		});

		$('#txtTypeTagging').select2();
		$('#txtTypeCategory').select2();

		initEditor("#txtContent", {
            height: 900
        });
        initEditor("#txtContentUpdate", {
            height: 900
        });

		let lightGallery = $(".txtGalleryProductUpdate").lightGallery();
		let gallery             = document.querySelector('.filepond');
		let arrImageGallryNew   = [];
        let arrImageGallryOld   = [];

		FilePond.create(gallery, {
            // imageResizeTargetWidth: 256,
            // imageResizeMode: 'contain',
            labelIdle: `<span class="filepond--label-action">Mời bạn chọn hình ảnh bài viết </span>`,
            oninitfile: (file) => {
                console.log({ file });
            },
            onaddfile: async function(error, file) {
                // console.log('File added: [' + error + ']   file: [' + file.id + '] filename: [' + file.filename + ']');
                // arrImageGallry[arrImageGallry.length] = file.file
                /*
                    UPLOAD s3
                */
                let size = file.file.size;
                let name = file.file.name;
                await addFileToUpload([file.file], links => {
                    links.forEach( item => {
                        arrImageGallryNew[arrImageGallryNew.length] = {
                            size, name, pathAvatar: item.uri
                        }
                    })
                });
            },

            // add onpreparefile callback
            onpreparefile: (fileItem, output) => {
                // create a new image object
                const img = new Image();
                // set the image source to the output of the Image Transform plugin
                img.src = URL.createObjectURL(output);
                // add it to the DOM so we can see the result
            },

            onremovefile: (error, file) => {
                arrImageGallryNew = arrImageGallryNew.filter( image => image.name != file.filename );
            }
        });

		// FUNCTION: XÓA HÌNH ẢNH
        $(document).on("click", ".deleteImage", function(e){
            e.preventDefault(); 

            let imgName = $(this).attr("_imgName");
            let type    = $(this).attr("_type");
            let imgID   = $(this).attr("_imageID");
            let imgPath = $(this).find("imgReader").val();

            if (type == "imgGallery") {
                if (imgID) {
                    arrImageGallryOld.push(imgID);
                    $(this).parent().remove();
                }
                changeLightGallery({ lightGallery: lightGallery, input: ".txtGalleryProductUpdate" })
            }
        }); 

		const slugPrevious = $('#txtSlugUpdate').val();

        let checkValidate = params => {
            let { title, slug, category, content } = params;

            if(!title) return { error: true, msg: 'Bạn cần nhập tiêu đề cho bài viết' };
            if(!slug) return { error: true, msg: 'Bạn cần nhập slug cho bài viết' };
            if(!category) return { error: true, msg: 'Bạn cần chọn danh mục bài viết' };
            if(!content) return { error: true, msg: 'Bạn cần nhập nội dung cho bài viết' };

            return { error: false, msg: 'validate_done' };
        }

        let getFormBlog = () => {
            let title             = $('#txtTitle').val().trim();
            let slug              = $('#txtSlug').val().trim();
            let description       = $('#txtShortDescription').val().trim();
            let category          = $('#txtTypeCategory').val();
            let taggings          = $('#txtTypeTagging').val();
            let status            = $('#switchStatus')[0].checked ? 1 : 0;
            let content           = tinyMCE.get('txtContent').getContent();

            return { title, slug, description, category, taggings, status, content };
        }

        let getFormUpdateBlog = () => {
            let title             = $('#txtTitleUpdate').val().trim();
            let slug              = $('#txtSlugUpdate').val().trim();
            let description       = $('#txtShortDescriptionUpdate').val().trim();
            let category          = $('#txtTypeCategory').val();
            let taggings          = $('#txtTypeTagging').val();
            let status            = $('#switchStatusUpdate')[0].checked ? 1 : 0;
            let content           = tinyMCE.get('txtContentUpdate').getContent();

            return { title, slug, description, category, taggings, status, content };
        }

        $("#blogImage, #blogImageUpdate").on('change', changePreviewImage);
        $('#txtTitle, #txtTitleUpdate').on('input', function(){
            const titleToSlug = convertToSlug($(this).val().trim());

            $('#txtSlug').val(titleToSlug);
            $('#txtSlugUpdate').val(titleToSlug);
        })

		function showResultSearchPost(listPosts) {
			let htmlPost = '';

			listPosts.map(( post, index ) => {
				let description = post.description.length > 100 ? 
						post.description.substr(0, 100) + '...' :
						post.description;

				let status = post.status === 1 ? `
					<span class="badge badge-pill badge-success">
						Hoạt Động
					</span>
				` : `
					<span class="badge badge-danger">
						Không Hoạt Động
					</span>
				`;

				htmlPost += `
					<tr>
						<th> ${index + 1} </th>
						<td><i> ${post.title} </i></td>
						<td> ${post.type === 0 ? 'Product' : 'News'} </td>
						<td><i> ${post.slug} </i></td>
						<td><i> ${description} </i></td>
						<td><i> ${post.views} </i></td>
						<td> ${moment(post.createAt).format('L')} </td>
						<td>
							<img class="img-fluid img-thumbnail rounded" src="${post.image && post.image.path}">
						</td>
						<td> ${status} </td>
						<td>
							<div class="btn-group mb-2">
								<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
									Thao Tác
								</button>
								<button type="button" class="btn btn-secondary btn-sm waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">...</span>
								</button>
								<div class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(143px, 0px, 0px);">
									<a class="dropdown-item" href="/admin/update-post/?postID=${post._id}">Sửa Thông Tin</a>
									<a class="dropdown-item btnBlockUser btnDeleteBlog" href="javascript:void(0)" _postID="${post._id}" >Xóa</a>
								</div>
							</div>
						</td>
					</tr>
				`;
			})

			$('.table-list-post tbody').html(htmlPost);
		}

		// function checkSlugExists(slug) {
		// 	return new Promise(resolve => {
		// 		$.get(`<%= CF_ROUTINGS_BLOG.LIST_POST %>/?type=API&slug=${slug}`,
		// 			function (resp) {
		// 				console.log({ resp });
		// 				const { error, data } = resp.listPosts;
		// 				if(!error && data.length){
		// 					resolve({ error: true });
		// 				}else{
		// 					resolve({ error: false });
		// 				}
		// 			}
		// 		);
		// 	})
		// }

		function ajaxAddPost({ dataAdd, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataAdd));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.ADD_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error){
					return toastr.error(`Thêm thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Thêm thành công", "THÔNG BÁO");
                setTimeout(() => location.href = '/admin/list-post', 1000);
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

		function ajaxUpdatePost({ dataUpdate, image }) {
			let fd = new FormData();
            fd.append('data', JSON.stringify(dataUpdate));
            image && fd.append('file', image[0]);

            $.ajax({
                url: `<%= CF_ROUTINGS_BLOG.UPDATE_POST %>`,
                method: 'POST',
                data: fd,
                contentType: false,
                processData: false,
            }).done(resp => {
                let { error, message } = resp;

				if(error)
					return toastr.error(`Cập nhật thất bại: ${message}`, 'THÔNG BÁO');

                toastr.success("Cập nhật thành công", "THÔNG BÁO");
				setTimeout(() => {
					location.reload();
				}, 500);

            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		}

        $('#btnAddBlog').on('click', async function(){
            let dataAdd = getFormBlog();
            let { error, msg } = checkValidate(dataAdd);
            if(error) return toastr.warning(msg, 'THÔNG BÁO');

			let image = $('#blogImage').prop('files');
			dataAdd.pathImage = '';

            if(arrImageGallryNew.length){
				dataAdd.images = arrImageGallryNew;
			}

			if(image.length){
				await addFileToUpload(image, links => {
					dataAdd.pathImage = links[0].uri;
					ajaxAddPost({ dataAdd, image });
				})
			}else{
				ajaxAddPost({ dataAdd });
			}
        })

        $('#btnUpdateBlog').on('click', async function () {
            let dataUpdate = getFormUpdateBlog();
            let { error, msg } = checkValidate(dataUpdate);
            if(error) return toastr.warning(msg, 'THÔNG BÁO');

            // if(slugPrevious !== dataUpdate.slug){
			// 	const { error } = await checkSlugExists(dataUpdate.slug);
			// 	if(error){
			// 		delete dataUpdate.slug;
			// 		return toastr.warning('Slug đã tồn tại', 'THÔNG BÁO');
			// 	}
			// }

			let image = $('#blogImageUpdate').prop('files');
			dataUpdate.postID = $(this).attr('_postID');
			dataUpdate.pathImage = '';

			dataUpdate.arrImageGallryNew = arrImageGallryNew;
			dataUpdate.arrImageGallryOld = arrImageGallryOld;

			if(image.length){
				await addFileToUpload(image, links => {
					dataUpdate.pathImage = links[0].uri;
					ajaxUpdatePost({ dataUpdate, image });
				})
			}else{
				ajaxUpdatePost({ dataUpdate });
			}
        });

        $(document).on('click', '.btnDeleteBlog', function () {
			let postID = $(this).attr('_postID');
			let accept = confirm('Bạn có thực sự muốn xóa bài viết không?');
			if(!postID || !accept) return;

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_BLOG.DELETE_POST %>/?postID=${postID}`
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success('Xóa thành công', 'THÔNG BÁO');
				$(this).closest('tr').remove();
			}).fail(err => toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO'))
		});
		
		$('#input-search-post').on('keyup', debounce(function(){
			const keyword = $(this).val().trim();

			$.ajax({
				type: "GET",
				url: `<%= CF_ROUTINGS_BLOG.LIST_POST %>?type=API&keyword=${keyword}`,
			}).done(resp => {
				const { error, data } = resp;

				if(error || !data.length){
					return toastr.warning('Không tìm thấy bài viết nào', 'THÔNG BÁO')
				}

				showResultSearchPost(data);
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))

		}, 500));

		$('#slSort').on('change', function (e) {
			const sortType = $(this).val();
			location.href = `<%= CF_ROUTINGS_BLOG.LIST_POST %>?sort=${sortType}`;
		});

		(() => {
			let urlParams = new URLSearchParams(location.search);
			let sortParam = urlParams.get('sort');

			if(sortParam){
				$('#slSort').val(sortParam);
			}
		})();
    });
</script>
