<script>
	$(document).ready(function () {
		$('#tableListComment').DataTable({
			'iDisplayLength': 100,
			...languageDataTable
		})
		
		$(".checkboxUpdateStatusComment").change(function() {
			let commentID = $(this).attr("_commentID");
			let status 	  = this.checked ? 1 : 0;

			$.ajax({
				url: `<%= CF_ROUTINGS_BLOG.UPDATE_COMMENT %>`,
				method: 'POST',
				data: { commentID, status }
			}).done(resp => {
				if(resp.error){
					toastr.error(`Cập nhật thất bại: ${resp.message}`, 'THÔNG BÁO');
				}
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

		$('.btnRemovecomment').on('click', function(){
			let commentID 		= $(this).attr('_commentID');
			let confirmDelete 	= confirm("Bạn có chắc chắn xoá không!");
			if (!commentID || !confirmDelete) return;

			$.ajax({
				url: `<%= CF_ROUTINGS_BLOG.DELETE_COMMENT %>?commentID=${commentID}`,
				method: 'GET',
			}).done(resp => {
				let { error, message } = resp;

				if(error){
					return toastr.error(`Xóa thất bại: ${message}`, 'THÔNG BÁO');
				}

                toastr.success("Xóa thành công", "THÔNG BÁO");
				$(this).closest('tr').remove();
			}).fail(err => toastr.error(err.message, 'THÔNG BÁO'))

		});

	});
</script>