<script>
	$(document).ready(function() {
		$('#tableListVersion').DataTable({
			'iDisplayLength': 100,
			...languageDataTable,
			"columns": [
				{ "width": "5%" },
				{ "width": "20%" },
				{ "width": "20%" },
				{ "width": "20%" },
			]
		});

		$('#txtPlatform').select2();
		function getDataForm() {
			let name       = $('#txtName').val();
			let timeCreate = $('#txtCreateAt').val();
			let platform   = $('#txtPlatform').val();
			return {	
				name,
				timeCreate,
				platform
			}
		}

		function validationData(data) {
			let  {
				name,
				timeCreate,
				platform
			} = data;

			if (!name)       return { error: true, msg: 'Mời bạn nhập tên phiên bản' }
			if (!timeCreate) return { error: true, msg: 'Mời bạn nhập thời gian tạo phiên bản' }
			if (!platform)   return { error: true, msg: 'Mời bạn chọn Platform' }
			if (![1, 2].includes(Number(platform))) return { error: true, msg: 'Platform không hợp lệ' }

			return { error: false, msg: 'done' }
		}

		$(document).on('click', '#btnAddVersion', function() {
			let data =  getDataForm();
			let validation = validationData(data);
			if (validation.error) {
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}

			$.ajax({
				url: '<%= CF_ROUTINGS_VERSION.ADD_VERSION %>',
				method: 'POST',
				data: {
					...data
				}, 
				success: resp => {
					console.log({
						resp
					});
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						setTimeout(() => window.location.reload(), 700);
						return toastr.success('Bạn đã thêm phiên bản thành công', 'THÔNG BÁO');
					}
				}
			})
		})

	});
</script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">