<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật cấu hình giới hạn quà tặng</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/limit_gift_config/list-limit_gift_config">Quản lý cấu hình giới hạn quà tặng</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="limit_gift_config__amount">
                                Số lượng <span class="text-danger">(*)</span>
                            </label>
                            <input type="text" class="form-control" id="limit_gift_config__amount" value="<%= infoLimit_gift_config.amount %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="limit_gift_config__month">
                                Tháng <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="limit_gift_config__month" value="<%= infoLimit_gift_config.month %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="limit_gift_config__year">
                                Năm <span class="text-danger">(*)</span>
                            </label>
                            <input type="number" class="form-control" id="limit_gift_config__year" value="<%= infoLimit_gift_config.year %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="limit_gift_config__employee">
                                Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="limit_gift_config__employee" data-placeholder="Chọn Nhân viên">

                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <% let isSelect = (infoLimit_gift_config.employee && infoLimit_gift_config.employee._id.toString()) === employee._id.toString() %>

                                <option value="<%= employee._id %>" <%= isSelect && 'selected' %>>
                                    <%= employee.fullname %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="limit_gift_config__sku">
                                SKU <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="limit_gift_config__sku" data-placeholder="Chọn SKU">

                                <% if(listSkus && listSkus.length){ %>
                                <% listSkus.forEach(product => { %>
                                <% let isSelect = (infoLimit_gift_config.sku && infoLimit_gift_config.sku._id.toString()) === product._id.toString() %>

                                <option value="<%= product._id %>" <%= isSelect && 'selected' %>>
                                    <%= product.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __limit_gift_configID="<%= infoLimit_gift_config._id %>">
                    Cập nhật
                </button>
                <a href="/limit_gift_config/list-limit_gift_config" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>