<script>
    $(document).ready(function() {

        $("#employee_hr__employee").select2({
            width: "100%"
        });
        $("#employee_hr__employee").val("<%= infoEmployee_hr.employee && infoEmployee_hr.employee._id %>").trigger('change');

        $("#employee_hr__status").select2({
            width: "100%"
        });
        $("#employee_hr__status").val("<%= infoEmployee_hr.status %>").trigger('change');



        initInputMaxLength('#employee_hr__code');
        initInputMaxLength('#employee_hr__fullname');



        $('#employee_hr__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee_hr__code', "Vui lòng nhập mã nhân viên hr");
            } else {
                disableValidate('#employee_hr__code');
            }
        });

        $('#employee_hr__fullname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee_hr__fullname', "Vui lòng nhập họ và tên");
            } else {
                disableValidate('#employee_hr__fullname');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let code = $('#employee_hr__code').val();
            let fullname = $('#employee_hr__fullname').val();
            let from = $('#employee_hr__from').val();
            let to = $('#employee_hr__to').val();
            let employee = $('#employee_hr__employee').val();
            let status = $('#employee_hr__status').val();

            return {
                code,
                fullname,
                from,
                to,
                employee,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                code,
                fullname,
                from,
                to,
                employee,
                status,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'employee_hr__status'];
                enableValidate('#employee_hr__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('employee_hr__status')) {
                    disableValidate('#employee_hr__status');
                }
            }




            if (!code.trim()) {
                fieldsError = [...fieldsError, 'employee_hr__code'];
                enableValidate('#employee_hr__code', "Vui lòng nhập mã nhân viên hr");
            } else {
                if (!fieldsError.includes('employee_hr__code')) {
                    disableValidate('#employee_hr__code');
                }
            }

            if (!fullname.trim()) {
                fieldsError = [...fieldsError, 'employee_hr__fullname'];
                enableValidate('#employee_hr__fullname', "Vui lòng nhập họ và tên");
            } else {
                if (!fieldsError.includes('employee_hr__fullname')) {
                    disableValidate('#employee_hr__fullname');
                }
            }

            if (!from) {
                fieldsError = [...fieldsError, 'employee_hr__from'];
                enableValidate('#employee_hr__from', "Vui lòng nhập ngày bắt đầu");
            } else {
                if (!fieldsError.includes('employee_hr__from')) {
                    disableValidate('#employee_hr__from');
                }
            }

            if (!to) {
                fieldsError = [...fieldsError, 'employee_hr__to'];
                enableValidate('#employee_hr__to', "Vui lòng nhập ngày kết thúc");
            } else {
                if (!fieldsError.includes('employee_hr__to')) {
                    disableValidate('#employee_hr__to');
                }
            }

            if (new Date(from) > new Date(to)) {
                fieldsError = [...fieldsError, 'employee_hr__from'];
                enableValidate('#employee_hr__from', "Ngày bắt đầu không hợp lệ");
            } else {
                if (!fieldsError.includes('employee_hr__from')) {
                    disableValidate('#employee_hr__from');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_EMPLOYEE_HR.UPDATE_EMPLOYEE_HR_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật nhân viên HR thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.employee_hrID = $(this).attr('__employee_hrID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>