<script>
    $(document).ready(function() {

        $('#calendar_task_pg__PGCD').select2({ width: "100%" });
        $('#calendar_task_pg__PGCD').val("<%= infoCalendar_task_PG.PGCD %>").trigger('change');

        $('#calendar_task_pg__PGM').select2({ width: "100%" });
        $('#calendar_task_pg__PGM').val("<%= infoCalendar_task_PG.PGM %>").trigger('change');

        $('#calendar_task_pg__PGTC').select2({ width: "100%" });
        $('#calendar_task_pg__PGTC').val("<%= infoCalendar_task_PG.PGTC %>").trigger('change');

        $('#calendar_task_pg__PGS').select2({ width: "100%" });
        $('#calendar_task_pg__PGS').val("<%= infoCalendar_task_PG.PGS %>").trigger('change');

        $('#calendar_task_pg__employee').select2({ width: "100%" });
        $('#calendar_task_pg__employee').val("<%= infoCalendar_task_PG.employee && infoCalendar_task_PG.employee._id %>").trigger('change')

        $('#calendar_task_pg__store').select2({
            minimumInputLength: 3,
            ajax: {
                url: `/api/store/list-stores`,
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({ search: params.term }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: `${item.name} - ${item.code}`,
                        id: item._id
                    }))
                })
            }
        });

        $('#calendar_task_pg__month').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#calendar_task_pg__month', "Vui lòng nhập tháng");
            } else {
                disableValidate('#calendar_task_pg__month');
            }
        });

        $('#calendar_task_pg__year').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#calendar_task_pg__year', "Vui lòng nhập năm");
            } else {
                disableValidate('#calendar_task_pg__year');
            }
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });

        const getFormUpdate = () => {
            let store = $('#calendar_task_pg__store').val();
            let employee = $('#calendar_task_pg__employee').val();
            let PGCD = $('#calendar_task_pg__PGCD').val();
            let PGM = $('#calendar_task_pg__PGM').val();
            let PGTC = $('#calendar_task_pg__PGTC').val();
            let PGS = $('#calendar_task_pg__PGS').val();
            let month = $('#calendar_task_pg__month').val();
            let year = $('#calendar_task_pg__year').val();

            return {
                store,
                employee,
                PGCD,
                PGM,
                PGTC,
                PGS,
                month,
                year
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
                PGCD,
                PGM,
                PGTC,
                PGS,
                month,
                year
            } = params;
            let fieldsError = [];

            if (PGCD && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: PGCD
                })) {
                fieldsError = [...fieldsError, 'calendar_task_pg__PGCD'];
                enableValidate('#calendar_task_pg__PGCD', "pg cố định không hợp lệ");
            } else {
                if (!fieldsError.includes('calendar_task_pg__PGCD')) {
                    disableValidate('#calendar_task_pg__PGCD');
                }
            }

            if (PGM && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: PGM
                })) {
                fieldsError = [...fieldsError, 'calendar_task_pg__PGM'];
                enableValidate('#calendar_task_pg__PGM', "pg mobile không hợp lệ");
            } else {
                if (!fieldsError.includes('calendar_task_pg__PGM')) {
                    disableValidate('#calendar_task_pg__PGM');
                }
            }

            if (PGTC && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: PGTC
                })) {
                fieldsError = [...fieldsError, 'calendar_task_pg__PGTC'];
                enableValidate('#calendar_task_pg__PGTC', "pg tăng cường không hợp lệ");
            } else {
                if (!fieldsError.includes('calendar_task_pg__PGTC')) {
                    disableValidate('#calendar_task_pg__PGTC');
                }
            }

            if (PGS && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: PGS
                })) {
                fieldsError = [...fieldsError, 'calendar_task_pg__PGS'];
                enableValidate('#calendar_task_pg__PGS', "pg sampling không hợp lệ");
            } else {
                if (!fieldsError.includes('calendar_task_pg__PGS')) {
                    disableValidate('#calendar_task_pg__PGS');
                }
            }

            if (!month) {
                fieldsError = [...fieldsError, 'calendar_task_pg__month'];
                enableValidate('#calendar_task_pg__month', "Vui lòng nhập tháng");
            } else {
                if (!fieldsError.includes('calendar_task_pg__month')) {
                    disableValidate('#calendar_task_pg__month');
                }
            }

            if (!year) {
                fieldsError = [...fieldsError, 'calendar_task_pg__year'];
                enableValidate('#calendar_task_pg__year', "Vui lòng nhập năm");
            } else {
                if (!fieldsError.includes('calendar_task_pg__year')) {
                    disableValidate('#calendar_task_pg__year');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                url: "<%= CF_ROUTINGS_CALENDAR_TASK_PG.UPDATE_CALENDAR_TASK_PG_BY_ID %>",
                method: 'PUT',
                data: dataUpdate,
            }).done(resp => {
                const {
                    error,
                    message
                } = resp;

                if (error) {
                    return AlertCustom({
                        title: 'THÔNG BÁO',
                        message: message,
                        icon: 'warning'
                    });
                }

                AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Cập nhật lịch làm việc PG thành công",
                    icon: 'info'
                });
            })
            .fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
            .always(() => {
                disableButtonLoading('#btnConfirmUpdate');
                $('#btnConfirmUpdate').attr('disabled', true);
            })
        }

        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.calendar_task_pgID = $(this).attr('__calendar_task_pgID');
            callAjaxUpdate(dataUpdate);
        });
    })
</script>