<script>
    $(document).ready(function() {

        $("#employee_store__store").select2({
            width: "100%"
        });
        $("#employee_store__store").val("<%= infoEmployee_store.store && infoEmployee_store.store._id %>").trigger('change');

        $("#employee_store__employee").select2({
            width: "100%"
        });
        $("#employee_store__employee").val("<%= infoEmployee_store.employee && infoEmployee_store.employee._id %>").trigger('change');









        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let store = $('#employee_store__store').val();
            let employee = $('#employee_store__employee').val();

            return {
                store,
                employee,
            };
        }

        const checkFormValid = params => {
            let {
                store,
                employee,
            } = params;
            let fieldsError = [];




            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_EMPLOYEE_STORE.UPDATE_EMPLOYEE_STORE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật nhân viên cửa hàng thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.employee_storeID = $(this).attr('__employee_storeID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>