<script>
    $(document).ready( function() {
        $(document).on("click", "#btnAddSegment", function(e) {
            e.preventDefault();

            let name        = $("#txtNameSegmentAdd").val();
            let description = $("#txtDescriptionSegmentAdd").val();

            !name ? setError("#txtNameSegmentAdd", "Bạn phải nhập tên của Segment") : setSuccess("#txtNameSegmentAdd");
            if (!name) {
                return;
            }
            disableAndLoading(this);
            $.ajax({
                url: "<%= CF_ROUTINGS_SEGMENT.ADD_SEGMENT %>",
                method: "POST",
                data: {
                    name, description
                },
                success: resp => {
                    enableAndStopLoading2(this, "Thêm Mới");
                    if (resp.error == false && resp.data) {
                        setTimeout(function() {
                            window.location.href = "<%= CF_ROUTINGS_SEGMENT.LIST_SEGMENT %>"
                        }, 700);
                        toastr.success("Bạn đã thêm Segment thành công", "THÔNG BÁO");
                    } else {
                        if (resp.message = "name_invalid") {
                            return setError("#txtNameSegmentAdd", "Bạn phải nhập tên của Segment");
                        }
                        toastr.error("Bạn đã thêm Segment thất bại", "THÔNG BÁO")
                    }
                }
            })
        })
    });
</script>