<script>
    $(document).ready(function() {
        $("#txtGender").select2();
        $('#tableListCustomer').DataTable({
            "scrollY": "1000px",
            // "scrollX": true,
            // "scrollCollapse": true,
			'iDisplayLength': 25,
			...languageDataTable,
        })
        function setDataToTable({ data }) {
            let dataAppend = ``;
            data.forEach( (customer, index) => {
                let stt = index + 1;
                let fullname = customer.fullname       ? customer.fullname : "";
                let email    = customer.email          ? customer.email    : "";
                let phone    = customer.phone          ? customer.phone    : "";
                let gender   = customer.gender == 0    ? "Nữ"              : "Nam";
                let point    = customer.point  != 0    ? customer.point    : 0;
                let pointRanking    = customer.pointRanking  != 0    ? customer.pointRanking : 0;
                let createAt        = customer.createAt? moment(customer.createAt).format('L') : "";
                let status          = customer.status  ? `<span class="badge badge-pill badge-success" style="padding: 10px; font-size: 10px;">Hoạt Động</span>` : `<span class="badge badge-pill badge-danger" style="padding: 10px; font-size: 10px;">Không Hoạt Động </span>`;
                dataAppend += `
                    <tr>
                        <th>
                            ${stt}
                        </th>
                        <td>
                            <i>
                                ${fullname}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${email}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${phone}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${gender}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${point}
                            </i>
                        </td>
                        <td>
                            <i>
                                ${pointRanking}
                            </i>
                        </td>
                        <td>
                            ${createAt}
                        </td>
                        <td>
                            ${status}
                        </td>
                        
                    </tr>
                `
            });
            $(".addCustomerToSegment").append(dataAppend);
        }

        let listCustomerAddSegmentID = [];
        /**
         * FUNCTION: TÌM KIẾM KHÁCH HÀNG 
         * */
        $(document).on("click", ".btnFilterCustomerInSegment", function() {
            let gender     = $("#txtGender").val();
            let pointFrom  = $("#txtPointFrom").val();
            let pointTo    = $("#txtPointTo").val();
            let phone    = $("#txtPhone").val();
            let segmentID  = $(this).attr("_segmentID");

            if (gender || gender == 0  || pointFrom || pointTo || phone) {
            } else {
                return toastr.warning("Bạn phải chọn ít nhất 1 thông tin để tìm kiếm", "THÔNG BÁO")
            }
            listCustomerAddSegmentID = [];
            disableAndLoading(this);
            $.ajax({
                url: `/api/customer/list-customer-sort?gender=${gender}&pointFrom=${pointFrom}&pointTo=${pointTo}&segmentID=${segmentID}&phone=${phone}`,
                method: "GET",
                success: resp => {
                    console.log({ resp });
                    $(".addCustomerToSegment").empty();

                    $(this).text('').html(`
                        <i class="fa fa-search"></i> Tìm Kiếm
                    `);
		            $(this).attr("disabled", false);
		    
                    if (resp.error == false && resp.data.listCustomers.length) {
                        let data = resp.data.listCustomers;
                        $(".addCustomerToSegment").empty();
                        /**
                         * LẤY DANH SÁCH KHÁCH HÀNG THÊM VÀO SEGMENT
                         * */
                        listCustomerAddSegmentID = resp.data.listCustomers.map( customer => customer._id )
                        setDataToTable({ data })
                    }

                    if (resp.data.listCustomers.length == 0) {
                        return toastr.warning("Không tìm thấy Khách Hàng", "THÔNG BÁO")
                    } else {
                        // return toastr.success("Không tìm thấy Khách Hàng", "THÔNG BÁO")
                    }
                }
            })
        });
        /*
            FUNCTION: THÊM KHÁCH HÀNG VÀO SEGMENT
        */
        $(document).on("click", "#btnAddSegment", function() {
            let segmentID = $(this).attr("_segmentID");
            if (!listCustomerAddSegmentID.length) {
                return toastr.warning("Không tìm thấy danh sách Khách Hàng để thêm vào Segment", "THÔNG BÁO")
            }
            disableAndLoading(this);
            $.ajax({
                url: "<%= CF_ROUTINGS_SEGMENT.ADD_CUSTOMER_SEGMENT %>",
                method: "POST",
                data: {
                    segmentID: segmentID,
                    listCustomer: listCustomerAddSegmentID
                },
                success: resp => {
                    enableAndStopLoading2(this, "Thêm Mới")
                    if (resp.error == false && resp.data.length) {
                        toastr.success("Bạn đã thêm khách hàng thành công", "THÔNG BÁO");
                        setTimeout(function() {
                            window.location.href = `/segment/info-segment/${segmentID}`
                        });
                    } else {
                        toastr.error("Bạn đã thêm khách hàng thất bại", "THÔNG BÁO");
                    }
                }
            })
        });
    })
</script>