<script>
    $(document).ready(function() {
		$('#tableListSegment').DataTable({
			'iDisplayLength': 100,
			...languageDataTable,
            "columns": [
				{ "width": "5%" },
				{ "width": "20%" },
				{ "width": "10%" },
				{ "width": "25%" },
				{ "width": "10%" },
				{ "width": "10%" },
			]
		});

		$(document).on('keyup', '#txtSTT', function() {
            let segmentID = $(this).attr('_segmentID');
            let value     = $(this).val();

            $.ajax({
                url: '<%= CF_ROUTINGS_SEGMENT.UPDATE_SEGMENT_STT %>',
                method: 'POST',
                data: {
                    stt: value, segmentID
                }, 
                success: resp => {
                    // console.log({ resp});
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thứ tự thành công', 'THÔNG BÁO');
                    }
                }
            })
        });

        $(document).on('change', '.status', function() {
            let segmentID = $(this).attr('id');
            let isCheck   = $(this).is(":checked");

            let status;
            if (isCheck) {
                status = 1;
            }else {
                status = 0;
            }
            let confirmAdd = confirm("Bạn có chắc chắn đổi trạng thái sản phẩm");
            if(!confirmAdd) {
                if (isCheck) {
                    $(this).prop('checked', false);
                } else {
                    $(this).prop('checked', true);
                }
            } else {
                $.ajax({
                    url: '<%= CF_ROUTINGS_SEGMENT.UPDATE_SEGMENT_STATUS %>',
                    method: 'POST',
                    data: {
                        status, segmentID
                    }, 
                    success: resp => {
                        // console.log({ resp});
                        if (resp.error) {
                            return toastr.error(resp.message, 'THÔNG BÁO');
                        } else {
                            return toastr.success('Bạn đã thay đổi trạng thái thành công', 'THÔNG BÁO');
                        }
                    }
                })
            }
        });

    });
</script>