<script>
    $(document).ready(function() {
        $(document).ready( function() {
        $(document).on("click", "#btnUpdateSegment", function(e) {
            e.preventDefault();

            let name        = $("#txtNameSegmentUpdate").val();
            let description = $("#txtDescriptionSegmentUpdate").val();
            let segmentID   = $(this).attr("_segmentID");

            if (!name) {
                return setError("#txtNameSegmentUpdate", "Bạn phải nhập tên của Segment");
            }
            let uri = `/segment/update-segment/${segmentID}`;
            // console.log({ uri });
            disableAndLoading(this);
            $.ajax({
                url: uri,
                method: "POST",
                data: {
                    name, description
                },
                success: resp => {
                    // console.log({ resp });
                    enableAndStopLoading2(this, "Cập Nhật");
                    if (resp.error == false && resp.data) {
                        setTimeout(function() {
                            window.location.href = "<%= CF_ROUTINGS_SEGMENT.LIST_SEGMENT %>"
                        }, 700);
                        toastr.success("Bạn đã chỉnh sửa Segment thành công", "THÔNG BÁO");
                    } else {
                        if (resp.message = "name_invalid") {
                            return setError("#txtNameSegmentUpdate", "Bạn phải nhập tên của Segment");
                        }
                        toastr.error("Bạn đã thêm Segment thất bại", "THÔNG BÁO")
                    }
                }
            })
        })
    });
    })
</script>