<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Thêm mới nhân viên</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/employee/list-employee">Quản lý nhân viên</a></li>
                                <li class="breadcrumb-item active">Tạo mới</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="employee__code">
                                Mã nhân viên <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="employee__code" placeholder="VD: 61VLONGNA2">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__fullname">
                                Họ và tên <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="employee__fullname" placeholder="VD: Nguyễn Văn A">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__username">
                                Tên đăng nhập <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="employee__username" placeholder="VD: 61VLONGNA2">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__email">
                                Email <span class="text-danger">(*)</span>
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="employee__email" placeholder="VD: ldk.software@gmail.com">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__password">
                                Mật khẩu <span class="text-danger">(*)</span>
                            </label>

                            <input type="password" class="form-control" maxlength="125" id="employee__password" placeholder="Nhập mật khẩu">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__password">
                                Xác nhận mật khẩu <span class="text-danger">(*)</span>
                            </label>

                            <input type="password" class="form-control" maxlength="125" id="employee__repassword" placeholder="Nhập lại mật khẩu">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                       

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="employee__region">
                                Miền <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="employee__region" data-placeholder="Chọn Miền">

                                <option value="null" selected disabled>Chọn Miền</option>
                                <% if(listRegions && listRegions.length){ %>
                                <% listRegions.forEach(region => { %>
                                <option value="<%= region._id %>">
                                    <%= region.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__area">
                                Vùng <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="employee__area" data-placeholder="Chọn Vùng">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__distributor">
                                Nhà phân phối <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="employee__distributor" data-placeholder="Chọn Nhà phân phối">

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__type_employee">
                                Loại Nhân viên <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="employee__type_employee" data-placeholder="Chọn Loại Nhân viên">

                                <option value="null" selected disabled>Chọn Loại Nhân viên</option>
                                <% if(listType_employees && listType_employees.length){ %>
                                <% listType_employees.forEach(type_employee => { %>
                                <option value="<%= type_employee._id %>">
                                    <%= type_employee.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="employee__detail_type_employee">
                                Loại NA <span class="text-danger">(*)</span>
                            </label>
                            <select class="form-select mt-2" id="employee__detail_type_employee" data-placeholder="Chọn Loại NA">

                                <option value="null" selected disabled>Chọn Loại NA</option>
                                <% if(listDetail_type_employees && listDetail_type_employees.length){ %>
                                <% listDetail_type_employees.forEach(detail_type_employee => { %>
                                <option value="<%= detail_type_employee._id %>">
                                    <%= detail_type_employee.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group" style="display: none;">
                            <label class="form-label" for="employee__numberk">
                                Hệ số K (Chỉ có hiệu lực cho PGS)
                            </label>
                            <input type="number" class="form-control" id="employee__numberk" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" id="btnConfirmAdd">
                    Tạo mới
                </button>
                <a href="/employee/list-employee" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>