<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }

    .checkbox-success{
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật nhân viên</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/employee/list-employee">Quản lý nhân viên</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#update" href="#update" role="tab" aria-selected="true">Cập nhật</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#list-checkinout" href="#list-checkinout" role="tab" aria-selected="false">Danh sách chấm công</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#list-image-face" href="#list-image-face" role="tab" aria-selected="false">Hình ảnh nhận diện</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="update" role="tabpanel" aria-labelledby="update-tab">
                <div class="row mb-3">
                    <div class="col-12 col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin chính</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__code">
                                        Mã nhân viên <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="employee__code" value="<%= infoEmployee.code %>" placeholder="VD: 61VLONGNA2">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__fullname">
                                        Họ và tên <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="employee__fullname" value="<%= infoEmployee.fullname %>" placeholder="VD: Nguyễn Văn A">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__username">
                                        Tên đăng nhập <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="employee__username" value="<%= infoEmployee.username %>" placeholder="VD: 61VLONGNA2">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__email">
                                        Email <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="employee__email" value="<%= infoEmployee.email %>" placeholder="VD: ldk.software@gmail.com">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="employee__phone">
                                        Số điện thoại <span class="text-danger">(*)</span>
                                    </label>
        
                                    <input type="text" class="form-control" maxlength="125" id="employee__phone" value="<%= infoEmployee.phone %>" placeholder="VD: 0981489768">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__password">
                                        Mật khẩu
                                    </label>
        
                                    <input type="password" class="form-control" maxlength="125" id="employee__password" placeholder="Nhập mật khẩu">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__password">
                                        Xác nhận mật khẩu
                                    </label>
        
                                    <input type="password" class="form-control" maxlength="125" id="employee__repassword" placeholder="Nhập lại mật khẩu">
        
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-4">
        
        
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Thông tin phụ</h4>
                                <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                            </div>
                            <div class="card-body">
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__region">
                                        Miền <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="employee__region" data-placeholder="Chọn Miền">
                                        <option value="null" selected disabled>Chọn Miền</option>
                                        <% if(listRegions && listRegions.length){ %>
                                        <% listRegions.forEach(region => { %>
                                        <option value="<%= region._id %>">
                                            <%= region.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__area">
                                        Vùng <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="employee__area" data-placeholder="Chọn Vùng">
                                        <option value="null" selected disabled>Chọn Vùng</option>
                                        <% if(listAreas && listAreas.length){ %>
                                        <% listAreas.forEach(area => { %>
                                        <option value="<%= area._id %>">
                                            <%= area.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__distributor">
                                        Nhà phân phối <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="employee__distributor" data-placeholder="Chọn Nhà phân phối">
                                        <option value="null" selected disabled>Chọn Nhà phân phối</option>
                                        <% if(listDistributors && listDistributors.length){ %>
                                        <% listDistributors.forEach(distributor => { %>
                                        <option value="<%= distributor._id %>">
                                            <%= distributor.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__type_employee">
                                        Loại Nhân viên <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="employee__type_employee" data-placeholder="Chọn Loại Nhân viên">
                                        <option value="null" selected disabled>Chọn Loại Nhân viên</option>
                                        <% if(listType_employees && listType_employees.length){ %>
                                        <% listType_employees.forEach(type_employee => { %>
                                        <option value="<%= type_employee._id %>">
                                            <%= type_employee.name %>
                                        </option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__detail_type_employee">
                                        Loại NA <span class="text-danger">(*)</span>
                                    </label>
                                    <select class="form-select mt-2" id="employee__detail_type_employee" data-placeholder="Chọn Loại NA">
        
                                        <option value="null" selected disabled>Chọn Loại NA</option>
                                        <% if(listDetail_type_employees && listDetail_type_employees.length){ %>
                                            <% listDetail_type_employees.forEach(detail_type_employee => { %>
                                            <option value="<%= detail_type_employee._id %>" >
                                                <%= detail_type_employee.name %>
                                            </option>
                                            <% }) %>
                                        <% } %>
        
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group" style="display: none;">
                                    <label class="form-label" for="employee__numberk">
                                        Hệ số K (Chỉ có hiệu lực cho PGS)
                                    </label>
                                    <input type="number" class="form-control" id="employee__numberk" value="<%= infoEmployee.numberK %>" placeholder="">
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                                <div class="form-group">
                                    <label class="form-label" for="employee__status">
                                        Trạng thái
                                    </label>
                                    <select class="form-select mt-2" id="employee__status">
                                        <option selected disabled>Chọn Trạng thái</option>
                                        <option value="1">Hoạt động</option>
                                        <option value="2">Không hoạt động</option>
                                    </select>
                                    <ul class="parsley-errors-list">
                                        <li class="parsley-required">This value is required.</li>
                                    </ul>
                                </div>
        
                            </div>
                        </div>
        
        
                    </div>
        
                </div>
            </div>
            <div class="tab-pane fade" id="list-checkinout" role="tabpanel" aria-labelledby="list-tab">
                <div class="row">
                    <div class="col-12">
                        <table id="tableListCheckin_checkout" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Thời gian</th>
                                    <th>Nhân viên</th>
                                    <th>Cửa hàng</th>
                                    <th>Ca làm việc</th>
                                    <th>Trạng thái</th>
                                    <th>Check in - out</th>
                                </tr>
                            </thead>
                            <tbody>
        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-image-face" role="tabpanel" aria-labelledby="list-image-face">
                <div class="row">
                   <div class="col-4">
                        <a href="/api/employee/clear-image-face-register?employeeID=<%=infoEmployee._id%>" class="btn btn-soft-danger px-4">
                            Xoá Dữ Liệu Gương Mặt
                        </a>     
                   </div>               
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        
                        <div id="galleryImagesFace">
                            <% if (listImagesFace.files && listImagesFace.files.length) { %>
                                <% listImagesFace.files.forEach(file => { %>
                                    <a href="<%= FACE_DOMAIN %>/upload/<%= infoEmployee._id %>/<%= file %>">
                                        <img style="width:300px;height:300px;" src="<%= FACE_DOMAIN %>/upload/<%= infoEmployee._id %>/<%= file %>" />
                                    </a>
                                <% }) %>
                            <% } %>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __employeeID="<%= infoEmployee._id %>">
                    Cập nhật
                </button>
                <a href="/employee/list-employee" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>