<script>
	$(document).ready(function () {
		$('#tableListHistoryPoint, #tableListMemberOfGroup').DataTable({
			'iDisplayLength': 25,
			...languageDataTable
		});

		function getData() {
			let name  = $('#txtName').val();
			let point = $('#txtPoint').val();
			let isDefault = $('#cbDefaultGroup').is(':checked');

			return {
				name,
				point,
				isDefault
			}
		}

		function validationData(data) {
			let {
				name,
				point
			} = data;

			if (!name) {
				return { error: true, msg: 'Mời bạn nhập tên nhóm' }
			}

			if (!point) {
				return { error: true, msg: 'Mời bạn nhập điểm nhóm' }
			}

			if (Number.isNaN(Number(point)) || Number(point) < 0) {
				return { error: true, msg: 'Điểm không hợp lệ' }
			}

			return { error: false, msg: 'Done' }
		}

		$(document).on('click', '#btnAddCustomerReceivePointConfig', function() {
			let data       = getData();
			let validation = validationData(data);
			if (validation.error) {
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}
			disableAndLoading(this);
			$.ajax({
				url: '<%= CF_ROUTINGS_HISTORY_POINT.ADD_CUSTOMER_RECEIVE_POINT_CONFIG %>',
				method: 'POST',
				data: data,
				success: resp => {
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						$(this).attr('disabled', false);
						setTimeout(() => window.location.reload(), 1000);
						return toastr.success('Bạn đã thêm thành công', 'THÔNG BÁO');
					}
				}
			}).done(() => enableAndStopLoading2(this, 'Thêm mới'))
		});

		$(document).on('click', '#btnUpdateCustomerReceivePointConfig', function() {
			let data       = getData();
			let validation = validationData(data);
			if (validation.error) {
				return toastr.warning(validation.msg, 'THÔNG BÁO');
			}
			let customerReceivePointConfig = $(this).attr('_customerReceivePointConfig');

			disableAndLoading(this);
			$.ajax({
				url: `/customer-receive-point-config/update-customer-receive-point-config/${customerReceivePointConfig}`,
				method: 'POST',
				data: data,
				success: resp => {
					if (resp.error) {
						return toastr.warning(resp.message, 'THÔNG BÁO');
					} else {
						$(this).attr('disabled', false);
						setTimeout(() => window.location.reload(), 1000);
						return toastr.success('Bạn đã cập nhật thành công', 'THÔNG BÁO');
					}
				}
			}).done(() => enableAndStopLoading2(this, 'Cập nhật'))
		});

		$(document).on('change', '.btn-import-member input[type="file"]', function () {
			const groupID = $(this).closest('.btn-import-member').attr('_groupID');
			const file = $(this).prop('files')[0];
            const fd = new FormData();

            fd.append('file', file);
            fd.append('group', groupID);

            $.ajax({
                type: "POST",
                url: "/api/import-member-point-config",
                data: fd,
                processData: false,
                contentType: false
            }).done(async resp => {
				console.log(resp.listExists);

				if(resp.listExists && resp.listExists.length) {
					for (const user of resp.listExists) {
						toastr.warning(`Nhân viên ${user.fullname} có số điện thoại ${user.phone} đã tồn tại`, 'THÔNG BÁO');
						await new Promise(resolve => setTimeout(resolve, 1000));
					}
				}

                if(resp.error){
                    return toastr.warning(resp.message, 'THÔNG BÁO');
                } else{
                    return toastr.success('Bạn đã cập nhật thành công', 'THÔNG BÁO');
                }
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

		$(document).on('change', '.btn-import-customer-receive-point input[type="file"]', function () {
			const file = $(this).prop('files')[0];
            const fd = new FormData();
            fd.append('file', file);

			$(this).parent().addClass('disabled');
			$(this).attr('disabled', true);
			$('.btn-import-customer-receive-point span').hide();
			$('.btn-import-customer-receive-point img').removeClass('d-none');

            $.ajax({
                type: "POST",
                url: "/api/import-customer-receive-point",
                data: fd,
                processData: false,
                contentType: false
            }).done(async resp => {
				$(this).parent().removeClass('disabled');
				$(this).attr('disabled', false);
				$('.btn-import-customer-receive-point span').show();
				$('.btn-import-customer-receive-point img').addClass('d-none');

                if(resp.error){
                    return toastr.warning(resp.message, 'THÔNG BÁO');
                } else{
                    return toastr.success('Bạn đã cập nhật thành công', 'THÔNG BÁO');
                }
            }).fail(err => toastr.error(err.message, 'THÔNG BÁO'))
		});

	});
</script>
