<script>
	$(document).ready(function () {
		$('#tableListHistoryPoint').DataTable({
			'iDisplayLength': 25,
			...languageDataTable
		});

		$(document).on('click', '.btn-insert-point', function(e) {
			e.preventDefault();
			$('.modal-create-history-point').modal('show');
		});

		$(document).on('click', '.btn-transfer-point', function(e) {
			e.preventDefault();
			$.ajax({
				url: '<%= CF_ROUTINGS_USER.LIST_USER_MANAGE_POINT_OF_NANDIO %>',
				method: 'GET',
				success: resp => {
					console.log({
						resp
					});
					if (!resp.error) {
						$('#slAccountTransfer').empty();
						let { data: listUser } = resp;
						let listOptionUser = listUser.map(user => {
							return `
								<option value="${user.customer}"> ${user.username} </option>
							`;
						});
						$('#slAccountTransfer').append(listOptionUser);
					}
				}
			}).done(() => $('.modal-transfer-history-point').modal('show'))
		});
		
		$(document).on('click', '#btnConfirmCreatePoint', function(e) {
			let point = $('#txtPoint').val();
			if (!point) {
				return toastr.warning('Mời bạn nhập số điểm', 'THÔNG BÁO');
			}

			if (Number.isNaN(Number(point)) || Number(point) < 0) 
				return toastr.warning('Số điểm không hợp lệ', 'THÔNG BÁO');

			$.ajax({
				url: '<%= CF_ROUTINGS_HISTORY_POINT.ADD_HISTORY_POINT_BY_GLOQ %>',
				method: 'POST',
				data: {
					point
				},
				success: resp => {
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						setTimeout(() => window.location.reload(), 1000);
						return toastr.success('Bạn đã thêm điểm thành công', 'THÔNG BÁO');
					}
				}
			})
		});

		$(document).on('click', '#btnConfirmTransferPoint', function(e) {
			let point = $('#txtPointTransfer').val();
			let user  = $('#slAccountTransfer').val();
			if (!point) {
				return toastr.warning('Mời bạn nhập số điểm', 'THÔNG BÁO');
			}

			if (Number.isNaN(Number(point)) || Number(point) < 0) 
				return toastr.warning('Số điểm không hợp lệ', 'THÔNG BÁO');

			if (!user) {
				return toastr.warning('Mời bạn người nhận điểm', 'THÔNG BÁO');
			}

			$.ajax({
				url: '<%= CF_ROUTINGS_HISTORY_POINT.ADD_HISTORY_POINT_TRANSFER_BY_GLOQ %>',
				method: 'POST',
				data: {
					point, user
				},
				success: resp => {
					console.log({
						resp
					});
					if (resp.error) {
						return toastr.error(resp.message, 'THÔNG BÁO');
					} else {
						setTimeout(() => window.location.reload(), 1000);
						return toastr.success('Bạn đã chuyển điểm thành công', 'THÔNG BÁO');
					}
				}
			})
		});
		
		// DANH SÁCH Ở BIẾN ĐỘNG SỐ DƯ
		$('#tableListHistoryPointTransfer').DataTable({
			'iDisplayLength': 25,
			...languageDataTable
		});
	});
</script>
