<script>
    $(document).ready(function() {



        initInputMaxLength('#criteria__name');
        initInputMaxLength('#criteria__description');



        $('#criteria__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#criteria__name', "Vui lòng nhập tên");
            } else {
                disableValidate('#criteria__name');
            }
        });



        const getFormInsert = () => {

            let name = $('#criteria__name').val();

            let description = $('#criteria__description').val();

            return {
                name,
                description,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                description,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'criteria__name'];
                enableValidate('#criteria__name', "Vui lòng nhập tên");
            } else {
                if (!fieldsError.includes('criteria__name')) {
                    disableValidate('#criteria__name');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CRITERIA.ADD_CRITERIA %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm tiêu chí thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }

        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>