<script>
    $(document).ready(function() {

        $("#criteria__status").select2({
            width: "100%"
        });
        $("#criteria__status").val("<%= infoCriteria.status %>").trigger('change');



        initInputMaxLength('#criteria__name');
        initInputMaxLength('#criteria__description');



        $('#criteria__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#criteria__name', "Vui lòng nhập tên");
            } else {
                disableValidate('#criteria__name');
            }
        });



        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#criteria__name').val();
            let description = $('#criteria__description').val();
            let status = $('#criteria__status').val();

            return {
                name,
                description,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                description,
                status,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'criteria__status'];
                enableValidate('#criteria__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('criteria__status')) {
                    disableValidate('#criteria__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'criteria__name'];
                enableValidate('#criteria__name', "Vui lòng nhập tên");
            } else {
                if (!fieldsError.includes('criteria__name')) {
                    disableValidate('#criteria__name');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CRITERIA.UPDATE_CRITERIA_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật tiêu chí thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.criteriaID = $(this).attr('__criteriaID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>