<script>
    $(document).ready(function() {

        $("#customer__gender").select2({
            width: "100%"
        });
        $("#customer__gender").val("<%= infoCustomer.gender %>").trigger('change');

        $("#customer__distributor").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/distributor/list-distributors',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: `${item.name} - ${item.code}`,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });

        $("#customer__store").select2({
            minimumInputLength: 3,
            ajax: {
                url: '/api/store/list-stores',
                type: 'GET',
                dataType: 'json',
                delay: 1000,
                // cache: true,
                data: params => ({
                    search: params.term,
                    page: params.page || 1
                }),
                processResults: (data, params) => ({
                    results: $.map(data.data.records, item => ({
                        text: `${item.name} - ${item.code}`,
                        id: item._id
                    })),
                    pagination: {
                        more: true
                    }
                })
            }
        });



        initInputMaxLength('#customer__code');
        initInputMaxLength('#customer__fullname');
        initInputMaxLength('#customer__email');
        initInputMaxLength('#customer__phone');
        initInputMaxLength('#customer__password');
        initInputMaxLength('#customer__address');
        initDropify('#customer__avatar');


        $('#customer__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__code', "Vui lòng nhập mã khách hàng");
            } else {
                disableValidate('#customer__code');
            }
        });

        $('#customer__fullname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__fullname', "Vui lòng nhập họ và tên");
            } else {
                disableValidate('#customer__fullname');
            }
        });

        $('#customer__city').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__city', "Vui lòng nhập tỉnh/thành phố");
            } else {
                disableValidate('#customer__city');
            }
        });

        $('#customer__cityname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__cityname', "Vui lòng nhập tỉnh/thành phố text");
            } else {
                disableValidate('#customer__cityname');
            }
        });

        $('#customer__district').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__district', "Vui lòng nhập quận/huyện");
            } else {
                disableValidate('#customer__district');
            }
        });

        $('#customer__districtname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__districtname', "Vui lòng nhập quận/huyện text");
            } else {
                disableValidate('#customer__districtname');
            }
        });

        $('#customer__ward').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__ward', "Vui lòng nhập xã/phường");
            } else {
                disableValidate('#customer__ward');
            }
        });

        $('#customer__wardname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#customer__wardname', "Vui lòng nhập xã/phường text");
            } else {
                disableValidate('#customer__wardname');
            }
        });


        $('#customer__area').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/customer/list-distributor-by-parent?area=" + value,
            }).done(resp => {
                $('#customer__distributor').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#customer__distributor').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        $('#customer__distributor').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/customer/list-store-by-parent?distributor=" + value,
            }).done(resp => {
                $('#customer__store').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#customer__store').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });


        let city = '<%= infoCustomer.city %>';

        function loadListCity() {
            $.ajax({
                url: '/list-provinces',
                method: 'GET',
                success: resp => {
                    if (!resp.error) {
                        let option = '<option value="" >Chọn Tỉnh/Thành phố</option>';
                        resp.data && resp.data.length && resp.data.map(item => {
                            let selected = '';
                            if (city == item[1].code) {
                                selected = 'selected';
                            }
                            option += '<option value="' + item[1].code + '" ' + selected + '>' + item[1].name_with_type + '</option>';
                        });
                        $('#customer__city').append(option);
                        $('#customer__city').trigger('change');
                    }
                }
            });
        }

        loadListCity();

        $("#customer__city").select2({
            width: "100%"
        });
        let district = '<%= infoCustomer.district %>';

        $(document).on('change', '#customer__city', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-districts/' + value,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error) {
                            let respAfterChange = Object.entries(resp.data);
                            let option = '<option value="" selected>Chọn quận/huyện</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                let selected = '';
                                if (district == item[1].code) {
                                    selected = 'selected';
                                }
                                option += '<option value="' + item[1].code + '" ' + selected + '>' + item[1].name_with_type + '</option>';
                            });
                            $('#customer__district').empty();
                            $('#customer__district').append(option);
                            $('#customer__district').trigger('change');
                        }
                    }
                });
            } else {
                $('#customer__district').empty();
            }
        });
        $("#customer__ward").select2({
            width: "100%"
        });
        $("#customer__district").select2({
            width: "100%"
        });
        let ward = '<%= infoCustomer.ward %>';

        $(document).on('change', '#customer__district', function() {
            let value = $(this).val();
            if (value) {
                $.ajax({
                    url: '/list-wards/' + value,
                    method: 'GET',
                    success: resp => {
                        if (!resp.error) {
                            let respAfterChange = Object.entries(resp.data);
                            let option = '<option value="" selected>Chọn xã/phường</option>';
                            respAfterChange && respAfterChange.length && respAfterChange.map(item => {
                                let selected = '';
                                if (ward == item[1].code) {
                                    selected = 'selected';
                                }
                                option += '<option value="' + item[1].code + '" ' + selected + '>' + item[1].name_with_type + '</option>';
                            });
                            $('#customer__ward').empty();
                            $('#customer__ward').append(option);
                            $('#customer__ward').trigger('change');
                        }
                    }
                });
            } else {
                $('#customer__ward').empty();
            }
        });

        const urlParams = new URLSearchParams(location.search);
        const customerID = urlParams.get('customerID');

        $('#tableListSaleout').DataTable({
            'iDisplayLength': 25,
            "aaSorting": [],
            ...languageDataTable,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/saleout/list-saleout-server-side',
                "dataType": "json",
                data: d => ({ ...d, customerID })
            },
            "columns": [{
                    "data": "index",
                    "width": "5%"
                },
                {
                    "data": "indexSTT",
                    "width": "5%",
                    orderable: false
                },
                {
                    "data": "region"
                }, {
                    "data": "area"
                }, {
                    "data": "distributor"
                }, {
                    "data": "employee"
                }, {
                    "data": "customer"
                }, {
                    "data": "store"
                }, {
                    "data": "product"
                }, {
                    "data": "price"
                }, {
                    "data": "point"
                },
                {
                    "data": "createAt"
                }
            ],
        });

        $('#tableListOrder').DataTable({
            'iDisplayLength': 25,
            "aaSorting": [],
            ...languageDataTable,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/order/list-order-server-side',
                "dataType": "json",
                data: d => ({ ...d, customerID })
            },
            "columns": [{
                    "data": "indexSTT",
                },
                {
                    "data": "orderID",
                },
                {
                    "data": "customer"
                }, {
                    "data": "amount"
                }, {
                    "data": "deliveryPrice"
                }, {
                    "data": "deliveryDate"
                }, {
                    "data": "address"
                }, {
                    "data": "payment"
                }, {
                    "data": "status"
                },
                {
                    "data": "createAt"
                }
            ],
        });

        // window.onbeforeunload = function() {
        //     return "";
        // };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let code = $('#customer__code').val();
            let fullname = $('#customer__fullname').val();
            let email = $('#customer__email').val();
            let phone = $('#customer__phone').val();
            let birthday = $('#customer__birthday').val();
            let password = $('#customer__password').val();
            let confirmPassword = $('#customer__repassword').val();

            let pointRanking = $('#customer__pointranking').val();

            let point = $('#customer__point').val();
            let gender = $('#customer__gender').val();
            let address = $('#customer__address').val();
            let distributor = $('#customer__distributor').val();
            let store = $('#customer__store').val();

            let city = $('#customer__city').val();

            let cityName = $('#customer__city option:selected').text();

            let district = $('#customer__district').val();

            let districtName = $('#customer__district option:selected').text();

            let ward = $('#customer__ward').val();

            let wardName = $('#customer__ward option:selected').text();

            return {
                code,
                fullname,
                email,
                phone,
                birthday,
                password,
                confirmPassword,
                pointRanking,
                point,
                gender,
                address,
                distributor,
                store,
                city,
                cityName,
                district,
                districtName,
                ward,
                wardName,
            };
        }

        const checkFormValid = params => {
            let {
                code,
                fullname,
                email,
                phone,
                birthday,
                password,
                confirmPassword,
                pointRanking,
                point,
                gender,
                address,
                distributor,
                store,
                city,
                cityName,
                district,
                districtName,
                ward,
                wardName,
            } = params;
            let fieldsError = [];
            if(password){
                if (password !== confirmPassword) {
                    fieldsError = [...fieldsError, 'customer__repassword'];
                    enableValidate('#customer__repassword', "Mật khẩu không trùng khớp");
                } else {
                    if (!fieldsError.includes('customer__repassword')) {
                        disableValidate('#customer__repassword');
                    }
                }
            }

            if (gender && !checkNumberIsValidWithRange({
                    arrValid: [0, 1, 2],
                    val: gender
                })) {
                fieldsError = [...fieldsError, 'customer__gender'];
                enableValidate('#customer__gender', "giới tính không hợp lệ");
            } else {
                if (!fieldsError.includes('customer__gender')) {
                    disableValidate('#customer__gender');
                }
            }


            if (email && !validEmail(email)) {
                fieldsError = [...fieldsError, 'customer__email'];
                enableValidate('#customer__email', "Email không hợp lệ");
            } else {
                if (!fieldsError.includes('customer__email')) {
                    disableValidate('#customer__email');
                }
            }


            if (phone && !validPhoneNumber(phone)) {
                fieldsError = [...fieldsError, 'customer__phone'];
                enableValidate('#customer__phone', "Số điện thoại không đúng định dạng");
            } else {
                if (!fieldsError.includes('customer__phone')) {
                    disableValidate('#customer__phone');
                }
            }


            if (!code.trim()) {
                fieldsError = [...fieldsError, 'customer__code'];
                enableValidate('#customer__code', "Vui lòng nhập mã khách hàng");
            } else {
                if (!fieldsError.includes('customer__code')) {
                    disableValidate('#customer__code');
                }
            }

            if (!fullname.trim()) {
                fieldsError = [...fieldsError, 'customer__fullname'];
                enableValidate('#customer__fullname', "Vui lòng nhập họ và tên");
            } else {
                if (!fieldsError.includes('customer__fullname')) {
                    disableValidate('#customer__fullname');
                }
            }

            if (!city.trim()) {
                fieldsError = [...fieldsError, 'customer__city'];
                enableValidate('#customer__city', "Vui lòng nhập tỉnh/thành phố");
            } else {
                if (!fieldsError.includes('customer__city')) {
                    disableValidate('#customer__city');
                }
            }

            if (!district.trim()) {
                fieldsError = [...fieldsError, 'customer__district'];
                enableValidate('#customer__district', "Vui lòng nhập quận/huyện");
            } else {
                if (!fieldsError.includes('customer__district')) {
                    disableValidate('#customer__district');
                }
            }

            if (!ward.trim()) {
                fieldsError = [...fieldsError, 'customer__ward'];
                enableValidate('#customer__ward', "Vui lòng nhập xã/phường");
            } else {
                if (!fieldsError.includes('customer__ward')) {
                    disableValidate('#customer__ward');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_CUSTOMER.UPDATE_CUSTOMER_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật khách hàng thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.customerID = $(this).attr('__customerID');



            let avatarInputFiles = $("#customer__avatar").prop('files');

            if (avatarInputFiles && avatarInputFiles.length) {
                const links = await getLinksUpload(avatarInputFiles);

                dataUpdate.avatar = {
                    name: links[0].fileName,
                    path: links[0].uri,
                    type: links[0].type,
                    size: avatarInputFiles[0].size,
                }
            }

            callAjaxUpdate(dataUpdate);
        });
    })
</script>