<style>
    .img-wraps:hover .close {
       opacity: 1;
       color: #ff0000 ;
    }
    .select2-selection__rendered{
      line-height: 33px !important;
   }
   .select2-container .select2-selection--single {
      height: 35px !important;
   }
   .select2-container{
      width: 100% !important;
   }
 </style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                      <h4 class="page-title">Tạo phiên bản</h4>
                      <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                         <li class="breadcrumb-item"><a href="/version/list-version">Admin</a></li>
                         <li class="breadcrumb-item active">Tạo phiên bản</li>
                      </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <div class="col">
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Tên phiên bản</b></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="Nhập tên phiên bản" id="txtName">
                                    </div>
                                </div>
                                
                                <div class="form-group row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Ngày tạo</b></label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" id="txtCreateAt">
                                    </div>
                                </div>

                                <div class="form-group  row pt-3">
                                    <label for="example-text-input" class="col-sm-2 col-form-label"><b>Platform</b></label>
                                    <div class="col-sm-10">
                                          <select class="form-control" id="txtPlatform">
                                             <option value="">Chọn Platform</option>
                                             <option value="1">Android</option>
                                             <option value="2">Ios</option>
                                          </select>
                                          <small></small>
                                       </div>
                                 </div>
                            </div>
                            
                            <div class="col-12" style="
                                display: flex;
                                align-items: center;
                                justify-content: right;
                            ">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-block waves-effect waves-light btn-lg" id="btnAddVersion" >Thêm Mới</button>
                                    <a href="/version/list-version" class="btn btn-outline-success btn-block waves-effect waves-light btn-lg">Quay lại danh sách</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!-- container-fluid -->
    </div>
</div>
