<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                   <div class="page-title-box">
                        <h4 class="page-title">Danh sách phiên bản</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="/version/list-version">Admin</a></li>
                            <li class="breadcrumb-item active">Danh sách phiên bản</li>
                        </ol>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-20">
                        <div class="card-body">
							<div class="col-lg-12 d-flex justify-content-end">
                                <a style="margin-bottom: 15px;" href="/version/add-version" class="btn btn-outline-success waves-effect waves-light btn-show-modal-create-category">
                                    <i class="fas fa-plus-circle"></i> Tạo phiên bản
                                </a>
							</div>
                            <table class="content-table" id="tableListVersion">
								<thead>
									<tr>
										<th>STT</th>
                                        <th>Tên phiên bản</th>
                                        <th>Loại phiên bản</th>
										<th>Ngày tạo</th>
									</tr>
								</thead>
                                <tbody>
                                    <% if (listVersion && listVersion.length) { %>
                                        <% listVersion.forEach((version, index) => { %>
											<tr>
												<th>
													<%= index + 1 %>
												</th>
                                               
                                                <td>
                                                    <%= version.name %>
                                                </td>
                                                <td>
                                                    <% if (version.platform == 1) { %>
                                                        Android
                                                    <% } else if (version.platform == 2) { %>
                                                        Ios
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <%= moment(version.timeCreate).format('HH:mm DD/MM/Y') %>
                                                </td>
											</tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                                <!-- PAGING (WEB ADMIN) -->
                                <%#- include ./utils/paging.ejs%>
                                <!--END PAGING (WEB ADMIN) -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- POPUP CẬP NHẬT CATEGORY -->
<!-- <div class="modal fade bs-example-modal-sm popup-update-category" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0">Cập nhật category</h5>
                <button type="button" class="close btnCloseMyLargeModalLabel" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group"><label>Tên danh mục</label> 
                    <input type="text" class="form-control" placeholder="Title" id="txtTitleUpdate">
                </div>
                <div class="form-group"><label>Mô tả</label> 
                    <textarea class="form-control" id="txtDescriptionUpdate" placeholder="Description" cols="30" rows="5"></textarea>
                </div>
                <div class="form-group"><label>Trạng thái</label> 
                    <select class="form-control" id="txtStatusUpdate">
						<option value="0">Không hoạt động</option>
						<option value="1" selected>Hoạt động</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="col mx-auto">
                        <label>Hình Ảnh</label>
                        <br>
                        <div class="container">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type="file" id="categoryImageUpdate" accept=".png, .jpg, .jpeg" />
                                    <label for="categoryImageUpdate"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div class="imagePreview" style="background-image: url(https://via.placeholder.com/500x500);"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info btnConfirmUpdateCategory" _categoryID>Cập nhật</button>
            </div>
        </div>
    </div>
</div> -->