<script>
    $(document).ready(function() {


        $("#area__region").select2({
            width: "100%"
        });

        initInputMaxLength('#area__name');
        initInputMaxLength('#area__code');

        $('#area__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#area__name', "Vui lòng nhập tên vùng");
            } else {
                disableValidate('#area__name');
            }
        });

        $('#area__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#area__code', "Vui lòng nhập mã vùng");
            } else {
                disableValidate('#area__code');
            }
        });

        const getFormInsert = () => {
            let name = $('#area__name').val();
            let code = $('#area__code').val();
            let region = $('#area__region').val();

            return {
                name,
                code,
                region,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
                region,
            } = params;
            let fieldsError = [];

            if (!name.trim()) {
                fieldsError = [...fieldsError, 'area__name'];
                enableValidate('#area__name', "Vui lòng nhập tên vùng");
            } else {
                if (!fieldsError.includes('area__name')) {
                    disableValidate('#area__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'area__code'];
                enableValidate('#area__code', "Vui lòng nhập mã vùng");
            } else {
                if (!fieldsError.includes('area__code')) {
                    disableValidate('#area__code');
                }
            }

            if (!region) {
                fieldsError = [...fieldsError, 'area__region'];
                enableValidate('#area__region', "Vui lòng chọn miền");
            } else {
                if (!fieldsError.includes('area__region')) {
                    disableValidate('#area__region');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_AREA.ADD_AREA %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm vùng thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>