<script>
    $(document).ready(function() {

        $("#area__region").select2({
            width: "100%"
        });
        $("#area__region").val("<%= infoArea.region && infoArea.region._id %>").trigger('change');

        $("#area__status").select2({
            width: "100%"
        });
        $("#area__status").val("<%= infoArea.status %>").trigger('change');



        initInputMaxLength('#area__name');
        initInputMaxLength('#area__code');



        $('#area__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#area__name', "Vui lòng nhập tên vùng");
            } else {
                disableValidate('#area__name');
            }
        });

        $('#area__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#area__code', "Vui lòng nhập mã vùng");
            } else {
                disableValidate('#area__code');
            }
        });


        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#area__name').val();
            let code = $('#area__code').val();
            let region = $('#area__region').val();
            let status = $('#area__status').val();
            let order = $('#area__order').val();

            return {
                name,
                code,
                region,
                status,
                order,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
                region,
                status,
                order,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'area__status'];
                enableValidate('#area__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('area__status')) {
                    disableValidate('#area__status');
                }
            }

            if (!name.trim()) {
                fieldsError = [...fieldsError, 'area__name'];
                enableValidate('#area__name', "Vui lòng nhập tên vùng");
            } else {
                if (!fieldsError.includes('area__name')) {
                    disableValidate('#area__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'area__code'];
                enableValidate('#area__code', "Vui lòng nhập mã vùng");
            } else {
                if (!fieldsError.includes('area__code')) {
                    disableValidate('#area__code');
                }
            }

            if (!region) {
                fieldsError = [...fieldsError, 'area__region'];
                enableValidate('#area__region', "Vui lòng chọn miền");
            } else {
                if (!fieldsError.includes('area__region')) {
                    disableValidate('#area__region');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                url: "<%= CF_ROUTINGS_AREA.UPDATE_AREA_BY_ID %>",
                method: 'PUT',
                data: dataUpdate,
            }).done(resp => {
                const {
                    error,
                    message
                } = resp;

                if (error) {
                    return AlertCustom({
                        title: 'THÔNG BÁO',
                        message: message,
                        icon: 'warning'
                    });
                }

                AlertCustom({
                    title: 'THÔNG BÁO',
                    message: "Cập nhật vùng thành công",
                    icon: 'info'
                });
            })
            .fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
            .always(() => {
                disableButtonLoading('#btnConfirmUpdate');
                $('#btnConfirmUpdate').attr('disabled', true);
            })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.areaID = $(this).attr('__areaID');
            callAjaxUpdate(dataUpdate)
        });
    })
</script>