<script>
    $(document).ready(function() {

        lightGallery(document.getElementById('galleryImagesFace'), {
            thumbnail: true,
            animateThumb: false,
            showThumbByDefault: false,
        }); 
        
        $("#employee__region").select2({
            width: "100%"
        });
        $("#employee__region").val("<%= infoEmployee.region && infoEmployee.region._id %>").trigger('change');

        $("#employee__area").select2({
            width: "100%"
        });
        $("#employee__area").val("<%= infoEmployee.area && infoEmployee.area._id %>").trigger('change');

        $("#employee__distributor").select2({
            width: "100%"
        });
        $("#employee__distributor").val("<%= infoEmployee.distributor && infoEmployee.distributor._id %>").trigger('change');

        $("#employee__type_employee").select2({
            width: "100%"
        });
        
        $("#employee__detail_type_employee").select2({
            width: "100%"
        });

        $('#employee__type_employee').on('change', function() {
            let typeEmployee = $(this).val();

            if(typeEmployee == "<%= PG_ID%>"){
                $("#employee__numberk").parents(".form-group").show();
                $("#employee__detail_type_employee").parents(".form-group").hide();
            }else{
                $("#employee__numberk").parents(".form-group").hide();
                $("#employee__detail_type_employee").parents(".form-group").show();
            }
        })

        $("#employee__type_employee").val("<%= infoEmployee.type_employee && infoEmployee.type_employee._id %>").trigger('change');
        $("#employee__detail_type_employee").val("<%= infoEmployee.detail_type_employee && infoEmployee.detail_type_employee._id %>").trigger('change');

        $("#employee__status").select2({
            width: "100%"
        });
        $("#employee__status").val("<%= infoEmployee.status %>").trigger('change');

        $('#tableListCheckin_checkout').DataTable({
            'iDisplayLength': 100,
            "aaSorting": [],
            ...languageDataTable,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": '/checkin_checkout/list-checkin_checkout-server-side',
                "dataType": "json",
                data: d => ({
                    ...d,
                    showIndex: true,
                    employee: `<%= infoEmployee._id %>`
                })
            },
            "columns": [
                {
                    "data": "index",
                },
                {
                    "data": "createAt"
                },
                {
                    "data": "employee"
                },
                {
                    "data": "store"
                },
                {
                    "data": "shift"
                }, 
                {
                    "data": "status"
                },
                {
                    "data": "checkin_checkout"
                },
            ],
        });

        initInputMaxLength('#employee__code');
        initInputMaxLength('#employee__fullname');
        initInputMaxLength('#employee__username');
        initInputMaxLength('#employee__email');
        initInputMaxLength('#employee__password');

        $('#employee__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee__code', "Vui lòng nhập mã nhân viên");
            } else {
                disableValidate('#employee__code');
            }
        });

        $('#employee__code').on('keyup', function() {
            const value = $(this).val();
            $("#employee__username").val(value);
        });

        $('#employee__fullname').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee__fullname', "Vui lòng nhập họ và tên");
            } else {
                disableValidate('#employee__fullname');
            }
        });

        $('#employee__username').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee__username', "Vui lòng nhập tên đăng nhập");
            } else {
                disableValidate('#employee__username');
            }
        });

        $('#employee__email').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee__email', "Vui lòng nhập địa chỉ email");
            } else {
                disableValidate('#employee__email');
            }
        });

        $('#employee__password').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#employee__password', "Vui lòng nhập mật khẩu");
            } else {
                disableValidate('#employee__password');
            }
        });


        $('#employee__region').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/employee/list-area-by-parent?region=" + value,
            }).done(resp => {
                $('#employee__area').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#employee__area').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        $('#employee__area').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/employee/list-distributor-by-parent?area=" + value,
            }).done(resp => {
                $('#employee__distributor').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#employee__distributor').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let code = $('#employee__code').val();
            let fullname = $('#employee__fullname').val();
            let username = $('#employee__username').val();
            let email = $('#employee__email').val();
            let phone = $('#employee__phone').val();
            let password = $('#employee__password').val();
            let confirmPassword = $('#employee__repassword').val();
            let region = $('#employee__region').val();
            let area = $('#employee__area').val();
            let distributor = $('#employee__distributor').val();
            let type_employee = $('#employee__type_employee').val();
            let detail_type_employee = $('#employee__detail_type_employee').val();

            let numberK = $('#employee__numberk').val();
            let status = $('#employee__status').val();

            return {
                code,
                fullname,
                username,
                email,
                phone,
                password,
                confirmPassword,
                region,
                area,
                distributor,
                type_employee,
                detail_type_employee,
                numberK,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                code,
                fullname,
                username,
                email,
                password,
                confirmPassword,
                region,
                area,
                distributor,
                type_employee,
                numberK,
                status,
            } = params;
            let fieldsError = [];

            if(password){
                if (password !== confirmPassword) {
                    fieldsError = [...fieldsError, 'employee__repassword'];
                    enableValidate('#employee__repassword', "Mật khẩu không trùng khớp");
                } else {
                    if (!fieldsError.includes('employee__repassword')) {
                        disableValidate('#employee__repassword');
                    }
                }
            }

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'employee__status'];
                enableValidate('#employee__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('employee__status')) {
                    disableValidate('#employee__status');
                }
            }


            if (!validEmail(email)) {
                fieldsError = [...fieldsError, 'employee__email'];
                enableValidate('#employee__email', "Email không hợp lệ");
            } else {
                if (!fieldsError.includes('employee__email')) {
                    disableValidate('#employee__email');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'employee__code'];
                enableValidate('#employee__code', "Vui lòng nhập mã nhân viên");
            } else {
                if (!fieldsError.includes('employee__code')) {
                    disableValidate('#employee__code');
                }
            }

            if (!fullname.trim()) {
                fieldsError = [...fieldsError, 'employee__fullname'];
                enableValidate('#employee__fullname', "Vui lòng nhập họ và tên");
            } else {
                if (!fieldsError.includes('employee__fullname')) {
                    disableValidate('#employee__fullname');
                }
            }

            if (!username.trim()) {
                fieldsError = [...fieldsError, 'employee__username'];
                enableValidate('#employee__username', "Vui lòng nhập tên đăng nhập");
            } else {
                if (!fieldsError.includes('employee__username')) {
                    disableValidate('#employee__username');
                }
            }

            if (!email.trim()) {
                fieldsError = [...fieldsError, 'employee__email'];
                enableValidate('#employee__email', "Vui lòng nhập email");
            } else {
                if (!fieldsError.includes('employee__email')) {
                    disableValidate('#employee__email');
                }
            }

            if (!region) {
                fieldsError = [...fieldsError, 'employee__region'];
                enableValidate('#employee__region', "Vui lòng chọn miền");
            } else {
                if (!fieldsError.includes('employee__region')) {
                    disableValidate('#employee__region');
                }
            }

            if (!area) {
                fieldsError = [...fieldsError, 'employee__area'];
                enableValidate('#employee__area', "Vui lòng chọn vùng");
            } else {
                if (!fieldsError.includes('employee__area')) {
                    disableValidate('#employee__area');
                }
            }

            if (!distributor) {
                fieldsError = [...fieldsError, 'employee__distributor'];
                enableValidate('#employee__distributor', "Vui lòng chọn nhà phân phối");
            } else {
                if (!fieldsError.includes('employee__distributor')) {
                    disableValidate('#employee__distributor');
                }
            }

            if (!type_employee) {
                fieldsError = [...fieldsError, 'employee__type_employee'];
                enableValidate('#employee__type_employee', "Vui lòng chọn loại nhân viên");
            } else {
                if (!fieldsError.includes('employee__type_employee')) {
                    disableValidate('#employee__type_employee');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_EMPLOYEE.UPDATE_EMPLOYEE_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật nhân viên thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }

        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.employeeID = $(this).attr('__employeeID');

            callAjaxUpdate(dataUpdate);
        });
    })
</script>