<script>
    $(document).ready(function() {


        $("#distributor__region").select2({
            width: "100%"
        });

        $("#distributor__area").select2({
            width: "100%"
        });

        initEditor("#distributor__description");

        initInputMaxLength('#distributor__name');
        initInputMaxLength('#distributor__code');

        $('#distributor__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#distributor__name', "Vui lòng nhập tên nhà phân phối");
            } else {
                disableValidate('#distributor__name');
            }
        });

        $('#distributor__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#distributor__code', "Vui lòng nhập mã nhà phân  phối");
            } else {
                disableValidate('#distributor__code');
            }
        });


        $('#distributor__region').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/distributor/list-area-by-parent?region=" + value,
            }).done(resp => {
                $('#distributor__area').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#distributor__area').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });


        const getFormInsert = () => {

            let name = $('#distributor__name').val();

            let code = $('#distributor__code').val();
            let description = tinyMCE.get("distributor__description").getContent();

            let region = $('#distributor__region').val();

            let area = $('#distributor__area').val();

            return {
                name,
                code,
                description,
                region,
                area,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
                description,
                region,
                area,
            } = params;
            let fieldsError = [];




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'distributor__name'];
                enableValidate('#distributor__name', "Vui lòng nhập tên nhà phân phối");
            } else {
                if (!fieldsError.includes('distributor__name')) {
                    disableValidate('#distributor__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'distributor__code'];
                enableValidate('#distributor__code', "Vui lòng nhập mã nhà phân  phối");
            } else {
                if (!fieldsError.includes('distributor__code')) {
                    disableValidate('#distributor__code');
                }
            }

            if (!region) {
                fieldsError = [...fieldsError, 'distributor__region'];
                enableValidate('#distributor__region', "Vui lòng chọn miền");
            } else {
                if (!fieldsError.includes('distributor__region')) {
                    disableValidate('#distributor__region');
                }
            }

            if (!area) {
                fieldsError = [...fieldsError, 'distributor__area'];
                enableValidate('#distributor__area', "Vui lòng chọn vùng");
            } else {
                if (!fieldsError.includes('distributor__area')) {
                    disableValidate('#distributor__area');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxInsert = dataInsert => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_DISTRIBUTOR.ADD_DISTRIBUTOR %>",
                    method: 'POST',
                    data: dataInsert,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: 'Thêm nhà phân phối thành công',
                        icon: 'info'
                    });
                    setTimeout(() => location.reload(), 800);
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => disableButtonLoading('#btnConfirmAdd'))
        }



        $('#btnConfirmAdd').on('click', async function() {
            let dataInsert = getFormInsert();
            let {
                error,
                msg
            } = checkFormValid(dataInsert);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);


            callAjaxInsert(dataInsert);
        });
    })
</script>