<script>
    $(document).ready(function() {

        $("#distributor__region").select2({
            width: "100%"
        });
        $("#distributor__region").val("<%= infoDistributor.region && infoDistributor.region._id %>").trigger('change');

        $("#distributor__area").select2({
            width: "100%"
        });
        $("#distributor__area").val("<%= infoDistributor.area && infoDistributor.area._id %>").trigger('change');

        $("#distributor__status").select2({
            width: "100%"
        });
        $("#distributor__status").val("<%= infoDistributor.status %>").trigger('change');

        initEditor("#distributor__description");


        initInputMaxLength('#distributor__name');
        initInputMaxLength('#distributor__code');



        $('#distributor__name').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#distributor__name', "Vui lòng nhập tên nhà phân phối");
            } else {
                disableValidate('#distributor__name');
            }
        });

        $('#distributor__code').on('input', function() {
            const value = $(this).val();
            if (!value) {
                enableValidate('#distributor__code', "Vui lòng nhập mã nhà phân  phối");
            } else {
                disableValidate('#distributor__code');
            }
        });


        $('#distributor__region').on('change', function() {
            const value = $(this).val();

            $.ajax({
                type: "GET",
                url: "/distributor/list-area-by-parent?region=" + value,
            }).done(resp => {
                $('#distributor__area').empty();
                if (resp && resp.length) {
                    resp.map(item => {
                        let newOption = new Option(item.name, item._id, false, false);
                        $('#distributor__area').append(newOption).trigger('change');
                    })
                }
            }).fail(err => AlertCustom({
                title: 'THÔNG BÁO',
                message: err.message,
                icon: 'error'
            }))
        });

        window.onbeforeunload = function() {
            return "";
        };

        $(document).on('change input', '.form-control, .form-select, input', function() {
            $('#btnConfirmUpdate').attr('disabled', false);
        });



        const getFormUpdate = () => {
            let name = $('#distributor__name').val();
            let code = $('#distributor__code').val();
            let description = tinyMCE.get("distributor__description").getContent();
            let region = $('#distributor__region').val();
            let area = $('#distributor__area').val();
            let status = $('#distributor__status').val();

            return {
                name,
                code,
                description,
                region,
                area,
                status,
            };
        }

        const checkFormValid = params => {
            let {
                name,
                code,
                description,
                region,
                area,
                status,
            } = params;
            let fieldsError = [];

            if (status && !checkNumberIsValidWithRange({
                    arrValid: [1, 2],
                    val: status
                })) {
                fieldsError = [...fieldsError, 'distributor__status'];
                enableValidate('#distributor__status', "trạng thái không hợp lệ");
            } else {
                if (!fieldsError.includes('distributor__status')) {
                    disableValidate('#distributor__status');
                }
            }




            if (!name.trim()) {
                fieldsError = [...fieldsError, 'distributor__name'];
                enableValidate('#distributor__name', "Vui lòng nhập tên nhà phân phối");
            } else {
                if (!fieldsError.includes('distributor__name')) {
                    disableValidate('#distributor__name');
                }
            }

            if (!code.trim()) {
                fieldsError = [...fieldsError, 'distributor__code'];
                enableValidate('#distributor__code', "Vui lòng nhập mã nhà phân  phối");
            } else {
                if (!fieldsError.includes('distributor__code')) {
                    disableValidate('#distributor__code');
                }
            }

            if (!region) {
                fieldsError = [...fieldsError, 'distributor__region'];
                enableValidate('#distributor__region', "Vui lòng chọn miền");
            } else {
                if (!fieldsError.includes('distributor__region')) {
                    disableValidate('#distributor__region');
                }
            }

            if (!area) {
                fieldsError = [...fieldsError, 'distributor__area'];
                enableValidate('#distributor__area', "Vui lòng chọn vùng");
            } else {
                if (!fieldsError.includes('distributor__area')) {
                    disableValidate('#distributor__area');
                }
            }

            if (fieldsError.length) {
                return {
                    error: true,
                    msg: 'Form nhập không hợp lệ'
                };
            }

            return {
                error: false
            };
        }

        const callAjaxUpdate = dataUpdate => {
            $.ajax({
                    url: "<%= CF_ROUTINGS_DISTRIBUTOR.UPDATE_DISTRIBUTOR_BY_ID %>",
                    method: 'PUT',
                    data: dataUpdate,
                }).done(resp => {
                    const {
                        error,
                        message
                    } = resp;

                    if (error) {
                        return AlertCustom({
                            title: 'THÔNG BÁO',
                            message: message,
                            icon: 'warning'
                        });
                    }

                    AlertCustom({
                        title: 'THÔNG BÁO',
                        message: "Cập nhật nhà phân phối thành công",
                        icon: 'info'
                    });
                })
                .fail(err => AlertCustom({
                    title: 'THÔNG BÁO',
                    message: err.message,
                    icon: 'error'
                }))
                .always(() => {
                    disableButtonLoading('#btnConfirmUpdate');
                    $('#btnConfirmUpdate').attr('disabled', true);
                })
        }



        $('#btnConfirmUpdate').on('click', async function() {
            let dataUpdate = getFormUpdate();
            let {
                error,
                msg
            } = checkFormValid(dataUpdate);
            if (error) return AlertCustom({
                title: 'THÔNG BÁO',
                message: msg,
                icon: 'warning'
            });

            enableButtonLoading(this);
            dataUpdate.distributorID = $(this).attr('__distributorID');



            callAjaxUpdate(dataUpdate);
        });
    })
</script>