<style>
    .dataTables_filter {
        display: none;
    }

    .select2-container {
        margin-right: 1rem;
    }

    .dataTables_empty {
        display: none;
    }
</style>
<!-- Page Content-->
<div class="page-content">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Cập nhật KPI Salein Thực Đạt</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/kpi_salein_actually/list-kpi_salein_actually">Quản lý KPI Salein Thực Đạt</a></li>
                                <li class="breadcrumb-item active">Cập nhật</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin chính</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__sale_order_id">
                                SALE_ORDER_ID
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="kpi_salein_actually__sale_order_id" value="<%= infoKpi_salein_actually.SALE_ORDER_ID %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__order_number">
                                ORDER_NUMBER
                            </label>

                            <input type="text" class="form-control" maxlength="125" id="kpi_salein_actually__order_number" value="<%= infoKpi_salein_actually.ORDER_NUMBER %>" placeholder="">

                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__quantity">
                                QUANTITY
                            </label>
                            <input type="text" class="form-control" id="kpi_salein_actually__quantity" value="<%= infoKpi_salein_actually.QUANTITY %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__is_free_item">
                                IS_FREE_ITEM
                            </label>
                            <input type="number" class="form-control" id="kpi_salein_actually__is_free_item" value="<%= infoKpi_salein_actually.IS_FREE_ITEM %>" placeholder="">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4">


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thông tin phụ</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__store">
                                Cửa Hàng
                            </label>
                            <select class="form-select mt-2" id="kpi_salein_actually__store" data-placeholder="Chọn Cửa Hàng">

                                <% if(listStores && listStores.length){ %>
                                <% listStores.forEach(store => { %>
                                <% let isSelect = (infoKpi_salein_actually.store && infoKpi_salein_actually.store._id.toString()) === store._id.toString() %>

                                <option value="<%= store._id %>" <%= isSelect && 'selected' %>>
                                    <%= store.code %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__employee">
                                Nhân Viên
                            </label>
                            <select class="form-select mt-2" id="kpi_salein_actually__employee" data-placeholder="Chọn Nhân Viên">

                                <option value="null" selected disabled>Chọn Nhân Viên</option>
                                <% if(listEmployees && listEmployees.length){ %>
                                <% listEmployees.forEach(employee => { %>
                                <option value="<%= employee._id %>">
                                    <%= employee.username %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__product">
                                Sản Phẩm
                            </label>
                            <select class="form-select mt-2" id="kpi_salein_actually__product" data-placeholder="Chọn Sản Phẩm">

                                <option value="null" selected disabled>Chọn Sản Phẩm</option>
                                <% if(listProducts && listProducts.length){ %>
                                <% listProducts.forEach(product => { %>
                                <option value="<%= product._id %>">
                                    <%= product.name %>
                                </option>
                                <% }) %>
                                <% } %>

                            </select>
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Thời gian</h4>
                        <!-- <p class="text-muted mb-0">An example of Bootstrap Material DatePicker.</p> -->
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="form-label" for="kpi_salein_actually__order_date">
                                ORDER_DATE
                            </label>
                            <input type="date" class="form-control" id="kpi_salein_actually__order_date" value="<%= moment(infoKpi_salein_actually.ORDER_DATE).format("YYYY-MM-DD") %>">
                            <ul class="parsley-errors-list">
                                <li class="parsley-required">This value is required.</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container -->

    <div class="container-fluid container-button-bottom border-top pt-3 position-fixed">
        <div class="row">
            <div class="col-12 text-end mb-3">
                <button type="button" class="btn btn-soft-primary px-4" disabled id="btnConfirmUpdate" __kpi_salein_actuallyID="<%= infoKpi_salein_actually._id %>">
                    Cập nhật
                </button>
                <a href="/kpi_salein_actually/list-kpi_salein_actually" class="btn btn-soft-danger px-4">
                    Quay lại danh sách
                </a>
            </div>
        </div>
    </div>