<script>
    $(document).ready(function() {

        let getFormSearchAndFilter = () => {
            // let key = $('#txtSearch').val();
            let txtisGoodSort            = $("#txtisGoodSort").val();
            let txtBrandSort             = $("#txtBrandSort").val();
            let txtSKU2Sort              = $("#txtSKU2Sort").val();
            let fromDay                  = $("#txtStartDateSort").val();
            let toDay                    = $("#txtEndDateSort").val();
            // let amountItemShow = $('#select_datatable_length').val();
            return { txtisGoodSort, txtBrandSort, txtSKU2Sort, fromDay, toDay };
        }

        $('#tableList').DataTable({
			'iDisplayLength': 25,
			...languageDataTable,
            "ordering": false,
            "processing": true,
            "serverSide": true,
            'ajax': {
                'url': '<%= CF_ROUTINGS_PARCEL.LIST_PARCEL_PAGINATION %>',
                type: 'POST',
                'data': function (data) {
                    // $('#tableListProduct tbody').append(`<img src="../../../../template//admin/img/icon-loading.gif" width="100px" height="100px" alt="">`)
                    let dataFilter = getFormSearchAndFilter();
                    dataFilter.txtBrandSort && (
                        data = {
                            ...data,
                            brand: dataFilter.txtBrandSort
                        }
                    )
                    dataFilter.txtisGoodSort && (
                        data = {
                            ...data,
                            isGood: dataFilter.txtisGoodSort
                        }
                    )
                    dataFilter.txtSKU2Sort && (
                        data = {
                            ...data,
                            sku_2: dataFilter.txtSKU2Sort
                        }
                    )
                    dataFilter.fromDay && (
                        data = {
                            ...data,
                            fromDay: dataFilter.fromDay
                        }
                    )
                    dataFilter.toDay && (
                        data = {
                            ...data,
                            toDay: dataFilter.toDay
                        }
                    )
                    return data
                },
                "dataSrc": function (json){
                    return json.data;
                }
            },
            "columns": [
                { "data": "index", width: '5%' },
                { "data": "nameSKU2", width: '8%' },
                { "data": "variantSKU2",  width: '8%' },
                { "data": "brandNameSKU2", width: '8%' },
                { "data": "isGoodBuySKU2", width: '8%' },
                { "data": "isGoodRewardSKU2", width: '8%' },
                { "data": "quantities_parcel", width: '10%' },
                { "data": "point", width: '8%' },
                { "data": "countQr", width: '8%' },
                { "data": "manufactureDate", width: '8%' },
                { "data": "expiryDate", width: '8%' },
                { "data": "createAt", width: '8%' },
                { "data": "action", width: '5%' },
            ],
            "initComplete": function(settings, json) {
                // $(".updateSuppiler").select2();
            }
		});

        let  buildAndGoURI = function(){
            let { txtisGoodSort, txtBrandSort, txtSKU2Sort, fromDay, toDay } = getFormSearchAndFilter();
            // if ( ! typeTransaction && !typeStatusTransaction && !fromDay && !toDay ){
            //     return toastr.error("Bạn phải chọn ít nhất 1 thông tin để tìm kiếm", "Thông báo");
            // }
            let uri = `/parcel/list-parcel?`;
            if(txtisGoodSort)           uri += `&isGood=${txtisGoodSort}`;
            if(txtBrandSort)            uri += `&brand=${txtBrandSort}`;
            if(txtSKU2Sort)             uri += `&sku_2=${txtSKU2Sort}`;
            if(fromDay)                 uri += `&fromDay=${fromDay}`;
            if(toDay)                   uri += `&toDay=${toDay}`;
            
            return window.location.href = uri;
        }

        $(document).on("click", ".btnFilter", function(e){
            e.preventDefault();
            buildAndGoURI();
        });

		$('#sku_2').select2();
		$('#txtisGoodSort').select2();
		$('#txtBrandSort').select2();
		$('#txtSKU2Sort').select2();
        function getDataForm() {
            let quantities_parcel   = $('#quantities_parcel').val();
            let point               = $('#point').val();
            let sku_2               = $('#sku_2').val();
            let manufactureDate     = $('#manufactureDate').val();
            let expiryDate          = $('#expiryDate').val();

            return {
                quantities_parcel,
                point,
                sku_2,
                manufactureDate,
                expiryDate,
            }
        }

        function validationData(data) {
            let {
                quantities_parcel,
                point,
                sku_2,
                manufactureDate,
                expiryDate,
            } = data;

            if (!quantities_parcel) return { error: true, msg: 'Bạn phải nhập số lô' }
            // if (Number.isNaN(Number(quantities_parcel)) || Number(quantities_parcel) < 0) {
            //     return { error: true, msg: 'Số lô không hợp lệ' }
            // }
            if (!point) return { error: true, msg: 'Bạn phải nhập điểm' }
            if (Number.isNaN(Number(point)) || Number(point) < 0) {
                return { error: true, msg: 'Điểm không hợp lệ' }
            }
            if (!sku_2) return { error: true, msg: 'Bạn phải chọn sku 2' }
            if (!manufactureDate) return { error: true, msg: 'Bạn phải nhập ngày sản xuất' }
            if (!expiryDate) return { error: true, msg: 'Bạn phải nhập hạn sử dụng' }
        
            return {
                error: false, msg: 'Done' 
            }
        }

        $(document).on('click', '#btnParcelAdd', function() {
            let data = getDataForm();
           
            let validation = validationData(data);
            if (validation.error) {
                return toastr.warning(validation.msg, 'THÔNG BÁO');
            }   

            $.ajax({
                url: '<%= CF_ROUTINGS_PARCEL.ADD_PARCEL %>',
                method: 'POST',
                data: {
                    ...data
                },
                success: resp => {
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        setTimeout(() => window.location.reload(), 700);
                        return toastr.success('Bạn đã thêm thành công', 'THÔNG BÁO');
                    }
                }
            })

        });

        $(document).on('click', '#btnParcelUpdate', function() {
            let data = getDataForm();
            let parcelID = $(this).attr('_parcelID');
            let validation = validationData(data);
            if (validation.error) {
                return toastr.warning(validation.msg, 'THÔNG BÁO');
            }   

            $.ajax({
                url: `/parcel/update-parcel/${parcelID}`,
                method: 'POST',
                data: {
                    ...data
                },
                success: resp => {
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        setTimeout(() => window.location.reload(), 700);
                        return toastr.success('Bạn đã cập nhật thành công', 'THÔNG BÁO');
                    }
                }
            })

        });

        function ajaxCallChangeDymanic(data) {
            $.ajax({
                url: '<%= CF_ROUTINGS_PARCEL.UPDATE_DYNAMIC_PARCEL %>',
                method: 'POST',
                data: {
                    ...data
                }, 
                success: resp => {
                    // console.log({ resp});
                    if (resp.error) {
                        return toastr.error(resp.message, 'THÔNG BÁO');
                    } else {
                        return toastr.success('Bạn đã thay đổi thành công', 'THÔNG BÁO');
                    }
                }
            })
        }

        $(document).on('keyup', '#classParcel', function() {
            let parcelID = $(this).attr('_parcelID');
            let point    = $(this).val();

            if (Number.isNaN(Number(point)) || Number(point) < 0) {
                return toastr.warning('Điểm không đúng định dạng')
            }
           
            let data = {
                parcelID,
                point
            }
            ajaxCallChangeDymanic(data)
        });

    });
</script>